Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Update tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added test for getting parallel tool calls through openai compat interface
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added tests for parallel tool calling roundtrip with gpt5mini in openai compatible endpoint
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

ripped redundant test
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

changed join algorithm to AUTO globally
  tensorzero-core/src/db/clickhouse/clickhouse_client/production_clickhouse_client.rs
  ui/app/utils/clickhouse/client.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added max tokens setting for claude 4.5 opus
  tensorzero-core/src/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean up Unknown content blocks
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean
  ui/app/utils/clickhouse/client.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add prettier
  .github/workflows/general.yml
  .prettierignore
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Format Markdown, JSON, and YAML in pre-commit + GHA
  .github/workflows/general.yml
  docs/evaluations/inference-evaluations/configuration-reference.mdx
  docs/evaluations/inference-evaluations/tutorial.mdx
  docs/experimentation/run-adaptive-ab-tests.mdx
  docs/experimentation/run-static-ab-tests.mdx
  docs/gateway/api-reference/inference-openai-compatible.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/call-the-openai-responses-api.mdx
  docs/gateway/configuration-reference.mdx
  docs/gateway/configure-functions-and-variants.mdx
  docs/gateway/configure-models-and-providers.mdx
  docs/gateway/generate-structured-outputs.mdx
  docs/gateway/guides/inference-time-optimizations.mdx
  docs/gateway/guides/metrics-feedback.mdx
  docs/gateway/guides/retries-fallbacks.mdx
  docs/gateway/guides/tool-use.mdx
  docs/integrations/model-providers/aws-sagemaker.mdx
  docs/operations/enforce-custom-rate-limits.mdx
  docs/operations/extend-tensorzero.mdx
  docs/operations/set-up-auth-for-tensorzero.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Clone datapoints in UI
  gateway/src/routes.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/tests/e2e/endpoints/datasets/clone_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
  ui/app/components/datapoint/CloneDatapointButton.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/formDataUtils.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
  ui/e2e_tests/datasets.clone-datapoint.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clone datapoints in UI
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/CloneDatapointsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/datasets/internal/clone_datapoints.rs
  tensorzero-core/src/endpoints/datasets/internal/mod.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/mod.rs
  tensorzero-core/tests/e2e/endpoints/datasets/clone_datapoints.rs
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Replace tsc with tsgo for TypeScript compilation
  .pre-commit-config.yaml
  clients/openai-node/package.json
  internal/tensorzero-node/package.json
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add @typescript/native-preview dependency for tsgo
  clients/openai-node/package.json
  internal/tensorzero-node/package.json
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

added opus 4.5 to gcp anthropic too
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

disable new parquet reader when inserting fixtures
  ui/fixtures/load_fixtures.sh
Due: none

disable new parquet reader when inserting fixtures (#4895)
  ui/fixtures/load_fixtures.sh
Due: none

small cleanup
  .github/workflows/general.yml
  clients/python/src/lib.rs
  tensorzero-core/src/client/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Finish docs for provider tools (#4882)
  docs/gateway/guides/tool-use.mdx
Due: none

Clean up ProviderToolScope (#4883)
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/ProviderToolScope.ts
  internal/tensorzero-node/lib/bindings/ProviderToolScopeModelProvider.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/tool.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

changed join algorithm to AUTO globally (#4887)
  tensorzero-core/src/db/clickhouse/clickhouse_client/production_clickhouse_client.rs
  ui/app/utils/clickhouse/client.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added test for getting parallel tool calls through openai compat (#4886)
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clone datapoints in UI (#4892)
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/CloneDatapointsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/datasets/internal/clone_datapoints.rs
  tensorzero-core/src/endpoints/datasets/internal/mod.rs
  tensorzero-core/src/endpoints/datasets/mod.rs
  tensorzero-core/tests/e2e/endpoints/datasets/clone_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
  ui/app/components/datapoint/CloneDatapointButton.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/formDataUtils.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
  ui/e2e_tests/datasets.clone-datapoint.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up Unknown content blocks (#4881)
  clients/python/tensorzero/generated_types.py
  clients/python/tensorzero/types.py
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/ContentBlockChatOutput.ts
  internal/tensorzero-node/lib/bindings/ResolvedContentBlock.ts
  internal/tensorzero-node/lib/bindings/StoredContentBlock.ts
  internal/tensorzero-node/lib/bindings/Unknown.ts
  tensorzero-core/src/endpoints/openai_compatible/types/chat_completions.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-optimizers/src/gepa/validate.rs
  tensorzero-optimizers/src/openai.rs
  ui/app/components/inference/Input.stories.tsx
  ui/app/components/inference/Output.stories.tsx
  ui/app/components/input_output/InputElement.stories.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/utils/clickhouse/common.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed clippies
  evaluations/src/main.rs
  evaluations/tests/tests.rs
  gateway/tests/base_path.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/openai_compatible.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/commonv2/input_audio.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
  tensorzero-optimizers/tests/e2e/gepa/analyze.rs
  tensorzero-optimizers/tests/live_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

write config snapshots to database
  Cargo.lock
  evaluations/src/lib.rs
  evaluations/src/main.rs
  evaluations/tests/tests.rs
  gateway/src/main.rs
  gateway/tests/base_path.rs
  internal/tensorzero-node/src/lib.rs
  internal/tensorzero-node/src/postgres.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  tensorzero-core/src/endpoints/variant_probabilities.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/experimentation/static_weights.rs
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/test_helpers.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/batch/mod.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/openai_compatible.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/commonv2/input_audio.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/analyze.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
  tensorzero-optimizers/tests/live_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

forgot stored.rs
  tensorzero-core/src/config/stored.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

included test
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added max tokens setting for claude 4.5 opus (#4889)
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Editing datapoint outputs
  ui/app/components/input_output/ChatOutputContentBlockElement.tsx
  ui/app/components/input_output/ChatOutputElement.stories.tsx
  ui/app/components/input_output/ChatOutputElement.tsx
  ui/app/components/input_output/ChatOutputMessageElement.tsx
  ui/app/components/input_output/InputElement.stories.tsx
  ui/app/components/input_output/JsonOutputElement.stories.tsx
  ui/app/components/input_output/JsonOutputElement.tsx
  ui/app/components/input_output/OutputElement.tsx
  ui/app/components/input_output/content_blocks/InferenceResponseToolCallContentBlock.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/formDataUtils.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing-output.spec.ts
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Editing datapoint outputs
  ui/app/components/input_output/ChatOutputElement.stories.tsx
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing-output.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Editing datapoint outputs
  ui/app/components/input_output/JsonOutputElement.stories.tsx
  ui/app/components/input_output/JsonOutputElement.tsx
  ui/app/components/input_output/OutputElement.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Editing datapoint outputs
  ui/app/components/input_output/JsonOutputElement.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/formDataUtils.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing-output.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Editing datapoint outputs
  ui/app/components/feedback/FeedbackTableModal.tsx
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/components/input_output/JsonOutputElement.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Editing datapoint outputs
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
  ui/app/routes/playground/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Editing datapoint outputs
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/components/inference/ModelInferenceOutput.tsx
  ui/app/components/inference/Output.stories.tsx
  ui/app/components/inference/Output.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
