Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

fixed hydration error and also tool parameters height issue
  ui/app/components/layout/SnippetLayout.tsx
  ui/app/components/ui/code-editor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add developer field to OpenAIRequestMessage
  tensorzero-core/src/config_parser/path.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/xai.rs
  tensorzero-core/tests/optimization/common/openai_rft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Hold client reference to prevent deadlock
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix ClickHouse cluster message
  examples/quickstart/after.py
  examples/quickstart/uv.lock
  tensorzero-core/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Explicitly drop client
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Revert "Allow dead code in optimizations tests (#3054)"
  tensorzero-core/tests/optimization/common/gcp_vertex_gemini_sft.rs
  tensorzero-core/tests/optimization/common/together_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Revert "Fix ClickHouse cluster message"
  examples/quickstart/after.py
  examples/quickstart/uv.lock
  tensorzero-core/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix ClickHouse cluster message
  tensorzero-core/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

flatten output
  tensorzero-core/src/providers/openai/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added new test function for nvidia nim
  tensorzero-core/tests/e2e/providers/nvidia_nim.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

decreased log verbosity of migration information
  examples/haiku-hidden-preferences/pyproject.toml
  examples/haiku-hidden-preferences/uv.lock
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Hold a reference to the embedded client
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed hydration error and also tool parameters height issue (#3056)
  ui/app/components/layout/SnippetLayout.tsx
  ui/app/components/ui/code-editor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

reverted stray changes
  examples/haiku-hidden-preferences/pyproject.toml
  examples/haiku-hidden-preferences/uv.lock
Due: none

Sleep before trying to use cache
  clients/python/tests/test_client.py
Due: none

fix workflow
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

Add comments
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Adjust drop logic
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added logging
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

unified env files
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

update model grader input
  tensorzero-core/src/optimization/openai_rft/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/tests/optimization/common/openai_rft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Recipe: Supervised Fine Tuning on Demonstrations with Unsloth (#2273)
  recipes/requirements.txt
  recipes/supervised_fine_tuning/unsloth/.devcontainer/devcontainer.json
  recipes/supervised_fine_tuning/unsloth/README.md
  recipes/supervised_fine_tuning/unsloth/pyproject.toml
  recipes/supervised_fine_tuning/unsloth/requirements.txt
  recipes/supervised_fine_tuning/unsloth/unsloth.ipynb
  recipes/supervised_fine_tuning/unsloth/unsloth_nb.py
  recipes/supervised_fine_tuning/unsloth/utils.py
  recipes/supervised_fine_tuning/unsloth/uv.lock
  recipes/uv.lock
Due: prettier: ui, prettier: openai-node

Fix ClickHouse cluster message (#3057)
  tensorzero-core/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Release the gil
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added s3 secrets
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

pass s3 creds
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

added artifact upload for credentials tests
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

removed merge queue on push
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Add extra_body support for embedding models
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed test
  ui/e2e_tests/playground.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed clippies
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

handle json mode for system / developer messages
  tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed force cache var
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

clean Grader serialization and fix for http client
  tensorzero-core/src/optimization/openai_rft/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
