Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Rename bindings with camel case
  crates/tensorzero-node/lib/bindings/AutoEvalContentBlock.ts
  crates/tensorzero-node/lib/bindings/AutoEvalExplanationQuestion.ts
  crates/tensorzero-node/lib/bindings/AutoEvalLabelQuestion.ts
  crates/tensorzero-node/lib/bindings/AutoEvalLabelingExample.ts
  crates/tensorzero-node/lib/bindings/EventPayloadAutoEvalExampleLabeling.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add switch to account for changes on main
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove all navigation to evaluation/
  ui/app/components/layout/Breadcrumbs.stories.tsx
  ui/app/components/tags/TagsTable.tsx
  ui/app/routes.ts
  ui/app/routes/evaluations/$evaluation_name/layout.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/evaluations/AutoRefreshIndicator.tsx
  ui/app/routes/evaluations/EvaluationBasicInfo.tsx
  ui/app/routes/evaluations/EvaluationErrorInfo.tsx
  ui/app/routes/evaluations/EvaluationTable.tsx
  ui/app/routes/evaluations/bulkAddToDataset.server.ts
  ui/app/routes/evaluations/results/EvaluationDatapointBasicInfo.tsx
  ui/app/routes/evaluations/results/route.tsx
  ui/app/routes/evaluations/runs.tsx
  ui/app/routes/evaluations/tooltip-styles.css
  ui/app/routes/evaluations/useBulkAddToDatasetToast.tsx
  ui/app/routes/evaluations/useCancelEvaluation.ts
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
  ui/app/utils/urls.test.ts
  ui/app/utils/urls.ts
  ui/e2e_tests/datasets.stale-datapoint.spec.ts
  ui/e2e_tests/evaluations.bulk_add_to_dataset.spec.ts
  ui/e2e_tests/evaluations.eval_name.datapoint_id.spec.ts
  ui/e2e_tests/evaluations.eval_name.spec.ts
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix e2e test: strip null values from config before POST
  ui/e2e_tests/snapshot-hash.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Loosen floating point tolerance for L2 norm test
  crates/tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Loosen floating point tolerance for L2 norm test (#6866)
  crates/tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Start deprecating legacy optimization methods (#6746)
  crates/tensorzero-python/src/lib.rs
  crates/tensorzero-python/tensorzero/tensorzero.pyi
  crates/tensorzero-python/tests/conftest.py
  crates/tensorzero-python/tests/test_datapoints.py
  crates/tensorzero-python/tests/test_optimization.py
  crates/tensorzero-python/tests/test_rendering.py
Due: cargo-deny, cargo-fmt, cargo-clippy

Update inference caching guide with OpenAI-compatible API examples (#6726)
  docs/gateway/guides/inference-caching.mdx
Due: none

Support --function-name/--evaluator-names in evaluations CLI (#6847)
  crates/evaluations/src/cli.rs
  crates/evaluations/src/lib.rs
  crates/evaluations/src/main.rs
  crates/evaluations/src/types.rs
  crates/evaluations/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove clients docs page
  docs/docs.json
  docs/gateway/clients.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump more pnpm deps (#6855)
  .github/dependabot.yml
  crates/tensorzero-node/package.json
  docs/pnpm-lock.yaml
  pnpm-lock.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Run clickhouse-tests conditionally (#6826)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Switch from LabelingExample to ExampleLabeling for consistency
  crates/autopilot-client/src/types.rs
  crates/tensorzero-node/lib/bindings/AutoEvalExampleLabeling.ts
  crates/tensorzero-node/lib/bindings/EventPayloadAutoEvalExampleLabeling.ts
  crates/tensorzero-node/lib/bindings/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add new types for autoevals example labeling (#6793)
  crates/autopilot-client/src/types.rs
  crates/tensorzero-node/lib/bindings/AutoEvalContentBlock.ts
  crates/tensorzero-node/lib/bindings/AutoEvalExampleLabeling.ts
  crates/tensorzero-node/lib/bindings/AutoEvalExplanationQuestion.ts
  crates/tensorzero-node/lib/bindings/AutoEvalLabelQuestion.ts
  crates/tensorzero-node/lib/bindings/EventPayload.ts
  crates/tensorzero-node/lib/bindings/EventPayloadAutoEvalExampleLabeling.ts
  crates/tensorzero-node/lib/bindings/GatewayEventPayload.ts
  crates/tensorzero-node/lib/bindings/index.ts
  ui/app/components/autopilot/EventStream.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Do not eagerly log Clickhouse deployment ID queries
  crates/tensorzero-core/src/db/clickhouse/deployment_queries.rs
  crates/tensorzero-core/src/db/delegating_connection.rs
  crates/tensorzero-core/src/db/mod.rs
  crates/tensorzero-core/src/db/postgres/deployment_queries.rs
  crates/tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support top-level evaluators in Python sdk
  AGENTS.md
  crates/tensorzero-python/src/lib.rs
  crates/tensorzero-python/tensorzero/tensorzero.pyi
  crates/tensorzero-python/tests/test_evaluation.py
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add CI lint for misplaced `use` statements in Rust
  .github/workflows/general.yml
  ci/check_use_placement.py
  ci/tests/test_check_use_placement.py
  crates/autopilot-client/src/client.rs
  crates/tensorzero-core/src/db/clickhouse/feedback.rs
  crates/tensorzero-core/src/endpoints/functions/internal.rs
  crates/tensorzero-core/tests/e2e/endpoints/internal/inference_count.rs
  crates/tensorzero-optimizers/src/gepa/analyze.rs
  crates/tensorzero-types/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add `namespace` filter to variant section
  crates/config-applier/src/lib.rs
  crates/evaluations/tests/e2e/tests.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/namespace.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/src/evaluations/mod.rs
  crates/tensorzero-core/src/experimentation/legacy.rs
  crates/tensorzero-core/src/experimentation/mod.rs
  crates/tensorzero-core/src/experimentation/static_experimentation.rs
  crates/tensorzero-core/src/experimentation/track_and_stop/mod.rs
  crates/tensorzero-core/src/inference/types/extra_stuff.rs
  crates/tensorzero-core/src/variant/mod.rs
  crates/tensorzero-core/tests/e2e/experimentation/namespaces.rs
  crates/tensorzero-node/lib/bindings/UninitializedVariantInfo.ts
  crates/tensorzero-node/lib/bindings/VariantInfo.ts
  crates/tensorzero-optimizers/src/gepa/analyze.rs
  crates/tensorzero-optimizers/src/gepa/evaluate.rs
  crates/tensorzero-optimizers/src/gepa/mutate.rs
  crates/tensorzero-optimizers/src/gepa/validate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Change frontend to properly display unnamed evaluations (#6823)
  ui/app/components/layout/Breadcrumbs.stories.tsx
  ui/app/components/tags/TagsTable.tsx
  ui/app/routes.ts
  ui/app/routes/evaluations/$evaluation_name/layout.tsx
  ui/app/routes/evaluations/AutoRefreshIndicator.tsx
  ui/app/routes/evaluations/EvaluationBasicInfo.tsx
  ui/app/routes/evaluations/EvaluationErrorInfo.tsx
  ui/app/routes/evaluations/EvaluationRunsTable.tsx
  ui/app/routes/evaluations/EvaluationTable.tsx
  ui/app/routes/evaluations/bulkAddToDataset.server.ts
  ui/app/routes/evaluations/results/EvaluationDatapointBasicInfo.tsx
  ui/app/routes/evaluations/results/route.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/routes/evaluations/runs.tsx
  ui/app/routes/evaluations/tooltip-styles.css
  ui/app/routes/evaluations/useBulkAddToDatasetToast.tsx
  ui/app/routes/evaluations/useCancelEvaluation.ts
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
  ui/app/utils/urls.test.ts
  ui/app/utils/urls.ts
  ui/e2e_tests/datasets.stale-datapoint.spec.ts
  ui/e2e_tests/evaluations.bulk_add_to_dataset.spec.ts
  ui/e2e_tests/evaluations.eval_name.datapoint_id.spec.ts
  ui/e2e_tests/evaluations.eval_name.spec.ts
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix: Add auth headers and null stripping to snapshot-hash e2e test
  .github/workflows/ui-tests-e2e.yml
  ui/e2e_tests/snapshot-hash.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fail gateway startup if postgres is primary and pgcron is not configured
  crates/gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Revamp multimodal guide
  README.md
  docs/comparison/litellm.mdx
  docs/comparison/portkey.mdx
  docs/docs.json
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/call-llms-with-image-and-file-inputs.mdx
  docs/gateway/guides/multimodal-inference.mdx
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/README.md
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/config/tensorzero.toml
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/docker-compose.yml
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/openai_sdk.py
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/openai_sdk.ts
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/package.json
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/pyproject.toml
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/uv.lock
  examples/guides/multimodal-inference/openai_sdk.py
  examples/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove helicone example
  examples/integrations/helicone/.env.example
  examples/integrations/helicone/.python-version
  examples/integrations/helicone/README.md
  examples/integrations/helicone/config/tensorzero.toml
  examples/integrations/helicone/docker-compose.yml
  examples/integrations/helicone/main_curl.sh
  examples/integrations/helicone/main_openai.py
  examples/integrations/helicone/main_openai.ts
  examples/integrations/helicone/main_tensorzero.py
  examples/integrations/helicone/package.json
  examples/integrations/helicone/pyproject.toml
  examples/integrations/helicone/uv.lock
  examples/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove issue URL reference from e2e test comment
  ui/e2e_tests/snapshot-hash.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/uv.lock
  examples/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add `namespace` filter to variant section (#6865)
  crates/config-applier/src/lib.rs
  crates/evaluations/tests/e2e/tests.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/namespace.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/src/evaluations/mod.rs
  crates/tensorzero-core/src/experimentation/legacy.rs
  crates/tensorzero-core/src/experimentation/mod.rs
  crates/tensorzero-core/src/experimentation/static_experimentation.rs
  crates/tensorzero-core/src/experimentation/track_and_stop/mod.rs
  crates/tensorzero-core/src/inference/types/extra_stuff.rs
  crates/tensorzero-core/src/variant/mod.rs
  crates/tensorzero-core/tests/e2e/experimentation/namespaces.rs
  crates/tensorzero-node/lib/bindings/UninitializedVariantInfo.ts
  crates/tensorzero-node/lib/bindings/VariantInfo.ts
  crates/tensorzero-optimizers/src/gepa/analyze.rs
  crates/tensorzero-optimizers/src/gepa/evaluate.rs
  crates/tensorzero-optimizers/src/gepa/mutate.rs
  crates/tensorzero-optimizers/src/gepa/validate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up production examples
  .github/workflows/general.yml
  CONTRIBUTING.md
  ci/check-docker-compose.sh
  ci/check-production-deployment-docker-compose/config/tensorzero.toml
  ci/check-production-deployment-docker-compose/docker-compose.yml
  ci/check-production-deployment-docker-compose/run.sh
  docs/deployment/tensorzero-gateway.mdx
  examples/production-deployment-k8s-helm/README.md
  examples/production-deployment/.env.example
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove clients docs page (#6870)
  docs/docs.json
  docs/gateway/clients.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Clean up OTel guides/examples
  docs/operations/export-opentelemetry-traces.mdx
  examples/guides/opentelemetry-otlp/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Clean up observability example
  examples/docs/guides/observability/query-historical-inferences/curl.sh
Due: none

Remove streaming guide
  docs/docs.json
  docs/gateway/guides/streaming-inference.mdx
  examples/guides/streaming-inference/README.md
  examples/guides/streaming-inference/config/tensorzero.toml
  examples/guides/streaming-inference/docker-compose.yml
  examples/guides/streaming-inference/pyproject.toml
  examples/guides/streaming-inference/run.py
  examples/guides/streaming-inference/run.sh
  examples/guides/streaming-inference/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

split event types into a createEvent and an Event (#6799)
  crates/autopilot-client/src/client.rs
  crates/autopilot-client/src/lib.rs
  crates/autopilot-client/src/types.rs
  crates/autopilot-tools/src/tools/prod/auto_reject_tool_call.rs
  crates/autopilot-worker/src/wrapper.rs
  crates/durable-tools/src/lib.rs
  crates/durable-tools/src/tensorzero_client/mod.rs
  crates/tensorzero-core/src/endpoints/internal/autopilot.rs
  crates/tensorzero-node/lib/bindings/CreateEventGatewayRequest.ts
  crates/tensorzero-node/lib/bindings/CreateEventPayload.ts
  crates/tensorzero-node/lib/bindings/CreateEventPayloadToolCallAuthorization.ts
  crates/tensorzero-node/lib/bindings/CreateEventPayloadToolResult.ts
  crates/tensorzero-node/lib/bindings/EventPayload.ts
  crates/tensorzero-node/lib/bindings/EventPayloadToolCall.ts
  crates/tensorzero-node/lib/bindings/EventPayloadToolResult.ts
  crates/tensorzero-node/lib/bindings/GatewayEventPayloadToolCallAuthorization.ts
  crates/tensorzero-node/lib/bindings/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove streaming guide
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Clean up observability example (#6879)
  examples/docs/guides/observability/query-historical-inferences/curl.sh
Due: none

Clean up production examples (#6877)
  .github/workflows/general.yml
  CONTRIBUTING.md
  ci/check-docker-compose.sh
  ci/check-production-deployment-docker-compose/config/tensorzero.toml
  ci/check-production-deployment-docker-compose/docker-compose.yml
  ci/check-production-deployment-docker-compose/run.sh
  docs/deployment/tensorzero-gateway.mdx
  examples/production-deployment-k8s-helm/README.md
  examples/production-deployment/.env.example
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Clean up OTel guides/examples (#6878)
  docs/operations/export-opentelemetry-traces.mdx
  examples/guides/opentelemetry-otlp/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fail gateway startup if postgres is primary and pgcron is not configured (#6873)
  crates/gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Re-add snapshot hash propagation to refactored eval routes
  ui/app/routes/evaluations/results/route.tsx
  ui/app/routes/evaluations/runs.tsx
  ui/app/utils/evaluations.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  crates/tensorzero-python/tests/test_client.py
  crates/tensorzero-python/tests/test_openai_patch.py
  docs/quickstart.mdx
Due: none

Ensure that ci/check-all-general-jobs-passed.sh works for doc-only prs
  .github/workflows/general.yml
  ci/check-all-general-jobs-passed.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
