Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

fixed credential issues in tests
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Correctly use downloaded gateway and ui images on CI (#2260)
  .github/workflows/build-gateway-container.yml
  .github/workflows/build-ui-container.yml
  .github/workflows/ui-tests-e2e.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.ui.yml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node

Set stable as default
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Update stable rust
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Try auth on ci
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Fix test_image_inference_with_provider_gcp_storage
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Set GOOGLE_APPLICATION_CREDENTIALS
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Disable gcloud federation
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Use released version
  Cargo.lock
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try to extract batch creds
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump auth
  Cargo.lock
  tensorzero-internal/Cargo.toml
Due: none

Add oidc perms
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Add support for GCP SDK creds
  Cargo.lock
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Set MSRV to 1.85.0 (#2257)
  .github/workflows/batch-test.yml
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/ui-tests.yml
  Cargo.toml
  clients/python/Cargo.toml
  clients/rust/Cargo.toml
  evaluations/Cargo.toml
  examples/integrations/cursor/experimental/Cargo.toml
  gateway/Cargo.toml
  provider-proxy/Cargo.toml
  tensorzero-derive/Cargo.toml
  tensorzero-internal/Cargo.toml
  tensorzero-internal/tests/mock-inference-provider/Cargo.toml
  ui/app/utils/minijinja/Cargo.toml
Due: prettier: ui, prettier: openai-node

update requirements
  recipes/supervised_fine_tuning/demonstrations/unsloth/README.md
  recipes/supervised_fine_tuning/demonstrations/unsloth/pyproject.toml
  recipes/supervised_fine_tuning/demonstrations/unsloth/requirements.in
  recipes/supervised_fine_tuning/demonstrations/unsloth/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/unsloth/unsloth.ipynb
  recipes/supervised_fine_tuning/demonstrations/unsloth/uv.lock
Due: prettier: ui, prettier: openai-node

Add shorthand model support to gcp_vertex_gemini
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Check SKIP_CREDENTIAL_VALIDATION when construct gcp sdk creds
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix unused variable lint
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Start running 'cargo deny' license check in CI
  .github/workflows/general.yml
  .pre-commit-config.yaml
  Cargo.toml
  clients/python/Cargo.toml
  clients/rust/Cargo.toml
  deny.toml
  evaluations/Cargo.toml
  examples/integrations/cursor/experimental/Cargo.toml
  gateway/Cargo.toml
  provider-proxy/Cargo.toml
  tensorzero-derive/Cargo.toml
  tensorzero-internal/Cargo.toml
  tensorzero-internal/tests/mock-inference-provider/Cargo.toml
  ui/app/utils/minijinja/Cargo.toml
Due: prettier: ui, prettier: openai-node

Use 'cargo chef' when building evaluations binary in ui Dockerfile
  ui/Dockerfile
Due: none

tests pass for tuned model
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

test for 404 passes
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Start running 'cargo deny' license check in CI (#2262)
  .github/workflows/general.yml
  .pre-commit-config.yaml
  Cargo.toml
  clients/python/Cargo.toml
  clients/rust/Cargo.toml
  deny.toml
  evaluations/Cargo.toml
  examples/integrations/cursor/experimental/Cargo.toml
  gateway/Cargo.toml
  provider-proxy/Cargo.toml
  tensorzero-derive/Cargo.toml
  tensorzero-internal/Cargo.toml
  tensorzero-internal/tests/mock-inference-provider/Cargo.toml
  ui/app/utils/minijinja/Cargo.toml
Due: prettier: ui, prettier: openai-node

Add shorthand model support to gcp_vertex_gemini (#2261)
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Disable tests for parallel tool calls and specific tool choice
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add comment about unreliable or missing functionality
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Refactor: Modernize README styling and highlight key features
  README.md
Due: prettier: ui, prettier: openai-node

Rename module from image to file
  clients/python/src/lib.rs
  tensorzero-internal/src/inference/types/file.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add issue link
  tensorzero-internal/src/inference/types/storage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add comment
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Fix imports
  tensorzero-internal/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use 'cargo chef' when building evaluations binary in ui Dockerfile (#2263)
  ui/Dockerfile
Due: none

Run fmt
  tensorzero-internal/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Regenerate large json inference fixtures with feedback
  ui/fixtures/check-fixtures.sh
  ui/fixtures/config/functions/json_success_no_input_schema/output_schema.json
  ui/fixtures/config/functions/json_success_no_input_schema/prompt/system_instructions.txt
  ui/fixtures/config/functions/json_success_no_input_schema/prompt/system_template.minijinja
  ui/fixtures/config/functions/json_success_no_input_schema/prompt/user_template.minijinja
  ui/fixtures/config/functions/json_success_no_input_schema/system_schema.json
  ui/fixtures/config/tensorzero.e2e.toml
  ui/fixtures/config/tensorzero.toml
  ui/fixtures/download-fixtures.py
  ui/fixtures/load_fixtures.sh
Due: prettier: ui, prettier: openai-node

Fix tests
  tensorzero-internal/tests/e2e/clickhouse.rs
  ui/app/utils/clickhouse/inference.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix another test
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Skip checking ui fixtures files in check-docker-compose
  ci/check-docker-compose.sh
Due: none

Remove prune from disk cleanup
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Fix fixture tag count
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
