Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Rename to disable_pseudonymous_usage_analytics
  internal/tensorzero-node/lib/bindings/GatewayConfig.ts
  tensorzero-core/src/config_parser/gateway.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Switch back to Github runners for ui e2e tests (#3082)
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

Finish the rename
  tensorzero-core/src/config_parser/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Double sleep time for test_clickhouse_bulk_insert
  tensorzero-core/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added beginning of DatabaseConnection trait
  clients/rust/src/lib.rs
  tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

temporary launch
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/tests/optimization/common/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

pre-commit cleaning
  clients/python/tests/conftest.py
  clients/python/tests/test_optimization.py
  internal/tensorzero-node/lib/bindings/OpenAIGrader.ts
  internal/tensorzero-node/lib/bindings/OpenAIModelGraderInput.ts
  tensorzero-core/src/optimization/openai_rft/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/tests/optimization/common/openai_rft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

revert TomlRelativePath changes
  internal/tensorzero-node/lib/bindings/TomlRelativePath.ts
  tensorzero-core/src/config_parser/path.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

remove redundant py name
  tensorzero-core/src/providers/openai/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

use deserialize_from_pyobj
  tensorzero-core/src/optimization/openai_rft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added working mv for model usage
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0035.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add PrepareOpenAIMessagesArgs
  tensorzero-core/src/optimization/openai_rft/mod.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Set 'TENSORZERO_CI=1' when regenerating fixtures to enable retries (#3079)
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add OpenAPI spec generation for OpenAI-compatible endpoints
  Cargo.lock
  gateway/Cargo.toml
  gateway/tests/openai_spec_validation.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add embedding examples for Azure, OpenAI, and Ollama
  examples/embeddings/providers/azure/.env.example
  examples/embeddings/providers/azure/README.md
  examples/embeddings/providers/azure/config/tensorzero.toml
  examples/embeddings/providers/azure/main.js
  examples/embeddings/providers/azure/main.py
  examples/embeddings/providers/azure/package.json
  examples/embeddings/providers/azure/requirements.txt
  examples/embeddings/providers/ollama/main.js
  examples/embeddings/providers/ollama/package.json
  examples/embeddings/providers/openai-compatible-ollama/README.md
  examples/embeddings/providers/openai-compatible-ollama/config/tensorzero.toml
  examples/embeddings/providers/openai-compatible-ollama/docker-compose.yml
  examples/embeddings/providers/openai-compatible-ollama/main.js
  examples/embeddings/providers/openai-compatible-ollama/main.py
  examples/embeddings/providers/openai-compatible-ollama/package.json
  examples/embeddings/providers/openai-compatible-ollama/requirements.txt
  examples/embeddings/providers/openai/.env.example
  examples/embeddings/providers/openai/README.md
  examples/embeddings/providers/openai/config/tensorzero.toml
  examples/embeddings/providers/openai/main.js
  examples/embeddings/providers/openai/main.py
  examples/embeddings/providers/openai/package.json
  examples/embeddings/providers/openai/requirements.txt
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node

Remove Ollama embeddings example files
  examples/embeddings/providers/ollama/main.js
  examples/embeddings/providers/ollama/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node

modify dynamic routing at run level
  clients/python/src/lib.rs
  clients/rust/src/client_inference_params.rs
  examples/dynamic-routing/tensorzero.toml
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

test cases fix for dynamic routing
  clients/python/src/lib.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/lib.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

remove needless lifetime
  tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix ci
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Delete unused code
  ui/app/utils/config/variant.server.ts
  ui/app/utils/config/variant.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Retry downloads of the provider-proxy cache
  ci/download-provider-proxy-cache.sh
Due: none

Try to fix format string
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Try CLICKHOUSE_SKIP_USER_SETUP in replicated clickhouse
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
Due: prettier: ui, prettier: openai-node

Run more ui test jobs on standard Github runners
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

Fix checkout action
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

Fix profile name
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Cleanup disk space
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node

wip
  ui/app/routes.ts
  ui/app/routes/observability/models/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Retry downloads of the provider-proxy cache (#3124)
  ci/download-provider-proxy-cache.sh
Due: none

Another disk space cleanup
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

Print docker logs in check-production-docker-container
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

update args and output
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/tests/optimization/common/dicl.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Move cleanup earlier
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

Bump timeout of 'valiate' job
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

implemented initial select query for ch
  clients/rust/src/lib.rs
  tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Another reorder
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node

Try CLICKHOUSE_SKIP_USER_SETUP in replicated clickhouse (#3126)
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
Due: prettier: ui, prettier: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
