Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Revert postgresConfigured to postgresAvailable for consistency
  ui/app/routes/api-keys/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix TryWithButton variant response functionality on inference detail page
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use Await with errorElement pattern for graceful data loading errors
  ui/app/components/layout/PageLayout.tsx
  ui/app/routes/autopilot/sessions/route.tsx
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/DatasetTable.tsx
  ui/app/routes/observability/episodes/$episode_id/EpisodeInferenceTable.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/episodes/EpisodesTable.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/app/routes/observability/inferences/route.tsx
  ui/e2e_tests/error-boundaries.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add streaming for inference detail page secondary data
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceBasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  docs/integrations/model-providers/aws-bedrock.mdx
  docs/integrations/model-providers/aws-sagemaker.mdx
  examples/guides/providers/aws-bedrock/config/tensorzero.toml
  examples/guides/providers/aws-sagemaker/config/tensorzero.toml
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Revert status loader to return undefined on error (fix later)
  ui/app/routes/api/tensorzero/status.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/aws_common.rs
  tensorzero-core/src/providers/aws_sagemaker.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

WIP: Make useConfig() return undefined for graceful degradation
  ui/app/components/evaluations/EvaluationFeedbackEditor.tsx
  ui/app/components/feedback/FeedbackTable.tsx
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/components/function/FunctionSelector.tsx
  ui/app/components/function/ToolDetails.tsx
  ui/app/components/function/variant/FeedbackMeansTimeseries.tsx
  ui/app/components/function/variant/MetricSelector.tsx
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/context/config.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/observability/functions/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
  ui/app/routes/playground/route.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationProjectResultsTable.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/WorkflowEvaluationRunEpisodesTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump tensorzero_auth span from 'trace' to 'info'
  internal/tensorzero-auth/src/middleware.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

WIP: Postgres graceful degradation and API keys route overhaul
  ui/app/components/ui/PostgresRequiredState.tsx
  ui/app/routes/api-keys/AuthActions.tsx
  ui/app/routes/api-keys/GenerateKeyButton.tsx
  ui/app/routes/api-keys/route.tsx
  ui/app/utils/postgres.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

WIP: PageLayout error handling and chart skeletons
  ui/app/components/layout/PageLayout.tsx
  ui/app/components/model/ModelLatency.tsx
  ui/app/components/model/ModelUsage.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

WIP: Autopilot sessions error handling
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
  ui/app/routes/autopilot/sessions/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

WIP: Inference detail page streaming with deferred data
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceBasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add feature flag system with per-request header overrides
  gateway/src/router.rs
  tensorzero-core/src/feature_flags/middleware.rs
  tensorzero-core/src/feature_flags/mod.rs
  tensorzero-core/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add model inference tables
  tensorzero-core/src/db/postgres/migrations/20260109214247_inference_tables.sql
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/load_parquet.py
Due: none

Make Aaron a CODEOWNER for database migrations
  .github/CODEOWNERS
Due: none

really disable dispatch
  .github/workflows/dispatch-autopilot-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

added client handling for config hashes for autopilot (#5585)
  .github/workflows/dispatch-autopilot-e2e.yml
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/src/tools/prod/get_config.rs
  internal/autopilot-tools/src/tools/prod/inference.rs
  internal/autopilot-tools/tests/config_tools.rs
  internal/autopilot-tools/tests/datapoint_tools.rs
  internal/autopilot-tools/tests/feedback_tools.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/autopilot-tools/tests/run_evaluation_tool.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/tensorzero-node/lib/bindings/AutopilotSideInfo.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/internal/autopilot.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
  ui/app/components/autopilot/EventStream.stories.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Make Aaron a CODEOWNER for database migrations (#5605)
  .github/CODEOWNERS
Due: none

Use default empty config instead of undefined for type safety
  ui/app/components/evaluations/EvaluationFeedbackEditor.tsx
  ui/app/components/feedback/FeedbackTable.tsx
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/components/function/ToolDetails.tsx
  ui/app/components/function/variant/FeedbackMeansTimeseries.tsx
  ui/app/components/function/variant/MetricSelector.tsx
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/context/config.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/playground/route.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationProjectResultsTable.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/WorkflowEvaluationRunEpisodesTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Return infraError from root loader for graceful degradation
  ui/app/root.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove unnecessary undefined handling for config objects
  ui/app/components/function/FunctionSelector.tsx
  ui/app/components/function/ToolDetails.tsx
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Revert unrelated inferenceUsage change
  ui/app/components/inference/InferenceDetailContent.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add EMPTY_CONFIG and graceful degradation for gateway errors
  ui/app/context/config.tsx
  ui/app/root.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

WIP: Routes and tables with Await/Suspense patterns
  ui/app/components/layout/TensorZeroStatusIndicator.tsx
  ui/app/root.tsx
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/DatasetTable.tsx
  ui/app/routes/datasets/route.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/routes/index.tsx
  ui/app/routes/observability/episodes/$episode_id/EpisodeInferenceTable.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/episodes/EpisodesTable.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/app/routes/observability/inferences/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/route.tsx
  ui/app/routes/workflow_evaluations/route.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/route.tsx
  ui/e2e_tests/error-boundaries.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Change timestamp
  tensorzero-core/src/db/postgres/migrations/20250107000000_utility_functions.sql
  tensorzero-core/src/db/postgres/migrations/20250107000001_inference_tables.sql
  tensorzero-core/src/db/postgres/migrations/20250107000002_feedback_tables.sql
  tensorzero-core/src/db/postgres/migrations/20250107000003_batch_tables.sql
Due: none

Fix
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/aws_common.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clarify TensorZero Autopilot description
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Implement postgres-backed InferenceCountQueries as example
  tensorzero-core/src/db/postgres/inference_count.rs
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/tests/e2e/postgres/inference_count_queries.rs
  tensorzero-core/tests/e2e/postgres/mod.rs
  tensorzero-core/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  internal/tensorzero-node/lib/bindings/CredentialLocation.ts
  internal/tensorzero-node/lib/bindings/CredentialLocationOrHardcoded.ts
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update README with TensorZero Autopilot details // polish (#5593)
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

add optional_fields
  internal/tensorzero-node/lib/bindings/MetricConfig.ts
  tensorzero-core/src/config/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add description field to `MetricConfig` (#5459)
  internal/tensorzero-node/lib/bindings/MetricConfig.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/db/clickhouse/feedback.rs
  tensorzero-core/src/db/clickhouse/inference_count.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/endpoints/ui/get_config.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
  tensorzero-core/tests/e2e/db/feedback_queries.rs
  tensorzero-core/tests/e2e/db/inference_count_queries.rs
  tensorzero-core/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added a turn_completed flag to events
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove trivial tests for enum values and label strings
  ui/app/utils/tensorzero/errors.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix ClickHouse error detection after React Router serialization
  ui/app/utils/tensorzero/errors.test.ts
  ui/app/utils/tensorzero/errors.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add error classification utilities for React Router error boundaries
  ui/app/utils/tensorzero/errors.test.ts
  ui/app/utils/tensorzero/errors.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add error UI components for React Router error boundaries
  ui/app/components/ui/dialog.tsx
  ui/app/components/ui/error/ErrorContent.tsx
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
  ui/app/components/ui/error/ErrorDialog.stories.tsx
  ui/app/components/ui/error/ErrorDialog.tsx
  ui/app/components/ui/error/ErrorShell.tsx
  ui/app/components/ui/error/LayoutErrorBoundary.tsx
  ui/app/components/ui/error/PageErrorContent.stories.tsx
  ui/app/components/ui/error/index.ts
  ui/app/providers/app-providers.tsx
  ui/app/tailwind.css
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
