Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

Cleanup
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Gateway should fail on startup if rate limits are set but Postgres is missing (#3759)
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add flag to disable_automatic_migrations (#3626)
  docs/deployment/clickhouse.mdx
  docs/gateway/configuration-reference.mdx
  internal/tensorzero-node/lib/bindings/ObservabilityConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedObservabilityConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/howdy.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

move import
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bring error messages back
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add checkbox to evaluations page → Add to dataset #3663
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
  ui/e2e_tests/evaluations.bulk_add_to_dataset.spec.ts
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added a comment
  tensorzero-core/src/experimentation/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Print success message for --run-*-migrations (#3758)
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Clear dataset name if it's deleted from UI modal (#3744)
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/hooks/use-dataset-counts.ts
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/e2e_tests/evaluations.deleted-dataset.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix typescript
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/utils/config/models.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Only run ngrok for live tests
  .github/workflows/merge-queue.yml
  ci/check-docker-compose.sh
  tensorzero-core/tests/e2e/docker-compose-common.yml
  tensorzero-core/tests/e2e/docker-compose.ngrok.yml
Due: prettier: ui, prettier: openai-node

Add workflows for experimental CI bot
  .github/workflows/tensorzero-ci-bot-failure-diagnosis.yml
  .github/workflows/tensorzero-ci-bot-provide-feedback.yml
Due: prettier: ui, prettier: openai-node

add documentation
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Intermediate commit
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip on tests
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_tgi.rs
  tensorzero-core/tests/e2e/providers/azure.rs
  tensorzero-core/tests/e2e/providers/azure_ai_foundry.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/deepseek.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/providers/hyperbolic.rs
  tensorzero-core/tests/e2e/providers/mistral.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/providers/openrouter.rs
  tensorzero-core/tests/e2e/providers/sglang.rs
  tensorzero-core/tests/e2e/providers/tgi.rs
  tensorzero-core/tests/e2e/providers/together.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
  tensorzero-core/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix implementation
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

address co-pilot comments
  evaluations/src/lib.rs
  evaluations/src/stats.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.10.0
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node

Fix imports
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add workflows for experimental CI bot (#3767)
  .github/workflows/tensorzero-ci-bot-failure-diagnosis.yml
  .github/workflows/tensorzero-ci-bot-provide-feedback.yml
Due: prettier: ui, prettier: openai-node

separate match statements
  evaluations/src/stats.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add test cases with known solutions
  tensorzero-core/src/estimate_optimal_probabilities.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Escape Slack notification inputs (#3730)
  .github/workflows/slack-notifications.yml
Due: prettier: ui, prettier: openai-node

remove serde skip
  evaluations/src/stats.rs
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix TensorzeroHttpClient behavior for streaming requests
  tensorzero-core/src/http.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added testts for default credentials
  tensorzero-core/tests/e2e/providers/azure.rs
  tensorzero-core/tests/e2e/providers/azure_ai_foundry.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/deepseek.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/providers/hyperbolic.rs
  tensorzero-core/tests/e2e/providers/mistral.rs
  tensorzero-core/tests/e2e/providers/openrouter.rs
  tensorzero-core/tests/e2e/providers/together.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
  tensorzero-core/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy and add comments
  tensorzero-core/src/http.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Apply suggestion from @Copilot
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Apply suggestion from @Copilot
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add test cases to check_stopping
  tensorzero-core/src/check_stopping.rs
  tensorzero-core/src/estimate_optimal_probabilities.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

disabled mac python client test
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node

added shorthand test for default credentials
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_tgi.rs
  tensorzero-core/tests/e2e/providers/azure.rs
  tensorzero-core/tests/e2e/providers/azure_ai_foundry.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/deepseek.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/providers/hyperbolic.rs
  tensorzero-core/tests/e2e/providers/mistral.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/providers/openrouter.rs
  tensorzero-core/tests/e2e/providers/sglang.rs
  tensorzero-core/tests/e2e/providers/tgi.rs
  tensorzero-core/tests/e2e/providers/together.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
  tensorzero-core/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Apply suggestion from @Copilot
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed clippy
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Prettier fix
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Extract business logic from UI routes for dataset page
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node
