Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

more integration tests
  tensorzero-internal/tests/e2e/list_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

cleaned up collecting into a HashMap
  examples/integrations/cursor/experimental/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Propagate exceptions in download-fixtures.py (#2341)
  ui/fixtures/download-fixtures.py
Due: none

added more integration test
  tensorzero-internal/tests/e2e/list_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

rayon in cursorzero (#2310)
  Cargo.lock
  examples/integrations/cursor/experimental/Cargo.toml
  examples/integrations/cursor/experimental/README.md
  examples/integrations/cursor/experimental/post-commit.example
  examples/integrations/cursor/experimental/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Produce ContentBlock::Unknown in `gcp_vertex_anthropic` (#2338)
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added variants for weather helper and dynamic json functions
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Avoid duplicating fixtures when starting docker compose (#2292)
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.yml
  ui/fixtures/load_fixtures.sh
Due: prettier: ui, prettier: openai-node

added example of bad input in storybook
  ui/app/components/inference/InputSnippet.stories.tsx
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

forgot a file
  tensorzero-internal/src/serde_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

file committed to wrong branch
  tensorzero-internal/src/serde_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0012.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0013.rs
  tensorzero-internal/src/clickhouse/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added tests for deserialization
  tensorzero-internal/src/clickhouse/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added helper for queries with no params
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0000.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0002.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0003.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0004.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0005.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0006.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0008.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0009.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0011.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0013.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0015.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0016.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0017.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0018.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0019.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0020.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0021.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0022.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0024.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0025.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0026.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0027.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0028.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0029.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/mod.rs
  tensorzero-internal/src/clickhouse/test_helpers.rs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/endpoints/feedback.rs
  tensorzero-internal/src/variant/dicl.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
  tensorzero-internal/tests/e2e/datasets.rs
  tensorzero-internal/tests/e2e/dicl.rs
  tensorzero-internal/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed flagged import
  tensorzero-internal/src/clickhouse/test_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add common interface for HTTP errors in JS client
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

surface http errors for inference requests
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

copilot suggestions
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update to Storybook 9
  pnpm-lock.yaml
  ui/.storybook/examples/Button.stories.ts
  ui/.storybook/examples/Configure.storybook.mdx
  ui/.storybook/examples/Header.stories.ts
  ui/.storybook/examples/Page.stories.ts
  ui/.storybook/main.ts
  ui/.storybook/preview.ts
  ui/.storybook/vitest.setup.ts
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/inference/InputSnippet.stories.tsx
  ui/app/components/inference/NewOutput.stories.tsx
  ui/app/components/ui/dialog.stories.tsx
  ui/app/components/utils/SaveButton.stories.ts
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

formatting
  ui/package.json
Due: prettier: ui, prettier: openai-node

fixed test behavior
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update to Storybook 9 (#2348)
  pnpm-lock.yaml
  ui/.storybook/examples/Button.stories.ts
  ui/.storybook/examples/Configure.storybook.mdx
  ui/.storybook/examples/Header.stories.ts
  ui/.storybook/examples/Page.stories.ts
  ui/.storybook/main.ts
  ui/.storybook/preview.ts
  ui/.storybook/vitest.setup.ts
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/inference/InputSnippet.stories.tsx
  ui/app/components/inference/NewOutput.stories.tsx
  ui/app/components/ui/dialog.stories.tsx
  ui/app/components/utils/SaveButton.stories.ts
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add common interface for HTTP errors in JS client (#2347)
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Ignore other tests
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Exclude clickhouse tests from test-e2e
  .cargo/config.toml
Due: none

fixed issue in merge conflict
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update Zod to prep for v4 migration
  pnpm-lock.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node

Exclude clickhouse tests from test-e2e (#2349)
  .cargo/config.toml
Due: none

Set Content-Type for test in-memory server
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-internal/src/inference/providers/groq.rs
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix another test
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Another test fix
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added input parsing and URL preparation for GCP endpoint_ids (#2264)
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/app/utils/config/models.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed issues with groq extra headers in streaming
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update Zod to prep for v4 migration (#2350)
  pnpm-lock.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node

increased timeout for clickhouse healthcheck to 180s
  tensorzero-internal/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Preserve relative content block order in `collect_chunks` (#2336)
  Cargo.lock
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  clients/python/src/lib.rs
  tensorzero-internal/src/clickhouse/query_builder/mod.rs
  tensorzero-internal/src/error.rs
  tensorzero-internal/tests/e2e/list_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added tensorzero-internal test docker compose to skip list in check-docker-compose
  ci/check-docker-compose.sh
Due: none

Support no-schema templates with 'system_text/assistant_text/user_text'
  clients/rust/src/stored_inference.rs
  tensorzero-internal/fixtures/config/functions/basic_test_template_no_schema/prompt/assistant_template.minijinja
  tensorzero-internal/fixtures/config/functions/basic_test_template_no_schema/prompt/system_template.minijinja
  tensorzero-internal/fixtures/config/functions/basic_test_template_no_schema/prompt/user_template.minijinja
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/minijinja_util.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/tests/e2e/template.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  tensorzero-internal/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
