Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

fixed conditional upload of failures
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

fixed e2e workflow
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

Added a missing link & a missing fixture for dynamic evals (#2621)
  ui/app/routes/dynamic_evaluations/DynamicEvaluationRunsTable.tsx
  ui/app/utils/clickhouse/dynamic_evaluations.test.ts
  ui/fixtures/dynamic_evaluation_run_examples.jsonl
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed networking
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

Test using the ui with a custom gateway base_path (#2619)
  .github/workflows/ui-tests-e2e.yml
  package.json
  ui/e2e_tests/homePage.spec.ts
  ui/fixtures/config/tensorzero.base-path.toml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.ui.yml
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Ensure trailing slash in urls for rust HTTP client (#2618)
  Cargo.lock
  clients/rust/src/lib.rs
  gateway/Cargo.toml
  gateway/tests/base_path.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

test
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

fixed PR comments
  ui/app/components/inference/InputSnippet.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Use mixtral-8x22b-instruct for fireworks tests (#2617)
  .config/nextest.toml
  tensorzero-core/fixtures/config/tensorzero.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

try without wait
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

fixed feature flag
  ui/fixtures/docker-compose.ui.yml
Due: prettier: ui, prettier: openai-node

fixed dataset funnel display
  ui/app/components/function/FunctionSelector.tsx
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/datasets/builder/DatasetCountDisplay.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTCountDisplay.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
  ui/app/routes/optimization/supervised-fine-tuning/VariantSelector.tsx
  ui/fixtures/requirements.txt
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added log and ssh debug
  .github/workflows/ui-tests-e2e.yml
  ui/app/utils/supervised_fine_tuning/client.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

maybe fixed e2e tests?
  ui/e2e_tests/datasets.builder.spec.ts
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed openai sft test
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Use Mixtral model for groq e2e
  .config/nextest.toml
  examples/guides/providers/groq/config/tensorzero.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add CLAUDE.md with Python instructions + update stale environments
  examples/chess-puzzles/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/uv.lock
  examples/guides/streaming-inference/requirements.txt
  examples/mcp-model-context-protocol/requirements.txt
  examples/mcp-model-context-protocol/uv.lock
  examples/tutorial/01-simple-chatbot/requirements.txt
  examples/tutorial/02-email-copilot/requirements.txt
  examples/tutorial/03-weather-rag/requirements.txt
  examples/tutorial/04-email-data-extraction/requirements.txt
  recipes/dicl/requirements.txt
  recipes/dpo/openai/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/fireworks/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/openai/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/together/requirements.txt
  recipes/supervised_fine_tuning/metrics/fireworks/requirements.txt
  recipes/supervised_fine_tuning/metrics/openai/requirements.txt
  recipes/supervised_fine_tuning/metrics/together/requirements.txt
  ui/app/components/inference/NewOutput.stories.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Remove duplicate cron job
  .github/workflows/daily-optimization-test.yml
Due: prettier: ui, prettier: openai-node

Add CLAUDE.md with Python instructions + update stale environments
  examples/integrations/crewai-tmp/pyproject.toml
  examples/integrations/crewai-tmp/requirements.txt
  examples/integrations/crewai-tmp/uv.lock
Due: none

Add CLAUDE.md with Python instructions + update stale environments
  .gitignore
  CLAUDE.md
  ui/app/components/inference/NewOutput.stories.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add CLAUDE.md with Python instructions + update stale environments
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: prettier: ui, prettier: openai-node

Fix overrides
  .config/nextest.toml
Due: none

use pnpm to build workspace instead of just tensorzero-node
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

copy rust server errors to TS
  pnpm-lock.yaml
  ui/app/utils/tensorzero/errors.ts
  ui/app/utils/tensorzero/index.ts
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

move tensorzero client code into directory
  ui/app/utils/tensorzero/index.ts
  ui/app/utils/tensorzero/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

use gateway errors
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/common.ts
  ui/app/utils/tensorzero.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/errors.ts
  ui/app/utils/tensorzero/index.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

use error from server
  ui/app/utils/tensorzero.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cleaned up PR comments and put polling in the handle
  .github/workflows/ui-tests-e2e.yml
  internal/tensorzero-node/lib/bindings/OpenAISFTJobHandle.ts
  tensorzero-core/src/endpoints/optimization.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/optimization/openai_sft/mod.rs
  tensorzero-core/src/serde_util.rs
  tensorzero-core/tests/optimization/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

increased timeout for validate job
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Add script
  .buildkite/pipeline.yml
  ci/buildkite/test-clickhouse-cloud.sh
Due: prettier: ui, prettier: openai-node

Remove Storybook examples
  ui/.storybook/examples/Button.stories.ts
  ui/.storybook/examples/Button.tsx
  ui/.storybook/examples/Configure.storybook.mdx
  ui/.storybook/examples/Header.stories.ts
  ui/.storybook/examples/Header.tsx
  ui/.storybook/examples/Page.stories.ts
  ui/.storybook/examples/Page.tsx
  ui/.storybook/examples/assets/accessibility.png
  ui/.storybook/examples/assets/accessibility.svg
  ui/.storybook/examples/assets/addon-library.png
  ui/.storybook/examples/assets/assets.png
  ui/.storybook/examples/assets/avif-test-image.avif
  ui/.storybook/examples/assets/context.png
  ui/.storybook/examples/assets/discord.svg
  ui/.storybook/examples/assets/docs.png
  ui/.storybook/examples/assets/figma-plugin.png
  ui/.storybook/examples/assets/github.svg
  ui/.storybook/examples/assets/share.png
  ui/.storybook/examples/assets/styling.png
  ui/.storybook/examples/assets/testing.png
  ui/.storybook/examples/assets/theming.png
  ui/.storybook/examples/assets/tutorials.svg
  ui/.storybook/examples/assets/youtube.svg
  ui/.storybook/examples/button.css
  ui/.storybook/examples/header.css
  ui/.storybook/examples/page.css
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

ruled out dist/ from tensorzero-node format
  internal/tensorzero-node/package.json
Due: prettier: ui, prettier: openai-node

Use Mixtral model for groq e2e (#2622)
  .config/nextest.toml
  examples/guides/providers/groq/config/tensorzero.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update count and url
  .buildkite/hooks/post-checkout
  ci/buildkite/test-clickhouse-cloud.sh
Due: none

Remove Storybook examples (#2625)
  ui/.storybook/examples/Button.stories.ts
  ui/.storybook/examples/Button.tsx
  ui/.storybook/examples/Configure.storybook.mdx
  ui/.storybook/examples/Header.stories.ts
  ui/.storybook/examples/Header.tsx
  ui/.storybook/examples/Page.stories.ts
  ui/.storybook/examples/Page.tsx
  ui/.storybook/examples/assets/accessibility.png
  ui/.storybook/examples/assets/accessibility.svg
  ui/.storybook/examples/assets/addon-library.png
  ui/.storybook/examples/assets/assets.png
  ui/.storybook/examples/assets/avif-test-image.avif
  ui/.storybook/examples/assets/context.png
  ui/.storybook/examples/assets/discord.svg
  ui/.storybook/examples/assets/docs.png
  ui/.storybook/examples/assets/figma-plugin.png
  ui/.storybook/examples/assets/github.svg
  ui/.storybook/examples/assets/share.png
  ui/.storybook/examples/assets/styling.png
  ui/.storybook/examples/assets/testing.png
  ui/.storybook/examples/assets/theming.png
  ui/.storybook/examples/assets/tutorials.svg
  ui/.storybook/examples/assets/youtube.svg
  ui/.storybook/examples/button.css
  ui/.storybook/examples/header.css
  ui/.storybook/examples/page.css
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

ruled out dist/ from tensorzero-node lint too
  internal/tensorzero-node/package.json
Due: prettier: ui, prettier: openai-node
