Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

add GetInferencesTool
  internal/autopilot-tools/src/lib.rs
  internal/autopilot-tools/src/tools/prod/get_inferences.rs
  internal/autopilot-tools/src/tools/prod/mod.rs
  internal/autopilot-tools/tests/common/mod.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make ts_rs optional
  docs/integrations/model-providers/aws-sagemaker.mdx
Due: none

add GetInferencesToolParams
  internal/autopilot-tools/src/tools/prod/get_inferences.rs
  internal/autopilot-tools/src/tools/prod/mod.rs
  internal/autopilot-tools/tests/inference_tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Publish to '-dev' docker hub images in merge queue (#5534)
  .github/workflows/docker-hub-publish.yml
  .github/workflows/general.yml
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Move all non-durable postgres constructs under new schema
  .sqlx/query-05b50657c4723919883d444cf4205a52b2cdcdc0b972f2641e9785dfaf34824d.json
  .sqlx/query-1e73eafe2dcbc67bd0af0c670b9cbd33178e524c97ad4e693293443bb3b79c68.json
  .sqlx/query-29d446d5d4a956288dbf09f6210f307076f3f2404d338f5b5edaafbd09e52086.json
  .sqlx/query-2ec7fee182456e6d7be7134ac1ee9da0099534c9b249429d98802460618a8a50.json
  .sqlx/query-4329264f512454a32ff24a6393a80083ccd85a9f7e427b54fdbe8af0e9751a42.json
  .sqlx/query-581f32a8e8341afc3800885aa44dd6ff745abe0d1d4fd4e6db4ca1e1b04ad20f.json
  .sqlx/query-8fc778c1b91476aa5430c635287b2205d11a65809ebf3156575c06c9cdfad831.json
  .sqlx/query-bd28103da7e4ca7a9db0c78dc9692bf6e89d5ecea5ef594f83676971b1845c6c.json
  .sqlx/query-dd630dda9b9ee5e34fbd6298ba3cb985f0da062d8d263574351b2fe22acfe368.json
  .sqlx/query-de73ec8849cec7fae89692bcbc79e2dc2cef1ee523f28d7893aaec76c3a7fef3.json
  internal/tensorzero-auth/.sqlx/query-def27e03861b63955f0807d5e1d4c62084f591ed8df9bfc6f1d6fffe9a8ba728.json
  internal/tensorzero-auth/src/postgres/migrations/20260121203241_create_tensorzero_schema.sql
  internal/tensorzero-auth/src/postgres/mod.rs
  tensorzero-core/src/db/postgres/experimentation.rs
  tensorzero-core/src/db/postgres/migrations/20260121203245_move_to_tensorzero_schema.sql
  tensorzero-core/src/db/postgres/rate_limiting.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove unnecessary `async_trait` (#5779)
  Cargo.lock
  clients/rust/src/lib.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-optimizers/Cargo.toml
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/src/fireworks_sft.rs
  tensorzero-optimizers/src/gcp_vertex_gemini_sft.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/lib.rs
  tensorzero-optimizers/src/openai_rft.rs
  tensorzero-optimizers/src/openai_sft.rs
  tensorzero-optimizers/src/together_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Propagate streaming errors again (#5772)
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/tests/e2e/providers/errors.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add valkey to clickhouse cloud tests
  ci/buildkite/test-clickhouse-cloud.sh
Due: none

Add Valkey-based RateLimitQueries implementation (#5735)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  ci/buildkite/test-clickhouse-cloud.sh
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/valkey/lua/tensorzero_ratelimit.lua
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/db/valkey/rate_limiting.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/tests/e2e/db/rate_limit_queries.rs
  tensorzero-core/tests/e2e/docker-compose-common.yml
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
  tensorzero-core/tests/e2e/rate_limiting.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/benchmark.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump Gemini models to 2.5 (#5756)
  .github/workflows/batch-completion-cron.yml
  docs/gateway/configuration-reference.mdx
  docs/gateway/configure-models-and-providers.mdx
  docs/integrations/model-providers/gcp-vertex-ai-gemini.mdx
  docs/integrations/model-providers/google-ai-studio-gemini.mdx
  examples/guides/providers/gcp-vertex-ai-gemini/config/tensorzero.toml
  examples/guides/providers/google-ai-studio-gemini/config/tensorzero.toml
  recipes/supervised_fine_tuning/gcp-vertex-gemini/gcp_vertex_gemini.ipynb
  recipes/supervised_fine_tuning/gcp-vertex-gemini/gcp_vertex_gemini_nb.py
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-optimizers/tests/common/gcp_vertex_gemini_sft.rs
  ui/fixtures/config/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, compile-check-notebooks

Bump to 2026.1.3
  .github/workflows/docker-hub-publish.yml
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix python build by including all .sqlx cache
  .sqlx/query-1975ecaf2913207959a4951af399535d3c8846a3cfa39f7d16724a9bd81f0f0e.json
  .sqlx/query-1e73eafe2dcbc67bd0af0c670b9cbd33178e524c97ad4e693293443bb3b79c68.json
  .sqlx/query-517ba464982dbb0568a648e49c9d0f8736955599e16b1c1b75430877dbd73c65.json
  .sqlx/query-659d060b324bef8da0bbd4224540c90cb60ac01dbf9d5d4399665ac63c70c979.json
  .sqlx/query-a4d2aa2e85389d921b4c1581321838689d73b9496a26b3116bafd0584e500016.json
  .sqlx/query-aba97737d0a90f98bc608f419687f97f62ed3f827144033c6b3cdf19b158cad6.json
  .sqlx/query-ad24e2220da11b3db9b82ca14d289d47c23eb464fd3c64396a0d1479aa6d9b1b.json
  .sqlx/query-def27e03861b63955f0807d5e1d4c62084f591ed8df9bfc6f1d6fffe9a8ba728.json
  .sqlx/query-f8899dd12ce459ee73b9247fc1575ac06d8e415bc09e930f060608bd89f59d49.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Wait on publish-dev-docker-hub-images and re-enable autopilot e2e
  .github/workflows/dispatch-autopilot-e2e.yml
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add job to poll and cancel workflow when any job fails
  .github/workflows/cancel-merge-queue-on-job-failure.yml
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Enhance searchable dropdown with button trigger (ButtonSelect) for variant/model selection for "Try With" workflows (#5657)
  ui/app/components/dataset/DatasetSelect.tsx
  ui/app/components/dataset/use-dataset-options.tsx
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/inference/TryWithButton.tsx
  ui/app/components/inference/TryWithSelect.tsx
  ui/app/components/ui/combobox/ComboboxMenuItems.tsx
  ui/app/components/ui/select/ButtonSelect.stories.tsx
  ui/app/components/ui/select/ButtonSelect.tsx
  ui/app/components/ui/select/index.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/e2e_tests/datasets.datapoint.try-with.spec.ts
  ui/e2e_tests/observability.episodes.inference-preview-sheet.spec.ts
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump fixtures health check timeout to 6 minutes
  tensorzero-core/tests/e2e/docker-compose-common.yml
  tensorzero-core/tests/e2e/docker-compose.clickhouse.yml
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
  tensorzero-core/tests/e2e/docker-compose.yml
  ui/fixtures/docker-compose-common.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.unit.yml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use an IndexMap for durable tool registry (#5769)
  Cargo.lock
  internal/durable-tools/Cargo.toml
  internal/durable-tools/src/registry.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Muffle Chrome DevTools JSON probe in UI
  ui/public/.well-known/appspecific/com.chrome.devtools.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump fixtures health check timeout to 6 minutes (#5790)
  tensorzero-core/tests/e2e/docker-compose-common.yml
  tensorzero-core/tests/e2e/docker-compose.clickhouse.yml
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
  tensorzero-core/tests/e2e/docker-compose.yml
  ui/fixtures/docker-compose-common.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.unit.yml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix python build by including all .sqlx cache (#5776)
  .sqlx/query-1975ecaf2913207959a4951af399535d3c8846a3cfa39f7d16724a9bd81f0f0e.json
  .sqlx/query-1e73eafe2dcbc67bd0af0c670b9cbd33178e524c97ad4e693293443bb3b79c68.json
  .sqlx/query-517ba464982dbb0568a648e49c9d0f8736955599e16b1c1b75430877dbd73c65.json
  .sqlx/query-659d060b324bef8da0bbd4224540c90cb60ac01dbf9d5d4399665ac63c70c979.json
  .sqlx/query-a4d2aa2e85389d921b4c1581321838689d73b9496a26b3116bafd0584e500016.json
  .sqlx/query-aba97737d0a90f98bc608f419687f97f62ed3f827144033c6b3cdf19b158cad6.json
  .sqlx/query-ad24e2220da11b3db9b82ca14d289d47c23eb464fd3c64396a0d1479aa6d9b1b.json
  .sqlx/query-def27e03861b63955f0807d5e1d4c62084f591ed8df9bfc6f1d6fffe9a8ba728.json
  .sqlx/query-f8899dd12ce459ee73b9247fc1575ac06d8e415bc09e930f060608bd89f59d49.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add ToolOutcome::Rejected
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump to 2026.1.3 (#5787)
  .github/workflows/docker-hub-publish.yml
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add orange spectrum and orange icon highlight to home page tiles on hover (#5638)
  ui/app/routes/index.tsx
  ui/app/tailwind.css
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  docs/gateway/configuration-reference.mdx
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/src/tool/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/commonv2/cache_input_tokens.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Wait on publish-dev-docker-hub-images and re-enable autopilot e2e (#5788)
  .github/workflows/dispatch-autopilot-e2e.yml
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Muffle Chrome DevTools JSON probe in UI (#5793)
  ui/public/.well-known/appspecific/com.chrome.devtools.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add `GetInferencesTool` for retrieving inferences by ID (#5783)
  internal/autopilot-tools/src/lib.rs
  internal/autopilot-tools/src/tools/prod/get_inferences.rs
  internal/autopilot-tools/src/tools/prod/mod.rs
  internal/autopilot-tools/tests/common/mod.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

move action endpoint logic to gateway
  clients/rust/src/lib.rs
  gateway/src/routes/action.rs
  gateway/src/routes/internal.rs
  gateway/src/routes/mod.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  tensorzero-core/src/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

capitalize
  clients/rust/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped dependency on durable to use better indices
  Cargo.lock
  Cargo.toml
Due: none

Use latest format
  .github/workflows/tensorzero-ci-bot-failure-diagnosis.yml
  examples/haiku-hidden-preferences/haiku.ipynb
  examples/haiku-hidden-preferences/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add streaming primitives for detail pages
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix SectionAsyncErrorState to handle non-string error data
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add React Router streaming to dataset datapoint detail page
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

move action to durable
  gateway/src/routes/action.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update ui
  internal/tensorzero-node/lib/bindings/ToolOutcome.ts
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
