Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Add materialized view for episodes and move queries to Rust (#3268)
  .github/workflows/general.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  Cargo.lock
  internal/tensorzero-node/Cargo.toml
  internal/tensorzero-node/lib/bindings/EpisodeByIdRow.ts
  internal/tensorzero-node/lib/bindings/TableBoundsWithCount.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0037.rs
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0038.rs
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/uuid_util.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/db/select_queries.rs
  ui/app/components/layout/PageLayout.tsx
  ui/app/routes/index.tsx
  ui/app/routes/observability/episodes/EpisodesTable.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
  ui/e2e_tests/observability.episodes.spec.ts
  ui/fixtures/regenerate-model-inference-cache.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add Postgres healthcheck to Gateway healthchecks (#3617)
  gateway/tests/base_path.rs
  gateway/tests/common/mod.rs
  gateway/tests/logging.rs
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/endpoints/status.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/src/testing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip on migration_0039
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0039.rs
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed implementation and unit tests
  tensorzero-core/src/config/rate_limiting.rs
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed e2e tests
  tensorzero-core/tests/e2e/rate_limiting.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

clean up stray comments
  tensorzero-core/src/config/rate_limiting.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix hover behavior
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add link to LLM judge inference
  ui/app/components/utils/InferenceButton.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

initial implementation of migration for FeedbackByVariantStatistics
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0039.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

refactor test helpers to rust client (#3641)
  Cargo.lock
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  clients/rust/src/test_helpers.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/dynamic_evaluations.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/human_feedback.rs
  tensorzero-core/tests/e2e/inference.rs
  tensorzero-core/tests/e2e/list_inferences.rs
  tensorzero-core/tests/e2e/openai_compatible.rs
  tensorzero-core/tests/e2e/otel.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
  tensorzero-core/tests/e2e/render_inferences.rs
  tensorzero-core/tests/e2e/streaming_errors.rs
  tensorzero-core/tests/e2e/timeouts.rs
  tensorzero-core/tests/optimization/common/dicl.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added missing binding
  internal/tensorzero-node/lib/bindings/TagValueScope.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Thread episode_id all the way
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added load testing for postgres rate limit queries
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  deny.toml
  tensorzero-core/Cargo.toml
  tensorzero-core/tests/e2e/docker-compose.yml
  tensorzero-core/tests/load/feedback/Cargo.toml
  tensorzero-core/tests/load/feedback/README.md
  tensorzero-core/tests/load/feedback/src/benchmark.rs
  tensorzero-core/tests/load/feedback/src/main.rs
  tensorzero-core/tests/load/rate-limit-load-test/Cargo.toml
  tensorzero-core/tests/load/rate-limit-load-test/README.md
  tensorzero-core/tests/load/rate-limit-load-test/src/benchmark.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

reverted change to docker compose file
  tensorzero-core/tests/e2e/docker-compose.yml
Due: prettier: ui, prettier: openai-node

AddToDataset button in eval detail
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add e2e test
  ui/e2e_tests/evaluations.$eval_name.$datapoint_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fixed initial issues with rate limiting (#3658)
  internal/tensorzero-node/lib/bindings/TagValueScope.ts
  tensorzero-core/src/config/rate_limiting.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added load testing for postgres rate limit queries (#3624)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  deny.toml
  tensorzero-core/Cargo.toml
  tensorzero-core/tests/load/rate-limit-load-test/Cargo.toml
  tensorzero-core/tests/load/rate-limit-load-test/README.md
  tensorzero-core/tests/load/rate-limit-load-test/src/benchmark.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Cleanup
  ui/app/routes/observability/inferences/$inference_id/AddToDatasetButton.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Cleanup
  tensorzero-core/tests/e2e/docker-compose-common.yml
Due: prettier: ui, prettier: openai-node

migration 0039 seems to work well
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0039.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add randomness to caching tests (#3634)
  tensorzero-core/tests/e2e/providers/embeddings.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Document new Azure OpenAI Service API version (#3629)
  docs/gateway/configuration-reference.mdx
Due: none

Document embedding provider extra_body (#3628)
  docs/gateway/configuration-reference.mdx
Due: none

fixed duplicate variable initialization
  ui/app/routes/index.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Document episode ID generation (#3620)
  docs/gateway/api-reference/inference-openai-compatible.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/guides/episodes.mdx
Due: none

added link to model page and icon (#3601)
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/tests/e2e/db/select_queries.rs
  ui/app/components/function/variant/TimeGranularitySelector.tsx
  ui/app/components/icons/Icons.tsx
  ui/app/components/layout/app.sidebar.tsx
  ui/app/components/model/ModelLatency.tsx
  ui/app/components/ui/TimeWindowSelector.tsx
  ui/app/components/ui/chart.tsx
  ui/app/routes/index.tsx
  ui/e2e_tests/homePage.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Swap
  ui/app/components/utils/InferenceButton.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

wip
  tensorzero-core/src/db/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'tensorzero::template' content block to openai-compatible endpoint
  clients/python/tests/test_openai_compatibility.py
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

moved all instrument macros except HTTP handlers to skip_all
  evaluations/src/dataset.rs
  evaluations/src/evaluators/exact_match.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/evaluators/mod.rs
  evaluations/src/lib.rs
  evaluations/src/stats.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

cleaned up remaining instruments without skip_all
  tensorzero-core/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Cleanup
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/dataset.server.ts
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add UI instructions to AGENTS.md
  AGENTS.md
Due: prettier: ui, prettier: openai-node

Cleanup
  ui/app/components/dataset/AddToDatasetButton.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix UI time labels
  ui/app/components/function/variant/TimeGranularitySelector.tsx
  ui/app/components/ui/TimeWindowSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

made sure every #instrument macro uses skip_all (#3669)
  evaluations/src/dataset.rs
  evaluations/src/evaluators/exact_match.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/evaluators/mod.rs
  evaluations/src/lib.rs
  evaluations/src/stats.rs
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'tensorzero::template' content block to openai-compatible endpoint (#3668)
  clients/python/tests/test_openai_compatibility.py
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add UI instructions to AGENTS.md (#3670)
  AGENTS.md
Due: prettier: ui, prettier: openai-node

Bump tool call e2e test timeout to 30 seconds
  ui/e2e_tests/playground.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
