Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Fix
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

test(xai): cover cached_tokens propagation through XAIUsage→Usage
  crates/tensorzero-core/src/providers/xai.rs
  crates/tensorzero-types-providers/src/conversions.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  crates/tensorzero-core/tests/e2e/config/tensorzero.functions.json_math.toml
Due: none

Fix feedback table layout for long metric names and many tags
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/feedback/FeedbackTable.tsx
  ui/app/components/feedback/TagsBadges.test.tsx
  ui/app/components/feedback/TagsBadges.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Harden publish environments
  .github/workflows/daily-tests.yml
  .github/workflows/docker-hub-publish.yml
  .github/workflows/live-batch-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Harden publish environments
  .github/workflows/pypi-publish.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Harden DockerHub
  .github/workflows/docker-hub-publish.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Unbrick Gemini CI
  crates/tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add .npmrc with minimum age
  .npmrc
Due: none

Add .npmrc with minimum age
  ci/cla-bot-worker/.npmrc
  ci/slack-notifications-worker/.npmrc
  ci/tensorzero-bot-worker/.npmrc
  clients/placeholder-javascript/.npmrc
  examples/docs/guides/gateway/call-any-llm/.npmrc
  examples/docs/guides/gateway/call-llms-with-image-and-file-inputs/.npmrc
  examples/docs/guides/gateway/call-the-openai-responses-api/.npmrc
  examples/docs/guides/gateway/generate-structured-outputs/.npmrc
  examples/docs/guides/operations/set-up-auth-for-tensorzero/.npmrc
  examples/docs/guides/quickstart/.npmrc
  examples/guides/tool-use/.npmrc
Due: none

Propagate status code in FatalStreamError
  crates/tensorzero-core/src/providers/dummy.rs
  crates/tensorzero-core/src/providers/helpers.rs
  crates/tensorzero-core/src/providers/openai/mod.rs
  crates/tensorzero-core/tests/e2e/streaming_errors.rs
  crates/tensorzero-error/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

tensorzero-core: include finish_reason in parse_chat_output empty-content error
  crates/tensorzero-core/src/endpoints/feedback/mod.rs
  crates/tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix(http): surface SSE source chain and add per-byte read_timeout
  crates/tensorzero-core/src/client/mod.rs
  crates/tensorzero-core/src/config/gateway.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/snapshot/gateway_config.rs
  crates/tensorzero-core/src/providers/helpers.rs
  crates/tensorzero-core/src/utils/gateway.rs
  crates/tensorzero-http/src/lib.rs
  crates/tensorzero-stored-config/src/stored_gateway_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Disable Mistral reasoning tests for now
  crates/tensorzero-core/tests/e2e/providers/mistral.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Increase retries for Together tests
  crates/.config/nextest.toml
Due: none

rename global_outbound_http_read_timeout to global_outbound_http_intra_stream_read_timeout
  crates/tensorzero-core/src/config/gateway.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/snapshot/gateway_config.rs
  crates/tensorzero-core/src/utils/gateway.rs
  crates/tensorzero-http/src/lib.rs
  crates/tensorzero-stored-config/src/stored_gateway_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix error handling
  ui/app/utils/auth.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

valid -> success
  crates/tensorzero-auth/src/postgres/mod.rs
  crates/tensorzero-node/lib/bindings/ApiKeyValidationResult.ts
  ui/app/utils/auth.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix: address PR 7398 review comments — reorder auth check, distinguish infra/auth errors
  crates/tensorzero-auth/src/postgres/mod.rs
  crates/tensorzero-node/lib/bindings/ApiKeyValidationResult.ts
  crates/tensorzero-node/lib/bindings/index.ts
  crates/tensorzero-node/lib/index.ts
  crates/tensorzero-node/src/postgres.rs
  ui/app/routes/api-keys/route.tsx
  ui/app/utils/auth.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

ui: scope config cache to env-var auth mode
  ui/app/utils/config/index.server.test.ts
  ui/app/utils/config/index.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

ui: suppress duplicate auth dialog from layout error boundary when root already renders one
  ui/app/components/ui/error/LayoutErrorBoundary.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

allow invalid keys when auth is disabled
  ui/app/utils/auth.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

set up protection for api-keys page in UI
  crates/tensorzero-core/src/endpoints/ui/get_config.rs
  crates/tensorzero-node/lib/bindings/UiConfig.ts
  crates/tensorzero-node/lib/index.ts
  crates/tensorzero-node/src/postgres.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/function/ToolDetails.stories.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
  ui/app/context/config.tsx
  ui/app/routes/api-keys/route.tsx
  ui/app/utils/auth.server.ts
  ui/app/utils/config/index.server.test.ts
  ui/e2e_tests/api-keys.auth.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Disable deepseek r1 on together for now
  crates/tensorzero-core/tests/e2e/providers/together.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix(reqwest-sse-stream): mark inner errors as #[source] so chain walks
  crates/reqwest-sse-stream/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix(http): name both timeout configs in error messages and use DisplayOrDebugGateway in chain walker
  crates/tensorzero-core/src/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove shared Rust cache key from 'Postgres tests' job
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Document how canonical_hash handles schema changes
  crates/tensorzero-core/src/config/snapshot/canonical_hash.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped version to 2026.5.0
  .github/CODEOWNERS
  crates/Cargo.lock
  crates/Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  examples/production-deployment-k8s-helm/tests/__snapshot__/snapshots_test.yaml.snap
  for-agents/plugins/tensorzero/.claude-plugin/plugin.json
  ui/app/routes/autopilot/AutopilotSessionsTable.stories.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix overblown framing in canonical_hash module docs (per @Aaron1011)
  crates/tensorzero-core/src/config/snapshot/canonical_hash.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

TEMP: dump empty-fixture JSON to debug platform-specific hash drift
  crates/tensorzero-core/src/config/snapshot/fixtures_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Refresh fixture canonical hashes after `StoredGatewayConfig` field addition
  crates/tensorzero-core/src/config/snapshot/fixtures_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Re-enable Deepseek R1 e2e tests on Together
  crates/tensorzero-core/tests/e2e/providers/together.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Downgrade metrics-exporter-prometheus
  crates/Cargo.lock
  crates/Cargo.toml
Due: none

Add Packagist
  composer.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix commit drift in security checks
  .github/workflows/security.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Switch Rust caches from Buildjet back to Github Actions
  .github/workflows/caching-hack.yml
  .github/workflows/clickhouse-tests.yml
  .github/workflows/general.yml
  .github/workflows/optimization-test-cron.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
