Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

removed extra diff
  ui/app/utils/clickhouse/inference.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

removed extra diff
  ui/fixtures/load_fixtures.sh
Due: none

removed disable_observability config option
  tensorzero-internal/src/config_parser.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update clients/python/DEVELOPER_NOTES.md
  clients/python/DEVELOPER_NOTES.md
Due: prettier: ui, prettier: openai-node

removed disable_observability config option from TS too
  tensorzero-internal/src/config_parser.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/utils/config/index.server.ts
  ui/app/utils/config/index.test.ts
  ui/app/utils/config/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Cleanup workflows
  .github/workflows/general.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-client.yml
  ci/upload-pyo3.sh
Due: prettier: ui, prettier: openai-node

fixed model inference cache fixture
  ui/fixtures/model_inference_cache_examples.jsonl
Due: none

Update
  tmp
Due: none

Update
  .github/workflows/python-client-build.yml
  tmp
Due: prettier: ui, prettier: openai-node

Make all CH queries in UI use Zod parsing (#2108)
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/curation.server.ts
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/dynamic_evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/feedback.ts
  ui/app/utils/clickhouse/inference.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

removed disable_observability config option (#2110)
  tensorzero-internal/src/config_parser.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/utils/config/index.server.ts
  ui/app/utils/config/index.test.ts
  ui/app/utils/config/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Re-add sccache (with correct architecture for downloaded binary)
  ui/Dockerfile
Due: none

removed failure on a bad inference and now warn and continue (#2100)
  Cargo.lock
  examples/integrations/cursor/experimental/Cargo.toml
  examples/integrations/cursor/experimental/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed unit tests given new fixture
  ui/app/utils/clickhouse/datasets.test.ts
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Prevent sccache eviction
  .github/workflows/docker-hub-publish.yml
  ui/Dockerfile
Due: prettier: ui, prettier: openai-node

Fix container name conditional
  .github/workflows/docker-hub-publish.yml
Due: prettier: ui, prettier: openai-node

Update dependabot.yml
  .github/dependabot.yml
Due: prettier: ui, prettier: openai-node

Add missing icons (#2075)
  ui/app/components/feedback/HumanFeedbackButton.tsx
  ui/app/components/icons/Icons.tsx
  ui/app/components/layout/app.sidebar.tsx
  ui/app/routes/index.tsx
  ui/app/utils/icon.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ci/markdown-broken-link-checker/requirements.txt
  clients/openai-python/requirements.txt
  clients/python/requirements.txt
  examples/babyai/requirements.txt
  examples/data-extraction-ner/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/pyproject.toml
  examples/dynamic_evaluations/simple-agentic-rag/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/uv.lock
  examples/evaluations/tutorial/requirements.txt
  examples/gsm8k-custom-recipe-dspy/requirements.txt
  examples/guides/episodes/requirements.txt
  examples/guides/metrics-feedback/requirements.txt
  examples/guides/multimodal-inference/requirements.txt
  examples/guides/prompts-templates-schemas/requirements.txt
  examples/guides/tool-use/requirements.txt
  examples/haiku-hidden-preferences/requirements.txt
  examples/integrations/helicone/requirements.txt
  examples/integrations/langgraph/requirements.txt
  examples/mcp-model-context-protocol/requirements.txt
  examples/quickstart/requirements.txt
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/requirements.txt
  examples/readme/requirements.txt
  optimization-server/requirements.txt
  recipes/requirements.txt
  tensorzero-internal/fixtures/deployment/sagemaker-ollama/requirements.txt
Due: none

Update
  ci/markdown-broken-link-checker/requirements.txt
  clients/openai-python/requirements.txt
  clients/python/requirements.txt
  examples/babyai/requirements.txt
  examples/data-extraction-ner/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/requirements.txt
  examples/evaluations/tutorial/requirements.txt
  examples/gsm8k-custom-recipe-dspy/requirements.txt
  examples/guides/episodes/requirements.txt
  examples/guides/metrics-feedback/requirements.txt
  examples/guides/multimodal-inference/requirements.txt
  examples/guides/prompts-templates-schemas/requirements.txt
  examples/guides/tool-use/requirements.txt
  examples/haiku-hidden-preferences/requirements.txt
  examples/integrations/helicone/requirements.txt
  examples/integrations/langgraph/requirements.txt
  examples/mcp-model-context-protocol/requirements.txt
  examples/quickstart/requirements.txt
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/requirements.txt
  examples/readme/requirements.txt
  optimization-server/requirements.txt
  recipes/requirements.txt
  tensorzero-internal/fixtures/deployment/sagemaker-ollama/requirements.txt
Due: none

Update
  examples/dynamic_evaluations/simple-agentic-rag/uv.lock
  examples/mcp-model-context-protocol/uv.lock
Due: none

Update
  examples/dynamic_evaluations/simple-agentic-rag/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/uv.lock
  examples/mcp-model-context-protocol/requirements.txt
  examples/mcp-model-context-protocol/uv.lock
Due: none

Add large json inference fixture to S3 and use them in ui fixtures
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/fixtures/check-fixtures.sh
  ui/fixtures/download-fixtures.py
  ui/fixtures/load_fixtures.sh
Due: none

Update
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Reformat
  ui/fixtures/download-fixtures.py
Due: none

Show disk usage
  ui/fixtures/load_fixtures.sh
Due: none

added episode counts to dynamic Evaluation runs table
  ui/app/routes/dynamic_evaluations/DynamicEvaluationRunsTable.tsx
  ui/app/utils/clickhouse/dynamic_evaluations.server.ts
  ui/app/utils/clickhouse/dynamic_evaluations.test.ts
  ui/app/utils/clickhouse/dynamic_evaluations.ts
  ui/fixtures/dynamic_evaluation_run_examples.jsonl
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Print clickhouse logs
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Add 'OPTIMIZE TABLE'
  ui/fixtures/load_fixtures.sh
Due: none

fix: imports
  tensorzero-internal/src/inference/providers/ollama.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix: tests for ollama
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add: example
  examples/guides/providers/ollama/README.md
  examples/guides/providers/ollama/config/tensorzero.toml
  examples/guides/providers/ollama/docker-compose.yml
Due: prettier: ui, prettier: openai-node

Switch runner
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Disable cache
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

remove: testing files
  gateway/tensorzero.toml
Due: none

Disable other cache
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

add: batch tests
  tensorzero-internal/tests/e2e/providers/ollama.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
