Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Fix tests
  clients/python/tests/test_client.py
Due: none

Fix tests
  ui/fixtures/config/tensorzero.toml
Due: none

Fix tests
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix tests
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update gateway/tests/auth.rs
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix tests
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Docs: OTLP extra attributes and resources
  docs/operations/export-opentelemetry-traces.mdx
Due: none

added manual API key run
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

logged API key
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added log for fetching with API key
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed API key issue
  ui/app/utils/env.server.ts
  ui/app/utils/tensorzero.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added pyo3 feature to Display impl
  tensorzero-core/src/function.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add UI flow to copy datapoints between datasets
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/CopyToDatasetButton.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/main.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

only use auth on merge group
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

skip auth for regen job
  .github/workflows/merge-queue.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add initial work towards inference params V2
  tensorzero-core/src/cache.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/inference/types/chat_completion_inference_params/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

set up auth in UI (#4342)
  .github/workflows/merge-queue.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  ui/app/utils/env.server.ts
  ui/app/utils/tensorzero.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add initial work towards inference params V2
  docs/gateway/configuration-reference.mdx
Due: none

Pull out role type
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/role.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  docs/gateway/configuration-reference.mdx
  tensorzero-core/src/inference/types/chat_completion_inference_params/mod.rs
  tensorzero-core/src/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  internal/tensorzero-auth/bindings/KeyInfo.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add initial work towards inference params V2
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  internal/tensorzero-node/lib/bindings/UninitializedBestOfNEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChatCompletionConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDiclConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedFuserConfig.ts
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add initial work towards inference params V2
  internal/tensorzero-node/lib/bindings/BestOfNEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/ChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/ChatCompletionConfig.ts
  internal/tensorzero-node/lib/bindings/ChatCompletionInferenceParams.ts
  internal/tensorzero-node/lib/bindings/ChatCompletionInferenceParamsV2.ts
  internal/tensorzero-node/lib/bindings/DiclConfig.ts
  internal/tensorzero-node/lib/bindings/FuserConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedBestOfNEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChatCompletionConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDiclConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedFuserConfig.ts
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/inference/types/chat_completion_inference_params/mod.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add initial work towards inference params V2
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/configuration-reference.mdx
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial work towards inference params V2
  docs/gateway/configuration-reference.mdx
  docs/operations/extend-tensorzero.mdx
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Add auth cache (#4291)
  gateway/src/routes.rs
  gateway/tests/auth.rs
  internal/tensorzero-auth/bindings/KeyInfo.ts
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/postgres/mod.rs
  internal/tensorzero-node/lib/bindings/AuthConfig.ts
  internal/tensorzero-node/lib/bindings/GatewayAuthCacheConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/utils/gateway.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Document bandits in configuration reference (#4287)
  docs/gateway/configuration-reference.mdx
Due: none

Error if user mixes experimentation with weights (#4338)
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/experimentation/mod.rs
  ui/fixtures/config/tensorzero.e2e.toml
  ui/fixtures/config/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Support token inputs in embeddings endpoint (fix #4334) (#4335)
  tensorzero-core/src/embeddings.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/embeddings.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Pull out role type (#4356)
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/role.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
