Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Add support for extra_headers/extra_body in relay mode
  gateway/tests/common/mod.rs
  gateway/tests/common/relay.rs
  gateway/tests/relay_basic.rs
  gateway/tests/relay_extra_body.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_stuff.rs
  tensorzero-core/src/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix typo
  tensorzero-core/src/inference/types/extra_body.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Improve ModelSelector UX for custom model entry
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove collect
  tensorzero-core/src/inference/types/extra_body.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Lower concurrency limit
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

DRY refactor ModelSelector
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix blur behavior: deselect on empty, remove unnecessary timeout
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Open dropdown on arrow key press
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Adjust locators
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing-output.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Run fmt
  tensorzero-core/src/inference/types/extra_body.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Code quality improvements for ModelSelector
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix dropdown filtering when model already selected
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Initial partial implementation of betting-based confidence sequences
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix bets to use previous time step's variance estimate
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

UI improvements: custom model at top, truncation, click to reopen, provider label
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix flakiness in short response test
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

Dynamic input padding based on badge width, custom model at top
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use an 8x16 runner for ClickHouse tests and limit concurrency (#5109)
  .github/workflows/general.yml
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use full word prefixes for provider detection to reduce jumpiness
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Don't filter empty messages in gcp_vertex_anthropic
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use default CommandList max-height for consistency
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Don't filter empty messages in gcp_vertex_anthropic (#5122)
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix flakiness in short response test (#5121)
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove some predefined models
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix bug in tool filtering with display names (#5097)
  internal/tensorzero-node/lib/bindings/StaticToolConfig.ts
  tensorzero-core/fixtures/config/tensorzero.toml
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/providers/chat_completions.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/test_helpers.rs
  tensorzero-core/src/tool/config.rs
  tensorzero-core/src/tool/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.misc.toml
  tensorzero-core/tests/e2e/inference/tool_params.rs
  tensorzero-optimizers/src/gepa/analyze.rs
  tensorzero-optimizers/src/gepa/mutate.rs
  tensorzero-optimizers/tests/e2e/gepa/analyze.rs
  ui/app/components/function/ToolDetails.stories.tsx
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add API to get ModelInference by ID
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/ContentBlockOutput.ts
  internal/tensorzero-node/lib/bindings/GetModelInferencesResponse.ts
  internal/tensorzero-node/lib/bindings/ModelInference.ts
  internal/tensorzero-node/lib/bindings/StoredRequestMessage.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/clickhouse/model_inferences.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/model_inferences.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/src/endpoints/internal/model_inferences.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/stored_input.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/model_inferences.rs
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/observability/inferences/$inference_id/ModelInferenceItem.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
  ui/app/utils/resolve.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Better testing
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/clickhouse/model_inferences.rs
  tensorzero-core/src/db/model_inferences.rs
  tensorzero-core/src/endpoints/internal/model_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

named the route wrong
  tensorzero-core/tests/e2e/endpoints/internal/model_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

code refactor, bugfix
  tensorzero-core/tests/e2e/openai_spec_compliance.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add internal API to get ModelInference by inference ID (#5107)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/ContentBlockOutput.ts
  internal/tensorzero-node/lib/bindings/GetModelInferencesResponse.ts
  internal/tensorzero-node/lib/bindings/ModelInference.ts
  internal/tensorzero-node/lib/bindings/StoredRequestMessage.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/clickhouse/model_inferences.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/model_inferences.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/src/endpoints/internal/model_inferences.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/stored_input.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/model_inferences.rs
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/observability/inferences/$inference_id/ModelInferenceItem.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
  ui/app/utils/resolve.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Migrate model count route to gateway
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/CountModelsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/src/endpoints/internal/models/mod.rs
  tensorzero-core/src/endpoints/internal/models/types.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/models.rs
  ui/app/routes/index.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add updates to wealth processes
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add searchable combobox components and refactor selectors
  ui/app/components/datapoint/CloneDatapointButton.tsx
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/components/dataset/DatasetFormField.tsx
  ui/app/components/dataset/DatasetSelector.stories.tsx
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/components/evaluations/EvaluationSelector.tsx
  ui/app/components/function/FunctionSelector.tsx
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/components/ui/AdditionalSettingsAccordion.tsx
  ui/app/components/ui/combobox/Combobox.tsx
  ui/app/components/ui/combobox/ComboboxContent.tsx
  ui/app/components/ui/combobox/ComboboxHint.tsx
  ui/app/components/ui/combobox/ComboboxInput.tsx
  ui/app/components/ui/combobox/index.ts
  ui/app/components/ui/combobox/useCombobox.ts
  ui/app/components/ui/input.tsx
  ui/app/components/ui/textarea.tsx
  ui/app/components/variant/VariantSelector.tsx
  ui/app/routes/datapoints/new/NewDatapointForm.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/evaluations/AdvancedParametersAccordion.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/optimization/supervised-fine-tuning/AdvancedParametersAccordion.tsx
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/VariantSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
  ui/app/routes/playground/route.tsx
  ui/app/tailwind.css
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Run ClickHouse replicated tests on 16x32 runner
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add last step of confidence sequence calculation from hedged wealth process
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Unpin google-cloud-auth dependency
  Cargo.lock
  Cargo.toml
Due: none

Change product to log-sum-exp for numerical stability
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
