Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Remove unnecessary comments, simplify component/plugin wiring
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/ui/markdown.tsx
  ui/app/hooks/useResolveUuid.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Refactor: extract shared UUID utils, DRY up code
  ui/app/components/autopilot/RichText.tsx
  ui/app/components/autopilot/UuidLink.tsx
  ui/app/components/autopilot/remarkUuidLinks.ts
  ui/app/hooks/useResolveUuid.ts
  ui/app/utils/uuid.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Handle model_inference in exhaustive switch statements
  ui/app/components/autopilot/UuidHoverCardContent.tsx
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix error handling, loading states, and accessibility in side sheet
  ui/app/components/autopilot/InferenceSideSheet.tsx
  ui/app/routes/api/tensorzero/inference_sheet.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add inference side sheet for UUID links in autopilot
  ui/app/components/autopilot/InferenceSideSheet.tsx
  ui/app/components/autopilot/InferenceSideSheetContext.tsx
  ui/app/components/autopilot/UuidLink.tsx
  ui/app/routes.ts
  ui/app/routes/api/tensorzero/inference_sheet.route.ts
  ui/app/routes/autopilot/layout.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add extra 'S' generic parameter to ToolExecutor
  internal/autopilot-tools/src/tools/prod/auto_reject_tool_call.rs
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
  internal/autopilot-tools/src/tools/test/echo.rs
  internal/autopilot-tools/src/tools/test/failing.rs
  internal/autopilot-tools/src/tools/test/flaky.rs
  internal/autopilot-tools/src/tools/test/panic.rs
  internal/autopilot-tools/src/tools/test/slow.rs
  internal/autopilot-tools/src/visitor.rs
  internal/autopilot-tools/tests/launch_optimization_workflow_tool.rs
  internal/autopilot-worker/src/worker.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/context.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Incremental latency quantiles computation (#6310)
  tensorzero-core/src/db/postgres/migrations/20260212110000_incremental_model_latency_quantiles.sql
  tensorzero-core/src/db/postgres/model_inferences.rs
  tensorzero-core/src/db/postgres/pgcron.rs
  tensorzero-core/src/db/postgres/pgcron_setup.sql
  tensorzero-core/tests/e2e/db/postgres/pgcron_tests.rs
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/reset-dev-postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy

render limit in generated types
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/ListEpisodesRequest.ts
  tensorzero-core/src/endpoints/episodes/internal/list_episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add Postgres migration to split inference tables into metadata and IO tables
  tensorzero-core/src/db/postgres/migrations/20260213142997_split_inference_data_tables.sql
  tensorzero-core/src/db/postgres/pgcron_setup.sql
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/reset-dev-postgres.sh
Due: none

Query for inferences with joins
  .sqlx/query-0d2275b63ea8385f46636aa804affd5eb9b552aeaa911aff34f7fa8897546317.json
  .sqlx/query-29f054a80a28bd0bc7318d81ba1d133b8f9b81d21dd0d615018bfa1d60e1b50d.json
  .sqlx/query-466728e69e868884b1653032bac731d2a23fc000454a231526a0e2541c130643.json
  .sqlx/query-6d7f4192d680ed4185c559cc1f637e8c6a4a22a1fec32d46ad7fbcfac46f0109.json
  .sqlx/query-b77b11643355d960119dd748d86013ea8160e2dfc61f4184e06c552d0e6ef1ca.json
  .sqlx/query-d13c5af22b106eb4703743ac4ed81714bc80932acbd624e43bd188c041fd0e85.json
  .sqlx/query-e7905bf413a97324990941e0669860b1da87d73d80493aa0e3df3ccbb7339adf.json
  tensorzero-core/src/db/postgres/batch_inference.rs
  tensorzero-core/src/db/postgres/batching.rs
  tensorzero-core/src/db/postgres/inference_queries.rs
  tensorzero-core/src/db/postgres/model_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Refactor feedback query
  tensorzero-core/src/endpoints/feedback/human_feedback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add tests with None data
  .sqlx/query-80c90c2065413230983ad3faa90bf3f2ddda152be21b16af51a4efaef2d37709.json
  clients/python/tests/test_rendering.py
  clients/python/tests/test_stored_inferences_v1.py
  tensorzero-core/src/db/postgres/inference_queries.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/tests/e2e/db/inference_queries.rs
  ui/app/routes/observability/inferences/$inference_id/InputSection.tsx
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
  ui/fixtures/download_fixtures_consts.py
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/upload-small-fixtures.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Handle model_inference in exhaustive switch statement
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add entity type icons to resolved UUID links
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Mute orange UUID link color for softer appearance
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support include_raw_response for mid-stream errors
  tensorzero-core/tests/e2e/raw_response/error/streaming_mid_stream.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add HelpTooltip component with Episodes example (#6282)
  ui/app/components/layout/PageLayout.tsx
  ui/app/components/ui/HelpTooltip.tsx
  ui/app/routes/observability/episodes/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump to 2026.2.1
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/fixtures/config/tensorzero.toml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Refactor feedback query (#6339)
  tensorzero-core/src/endpoints/feedback/human_feedback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump to 2026.2.1
  ui/fixtures/config/tensorzero.toml
Due: none

Support `include_raw_response` for mid-stream errors (#6329)
  .gitignore
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible/types/streaming.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/raw_response/error.rs
  tensorzero-core/tests/e2e/raw_response/error/mod.rs
  tensorzero-core/tests/e2e/raw_response/error/non_streaming.rs
  tensorzero-core/tests/e2e/raw_response/error/streaming_mid_stream.rs
  tensorzero-core/tests/e2e/raw_response/error/streaming_pre_stream.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix padding + animate transition
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump to `2026.2.1` (#6340)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Resolve UUIDs in autopilot chat messages as clickable links (#6303)
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/UuidLink.tsx
  ui/app/components/autopilot/remarkUuidLinks.ts
  ui/app/components/ui/markdown.tsx
  ui/app/hooks/useResolveUuid.ts
  ui/app/routes.ts
  ui/app/routes/api/tensorzero/resolve_uuid.route.ts
  ui/app/utils/uuid.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  gateway/src/cli.rs
  gateway/src/main.rs
  gateway/tests/auth.rs
  internal/tensorzero-auth/src/middleware.rs
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support errors + include_raw_response for fallbacks
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/raw_response/fallback.rs
  tensorzero-core/tests/e2e/raw_response/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support errors + include_raw_response for fallbacks
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support errors + include_raw_response for fallbacks
  tensorzero-core/src/cache.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/db/cache_queries.rs
  tensorzero-core/tests/e2e/raw_response/fallback.rs
  tensorzero-core/tests/e2e/raw_response/mod.rs
  tensorzero-core/tests/e2e/raw_response/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support errors + include_raw_response for fallbacks
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/model_table.rs
  tensorzero-core/src/providers/aws_sagemaker.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/db/batch_inference_endpoint_internals.rs
  tensorzero-core/tests/e2e/raw_response/embeddings.rs
  tensorzero-core/tests/e2e/raw_response/fallback.rs
  tensorzero-core/tests/e2e/raw_response/mod.rs
  tensorzero-core/tests/e2e/raw_response/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support errors + include_raw_response for fallbacks
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support errors + include_raw_response for fallbacks
  internal/tensorzero-node/lib/bindings/BaseModelTable.ts
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support errors + include_raw_response for fallbacks
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add total_ms timeout to streaming inferences
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/retries-fallbacks.mdx
  internal/tensorzero-node/lib/bindings/StreamingTimeouts.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/timeouts.rs
  ui/app/components/function/variant/VariantEditor.stories.tsx
  ui/app/components/function/variant/VariantEditor.tsx
  ui/app/routes/observability/functions/$function_name/variants-data.server.ts
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/utils/config/models.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add total_ms timeout to streaming inferences
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add total_ms timeout to streaming inferences
  tensorzero-core/tests/e2e/timeouts.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add extra 'S' generic parameter to ToolExecutor (#6338)
  internal/autopilot-tools/src/tools/prod/auto_reject_tool_call.rs
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
  internal/autopilot-tools/src/tools/test/echo.rs
  internal/autopilot-tools/src/tools/test/failing.rs
  internal/autopilot-tools/src/tools/test/flaky.rs
  internal/autopilot-tools/src/tools/test/panic.rs
  internal/autopilot-tools/src/tools/test/slow.rs
  internal/autopilot-tools/src/visitor.rs
  internal/autopilot-tools/tests/launch_optimization_workflow_tool.rs
  internal/autopilot-worker/src/worker.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/context.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add documentation for enabling pgvector for dicl (#6228)
  docs/deployment/postgres.mdx
Due: none

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
