Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Separate inference data and metadata retention configs (#6359)
  .sqlx/query-518904a991cd03adb9d9e97a48699a771ce4b23222506c5ae61a5f20b72fc9a4.json
  .sqlx/query-c54be722fda3516cdf82160dd15da42d0a59fcbd31ce0063d3e3c3815b739eee.json
  .sqlx/query-ef3ac5744f9313b285f9445ac9d724a987dac480ae28e50ee0a9bcd591e0b540.json
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/db/postgres/pgcron_setup.sql
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/db/postgres/pgcron_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Customize bind address with env var
  Cargo.toml
  gateway/src/cli.rs
  tensorzero-core/tests/e2e/config/tensorzero.misc.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Customize bind address with env var
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add autopilot config writing to ui (#6069)
  .cargo/config.toml
  Cargo.lock
  internal/autopilot-tools/Cargo.toml
  internal/autopilot-tools/src/tools/prod/write_config.rs
  internal/tensorzero-node/lib/bindings/WriteConfigToolParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  ui/app/components/autopilot/ApplyConfigChangeButton.tsx
  ui/app/components/autopilot/ApplySessionConfigChangesButton.tsx
  ui/app/components/autopilot/EventStream.tsx
  ui/app/routes.ts
  ui/app/routes/api/autopilot/sessions/$session_id/config-apply/apply-all.route.ts
  ui/app/routes/api/autopilot/sessions/$session_id/config-apply/apply.route.ts
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
  ui/app/utils/env.server.ts
  ui/app/utils/tensorzero/autopilot-client.test.ts
  ui/app/utils/tensorzero/autopilot-client.ts
  ui/e2e_tests/autopilot/config-apply.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed code quality issues
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make chat and json evaluation results have optional data fields (#6367)
  internal/tensorzero-node/lib/bindings/ChatEvaluationResultRow.ts
  internal/tensorzero-node/lib/bindings/JsonEvaluationResultRow.ts
  tensorzero-core/src/db/evaluation_queries.rs
  tensorzero-core/src/endpoints/internal/evaluations/get_evaluation_results.rs
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add reasoning support to Mistral provider (#6358)
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/mistral.mdx
  internal/tensorzero-node/lib/bindings/MistralProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedProviderConfig.ts
  internal/tensorzero-types-providers/src/mistral.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/mistral.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Revert "Disable fireworks bad headers test" / bump Fireworks models (#6361)
  tensorzero-core/fixtures/config/tensorzero.toml
  tensorzero-core/tests/e2e/config/tensorzero.evaluations.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add reasoning tests for VLLM / bump deployment (#6368)
  ci/buildkite/modal-warmup.sh
  tensorzero-core/fixtures/deployment/vllm-inference-modal/README.md
  tensorzero-core/fixtures/deployment/vllm-inference-modal/vllm_inference.py
  tensorzero-core/fixtures/deployment/vllm-inference-qwen-modal/README.md
  tensorzero-core/fixtures/deployment/vllm-inference-qwen-modal/vllm_inference.py
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/helpers.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

pulled out config validation logic
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/namespace.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Run UI tests in 0.0.0.0
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

removed the reliance on model inference cache in UI tests
  .github/workflows/general.yml
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/slash-command-regen-fixtures.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  ci/buildkite/ui-e2e-tests.sh
  ci/download-provider-proxy-cache.sh
  ci/provider-proxy-cache-ui/.gitkeep
  ci/upload-provider-proxy-cache.sh
  ui/app/context/feature-flags.tsx
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/utils/feature_flags.server.ts
  ui/e2e_tests/evaluations.spec.ts
  ui/e2e_tests/playground.spec.ts
  ui/fixtures/check-fixtures.sh
  ui/fixtures/docker-compose-common.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.ui.yml
  ui/fixtures/download_fixtures_consts.py
  ui/fixtures/load_fixtures.sh
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/regenerate-model-inference-cache.sh
  ui/fixtures/upload-small-fixtures.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add Postgres migration to split inference tables into metadata and IO tables
  tensorzero-core/src/db/postgres/migrations/20260213142997_split_inference_data_tables.sql
  tensorzero-core/src/db/postgres/pgcron_setup.sql
  tensorzero-core/tests/e2e/db/postgres/pgcron_tests.rs
  ui/fixtures/load_fixtures_postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump SageMaker Ollama
  tensorzero-core/fixtures/deployment/sagemaker-ollama/Dockerfile
  tensorzero-core/fixtures/deployment/sagemaker-ollama/proxy.py
  tensorzero-core/fixtures/deployment/sagemaker-ollama/scripts/deploy.sh
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Run UI tests in 0.0.0.0 (#6371)
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

cleaned up PR comments
  tensorzero-core/src/config/namespace.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/namespace.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/experimentation/namespaces.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump SageMaker Ollama
  examples/guides/providers/aws-sagemaker/config/tensorzero.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/README.md
  tensorzero-core/fixtures/deployment/sagemaker-ollama/entrypoint.sh
  tensorzero-core/fixtures/deployment/sagemaker-ollama/scripts/deploy_endpoint.py
  tensorzero-core/fixtures/deployment/sagemaker-ollama/scripts/test.sh
  tensorzero-core/fixtures/deployment/sagemaker-tgi/scripts/test.sh
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump E2E timeout
  .config/nextest.toml
Due: none

Add include_raw_response support for BoN
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/raw_response/error/best_of_n_sampling.rs
  tensorzero-core/tests/e2e/raw_response/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  gateway/tests/bind_address.rs
  gateway/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed bindings
  internal/tensorzero-node/lib/bindings/ModelConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedModelConfig.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump E2E timeout (#6375)
  .config/nextest.toml
Due: none

added implementation of cost overrides in relay
  tensorzero-core/src/cost.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add MoN
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/raw_response/error/mixture_of_n.rs
  tensorzero-core/tests/e2e/raw_response/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added tests for handling of relay cost configs
  gateway/tests/relay/cost.rs
  tensorzero-core/src/cost.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Customize bind address with env var (#6370)
  Cargo.toml
  gateway/src/cli.rs
  gateway/src/main.rs
  gateway/tests/bind_address.rs
  gateway/tests/common/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.misc.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Add reasoning support to SGLang provider (#6364)
  ci/buildkite/modal-warmup.sh
  tensorzero-core/fixtures/deployment/sgl-modal/README.md
  tensorzero-core/fixtures/deployment/sgl-modal/sgl_inference.py
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/helpers.rs
  tensorzero-core/tests/e2e/providers/sglang.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix typo
  tensorzero-core/src/db/postgres/pgcron.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add docs on Apply changes
  docs/deployment/tensorzero-autopilot.mdx
Due: none

Fix typo (#6378)
  tensorzero-core/src/db/postgres/pgcron.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add docs on Apply changes (#6379)
  docs/deployment/tensorzero-autopilot.mdx
Due: none

Fix
  tensorzero-core/src/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  Cargo.toml
  internal/tensorzero-node/lib/bindings/ModelInference.ts
  internal/tensorzero-node/lib/bindings/Usage.ts
  tensorzero-core/src/cost.rs
  tensorzero-core/src/endpoints/internal/model_inferences.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Query for inferences with joins
  .sqlx/query-0d2275b63ea8385f46636aa804affd5eb9b552aeaa911aff34f7fa8897546317.json
  .sqlx/query-5a1c86da16fb7777a8789275e94e5a9d8eae8a58a35c9a7ca72d9245eb4b7fe4.json
  .sqlx/query-6a3696a3de56d6051d1d47a9bb6748a8d640914b43c1ab07ca5b8e6a0a8ecef3.json
  .sqlx/query-80c90c2065413230983ad3faa90bf3f2ddda152be21b16af51a4efaef2d37709.json
  .sqlx/query-b77b11643355d960119dd748d86013ea8160e2dfc61f4184e06c552d0e6ef1ca.json
  .sqlx/query-cd05554b23fc43577847556dadd63ce1d9bc9bcbd0b1d61665abcee866c9fd2a.json
  .sqlx/query-d13c5af22b106eb4703743ac4ed81714bc80932acbd624e43bd188c041fd0e85.json
  clients/python/tests/conftest.py
  clients/python/tests/test_rendering.py
  clients/python/tests/test_stored_inferences_v1.py
  tensorzero-core/src/db/batch_inference.rs
  tensorzero-core/src/db/postgres/batch_inference.rs
  tensorzero-core/src/db/postgres/batching.rs
  tensorzero-core/src/db/postgres/evaluation_queries.rs
  tensorzero-core/src/db/postgres/inference_queries.rs
  tensorzero-core/src/db/postgres/model_inferences.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/tests/e2e/db/batch_inference_endpoint_internals.rs
  tensorzero-core/tests/e2e/db/batch_inference_queries.rs
  tensorzero-core/tests/e2e/db/inference_queries.rs
  tensorzero-core/tests/e2e/db/model_inference_queries.rs
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/endpoints/datasets/clone_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/create_from_inferences.rs
  tensorzero-core/tests/e2e/endpoints/internal/model_inferences.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
  tensorzero-core/tests/e2e/experimental_list_inferences.rs
  ui/app/routes/observability/inferences/$inference_id/InputSection.tsx
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
  ui/fixtures/download_fixtures_consts.py
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/upload-small-fixtures.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Refactor feedback endpoint tests to use mocks instead of DelegatingDatabaseConnection
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/endpoints/feedback/human_feedback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Wait for deferred tasks in feedback success tests
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/testing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Refactor Optimizer trait to use Arc<dyn DelegatingDatabaseQueries> instead of &ClickHouseConnectionInfo
  clients/rust/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/src/endpoints.rs
  tensorzero-optimizers/src/fireworks_sft.rs
  tensorzero-optimizers/src/gcp_vertex_gemini_sft.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/lib.rs
  tensorzero-optimizers/src/openai_rft.rs
  tensorzero-optimizers/src/openai_sft.rs
  tensorzero-optimizers/src/together_sft.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/gepa.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/evaluate.rs
  tensorzero-optimizers/tests/e2e/gepa/mutate.rs
  tensorzero-optimizers/tests/e2e/gepa/pareto.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add --no-fail-fast to Dockerfile.clickhouse nextest entrypoint
  tensorzero-core/tests/e2e/Dockerfile.clickhouse
Due: none

Refactor Optimizer trait to use Arc<dyn DelegatingDatabaseQueries> instead of &ClickHouseConnectionInfo (#6385)
  clients/rust/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/src/endpoints.rs
  tensorzero-optimizers/src/fireworks_sft.rs
  tensorzero-optimizers/src/gcp_vertex_gemini_sft.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/lib.rs
  tensorzero-optimizers/src/openai_rft.rs
  tensorzero-optimizers/src/openai_sft.rs
  tensorzero-optimizers/src/together_sft.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/gepa.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/evaluate.rs
  tensorzero-optimizers/tests/e2e/gepa/mutate.rs
  tensorzero-optimizers/tests/e2e/gepa/pareto.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
