Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Delete migration for now
  internal/tensorzero-auth/src/postgres/migrations/20251016144034_api_key.sql
Due: none

Add gitkeep
  internal/tensorzero-auth/src/postgres/migrations/.gitkeep
Due: none

added to POST bodies
  evaluations/src/helpers.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update old argument name
  internal/tensorzero-node/lib/index.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add sleep statements to dataset tests for clickhouse consistency
  tensorzero-core/tests/e2e/db/dataset_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add sleep statements to dataset tests for clickhouse consistency (#4017)
  tensorzero-core/tests/e2e/db/dataset_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add min prob parameter, make one of the tests less flaky
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename get_feedback_timeseries to get_cumulative_feedback_timeseries for clarity
  internal/tensorzero-node/lib/bindings/GetCumulativeFeedbackTimeseriesParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/tests/e2e/db/bandit_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename FeedbackTimeSeriesPoint to CumulativeFeedbackTimeSeriesPoint for clarity
  internal/tensorzero-node/lib/bindings/CumulativeFeedbackTimeSeriesPoint.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/experimentation/asymptotic_confidence_sequences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add initial 'internal/tensorzero-auth' crate (#4005)
  Cargo.lock
  Cargo.toml
  internal/tensorzero-auth/Cargo.toml
  internal/tensorzero-auth/build.rs
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/lib.rs
  internal/tensorzero-auth/src/postgres/migrations/.gitkeep
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add min prob parameter, make one of the tests less flaky (#4019)
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added to all external interfaces
  clients/python/src/lib.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Wait for gateway to exit
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Stop processing provider stream when a 'fatal' error occurs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/tests/e2e/otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Adjust test
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clippy and always terminate gateway
  .github/workflows/merge-queue.yml
  tensorzero-core/tests/e2e/otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed the FinishReason enum in the python client to match the Rust one
  clients/python/tensorzero/types.py
Due: none

made the field an Option
  clients/python/src/lib.rs
  clients/python/tensorzero/types.py
  evaluations/src/helpers.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added optional provider_tools field to tool call config
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/test_helpers.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added filtering function
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed the FinishReason enum in the python client to match the Rust one (#4028)
  clients/python/tensorzero/types.py
Due: none

borrowing issues
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

improved routing structure for routing add feedback and hover
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

bug resolve
  ui/app/components/inference/InferenceHoverCard.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update ui/app/utils/config/feedback.ts
  ui/app/utils/config/feedback.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename "static evaluations" to "inference evaluations"
  tensorzero-core/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename "static evaluations" to "inference evaluations"
  tensorzero-core/src/endpoints/workflow_evaluation_run.rs
  tensorzero-core/tests/e2e/workflow_evaluations.rs
  ui/app/routes.ts
  ui/app/routes/index.tsx
  ui/app/routes/workflow_evaluations/layout.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvalRunSelector.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationProjectResultsTable.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/route.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/route.tsx
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
  ui/app/utils/urls.test.ts
  ui/e2e_tests/workflow_evaluations.projects.$project_name.spec.ts
  ui/e2e_tests/workflow_evaluations.spec.ts
  ui/fixtures/dynamic_evaluation_run_examples.jsonl
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename "static evaluations" to "inference evaluations"
  tensorzero-core/src/endpoints/workflow_evaluation_run.rs
  tensorzero-core/tests/e2e/workflow_evaluations.rs
  ui/app/components/tags/TagsTable.tsx
  ui/app/utils/clickhouse/workflow_evaluations.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update ui/app/routes.ts
  ui/app/routes.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename "static evaluations" to "inference evaluations"
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationRunBadge.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update ui/app/utils/clickhouse/workflow_evaluations.server.ts
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename "static evaluations" to "inference evaluations"
  docs/docs.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Rename "static evaluations" to "inference evaluations"
  clients/python/tensorzero/tensorzero.pyi
  ui/app/components/tags/TagsTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename "static evaluations" to "inference evaluations"
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename "static evaluations" to "inference evaluations"
  clients/python/tensorzero/tensorzero.pyi
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Apply suggestion from @Copilot
  clients/python/tensorzero/tensorzero.pyi
Due: none

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
