Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Increase number of variants in test for more robust testing
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename test for clarity
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add '--validate-and-exit' flag to gateway binary
  .github/workflows/general.yml
  gateway/src/cli.rs
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Migrate countFeedbackByTargetId (#5262)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/CountFeedbackByTargetIdResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/endpoints/feedback/internal/count_feedback.rs
  tensorzero-core/src/endpoints/feedback/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/feedback.rs
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Run multi-turn thought tests for all 'reasoning_inference' (#5274)
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add durable migrations (#5250)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  Cargo.lock
  Cargo.toml
  tensorzero-core/Cargo.toml
  tensorzero-core/src/db/postgres/migrations/20251217184547_evaluations_topk.sql
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/tests/e2e/docker-compose-common.yml
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Expand assertions for test_topk_evaluator_failure_threshold
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port getEvaluationRunInfosForDatapoint to backend
  gateway/src/routes/internal.rs
  tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  tensorzero-core/src/db/evaluation_queries.rs
  tensorzero-core/src/endpoints/internal/evaluations/get_run_infos.rs
  tensorzero-core/src/endpoints/internal/evaluations/mod.rs
  tensorzero-core/tests/e2e/db/evaluation_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/evaluations.rs
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

edited types to match spec
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

removed unused provider_name method
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Skip credential validation for disabled providers in relay mode
  gateway/tests/relay_credential_validation.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/model_table.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-optimizers/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix ci
  .github/workflows/general.yml
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix typos
  tensorzero-core/src/config/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix lint
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fail fast when regenerating ui model-inference cache
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

Add tensorzero_external_span
  tensorzero-core/src/http.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Unset env var
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

update docs
  docs/docs.json
  docs/recipes/gepa.mdx
  docs/recipes/index.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Simplify test helper
  gateway/tests/relay_credential_validation.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix evals batch runner (#5271)
  evaluations/src/lib.rs
  evaluations/src/topk/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove asserts
  gateway/tests/relay_credential_validation.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add gepa docs
  docs/docs.json
  docs/recipes/gepa.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Change params to avoid possible Clickhouse timing issues
  evaluations/tests/tests.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Revert get_evaluation_run_infos_for_datapoint query to old pattern
  tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  tensorzero-core/src/db/evaluation_queries.rs
  tensorzero-core/src/endpoints/internal/evaluations/get_run_infos.rs
  tensorzero-core/tests/e2e/db/evaluation_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/evaluations.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fail fast when regenerating ui model-inference cache (#5288)
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

update index
  docs/recipes/index.mdx
Due: none

Migrate getFunctionThroughputByVariant
  Cargo.lock
  Cargo.toml
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/GetFunctionThroughputByVariantResponse.ts
  internal/tensorzero-node/lib/bindings/VariantThroughput.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/Cargo.toml
  tensorzero-core/src/db/clickhouse/inference_stats.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inference_stats.rs
  tensorzero-core/src/endpoints/internal/inference_stats.rs
  tensorzero-core/src/serde_util.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/db/inference_stats_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/inference_stats.rs
  ui/app/components/function/variant/VariantThroughput.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use idiomatic Rust Duration and ClickHouse UUIDv7ToDateTime for time window filtering
  internal/tensorzero-node/lib/bindings/VariantThroughput.ts
  tensorzero-core/src/db/clickhouse/inference_stats.rs
  tensorzero-core/tests/e2e/endpoints/internal/inference_stats.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Mount UI fixture configs that are used in e2e tests
  tensorzero-core/tests/e2e/docker-compose.live.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add API for config writing (#5195)
  clients/rust/src/lib.rs
  gateway/src/routes/internal.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/internal/config.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/endpoints/internal/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update docs/recipes/gepa.mdx
  docs/recipes/gepa.mdx
Due: none

Move small fixtures to R2
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add update_variant_status() and unit tests
  evaluations/src/topk/mod.rs
  evaluations/src/topk/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate getWorkflowEvaluationRunStatisticsByMetricName
  evaluations/src/lib.rs
  evaluations/src/stats.rs
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/GetWorkflowEvaluationRunStatisticsResponse.ts
  internal/tensorzero-node/lib/bindings/WorkflowEvaluationRunStatistics.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/workflow_evaluation_queries.rs
  tensorzero-core/src/db/workflow_evaluation_queries.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/get_run_statistics.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/mod.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/types.rs
  tensorzero-core/src/lib.rs
  tensorzero-core/src/statistics_util.rs
  tensorzero-core/tests/e2e/db/workflow_evaluation_queries.rs
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationProjectResultsTable.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/route.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/WorkflowEvaluationRunEpisodesTable.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/route.tsx
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
  ui/app/utils/clickhouse/workflow_evaluations.test.ts
  ui/app/utils/clickhouse/workflow_evaluations.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Migrate getFunctionThroughputByVariant (#5243)
  Cargo.lock
  Cargo.toml
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/GetFunctionThroughputByVariantResponse.ts
  internal/tensorzero-node/lib/bindings/VariantThroughput.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/Cargo.toml
  tensorzero-core/src/db/clickhouse/inference_stats.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inference_stats.rs
  tensorzero-core/src/endpoints/internal/inference_stats.rs
  tensorzero-core/src/serde_util.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/db/inference_stats_queries.rs
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/endpoints/internal/inference_stats.rs
  ui/app/components/function/variant/VariantThroughput.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add script
  .github/workflows/general.yml
  docs/recipes/gepa.mdx
  examples/docs/guides/optimization/gepa/README.md
  examples/docs/guides/optimization/gepa/config/evaluations/extract_entities/judge_improvement/system_instructions.txt
  examples/docs/guides/optimization/gepa/config/evaluations/extract_entities/judge_repetition/system_instructions.txt
  examples/docs/guides/optimization/gepa/config/evaluations/extract_entities/judge_verbatim/system_instructions.txt
  examples/docs/guides/optimization/gepa/config/functions/extract_entities/initial_prompt/system_template.minijinja
  examples/docs/guides/optimization/gepa/config/functions/extract_entities/output_schema.json
  examples/docs/guides/optimization/gepa/config/tensorzero.toml
  examples/docs/guides/optimization/gepa/docker-compose copy.yml
  examples/docs/guides/optimization/gepa/docker-compose.yml
  examples/docs/guides/optimization/gepa/main.py
  examples/docs/guides/optimization/gepa/ner.py
  examples/docs/guides/optimization/gepa/pyproject.toml
  examples/docs/guides/optimization/gepa/uv.lock
  examples/docs/guides/optimization/optimize-with-gepa/pyproject.toml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
