Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Test
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/commonv2/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Warning fix
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/aws-sagemaker.mdx
  tensorzero-core/src/providers/aws_common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

more logging
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/embeddings.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add randomization to the input to avoid cache collisions
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add randomized input to avoid cache collisions in test
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add extra_headers support for embedding models (#5352)
  internal/tensorzero-node/lib/bindings/EmbeddingProviderInfo.ts
  internal/tensorzero-node/lib/bindings/ExtraHeader.ts
  internal/tensorzero-node/lib/bindings/ExtraHeadersConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/config/stored/mod.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-optimizers/src/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  gateway/tests/relay/raw_response.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/openai_compatible/types/embeddings.rs
  tensorzero-core/src/relay.rs
  tensorzero-core/tests/e2e/raw_response/cache.rs
  tensorzero-core/tests/e2e/raw_response/embeddings.rs
  tensorzero-core/tests/e2e/raw_response/mod.rs
  tensorzero-core/tests/e2e/raw_response/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  gateway/tests/relay/raw_response.rs
  tensorzero-core/tests/e2e/raw_response/embeddings.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  gateway/tests/relay/raw_response.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/raw_response/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Improvements and safeguards to output usage counting (#5701)
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_tgi.rs
  tensorzero-core/tests/e2e/providers/azure.rs
  tensorzero-core/tests/e2e/providers/azure_ai_foundry.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/commonv2/mod.rs
  tensorzero-core/tests/e2e/providers/commonv2/usage.rs
  tensorzero-core/tests/e2e/providers/deepseek.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/providers/hyperbolic.rs
  tensorzero-core/tests/e2e/providers/mistral.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-core/tests/e2e/providers/openrouter.rs
  tensorzero-core/tests/e2e/providers/sglang.rs
  tensorzero-core/tests/e2e/providers/tgi.rs
  tensorzero-core/tests/e2e/providers/together.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
  tensorzero-core/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix Anthropic usage warning
  tensorzero-core/src/inference/types/usage.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix Anthropic usage warning
  tensorzero-core/src/inference/types/usage.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Enable reasoning tests
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Enable reasoning tests - GCP Anthropic
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Enable reasoning tests - GCP Vertex Gemini
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update contributing guide
  CONTRIBUTING.md
  ui/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix Anthropic usage warning (#5712)
  tensorzero-core/src/inference/types/usage.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added handling for streaming events / postgres to NER example
  examples/data-extraction-ner/docker-compose.yml
  ui/app/hooks/useAutopilotEventStream.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Stop making git optional (#5650)
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/client/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
Due: none

Normalize versions to 0.0.0 to mean 'unversioned'
  Cargo.lock
  clients/rust/Cargo.toml
  examples/multimodal-vision-finetuning/pyproject.toml
  examples/multimodal-vision-finetuning/uv.lock
  internal/tensorzero-derive/Cargo.toml
  provider-proxy/Cargo.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/pyproject.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/uv.lock
  tensorzero-core/fixtures/deployment/sagemaker-tgi/pyproject.toml
  tensorzero-core/fixtures/deployment/sagemaker-tgi/uv.lock
  tensorzero-core/tests/mock-provider-api/Cargo.toml
Due: none

Fix issues with Alert Dialog and toasts
  ui/app/components/function/FunctionInfo.tsx
  ui/app/components/function/FunctionLink.tsx
  ui/app/components/function/variant/VariantLink.tsx
  ui/app/components/ui/AlertDialog.tsx
  ui/app/components/ui/TableItems.tsx
  ui/app/routes/datasets/DatasetTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

make dispatch tests mandatory
  .github/workflows/dispatch-autopilot-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

update tests
  ui/e2e_tests/datasets.datapoint.try-with.spec.ts
  ui/e2e_tests/evaluations.eval_name.datapoint_id.spec.ts
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  internal/tensorzero-types/src/storage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add pooled manager
  tensorzero-core/src/db/postgres/rate_limiting.rs
  tensorzero-core/src/db/rate_limiting.rs
  tensorzero-core/src/rate_limiting/batching_buffer.rs
  tensorzero-core/src/rate_limiting/exhaustion_backoff.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/rate_limiting/token_pool.rs
  tensorzero-core/src/rate_limiting/usage_tracker.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add load test setup
  tensorzero-core/tests/load/rate-limit-load-test/README.md
  tensorzero-core/tests/load/rate-limit-load-test/src/benchmark.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  tensorzero-core/src/endpoints/openai_compatible/types/tool.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/tool/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Normalize versions to 0.0.0 to mean 'unversioned' (#5719)
  Cargo.lock
  clients/rust/Cargo.toml
  examples/multimodal-vision-finetuning/pyproject.toml
  examples/multimodal-vision-finetuning/uv.lock
  internal/tensorzero-derive/Cargo.toml
  provider-proxy/Cargo.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/pyproject.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/uv.lock
  tensorzero-core/fixtures/deployment/sagemaker-tgi/pyproject.toml
  tensorzero-core/fixtures/deployment/sagemaker-tgi/uv.lock
  tensorzero-core/tests/mock-provider-api/Cargo.toml
Due: none

Fix
  internal/autopilot-client/src/types.rs
  tensorzero-core/src/config/provider_types.rs
  tensorzero-core/src/endpoints/openai_compatible/types/chat_completions.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
