Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
        exclude: |
          (?x)
          gateway/src/inference/providers/gcp_vertex_gemini\.rs|
          CONTRIBUTING\.md
      - id: end-of-file-fixer
        exclude: \.minijinja$
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check bans
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-unit
        name: cargo test-unit
        entry: cargo test-unit
        language: system
        types: [rust]
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd ui && npm run format'
        language: node
        types_or:
          [css, html, javascript, json, jsx, markdown, scss, ts, tsx, yaml]
        additional_dependencies:
          - prettier
          - prettier-plugin-tailwindcss
          - "@prettier/plugin-xml"
        exclude: '.*\.ipynb$'
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd ui && npm run lint'
        language: node
        types_or: [javascript, jsx, ts, tsx]
        additional_dependencies:
          - eslint
          - "@typescript-eslint/parser"
          - "@typescript-eslint/eslint-plugin"
        pass_filenames: false

      - id: tsc
        name: tsc
        entry: bash -c 'cd ui && npm run typecheck'
        language: node
        types_or: [ts, tsx]
        additional_dependencies:
          - typescript
        pass_filenames: false

  - repo: https://github.com/srstevenson/nb-clean
    rev: 3.2.0
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        args: ["--extend-select", "I", "--fix"]
      - id: ruff-format
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.391
    hooks:
      - id: pyright
        name: "pyright: clients/python"
        files: ^clients/python/
        args: ["--project", "clients/python/pyproject.toml"]
        additional_dependencies:
          - httpx
          - uuid_utils

      - id: pyright
        name: "pyright: clients/openai-python"
        files: ^clients/openai-python/
        args: ["--project", "clients/openai-python/pyrightconfig.json"]
        additional_dependencies:
          - openai

feat: add e2e test
  tensorzero_internal/tests/e2e/providers/mod.rs
  tensorzero_internal/tests/e2e/providers/openrouter.rs
  tensorzero_internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

remve old code-comments
  tensorzero_internal/tests/e2e/providers/fireworks.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Debug-print error when clickhouse health check fails
  tensorzero_internal/src/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Implement initial Rust client with http and embedded gateway (#817)
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  clients/placeholder-rust/Cargo.lock
  clients/placeholder-rust/Cargo.toml
  clients/placeholder-rust/README.md
  clients/placeholder-rust/src/main.rs
  clients/rust/Cargo.toml
  clients/rust/examples/inference_demo/README.md
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/client_inference_params.rs
  clients/rust/src/lib.rs
  gateway/Cargo.toml
  gateway/src/main.rs
  tensorzero_internal/Cargo.toml
  tensorzero_internal/src/clickhouse.rs
  tensorzero_internal/src/config_parser.rs
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/openai_compatible.rs
  tensorzero_internal/src/error.rs
  tensorzero_internal/src/gateway_util.rs
  tensorzero_internal/src/inference/types/mod.rs
  tensorzero_internal/src/tool.rs
  tensorzero_internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

Add link to pyo3 issue
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Make 'url' a workspace dep
  Cargo.toml
  clients/python-pyo3/Cargo.toml
  clients/rust/Cargo.toml
  tensorzero_internal/Cargo.toml
Due: none

Address review comments
  clients/python-pyo3/README.me
  clients/python-pyo3/demo.py
  clients/python-pyo3/demo.sh
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/src/python_helpers.rs
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tensorzero/client.py
  clients/python-pyo3/tensorzero/py.typed
  clients/python-pyo3/tensorzero/tensorzero.pyi
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
  clients/python-pyo3/uv.lock
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use relative paths in test
  clients/python-pyo3/tests/test_client.py
Due: none

Add initial pyo3-based Python client
  .github/workflows/general.yml
  Cargo.lock
  Cargo.toml
  clients/python-pyo3/.gitignore
  clients/python-pyo3/Cargo.toml
  clients/python-pyo3/README.me
  clients/python-pyo3/demo.py
  clients/python-pyo3/demo.sh
  clients/python-pyo3/pyproject.toml
  clients/python-pyo3/pytest.ini
  clients/python-pyo3/requirements.in
  clients/python-pyo3/requirements.txt
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/src/python_helpers.rs
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/test.sh
  clients/python-pyo3/tests/test_client.py
  clients/rust/Cargo.toml
  clients/rust/src/client_inference_params.rs
  clients/rust/src/lib.rs
  gateway/Cargo.toml
  tensorzero_internal/Cargo.toml
  tensorzero_internal/src/endpoints/feedback.rs
  tensorzero_internal/tests/mock-inference-provider/Cargo.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

Start adding python-related comments
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Extract code to helper function
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix another import error
  clients/python-pyo3/tests/test_client.py
Due: none

Address review comments
  clients/python-pyo3/README.md
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

Make test.sh use uv
  clients/python-pyo3/test.sh
Due: none

Run PyO3 client tests as part of merge queue
  .github/workflows/merge-queue.yml
  clients/python-pyo3/demo.py
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tests/test_client.py
Due: prettier

Fix doc comment
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Format imports
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tensorzero/client.py
  clients/python-pyo3/tensorzero/tensorzero.pyi
  clients/python-pyo3/tests/test_client.py
Due: none

Remove patchelf
  clients/python-pyo3/requirements.in
  clients/python-pyo3/requirements.txt
Due: none

changed ch settings for performance
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0011.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Wake up Clickhouse before running batch tests
  .github/workflows/merge-queue.yml
Due: prettier

Debug-print error when clickhouse health check fails (#865)
  tensorzero_internal/src/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Wake up Clickhouse before running batch tests (#868)
  .github/workflows/merge-queue.yml
Due: prettier

Try out testpypi publishing
  .github/workflows/docker-hub-publish.yml
  .github/workflows/pypi-publish.yml
Due: prettier

Set working directory
  .github/workflows/pypi-publish.yml
Due: prettier

Try to correct set working directory
  .github/workflows/pypi-publish.yml
Due: prettier

Add missing working-directory
  .github/workflows/pypi-publish.yml
Due: prettier

Remove unused 'signal' dependency
  Cargo.lock
  tensorzero_internal/Cargo.toml
Due: none

Update Cargo.lock
  Cargo.lock
Due: none

Use arm runners for pypi publish
  .github/workflows/pypi-publish.yml
Due: prettier

Fix inference_demo
  clients/rust/examples/inference_demo/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add new `model_name` parameter to `/inference`
  clients/rust/src/client_inference_params.rs
  tensorzero_internal/src/config_parser.rs
  tensorzero_internal/src/endpoints/batch_inference.rs
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/openai_compatible.rs
  tensorzero_internal/src/error.rs
  tensorzero_internal/src/inference/types/batch.rs
  tensorzero_internal/src/model.rs
  tensorzero_internal/src/variant/best_of_n_sampling.rs
  tensorzero_internal/src/variant/chat_completion.rs
  tensorzero_internal/src/variant/dicl.rs
  tensorzero_internal/src/variant/mixture_of_n.rs
  tensorzero_internal/tests/e2e/inference.rs
  tensorzero_internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix e2e tests
  tensorzero_internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Address review comments
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/error.rs
  tensorzero_internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Run upload job
  .github/workflows/pypi-publish.yml
Due: prettier

Update test to check for BAD_GATEWAY
  tensorzero_internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix attestation path
  .github/workflows/pypi-publish.yml
Due: prettier

Upload everything for sdist
  .github/workflows/pypi-publish.yml
Due: prettier

Try sdist again
  .github/workflows/pypi-publish.yml
Due: prettier

Try sdist yet again
  .github/workflows/pypi-publish.yml
Due: prettier
