Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Prevent POST request handlers from getting cancelled
  crates/Cargo.lock
  crates/Cargo.toml
  crates/gateway/Cargo.toml
  crates/gateway/src/router.rs
  crates/gateway/tests/logging.rs
  crates/provider-proxy/Cargo.toml
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Address review: keep provider serde types faithful to API wire format
  crates/tensorzero-core/src/providers/anthropic.rs
  crates/tensorzero-core/src/providers/aws_bedrock.rs
  crates/tensorzero-core/src/providers/azure.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/together.rs
  crates/tensorzero-types-providers/src/aws_bedrock.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added a comment to InferenceFilters saying we should be careful about breaking changes
  crates/tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  crates/tensorzero-node/lib/bindings/InferenceFilter.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

feat: Add evaluation usage statistics backend endpoint
  crates/gateway/src/routes/internal.rs
  crates/tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  crates/tensorzero-core/src/db/delegating_connection.rs
  crates/tensorzero-core/src/db/evaluation_queries.rs
  crates/tensorzero-core/src/db/postgres/evaluation_queries.rs
  crates/tensorzero-core/src/endpoints/internal/evaluations/get_usage_statistics.rs
  crates/tensorzero-core/src/endpoints/internal/evaluations/mod.rs
  crates/tensorzero-core/src/endpoints/internal/evaluations/types.rs
  crates/tensorzero-core/tests/e2e/endpoints/internal/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Adjust error message
  crates/gateway/src/router.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

feat: Add per-row usage fields (tokens, cost, processing time) to evaluation results
  crates/tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  crates/tensorzero-core/src/db/evaluation_queries.rs
  crates/tensorzero-core/src/db/postgres/evaluation_queries.rs
  crates/tensorzero-core/src/endpoints/internal/evaluations/get_evaluation_results.rs
  crates/tensorzero-node/lib/bindings/ChatEvaluationResultRow.ts
  crates/tensorzero-node/lib/bindings/EvaluationUsageStatistics.ts
  crates/tensorzero-node/lib/bindings/GetEvaluationUsageStatisticsResponse.ts
  crates/tensorzero-node/lib/bindings/JsonEvaluationResultRow.ts
  crates/tensorzero-node/lib/bindings/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add demo to README
  README.md
  docs/deployment/tensorzero-autopilot.mdx
  docs/docs.json
  examples/autopilot/benchmarks/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

feat: Add Usage column to evaluation results table
  ui/app/routes/evaluations/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add provider-proxy cache hit/miss stats to CI job summaries
  .github/workflows/client-tests.yml
  .github/workflows/inference-cache-tests.yml
  .github/workflows/live-tests.yml
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add TensorZero Autopilot section to README
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update README.md
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

feat: Add per-row usage fields (tokens, cost, processing time) to evaluation results
  crates/tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  crates/tensorzero-core/src/db/evaluation_queries.rs
  crates/tensorzero-core/src/db/postgres/evaluation_queries.rs
  crates/tensorzero-core/src/endpoints/internal/evaluations/get_evaluation_results.rs
  crates/tensorzero-node/lib/bindings/ChatEvaluationResultRow.ts
  crates/tensorzero-node/lib/bindings/JsonEvaluationResultRow.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Touch provider-proxy to trigger full CI
  crates/provider-proxy/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add a way to pass header flags to autopilot API
  ui/app/utils/env.server.ts
  ui/app/utils/get-autopilot-client.server.ts
  ui/app/utils/tensorzero/autopilot-client.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix cache_token_columns migration overwriting count_with_cost in refresh function
  crates/tensorzero-core/src/db/postgres/migrations/20260313000000_cache_token_columns.sql
Due: none

Fix test
  crates/tensorzero-core/tests/e2e/template.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Instrument spawned futures
  crates/gateway/src/router.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make dependabot use /crates directory for Cargo updates
  .github/dependabot.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

add a way to pass header flags to autopilot API (#7061)
  ui/app/utils/env.server.ts
  ui/app/utils/get-autopilot-client.server.ts
  ui/app/utils/tensorzero/autopilot-client.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add an Interrupted type to auth and descision source
  crates/autopilot-client/src/client.rs
  crates/autopilot-client/src/types/mod.rs
  crates/tensorzero-node/lib/bindings/ToolCallAuthorizationStatus.ts
  crates/tensorzero-node/lib/bindings/ToolCallDecisionSource.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add per-inference `count_with_cost` column to rollup tables (#6904)
  crates/tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0052.rs
  crates/tensorzero-core/src/db/clickhouse/migration_manager/migrations/mod.rs
  crates/tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  crates/tensorzero-core/src/db/clickhouse/model_inferences.rs
  crates/tensorzero-core/src/db/delegating_connection.rs
  crates/tensorzero-core/src/db/postgres/migrations/20260312120000_model_provider_statistics_count_with_cost.sql
  crates/tensorzero-core/src/db/postgres/model_inferences.rs
  crates/tensorzero-core/src/db/test_helpers.rs
  crates/tensorzero-core/tests/e2e/clickhouse.rs
  crates/tensorzero-core/tests/e2e/db/evaluation_queries.rs
  crates/tensorzero-core/tests/e2e/db/model_provider_statistics_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Prevent POST request handlers from getting cancelled (#7054)
  crates/Cargo.lock
  crates/Cargo.toml
  crates/gateway/Cargo.toml
  crates/gateway/src/router.rs
  crates/gateway/tests/logging.rs
  crates/provider-proxy/Cargo.toml
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/tests/e2e/template.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add an Interrupted type to auth and decision source (#7062)
  crates/autopilot-client/src/client.rs
  crates/autopilot-client/src/types/mod.rs
  crates/tensorzero-node/lib/bindings/ToolCallAuthorizationStatus.ts
  crates/tensorzero-node/lib/bindings/ToolCallDecisionSource.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add demo to README (#7056)
  README.md
  docs/deployment/tensorzero-autopilot.mdx
  docs/docs.json
  examples/autopilot/benchmarks/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fix: use string concatenation in stream proxy to respect base_path
  ui/app/routes/api/autopilot/sessions/$session_id/events/stream.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix live batch Postgres test setup
  .github/workflows/live-batch-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump to 2026.3.4
  crates/Cargo.lock
  crates/Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  examples/production-deployment-k8s-helm/tests/__snapshot__/snapshots_test.yaml.snap
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make dependabot use /crates directory for Cargo updates (#7059)
  .github/dependabot.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump to 2026.3.4 (#7066)
  crates/Cargo.lock
  crates/Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  examples/production-deployment-k8s-helm/tests/__snapshot__/snapshots_test.yaml.snap
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed ui tests
  ui/app/components/autopilot/EventStream.tsx
  ui/e2e_tests/autopilot/autopilot.spec.ts
  ui/e2e_tests/autopilot/variant-performance-visualization.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix: Remove extra closing paren in inference_usage CTE
  crates/tensorzero-core/src/db/postgres/evaluation_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix: Cast ClickHouse SUM aggregates to typed columns for proper JSON deserialization
  crates/tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  crates/tensorzero-core/tests/e2e/db/evaluation_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed types
  ui/app/components/autopilot/AutoEvalExampleLabeling.stories.tsx
  ui/app/components/autopilot/AutoEvalExampleLabeling.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add helper for constructing gateway urls
  ui/app/routes/api/auth/set_gateway_key.route.ts
  ui/app/routes/api/autopilot/sessions/$session_id/events/stream.route.ts
  ui/app/utils/gateway-url.test.ts
  ui/app/utils/gateway-url.ts
  ui/app/utils/tensorzero/autopilot-client.ts
  ui/app/utils/tensorzero/base-client.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix tests to avoid missing fields
  ui/e2e_tests/autopilot/variant-performance-visualization.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix tests to avoid missing fields (#7073)
  ui/e2e_tests/autopilot/variant-performance-visualization.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix: Add serde deserializers for ClickHouse nullable numeric types in evaluation results
  crates/tensorzero-core/src/db/evaluation_queries.rs
  crates/tensorzero-core/src/serde_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
