Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

refactor datapoint insert endpoint; add client methods (#2064)
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tensorzero/tensorzero.pyi
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
  clients/rust/src/lib.rs
  gateway/src/main.rs
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use 'ADD INDEX IF NOT EXISTS'
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0027.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add extra 'where' clause to query
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed bad materialized view and tests pass
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  ui/e2e_tests/dynamic_evaluations.projects.$project_name.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

forgot a file
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0023.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0028.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

split the materialized view into two views
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0023.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0028.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Increase check-docker-compose wait timeout
  ci/check-docker-compose.sh
Due: none

Use a tuple for CTE
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0028.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Another query replacement
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0028.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try sccache again for ui Dockerfile
  ui/Dockerfile
Due: none

Try without registry mounts
  ui/Dockerfile
Due: none

Use DisplayOrDebugGateway for clickhouse error
  tensorzero-internal/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.5.1
  Cargo.lock
  Cargo.toml
  ui/app/utils/config/index.test.ts
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

wip
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0027.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.5.1 (#2079)
  Cargo.lock
  Cargo.toml
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add OTel example (#2055)
  examples/guides/opentelemetry-otlp/README.md
  examples/guides/opentelemetry-otlp/config/tensorzero.toml
  examples/guides/opentelemetry-otlp/docker-compose.yml
  examples/guides/opentelemetry-otlp/jaeger-config.yaml
  tensorzero-internal/tests/e2e/docker-compose.yml
Due: prettier: ui, prettier: openai-node

Update
  examples/guides/tool-use/main_openai.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Support batch API for GCP Vertex Anthropic
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add Claude 3.5 haiku to tests, which supports batches
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

make_provider_batch_inference_output() was way off
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Handle quota errors (no type, extra fields)
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Copy over openai example guide
  examples/guides/providers/groq/README.md
  examples/guides/providers/groq/config/tensorzero.toml
  examples/guides/providers/groq/docker-compose.yml
Due: prettier: ui, prettier: openai-node

Copy over src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove openai tests
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Ensure test sends correct schema to the tool
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Groq doesn't follow allowed_tools
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix dynamic model
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Unnecessary comment in Groq's context
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add missing json_mode_off_inference field, no tests for now
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update README
  README.md
Due: prettier: ui, prettier: openai-node

Copy over openai e2e test
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix base url
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Handle specific error responses
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add dynamic_json variants
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Rename functions
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Expose new groq provider outside src/inference/providers
  tensorzero-internal/src/inference/providers/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Rename api key in e2e test
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Handle extra headers
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
