Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Start deprecating `timeout_s` in `experimental_*_of_n` (#5308)
  docs/gateway/configuration-reference.mdx
  internal/tensorzero-node/lib/bindings/BestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/MixtureOfNConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedBestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedMixtureOfNConfig.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantBasicInfo.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

document
  gateway/src/cli.rs
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update tests to use distinct durable queues to avoid sharing state
  evaluations/src/topk/mod.rs
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed renaming for prometheus metric
  tensorzero-core/src/observability/overhead_timing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Reduce sleep times, increase batch sizes to speed up tests
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

made registration fail on duplicates
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

removed accessor to registry from ToolContext
  internal/durable-tools/src/context.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Record value in seconds
  tensorzero-core/src/observability/overhead_timing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Only record overhead for finished requests
  tensorzero-core/src/observability/request_logging.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed test assertions in Python
  clients/python/tests/test_client.py
Due: none

fixed additional PR comment for handling durable error
  internal/durable-tools/src/error.rs
  internal/durable-tools/src/executor.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed merge queue
  Cargo.lock
Due: none

split many wire types into tensorzero-types (#5345)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  clients/python/generate_schema_types.py
  clients/python/tests/test_client.py
  evaluations/src/lib.rs
  internal/tensorzero-types/Cargo.toml
  internal/tensorzero-types/src/content.rs
  internal/tensorzero-types/src/error.rs
  internal/tensorzero-types/src/file.rs
  internal/tensorzero-types/src/lib.rs
  internal/tensorzero-types/src/message.rs
  internal/tensorzero-types/src/role.rs
  internal/tensorzero-types/src/storage.rs
  internal/tensorzero-types/src/tool.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/cache.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible/types/chat_completions.rs
  tensorzero-core/src/endpoints/openai_compatible/types/input_files.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/inference/types/file.rs
  tensorzero-core/src/inference/types/input_message.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/role.rs
  tensorzero-core/src/inference/types/storage.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/tool/call.rs
  tensorzero-core/src/tool/mod.rs
  tensorzero-core/src/tool/wire.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-optimizers/src/gepa/analyze.rs
  tensorzero-optimizers/src/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix comments
  tensorzero-core/src/observability/overhead_timing.rs
  tensorzero-core/src/observability/request_logging.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add comprehensive docstrings
  evaluations/src/topk/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Final touches
  docs/optimization/gepa.mdx
  examples/docs/guides/optimization/gepa/config/tensorzero.toml
  examples/evaluations/tutorial/config/tensorzero.toml
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add docstrings
  evaluations/src/topk/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Delete dead code
  tensorzero-core/src/observability/overhead_timing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add validation for batch_size param
  evaluations/src/topk/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Get rid of 'kind' and only record for inferences
  gateway/tests/prometheus.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/observability/overhead_timing.rs
  tensorzero-core/src/observability/request_logging.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

expect clippy option_option lint for serde
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/src/serde_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add crate for tool execution on top of `durable` (#5354)
  Cargo.lock
  Cargo.toml
  internal/durable-tools/Cargo.toml
  internal/durable-tools/README.md
  internal/durable-tools/src/context.rs
  internal/durable-tools/src/error.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/inference.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use Cloudflare R2 credentials when download fixtures on Buildkite (#5366)
  ci/buildkite/test-clickhouse-cloud.sh
Due: none

Delete stale cache files on cache miss in provider-proxy (#5365)
  provider-proxy/src/lib.rs
  provider-proxy/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add a proxied autopilot API to the gateway (#5349)
  Cargo.lock
  gateway/src/routes/internal.rs
  internal/autopilot-client/Cargo.toml
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/endpoints/internal/autopilot.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port countInferencesByFunction to backend API
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/FunctionInferenceCount.ts
  internal/tensorzero-node/lib/bindings/ListFunctionsWithInferenceCountResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/inference_stats.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inference_stats.rs
  tensorzero-core/src/endpoints/internal/inference_stats.rs
  tensorzero-core/tests/e2e/db/inference_stats_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/inference_stats.rs
  ui/app/routes/index.tsx
  ui/app/routes/observability/functions/FunctionsTable.tsx
  ui/app/routes/observability/functions/route.tsx
  ui/app/routes/observability/inferences/route.tsx
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Only report 'variant_name' when a single variant was run
  gateway/tests/prometheus.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/internal/action.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add function_name/variant_name/model_name labels to overhead metric (#5333)
  gateway/tests/prometheus.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/internal/action.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/src/observability/overhead_timing.rs
  tensorzero-core/src/observability/request_logging.rs
  tensorzero-core/src/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate getEvaluationsForDatapoint
  tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  tensorzero-core/src/db/evaluation_queries.rs
  tensorzero-core/src/endpoints/internal/evaluations/get_evaluation_results.rs
  tensorzero-core/tests/e2e/db/evaluation_queries.rs
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

moved output and sideinfo to metadata
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/src/tool_metadata.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Split durable tools crate into spawn + full parts (#5358)
  Cargo.lock
  Cargo.toml
  internal/durable-tools-spawn/Cargo.toml
  internal/durable-tools-spawn/src/client.rs
  internal/durable-tools-spawn/src/error.rs
  internal/durable-tools-spawn/src/lib.rs
  internal/durable-tools-spawn/src/params.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/task_tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add trait + registry for client-side tools (#5318)
  .github/workflows/general.yml
  Cargo.lock
  Cargo.toml
  internal/autopilot-tools/Cargo.toml
  internal/autopilot-tools/src/lib.rs
  internal/durable-tools-spawn/Cargo.toml
  internal/durable-tools-spawn/src/client.rs
  internal/durable-tools-spawn/src/error.rs
  internal/durable-tools-spawn/src/lib.rs
  internal/durable-tools-spawn/src/params.rs
  internal/durable-tools/README.md
  internal/durable-tools/src/context.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/src/tool_metadata.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

added optional, cleaned up missing types
  internal/autopilot-client/src/types.rs
  internal/tensorzero-node/lib/bindings/CreateEventRequest.ts
  internal/tensorzero-node/lib/bindings/ListEventsParams.ts
  internal/tensorzero-node/lib/bindings/ListSessionsParams.ts
  internal/tensorzero-node/lib/bindings/StreamEventsParams.ts
  internal/tensorzero-node/lib/bindings/ToolCallApproval.ts
  internal/tensorzero-node/lib/bindings/ToolCallDecisionSource.ts
  internal/tensorzero-node/lib/bindings/ToolOutcome.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

gave a status to approvals
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

renamed to authorization
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix enum arm name
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed tool call handling
  internal/autopilot-client/src/client.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

make parameters_schema() return a result
  internal/autopilot-tools/src/lib.rs
  internal/durable-tools/README.md
  internal/durable-tools/src/error.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/src/tool_metadata.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

export AuthorizationStatus
  internal/autopilot-client/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped together model to a recent Qwen and disabled the invalid request test
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/together.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
