Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Bump durable for error type refactor (#7175)
  crates/Cargo.lock
  crates/Cargo.toml
  crates/durable-tools/src/error.rs
  crates/durable-tools/src/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bugfix: config_snapshot_hash and tests for existing MCP tools
  crates/tensorzero-core/tests/e2e/mcp/list_tools.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added MCP tools for run evaluation, launch optimization, and GEPA
  crates/Cargo.lock
  crates/tensorzero-core/tests/e2e/mcp/launch_gepa.rs
  crates/tensorzero-core/tests/e2e/mcp/launch_optimization.rs
  crates/tensorzero-core/tests/e2e/mcp/mod.rs
  crates/tensorzero-core/tests/e2e/mcp/run_evaluation.rs
  crates/tensorzero-mcp/Cargo.toml
  crates/tensorzero-mcp/src/handler.rs
  crates/tensorzero-mcp/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed stale test assertion
  crates/tensorzero-core/tests/e2e/mcp/list_tools.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Sort content_type_overrides alphabetically within OpenAI section
  docs/gateway/configuration-reference.mdx
Due: none

Add tools and evaluations types for config-in-database (#7134)
  crates/Cargo.lock
  crates/Cargo.toml
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/evaluations/mod.rs
  crates/tensorzero-core/src/inference/types/extra_body.rs
  crates/tensorzero-core/src/inference/types/extra_headers.rs
  crates/tensorzero-core/src/utils/retries.rs
  crates/tensorzero-stored-config/AGENTS.md
  crates/tensorzero-stored-config/CLAUDE.md
  crates/tensorzero-stored-config/Cargo.toml
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_evaluation_config.rs
  crates/tensorzero-stored-config/src/stored_extra_body.rs
  crates/tensorzero-stored-config/src/stored_extra_headers.rs
  crates/tensorzero-stored-config/src/stored_prompt_template.rs
  crates/tensorzero-stored-config/src/stored_tool_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

refactor: rename tensorzero-types-providers to tensorzero-provider-wire
  crates/Cargo.lock
  crates/Cargo.toml
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/providers/AGENTS.md
  crates/tensorzero-core/src/providers/aws_bedrock.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/fireworks/mod.rs
  crates/tensorzero-core/src/providers/groq.rs
  crates/tensorzero-core/src/providers/mistral.rs
  crates/tensorzero-core/src/providers/openai/mod.rs
  crates/tensorzero-core/src/providers/openrouter.rs
  crates/tensorzero-core/src/providers/together.rs
  crates/tensorzero-core/src/providers/vllm.rs
  crates/tensorzero-core/src/providers/xai.rs
  crates/tensorzero-provider-types/Cargo.toml
  crates/tensorzero-provider-types/src/lib.rs
  crates/tensorzero-provider-wire/Cargo.toml
  crates/tensorzero-provider-wire/src/aws_bedrock.rs
  crates/tensorzero-provider-wire/src/cache.rs
  crates/tensorzero-provider-wire/src/deepseek.rs
  crates/tensorzero-provider-wire/src/fireworks.rs
  crates/tensorzero-provider-wire/src/groq.rs
  crates/tensorzero-provider-wire/src/lib.rs
  crates/tensorzero-provider-wire/src/mistral.rs
  crates/tensorzero-provider-wire/src/openai.rs
  crates/tensorzero-provider-wire/src/openrouter.rs
  crates/tensorzero-provider-wire/src/serde_util.rs
  crates/tensorzero-provider-wire/src/together.rs
  crates/tensorzero-provider-wire/src/xai.rs
  examples/autopilot/benchmarks/config-applier-cli/Cargo.lock
  examples/integrations/cursor/feedback/Cargo.lock
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Document `content_type_overrides` in config reference (#7171)
  docs/gateway/configuration-reference.mdx
Due: none

Fix clippy
  crates/tensorzero-core/src/endpoints/episodes/internal/get_episode_inference_count.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Suppress ERROR log from SYSTEM FLUSH ASYNC INSERT QUEUE on older ClickHouse
  crates/tensorzero-core/src/db/test_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Change default writing strategy from sync to batch writes
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/snapshot/observability_config.rs
  docs/deployment/optimize-latency-and-throughput.mdx
  docs/gateway/configuration-reference.mdx
Due: cargo-deny, cargo-fmt, cargo-clippy

Switch from GLM 4.7 to GLM 5 on Together
  crates/tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  crates/tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  crates/tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  crates/tensorzero-core/tests/e2e/config/tensorzero.models.toml
  crates/tensorzero-core/tests/e2e/providers/together.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Change default writing strategy from sync to async writes
  crates/gateway/src/main.rs
  crates/tensorzero-core/src/client/mod.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/snapshot/observability_config.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/tests/e2e/inference_clickhouse.rs
  crates/tensorzero-core/tests/load/tensorzero.postgres-only.batch.balanced.toml
  crates/tensorzero-core/tests/load/tensorzero.postgres-only.batch.fast.toml
  crates/tensorzero-core/tests/load/tensorzero.postgres-only.batch.throughput.toml
  docs/deployment/optimize-latency-and-throughput.mdx
  docs/gateway/configuration-reference.mdx
Due: cargo-deny, cargo-fmt, cargo-clippy

Add simple config tables for config-in-db
  AGENTS.md
  crates/Cargo.lock
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/config/gateway.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/provider_types.rs
  crates/tensorzero-core/src/embeddings.rs
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-core/src/optimization/dicl.rs
  crates/tensorzero-core/src/optimization/fireworks_sft/mod.rs
  crates/tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
  crates/tensorzero-core/src/optimization/gepa.rs
  crates/tensorzero-core/src/optimization/mod.rs
  crates/tensorzero-core/src/optimization/openai_rft/mod.rs
  crates/tensorzero-core/src/optimization/openai_sft/mod.rs
  crates/tensorzero-core/src/optimization/together_sft/mod.rs
  crates/tensorzero-core/src/rate_limiting/mod.rs
  crates/tensorzero-stored-config/Cargo.toml
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_autopilot_config.rs
  crates/tensorzero-stored-config/src/stored_clickhouse_config.rs
  crates/tensorzero-stored-config/src/stored_cost.rs
  crates/tensorzero-stored-config/src/stored_credential_location.rs
  crates/tensorzero-stored-config/src/stored_embedding_model_config.rs
  crates/tensorzero-stored-config/src/stored_gateway_config.rs
  crates/tensorzero-stored-config/src/stored_metric_config.rs
  crates/tensorzero-stored-config/src/stored_model_config.rs
  crates/tensorzero-stored-config/src/stored_optimizer_info.rs
  crates/tensorzero-stored-config/src/stored_postgres_config.rs
  crates/tensorzero-stored-config/src/stored_provider_types_config.rs
  crates/tensorzero-stored-config/src/stored_rate_limiting_config.rs
  crates/tensorzero-stored-config/src/stored_storage_kind.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Step 1d (prompts): Add prompt template version tables and stored types
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_prompt_template.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Step 1d (functions + variants): Add function/variant version tables and stored types
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_function_config.rs
  crates/tensorzero-stored-config/src/stored_variant_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Switch from GLM 4.7 to GLM 5 on Together (#7191)
  crates/tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  crates/tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  crates/tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  crates/tensorzero-core/tests/e2e/config/tensorzero.models.toml
  crates/tensorzero-core/tests/e2e/providers/together.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix stale batch max-token expectations
  crates/tensorzero-core/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix Python tests for async_writes default change
  crates/tensorzero-python/tests/test_client.py
Due: none

Preserve OpenAI content_type_overrides from stored config
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_model_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add simple config tables for config-in-db (#7174)
  AGENTS.md
  crates/Cargo.lock
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/config/gateway.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/config/provider_types.rs
  crates/tensorzero-core/src/embeddings.rs
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-core/src/optimization/dicl.rs
  crates/tensorzero-core/src/optimization/fireworks_sft/mod.rs
  crates/tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
  crates/tensorzero-core/src/optimization/gepa.rs
  crates/tensorzero-core/src/optimization/mod.rs
  crates/tensorzero-core/src/optimization/openai_rft/mod.rs
  crates/tensorzero-core/src/optimization/openai_sft/mod.rs
  crates/tensorzero-core/src/optimization/together_sft/mod.rs
  crates/tensorzero-core/src/rate_limiting/mod.rs
  crates/tensorzero-stored-config/Cargo.toml
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_autopilot_config.rs
  crates/tensorzero-stored-config/src/stored_clickhouse_config.rs
  crates/tensorzero-stored-config/src/stored_cost.rs
  crates/tensorzero-stored-config/src/stored_credential_location.rs
  crates/tensorzero-stored-config/src/stored_embedding_model_config.rs
  crates/tensorzero-stored-config/src/stored_gateway_config.rs
  crates/tensorzero-stored-config/src/stored_metric_config.rs
  crates/tensorzero-stored-config/src/stored_model_config.rs
  crates/tensorzero-stored-config/src/stored_optimizer_info.rs
  crates/tensorzero-stored-config/src/stored_postgres_config.rs
  crates/tensorzero-stored-config/src/stored_provider_types_config.rs
  crates/tensorzero-stored-config/src/stored_rate_limiting_config.rs
  crates/tensorzero-stored-config/src/stored_storage_kind.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add function/variant/prompt stored types
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_function_config.rs
  crates/tensorzero-stored-config/src/stored_prompt_template.rs
  crates/tensorzero-stored-config/src/stored_variant_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

revert: undo tensorzero-types-providers rename
  crates/Cargo.lock
  crates/Cargo.toml
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/providers/AGENTS.md
  crates/tensorzero-core/src/providers/aws_bedrock.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/fireworks/mod.rs
  crates/tensorzero-core/src/providers/groq.rs
  crates/tensorzero-core/src/providers/mistral.rs
  crates/tensorzero-core/src/providers/openai/mod.rs
  crates/tensorzero-core/src/providers/openrouter.rs
  crates/tensorzero-core/src/providers/together.rs
  crates/tensorzero-core/src/providers/vllm.rs
  crates/tensorzero-core/src/providers/xai.rs
  crates/tensorzero-provider-types/Cargo.toml
  crates/tensorzero-provider-types/src/lib.rs
  crates/tensorzero-types-providers/Cargo.toml
  crates/tensorzero-types-providers/src/aws_bedrock.rs
  crates/tensorzero-types-providers/src/cache.rs
  crates/tensorzero-types-providers/src/deepseek.rs
  crates/tensorzero-types-providers/src/fireworks.rs
  crates/tensorzero-types-providers/src/groq.rs
  crates/tensorzero-types-providers/src/lib.rs
  crates/tensorzero-types-providers/src/mistral.rs
  crates/tensorzero-types-providers/src/openai.rs
  crates/tensorzero-types-providers/src/openrouter.rs
  crates/tensorzero-types-providers/src/serde_util.rs
  crates/tensorzero-types-providers/src/together.rs
  crates/tensorzero-types-providers/src/xai.rs
  examples/autopilot/benchmarks/config-applier-cli/Cargo.lock
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add async_writes = false to e2e test config and fix docs formatting
  crates/tensorzero-core/tests/e2e/config/tensorzero.misc.toml
  docs/deployment/optimize-latency-and-throughput.mdx
Due: none

Add support for vLLM's new `reasoning` field
  crates/tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Explicily name all variants in non_control_tool_error_to_task_error
  crates/durable-tools/src/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove unnecessary derives from Raw deserialization helpers
  crates/tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix duplicate field error when vLLM sends both `reasoning` and `reasoning_content`
  crates/tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

chore: remove redundant into_iter().collect() on Vec
  crates/tensorzero-inference-types/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add function/variant/prompt stored types (#7192)
  crates/tensorzero-stored-config/src/lib.rs
  crates/tensorzero-stored-config/src/stored_function_config.rs
  crates/tensorzero-stored-config/src/stored_prompt_template.rs
  crates/tensorzero-stored-config/src/stored_variant_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Handle reasoning field name in multi-turn requests for vLLM >=0.8
  crates/tensorzero-core/src/providers/azure.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/fireworks/mod.rs
  crates/tensorzero-core/src/providers/hyperbolic.rs
  crates/tensorzero-core/src/providers/mistral.rs
  crates/tensorzero-core/src/providers/openai/mod.rs
  crates/tensorzero-core/src/providers/openai/responses.rs
  crates/tensorzero-core/src/providers/sglang.rs
  crates/tensorzero-core/src/providers/tgi.rs
  crates/tensorzero-core/src/providers/together.rs
  crates/tensorzero-core/src/providers/vllm.rs
  crates/tensorzero-core/src/providers/xai.rs
  crates/tensorzero-optimizers/src/fireworks_sft.rs
  crates/tensorzero-optimizers/src/openai.rs
  crates/tensorzero-optimizers/src/together_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactor: deduplicate batch types between core and tensorzero-inference-types
  crates/tensorzero-core/src/inference/types/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add async_writes = false to gateway test helpers
  crates/gateway/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added basic MCP docs
  docs/docs.json
  docs/gateway/guides/mcp-server.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Explicily name all variants in non_control_tool_error_to_task_error (#7194)
  crates/durable-tools/src/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix: update stale tensorzero-provider-types references after rename
  .gitignore
  crates/tensorzero-python/generate_schema_types.py
Due: none

Use async_writes() method with e2e_tests feature gate
  crates/gateway/src/main.rs
  crates/gateway/tests/common/mod.rs
  crates/tensorzero-core/src/config/mod.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/tests/e2e/config/tensorzero.misc.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
