Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

add rayon in TED file
  examples/integrations/cursor/experimental/src/ted/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-internal/src/lib.rs
  tensorzero-internal/src/optimization/mod.rs
  tensorzero-internal/src/optimization/openai_sft/mod.rs
  tensorzero-internal/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  clients/rust/src/lib.rs
  tensorzero-internal/src/clickhouse/mod.rs
  tensorzero-internal/src/clickhouse/types.rs
  tensorzero-internal/src/inference/types/pyo3_helpers.rs
  tensorzero-internal/src/optimization/mod.rs
  tensorzero-internal/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

docs: add links to other language versions of README
  README.md
Due: prettier: ui, prettier: openai-node

builds
  tensorzero-internal/src/optimization/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

pulled out file upload
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/error.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/optimization/mod.rs
  tensorzero-internal/src/optimization/openai_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/optimization/mod.rs
  tensorzero-internal/src/optimization/openai_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix: auth for e2e
  .github/workflows/pr.yaml
  gateway/src/main.rs
  tensorzero-internal/src/config_parser.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Try regenerating fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

wip
  tensorzero-internal/src/optimization/mod.rs
  tensorzero-internal/src/optimization/openai_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix combinators
  examples/integrations/cursor/experimental/src/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try regenerating again
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

remove unused code from notebook
  recipes/supervised_fine_tuning/demonstrations/unsloth/unsloth.ipynb
  recipes/supervised_fine_tuning/demonstrations/unsloth/unsloth_nb.py
Due: none

Remove duplicate key
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Use 'list' and 'github' pnpm reporters on CI
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add separate 'model_inference_cache_e2e.jsonl' fixtures file (#2457)
  ui/fixtures/check-fixtures.sh
  ui/fixtures/load_fixtures.sh
  ui/fixtures/model_inference_cache_e2e.jsonl
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

Add `/regen-fixtures` bot to generate ModelInferenceCache fixtures
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/slash-command-regen-fixtures.yml
Due: prettier: ui, prettier: openai-node

Fix reporter definitions
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix imports
  tensorzero-internal/tests/e2e/timeouts.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove Python optimization-server project
  examples/guides/datasets-datapoints/docker-compose.yml
  examples/guides/tool-use/docker-compose.yml
  optimization-server/README.md
  optimization-server/pyproject.toml
  optimization-server/requirements.txt
  optimization-server/src/optimization_server/__init__.py
  optimization-server/src/optimization_server/constants.py
  optimization-server/src/optimization_server/main.py
  optimization-server/src/optimization_server/rendering.py
  optimization-server/src/optimization_server/sft/__init__.py
  optimization-server/src/optimization_server/sft/common.py
  optimization-server/src/optimization_server/sft/fireworks_sft.py
  optimization-server/src/optimization_server/sft/openai_analysis.py
  optimization-server/src/optimization_server/sft/openai_sft.py
  optimization-server/tests/test_clickhouse.py
  optimization-server/uv.lock
  ui/Dockerfile
  ui/README.md
  ui/app/routes/optimization/supervised-fine-tuning/featureflag.server.ts
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
  ui/entrypoint.sh
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix migration count
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

initial implementation of SFT trait in Rust codebase
  tensorzero-internal/src/clickhouse/mod.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/src/inference/types/pyo3_helpers.rs
  tensorzero-internal/src/optimization/openai_sft/mod.rs
  tensorzero-internal/src/optimization/providers/mod.rs
  tensorzero-internal/src/optimization/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix ui code
  ui/app/routes/optimization/supervised-fine-tuning/route.tsx
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Another clickhouse fix
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated CursorZero clickhouse query & feedback (#2478)
  Cargo.lock
  examples/integrations/cursor/config/tensorzero.toml
  examples/integrations/cursor/experimental/Cargo.toml
  examples/integrations/cursor/experimental/post-commit.example
  examples/integrations/cursor/experimental/src/clickhouse.rs
  examples/integrations/cursor/experimental/src/lib.rs
  examples/integrations/cursor/experimental/src/main.rs
  examples/integrations/cursor/experimental/src/ted/mod.rs
  examples/integrations/cursor/experimental/src/util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add `ttft_ms` column to ChatInference and JsonInference (#2467)
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0031.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  tensorzero-internal/tests/e2e/timeouts.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Load TensorZeroError/TensorZeroInternalError early on
  clients/python/src/lib.rs
  tensorzero-internal/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-internal/src/inference/mod.rs
  tensorzero-internal/src/inference/providers/provider_trait.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/lib.rs
  tensorzero-internal/src/providers/anthropic.rs
  tensorzero-internal/src/providers/aws_bedrock.rs
  tensorzero-internal/src/providers/aws_common.rs
  tensorzero-internal/src/providers/aws_http_client.rs
  tensorzero-internal/src/providers/aws_sagemaker.rs
  tensorzero-internal/src/providers/azure.rs
  tensorzero-internal/src/providers/deepseek.rs
  tensorzero-internal/src/providers/dummy.rs
  tensorzero-internal/src/providers/fireworks.rs
  tensorzero-internal/src/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/providers/groq.rs
  tensorzero-internal/src/providers/helpers.rs
  tensorzero-internal/src/providers/helpers_thinking_block.rs
  tensorzero-internal/src/providers/hyperbolic.rs
  tensorzero-internal/src/providers/mistral.rs
  tensorzero-internal/src/providers/mod.rs
  tensorzero-internal/src/providers/openai.rs
  tensorzero-internal/src/providers/openrouter.rs
  tensorzero-internal/src/providers/sglang.rs
  tensorzero-internal/src/providers/test_helpers.rs
  tensorzero-internal/src/providers/tgi.rs
  tensorzero-internal/src/providers/together.rs
  tensorzero-internal/src/providers/vllm.rs
  tensorzero-internal/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add `/regen-fixtures` bot to generate ModelInferenceCache fixtures (#2484)
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/slash-command-regen-fixtures.yml
Due: prettier: ui, prettier: openai-node

Remove `demonstration` from curation metric selector
  ui/app/components/metric/CurationMetricSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add highlighting fn
  ui/app/routes/observability/inferences/$inference_id/InferenceParameters.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add shiki
  pnpm-lock.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node

add syntax highlighting for inference params
  ui/app/components/ui/code-block.stories.tsx
  ui/app/components/ui/code-block.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceParameters.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/tailwind.css
  ui/app/utils/common.ts
  ui/app/utils/syntax-hightlighting.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

type fix
  ui/app/utils/syntax-hightlighting.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fix filename spelling
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/syntax-highlighting.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

refactor providers into separate directory
  .pre-commit-config.yaml
  tensorzero-internal/src/embeddings.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/providers/anthropic.rs
  tensorzero-internal/src/providers/azure.rs
  tensorzero-internal/src/providers/deepseek.rs
  tensorzero-internal/src/providers/fireworks.rs
  tensorzero-internal/src/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/providers/groq.rs
  tensorzero-internal/src/providers/hyperbolic.rs
  tensorzero-internal/src/providers/mistral.rs
  tensorzero-internal/src/providers/openai.rs
  tensorzero-internal/src/providers/openrouter.rs
  tensorzero-internal/src/providers/sglang.rs
  tensorzero-internal/src/providers/tgi.rs
  tensorzero-internal/src/providers/together.rs
  tensorzero-internal/src/providers/vllm.rs
  tensorzero-internal/src/providers/xai.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/best_of_n.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/retries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Implement 'read-old-write-new' mode for provider-proxy
  ci/run-provider-proxy.sh
  provider-proxy/Cargo.toml
  provider-proxy/src/lib.rs
  provider-proxy/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Implement correct permission check for slash-commands
  .github/workflows/slash-command-dispatch.yml
Due: prettier: ui, prettier: openai-node

Use #[expect]
  provider-proxy/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed dangling mod
  tensorzero-internal/src/providers/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
