Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$

Use hardcoded uuidv4
  tensorzero-internal/Cargo.toml
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Adjust comment
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump AWS crates and remove legacy 'hyper' dependency
  Cargo.lock
  tensorzero-internal/Cargo.toml
Due: none

added optional cutoffs for evaluators
  evals/src/evaluators/llm_judge.rs
  evals/src/evaluators/mod.rs
  tensorzero-internal/src/evals/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Address review comments
  tensorzero-internal/src/endpoints/object_storage.rs
  tensorzero-internal/tests/e2e/object_storage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use gemini-2.0-flash instead of gemini-1.5-flash in e2e tests
  tensorzero-internal/tests/e2e/best_of_n.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Avoid creating proxy-proxy-cache file for non-string body
  provider-proxy/src/lib.rs
  provider-proxy/src/mitm_server.rs
  tensorzero-internal/src/inference/types/image.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'extra_cache_key' field and use it for *_of_n variants
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/best_of_n.rs
  tensorzero-internal/tests/e2e/cache.rs
  tensorzero-internal/tests/e2e/mixture_of_n.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

More work
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Work on inference-level extra body
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/aws_bedrock.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/dicl.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Get it compiling
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/dicl.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Check provider name
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Get unit tests compiling
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implemented error code on cutoff fail
  evals/src/lib.rs
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump all crates except tensorzero-internal to edition 2024
  clients/python-pyo3/Cargo.toml
  clients/rust/Cargo.toml
  gateway/Cargo.toml
  provider-proxy/Cargo.toml
  ui/app/utils/minijinja/Cargo.toml
Due: none

Add unit test
  tensorzero-internal/src/inference/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

completed e2e tests for human readable mode
  evals/src/lib.rs
  evals/tests/tests.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added test case for evaluator without cutoff
  evals/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

oops a file
  evals/src/stats.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Start passing in model name
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/aws_bedrock.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated migrations so that they are IF NOT EXISTS
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0009.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0011.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0013.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Pass it through in more places
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/aws_bedrock.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix other tests
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

font optimization
  ui/app/components/layout/PageLayout.tsx
  ui/app/components/ui/code.tsx
  ui/app/components/ui/sidebar.tsx
  ui/app/fonts.css
  ui/app/root.tsx
  ui/app/tailwind.css
  ui/tailwind.config.ts
Due: prettier, eslint, tsc

updated migrations to protect idempotency
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0013.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

more font optimization
  ui/app/fonts.css
  ui/app/root.tsx
  ui/app/tailwind.css
  ui/pnpm-lock.yaml
  ui/tailwind.config.ts
Due: prettier, eslint, tsc

font-display changed to swap
  ui/app/fonts.css
  ui/app/tailwind.css
  ui/public/fonts/Geist-Medium.woff2
  ui/public/fonts/Geist-Regular.woff2
  ui/public/fonts/Geist-SemiBold.woff2
  ui/public/fonts/GeistMono-Medium.woff2
  ui/public/fonts/GeistMono-Regular.woff2
  ui/public/fonts/GeistMono-SemiBold.woff2
  ui/tailwind.config.ts
Due: prettier, eslint, tsc

switched to original google font import, re-render issue solved, adjusted variables
  ui/app/fonts.css
  ui/app/root.tsx
  ui/app/tailwind.css
  ui/public/fonts/Geist-Medium.woff2
  ui/public/fonts/Geist-Regular.woff2
  ui/public/fonts/Geist-SemiBold.woff2
  ui/public/fonts/GeistMono-Medium.woff2
  ui/public/fonts/GeistMono-Regular.woff2
  ui/public/fonts/GeistMono-SemiBold.woff2
  ui/public/fonts/GeistMonoVariableVF.woff2
  ui/public/fonts/GeistVariableVF.woff2
  ui/tailwind.config.ts
Due: prettier, eslint, tsc

added tests that cover edge cases in migration0013
  tensorzero-internal/tests/e2e/clickhouse.rs
  ui/pnpm-lock.yaml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

Add Node example to the Quick Start and README (#1304)
  README.md
  examples/quickstart/README.md
  examples/quickstart/after_openai.ts
  examples/quickstart/package-lock.json
  examples/quickstart/package.json
  examples/quickstart/pyproject.toml
  examples/quickstart/requirements.in
  examples/quickstart/requirements.txt
  examples/quickstart/uv.lock
Due: prettier, eslint, tsc

added Chip and BasicInfoLayout
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/components/ui/Chip.tsx
  ui/app/routes/observability/inferences/$inference_id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInput.tsx
  ui/app/tailwind.css
Due: prettier, eslint, tsc

minor weight fix
  ui/app/tailwind.css
Due: prettier

fix optimized config write (#1309)
  recipes/mipro/mipro.ipynb
Due: none

Add `PUT /datasets/:dataset/datapoints/:id` route (#1303)
  gateway/src/main.rs
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/src/endpoints/feedback.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/src/error.rs
  tensorzero-internal/src/inference/types/batch.rs
  tensorzero-internal/src/uuid_util.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Test using MinIO as an S3-compatible object storage provider (#1306)
  .github/workflows/merge-queue.yml
  ci/minio-docker-compose.yml
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

Bump AWS crates and remove legacy 'hyper' dependency (#1311)
  Cargo.lock
  tensorzero-internal/Cargo.toml
Due: none

Avoid creating proxy-proxy-cache file for non-string body (#1312)
  provider-proxy/src/lib.rs
  provider-proxy/src/mitm_server.rs
  tensorzero-internal/src/inference/types/image.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  evals/Cargo.toml
  evals/src/evaluators/llm_judge.rs
  evals/src/lib.rs
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'signature' field to Thought content block
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/inference/types/resolved_input.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
