Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

moved feedbackQueries trait into feedback file
  tensorzero-core/src/db/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed clippies and PR comments
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

updated gitignore for claude commands, added clippy one
  .claude/commands/clippy.md
  .gitignore
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

removed old FeedbackQueries trait
  tensorzero-core/src/db/mod.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/db/bandit_queries.rs
  tensorzero-core/tests/e2e/db/select_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

moved feedback queries tests to separate file
  tensorzero-core/tests/e2e/db/feedback_queries.rs
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-core/tests/e2e/db/select_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add unit tests for optimize=min direction
  tensorzero-core/src/experimentation/track_and_stop/check_stopping.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactor Variant trait to use Arc/owned types -> it can be spawned (#3927)
  tensorzero-core/src/cache.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

updated gitignore for claude commands, added clippy one (#3938)
  .claude/commands/clippy.md
  .gitignore
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Support forwarding image/file urls to Anthropic provider (#3926)
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Minor cleanup of imports
  tensorzero-core/src/experimentation/static_weights.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use a self-signed certificate to test OTLP export over TLS
  .github/workflows/merge-queue.yml
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/docker-compose-common.yml
  tensorzero-core/tests/e2e/otel-collector-config.yaml
  tensorzero-core/tests/e2e/self-signed-certs/otlp-collector.crt
  tensorzero-core/tests/e2e/self-signed-certs/otlp-collector.key
  tensorzero-core/tests/e2e/self-signed-certs/regenerate.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix lints
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/self-signed-certs/otlp-collector.crt
  tensorzero-core/tests/e2e/self-signed-certs/otlp-collector.key
Due: cargo-deny, cargo-fmt, cargo-clippy

Exclude certs from detect-private-key
  .pre-commit-config.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix flaky stop-sequence test
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix Anthropic thought test
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Relax checks in some groq tool-calling tests
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump Python deps with security issues (#3937)
  AGENTS.md
  examples/babyai/requirements.txt
  examples/babyai/uv.lock
  examples/integrations/crewai/example/requirements.txt
  examples/integrations/crewai/example/uv.lock
  examples/mcp-model-context-protocol/requirements.txt
  examples/mcp-model-context-protocol/uv.lock
  recipes/mipro/requirements.txt
  recipes/mipro/uv.lock
  tensorzero-core/fixtures/deployment/sagemaker-ollama/requirements.txt
  tensorzero-core/fixtures/deployment/sagemaker-ollama/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed test coverage
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_tgi.rs
  tensorzero-core/tests/e2e/providers/azure.rs
  tensorzero-core/tests/e2e/providers/azure_ai_foundry.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/deepseek.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/providers/helpers.rs
  tensorzero-core/tests/e2e/providers/hyperbolic.rs
  tensorzero-core/tests/e2e/providers/mistral.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/providers/openrouter.rs
  tensorzero-core/tests/e2e/providers/sglang.rs
  tensorzero-core/tests/e2e/providers/tgi.rs
  tensorzero-core/tests/e2e/providers/together.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
  tensorzero-core/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed serde issue
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Improve shutdown handling of custom OpenTelemetry tracer (#3805)
  gateway/src/main.rs
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

consolidate query logic for feedback queries
  tensorzero-core/src/db/clickhouse/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Relax checks in some groq tool-calling tests (#3946)
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix flaky stop-sequence test (#3943)
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added tests that mock
  tensorzero-core/src/db/clickhouse/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

removed explicit 'undefined'
  ui/app/utils/clickhouse/feedback.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support incoming 'tensorzero-otlp-traces-extra-resource-' header
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/otel_config_headers.rs
  tensorzero-core/tests/e2e/otel_export.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use a self-signed certificate to test OTLP export over TLS (#3941)
  .github/workflows/merge-queue.yml
  .pre-commit-config.yaml
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/docker-compose-common.yml
  tensorzero-core/tests/e2e/otel-collector-config.yaml
  tensorzero-core/tests/e2e/self-signed-certs/otlp-collector.crt
  tensorzero-core/tests/e2e/self-signed-certs/otlp-collector.key
  tensorzero-core/tests/e2e/self-signed-certs/regenerate.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

refactored OpenAI impl to use API type not boolean flag
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bindings
  internal/tensorzero-node/lib/bindings/OpenAIProvider.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

wip: add sql query for variant feedback time series
  internal/tensorzero-node/lib/bindings/FeedbackTimeSeriesPoint.ts
  internal/tensorzero-node/lib/bindings/GetFeedbackTimeseriesParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/tests/e2e/db/select_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump opentelemetry dependencies to latest versions
  Cargo.lock
  Cargo.toml
  tensorzero-core/Cargo.toml
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added a uniform sampling that respects allowed variants
  tensorzero-core/src/experimentation/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented fallback sampling (verbose)
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/experimentation/static_weights.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added comment explaining the `VariantSampler::allowed_variants` method
  tensorzero-core/src/experimentation/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented allowed_variants trait method so we only sample allowed variants
  tensorzero-core/src/experimentation/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Backfill metadata for earlier change
  .gitignore
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

removed implementation of VariantSampler trait from ExperimentationConfig
  tensorzero-core/src/experimentation/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added a unit test
  tensorzero-core/src/experimentation/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix dataset count overflow in ClickHouse queries
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
