Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

added a comment about config hashes in stored samples
  tensorzero-core/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactor create_evaluation_dataset to return ids
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refine schemas and update comments
  tensorzero-core/src/config/built_in.rs
  tensorzero-optimizers/src/gepa/mutate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

update launch function
  tensorzero-optimizers/src/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactor(Unknown): split model_provider_name into model_name and provider_name
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/ContentBlockChatOutput.ts
  internal/tensorzero-node/lib/bindings/ResolvedContentBlock.ts
  internal/tensorzero-node/lib/bindings/StoredContentBlock.ts
  internal/tensorzero-node/lib/bindings/Unknown.ts
  tensorzero-core/src/endpoints/openai_compatible/types/chat_completions.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-optimizers/src/gepa/validate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed issues
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port clickhouse query for getDatasetMetadata (list datasets) to the backend
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/ListDatasetsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/list_datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/mod.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/tests/e2e/endpoints/datasets/list_datasets.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add list_datasets API to python and rust clients
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/generated_types.py
  clients/python/tests/test_datapoints_v1.py
  clients/rust/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Implement provider_tools support for all model providers
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/chat_completions.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port frontend to use new list_datasets API
  internal/tensorzero-node/lib/bindings/GetDatasetMetadataParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/datasets.rs
  ui/app/routes/api/datasets/counts.route.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.test.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/route.tsx
  ui/app/routes/index.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Enable clippy::large_futures lint and box some futures (#4863)
  Cargo.toml
  clients/python/src/lib.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

set tools to any when gemini request comes with allowed tools
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added e2e tests
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed comment
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate dataset table to use v1 apis
  clients/rust/src/lib.rs
  internal/tensorzero-node/lib/bindings/DatasetDetailRow.ts
  internal/tensorzero-node/lib/bindings/GetDatasetRowsParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/API_TYPES.md
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/tensorzero.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

Pin datamodel-code-generator version
  clients/python/generate_schema_types.py
Due: none

Pin datamodel-code-generator version (#4876)
  clients/python/generate_schema_types.py
Due: none

Migrate dataset table to use v1 apis (#4800)
  clients/rust/src/lib.rs
  internal/tensorzero-node/lib/bindings/DatasetDetailRow.ts
  internal/tensorzero-node/lib/bindings/GetDatasetRowsParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/API_TYPES.md
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/tensorzero.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add Pareto frontier filtering for GEPA optimization (#4739)
  .config/nextest.toml
  tensorzero-optimizers/Cargo.toml
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/gepa/pareto.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use dataset-scoped get_datapoint in frontend
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/playground/route.tsx
  ui/app/utils/tensorzero.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

uncomment gepa_e2e tests, add retries, remove randomness
  .config/nextest.toml
  tensorzero-optimizers/Cargo.toml
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

remove re-exports
  tensorzero-optimizers/src/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

rename initialize_pareto_frontier to get_uninitialized_variant_configs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/gepa/validate.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.bak.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

unify naming gepa launch
  tensorzero-optimizers/src/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use dataset-scoped get_datapoint in frontend (#4861)
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/playground/route.tsx
  ui/app/utils/tensorzero.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

make GEPAVariant struct
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/gepa/mutate.rs
  tensorzero-optimizers/src/gepa/pareto.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

set tools to `any` when gemini request comes with allowed tools (#4875)
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean up Unknown content blocks
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/ContentBlockChatOutput.ts
  internal/tensorzero-node/lib/bindings/ResolvedContentBlock.ts
  internal/tensorzero-node/lib/bindings/StoredContentBlock.ts
  internal/tensorzero-node/lib/bindings/Unknown.ts
  tensorzero-core/src/endpoints/openai_compatible/types/chat_completions.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  ui/app/components/inference/Input.stories.tsx
  ui/app/components/inference/Output.stories.tsx
  ui/app/components/input_output/InputElement.stories.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/utils/clickhouse/common.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up Unknown content blocks
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/ContentBlockChatOutput.ts
  internal/tensorzero-node/lib/bindings/ResolvedContentBlock.ts
  internal/tensorzero-node/lib/bindings/StoredContentBlock.ts
  tensorzero-core/src/endpoints/openai_compatible/types/chat_completions.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up ProviderToolScope
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/ProviderToolScope.ts
  tensorzero-core/src/tool.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Finish docs for provider tools
  docs/gateway/guides/tool-use.mdx
Due: none

Clean up Unknown content blocks
  clients/python/tensorzero/generated_types.py
Due: none

Clean up ProviderToolScope
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/ProviderToolScope.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/tool.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up Unknown content blocks
  clients/python/tensorzero/types.py
Due: none

Clean up ProviderToolScope
  internal/tensorzero-node/lib/bindings/ProviderToolScopeModelProvider.ts
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up Unknown content blocks
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean up Unknown content blocks
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/tests/e2e/inference/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
