Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
        exclude: CONTRIBUTING.md
      - id: end-of-file-fixer
        exclude: \.minijinja$
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check bans
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-unit
        name: cargo test-unit
        entry: cargo test-unit
        language: system
        types: [rust]
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: npx prettier
        language: node
        types_or:
          [css, html, javascript, json, jsx, markdown, scss, ts, tsx, yaml]
        args: ["--write", "--list-different"]
        additional_dependencies:
          - prettier
          - "@prettier/plugin-xml"
        exclude: '.*\.ipynb$'
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: npx eslint
        language: node
        types_or: [javascript, jsx, ts, tsx]
        additional_dependencies:
          - eslint
          - "@typescript-eslint/parser"
          - "@typescript-eslint/eslint-plugin"
        working_directory: dashboard
        pass_filenames: false

      - id: tsc
        name: typescript
        entry: tsc
        language: node
        types_or: [ts, tsx]
        additional_dependencies:
          - typescript
        working_directory: dashboard
        pass_filenames: false

  - repo: https://github.com/srstevenson/nb-clean
    rev: 3.2.0
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: ["--extend-select", "I", "--fix"]
      - id: ruff-format

cleaned comment
  gateway/src/clickhouse_migration_manager/migrations/migration_0001.rs
  gateway/src/clickhouse_migration_manager/migrations/migration_0007.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

made it so there is no cutover for migrations that were run clean start (#704)
  gateway/src/clickhouse_migration_manager/migrations/migration_0001.rs
  gateway/src/clickhouse_migration_manager/migrations/migration_0007.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

moved fixtures back to sh script
  dashboard/fixtures/docker-compose.yml
  dashboard/fixtures/load_fixtures.py
  dashboard/fixtures/load_fixtures.sh
Due: prettier

added jeoprady example
  examples/jeopardy_wikipedia/.gitattributes
  examples/jeopardy_wikipedia/.gitignore
  examples/jeopardy_wikipedia/README.md
  examples/jeopardy_wikipedia/config/config/functions/answer_question/system_schema.json
  examples/jeopardy_wikipedia/config/config/functions/answer_question/system_template.minijinja
  examples/jeopardy_wikipedia/config/config/functions/answer_question/user_schema.json
  examples/jeopardy_wikipedia/config/config/functions/answer_question/user_template.minijinja
  examples/jeopardy_wikipedia/config/config/functions/retrieve_context/system_schema.json
  examples/jeopardy_wikipedia/config/config/functions/retrieve_context/system_template.minijinja
  examples/jeopardy_wikipedia/config/config/functions/retrieve_context/user_schema.json
  examples/jeopardy_wikipedia/config/config/functions/retrieve_context/user_template.minijinja
  examples/jeopardy_wikipedia/config/tensorzero.toml
  examples/jeopardy_wikipedia/docker-compose.yml
  examples/jeopardy_wikipedia/jeopardy_dataset.json
  examples/jeopardy_wikipedia/scripts/evaluate_models.py
  examples/jeopardy_wikipedia/scripts/wikipedia_query.py
Due: prettier

feat: add dynamic credentials support for inference_params_inference e2e tests
  .pre-commit-config.yaml
  gateway/src/inference/providers/anthropic.rs
  gateway/src/inference/providers/azure.rs
  gateway/src/inference/providers/fireworks.rs
  gateway/src/inference/providers/gcp_vertex_anthropic.rs
  gateway/src/inference/providers/gcp_vertex_gemini.rs
  gateway/src/inference/providers/google_ai_studio_gemini.rs
  gateway/src/inference/providers/hyperbolic.rs
  gateway/src/inference/providers/mistral.rs
  gateway/src/inference/providers/openai.rs
  gateway/src/inference/providers/together.rs
  gateway/src/inference/providers/vllm.rs
  gateway/src/inference/providers/xai.rs
  gateway/src/model.rs
  gateway/tests/e2e/providers/anthropic.rs
  gateway/tests/e2e/providers/aws_bedrock.rs
  gateway/tests/e2e/providers/azure.rs
  gateway/tests/e2e/providers/common.rs
  gateway/tests/e2e/providers/fireworks.rs
  gateway/tests/e2e/providers/gcp_vertex_anthropic.rs
  gateway/tests/e2e/providers/gcp_vertex_gemini.rs
  gateway/tests/e2e/providers/google_ai_studio_gemini.rs
  gateway/tests/e2e/providers/hyperbolic.rs
  gateway/tests/e2e/providers/mistral.rs
  gateway/tests/e2e/providers/openai.rs
  gateway/tests/e2e/providers/together.rs
  gateway/tests/e2e/providers/vllm.rs
  gateway/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

fixed clickhouse with toUUID sorting
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

Validate episode id for feedback API. (#698)
  clients/python/tests/test_client.py
  gateway/src/endpoints/feedback.rs
  gateway/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

feat: allow user to enter arbitrary model names (#694)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .gitignore
  dashboard/Dockerfile
  dashboard/Dockerfile.bun
  dashboard/Dockerfile.pnpm
  dashboard/README.md
  dashboard/app/components/ui/command.tsx
  dashboard/app/components/ui/popover.tsx
  dashboard/app/components/ui/sidebar/app.sidebar.tsx
  dashboard/app/routes/index.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  dashboard/package-lock.json
  dashboard/package.json
Due: prettier, eslint, tsc

add tgi provider
  gateway/src/inference/providers/mod.rs
  gateway/src/inference/providers/openai.rs
  gateway/src/inference/providers/tgi.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add tgi entries
  gateway/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add tgi provider on e2e test
  gateway/tests/e2e/providers/mod.rs
  gateway/tests/e2e/providers/tgi.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add example of tgi
  examples/guides/providers/tgi/README.md
  examples/guides/providers/tgi/config/tensorzero.toml
  examples/guides/providers/tgi/docker-compose.yml
Due: prettier

add codebase evolves related to tgi
  .github/workflows/merge-queue.yml
  examples/production-deployment/.env.example
Due: prettier

feat: add PathFromEnv support and dynamic credentials for providers
  .pre-commit-config.yaml
  gateway/src/inference/providers/gcp_vertex_anthropic.rs
  gateway/src/inference/providers/gcp_vertex_gemini.rs
  gateway/src/model.rs
  gateway/tests/e2e/providers/anthropic.rs
  gateway/tests/e2e/providers/aws_bedrock.rs
  gateway/tests/e2e/providers/azure.rs
  gateway/tests/e2e/providers/common.rs
  gateway/tests/e2e/providers/fireworks.rs
  gateway/tests/e2e/providers/gcp_vertex_anthropic.rs
  gateway/tests/e2e/providers/gcp_vertex_gemini.rs
  gateway/tests/e2e/providers/google_ai_studio_gemini.rs
  gateway/tests/e2e/providers/hyperbolic.rs
  gateway/tests/e2e/providers/mistral.rs
  gateway/tests/e2e/providers/openai.rs
  gateway/tests/e2e/providers/together.rs
  gateway/tests/e2e/providers/vllm.rs
  gateway/tests/e2e/providers/xai.rs
  gateway/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

bumped version to 2025.1.0
  clients/python/pyproject.toml
  clients/python/uv.lock
  gateway/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.01.0, jklol
  clients/python/pyproject.toml
  clients/python/uv.lock
  gateway/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.01.0 (#710)
  clients/python/pyproject.toml
  clients/python/uv.lock
  gateway/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

this might work idk
  gateway/fixtures/deployment/tgi-nginx/Dockerfile
  gateway/fixtures/deployment/tgi-nginx/default.conf
  gateway/fixtures/deployment/tgi-nginx/entrypoint.sh
Due: none

fix: resolve fixes as required
  gateway/src/inference/providers/tgi.rs
  gateway/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix: correct api key configuration field names
  gateway/tests/e2e/tensorzero.toml
Due: none

added route for episode table;
  dashboard/app/routes.ts
Due: prettier, eslint, tsc

removed unnecessary check on button press
  dashboard/app/routes/observability/inferences/InferencesTable.tsx
Due: prettier, eslint, tsc

added route + componenet for episodes table
  dashboard/app/routes/observability/episodes/EpisodesTable.tsx
  dashboard/app/routes/observability/episodes/route.tsx
  dashboard/app/routes/observability/inferences/InferencesTable.tsx
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

wired up episodes table; seems to work
  dashboard/app/components/ui/sidebar/app.sidebar.tsx
  dashboard/app/routes/index.tsx
  dashboard/app/routes/observability/episodes/EpisodesTable.tsx
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

initial 21 questions implementation for episode-level fixture
  examples/21-questions/.env.example
  examples/21-questions/21-questions.ipynb
  examples/21-questions/README.md
  examples/21-questions/config/functions/answer_question/baseline/system_template.minijinja
  examples/21-questions/config/functions/answer_question/output_schema.json
  examples/21-questions/config/functions/answer_question/system_schema.json
  examples/21-questions/config/functions/ask_question/baseline/system_template.minijinja
  examples/21-questions/config/functions/ask_question/output_schema.json
  examples/21-questions/config/functions/ask_question/system_schema.json
  examples/21-questions/config/functions/generate_secret/baseline/system_template.minijinja
  examples/21-questions/config/functions/generate_secret/output_schema.json
  examples/21-questions/config/tensorzero.toml
  examples/21-questions/docker-compose.yml
  examples/21-questions/requirements.in
  examples/21-questions/requirements.txt
Due: prettier

tests pass, episode table works
  dashboard/app/routes/observability/episodes/EpisodesTable.tsx
  dashboard/app/routes/observability/inferences/InferencesTable.tsx
  dashboard/app/utils/clickhouse.test.ts
  dashboard/app/utils/clickhouse.ts
  dashboard/fixtures/boolean_metric_feedback_examples.csv
  dashboard/fixtures/chat_inference_examples.csv
  dashboard/fixtures/load_fixtures.sh
Due: prettier, eslint, tsc

completed tests for episodes table
  dashboard/app/utils/clickhouse.test.ts
  dashboard/app/utils/clickhouse.ts
  dashboard/fixtures/json_inference_examples.csv
Due: prettier, eslint, tsc

fix: small fix for rename OpenAIResponseFormat to TGIResponseFormat
  gateway/src/inference/providers/tgi.rs
  gateway/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

lets try this
  gateway/fixtures/deployment/tgi-nginx/entrypoint.sh
Due: none

doc: Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier

remove default nginx config
  gateway/fixtures/deployment/tgi-nginx/Dockerfile
Due: none

incorporated e2e tests, removed OpenAI base URL, decoupled TGI error handling from OpenAi
  gateway/src/inference/providers/tgi.rs
  gateway/tests/e2e/providers/tgi.rs
  gateway/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

improved documentation
  gateway/fixtures/deployment/tgi-nginx/Dockerfile
  gateway/fixtures/deployment/tgi-nginx/README.md
  gateway/fixtures/deployment/tgi-nginx/default.conf
  gateway/fixtures/deployment/tgi-nginx/entrypoint.sh
Due: prettier

added warning about port argument
  gateway/fixtures/deployment/tgi-nginx/README.md
Due: prettier

oop
  gateway/fixtures/deployment/tgi-nginx/README.md
Due: prettier

oop
  gateway/fixtures/deployment/tgi-nginx/entrypoint.sh
Due: none

Implemented a docker image that puts TGI behind NGINX so that we can use it in e2e tests as a persistent service (#713)
  gateway/fixtures/deployment/tgi-nginx/Dockerfile
  gateway/fixtures/deployment/tgi-nginx/README.md
  gateway/fixtures/deployment/tgi-nginx/default.conf
  gateway/fixtures/deployment/tgi-nginx/entrypoint.sh
Due: prettier

removed GCP credential path in test file
  gateway/tests/e2e/tensorzero.toml
Due: none
