Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

feat: progress
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

feat: add tests
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

nit: cargo fmt
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add UI elements for bandits (#4069)
  .github/workflows/ui-tests.yml
  internal/tensorzero-node/lib/tests/integration.test.ts
  ui/app/components/experimentation/PieChart.tsx
  ui/app/components/function/variant/FeedbackSamplesTimeseries.tsx
  ui/app/components/function/variant/TimeGranularitySelector.tsx
  ui/app/components/function/variant/VariantThroughput.tsx
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/utils/date.ts
  ui/app/utils/experimentation.server.ts
  ui/fixtures/check-fixtures.sh
  ui/fixtures/config/tensorzero.toml
  ui/fixtures/jaro_winkler_similarity_feedback.jsonl
  ui/fixtures/load_fixtures.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

Re-use credential location when output model config for vertex SFT
  tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add 'tensorzero-otlp-traces-extra-attribute-' header support (#4134)
  tensorzero-core/src/observability/exporter_wrapper.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/otel_export.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add missing file
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
  ui/app/components/ui/progress.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Print current 'state' every 5 seconds during gateway shutdown (#4135)
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/main.rs
  gateway/src/routes.rs
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix tests
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/datapoint_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Set TENSORZERO_E2E_PROXY env var globally in the merge queue
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Increase openai web_search timeout in openai-node tests
  clients/openai-node/tests/inference-openai-responses-api.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update docs & examples for 2025.10.7
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/multimodal-inference.mdx
  examples/guides/multimodal-inference/README.md
  examples/guides/multimodal-inference/tensorzero_sdk.py
  examples/guides/multimodal-inference/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Change test logic to eliminate flakiness
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Run fmt
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Suppress all otel spans that do not descend from an HTTP span (#4129)
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/src/observability/tracing_bug.rs
  tensorzero-core/tests/e2e/inference.rs
  tensorzero-core/tests/e2e/otel.rs
  tensorzero-core/tests/e2e/otel_config_headers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update docs & examples for 2025.10.7
  examples/guides/multimodal-inference/requirements.txt
  examples/guides/multimodal-inference/uv.lock
Due: none

Add a write permission
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  ui/app/components/ui/progress.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Log a warning when a Python stream is gc'd without being finished
  clients/python/src/lib.rs
  clients/python/tests/test_drop_stream.py
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Improve CSS types / normalize TS version
  clients/openai-node/package.json
  pnpm-lock.yaml
  ui/app/components/ui/progress.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Initial commit
  bandits-testing/README.md
  bandits-testing/config/tensorzero.toml
  bandits-testing/environments.py
  bandits-testing/experiment_runner.py
  bandits-testing/naive_bandits.py
  bandits-testing/plotting.py
  bandits-testing/pyproject.toml
  bandits-testing/quick_test.py
  bandits-testing/requirements.txt
  bandits-testing/results/quick_test/quick_test_plot.png
  bandits-testing/run_experiments.py
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove lint suppression
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Apply 'warn_on_early_connection_drop' to patched OpenAI client
  Cargo.lock
  clients/python/tests/test_openai_patch.py
  gateway/Cargo.toml
  gateway/src/main.rs
  gateway/src/routes.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/src/observability/warn_early_drop.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix merge_group detection in our workflows
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix input args
  .github/workflows/general.yml
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Improve CSS types / normalize TS version (#4153)
  clients/openai-node/package.json
  pnpm-lock.yaml
  ui/app/components/ui/progress.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update docs & examples for 2025.10.7 (#4147)
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/multimodal-inference.mdx
  examples/guides/multimodal-inference/README.md
  examples/guides/multimodal-inference/requirements.txt
  examples/guides/multimodal-inference/tensorzero_sdk.py
  examples/guides/multimodal-inference/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use a fresh client with no clickhouse
  clients/python/tests/test_drop_stream.py
Due: none

Increase openai web_search timeout in openai-node tests (#4146)
  clients/openai-node/tests/inference-openai-responses-api.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Implement batch get and batch query API
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/DatapointFilter.ts
  internal/tensorzero-node/lib/bindings/GetDatapointParams.ts
  internal/tensorzero-node/lib/bindings/GetDatapointsRequest.ts
  internal/tensorzero-node/lib/bindings/GetDatapointsResponse.ts
  internal/tensorzero-node/lib/bindings/ListDatapointsRequest.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/datapoint_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/db/clickhouse/query_builder/parameters.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/get_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/mod.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Minor fixes
  internal/tensorzero-node/lib/bindings/DatapointFilter.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/datapoint_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Relax check
  clients/python/tests/test_drop_stream.py
Due: none

Fix arm pulling behavior after stopping
  bandits-testing/experiment_runner.py
Due: none

Add requirements for tensorzero bandit
  bandits-testing/requirements.txt
Due: none

Simplify output path
  bandits-testing/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Change test logic to eliminate flakiness (#4151)
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed the last couple of missing disables
  ui/app/components/evaluations/EvaluationFeedbackEditor.tsx
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointBasicInfo.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/DatasetTable.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/EvaluationDatapointBasicInfo.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
