Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

fixed bug where UI was not parsing tool choices correctly
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/app/routes/observability/functions/$function_name/FunctionBasicInfo.tsx
  ui/app/utils/config/function.server.ts
  ui/app/utils/config/function.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

moved cursorzero into integrations
  Cargo.toml
  examples/integrations/cursorzero/.env.example
  examples/integrations/cursorzero/.gitignore
  examples/integrations/cursorzero/Cargo.toml
  examples/integrations/cursorzero/README.md
  examples/integrations/cursorzero/config/tensorzero.toml
  examples/integrations/cursorzero/docker-compose.yml
  examples/integrations/cursorzero/nginx/entrypoint.sh
  examples/integrations/cursorzero/nginx/nginx.conf.template
  examples/integrations/cursorzero/src/clickhouse.rs
  examples/integrations/cursorzero/src/cursor.rs
  examples/integrations/cursorzero/src/git.rs
  examples/integrations/cursorzero/src/lib.rs
  examples/integrations/cursorzero/src/main.rs
  examples/integrations/cursorzero/src/parsing.rs
  examples/integrations/cursorzero/src/ted/matrix.rs
  examples/integrations/cursorzero/src/ted/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

fixed names of required schema
  ui/app/utils/config/function.server.ts
  ui/app/utils/config/function.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

serialize tool results to GCP as strings not JSONs (#1915)
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed bug where UI was not parsing tool choices correctly (#1916)
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/app/routes/observability/functions/$function_name/FunctionBasicInfo.tsx
  ui/app/utils/config/function.server.ts
  ui/app/utils/config/function.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Start ClickHouse
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

added tree-sitter-md and a haiku
  Cargo.lock
  examples/integrations/cursorzero/Cargo.toml
  examples/integrations/cursorzero/README.md
  examples/integrations/cursorzero/src/parsing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Fix polling of completed batch inference jobs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added source text comparison
  examples/integrations/cursorzero/docker-compose.yml
  examples/integrations/cursorzero/src/git.rs
  examples/integrations/cursorzero/src/main.rs
  examples/integrations/cursorzero/src/ted/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

added comment on cursorzero readme about Rust code
  examples/integrations/cursorzero/README.md
Due: prettier: ui, prettier: openai-node

added example post-commit file
  examples/integrations/cursorzero/README.md
  examples/integrations/cursorzero/post-commit.example
Due: prettier: ui, prettier: openai-node

updated comment
  examples/integrations/cursorzero/src/ted/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix linter error in CI and failing test
  tensorzero-internal/src/inference/providers/sglang.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

renamed dir for dynamic evlautions
  examples/dynamic_evaluations/simple-agentic-rag/README.md
  examples/dynamic_evaluations/simple-agentic-rag/agent.py
  examples/dynamic_evaluations/simple-agentic-rag/beerqa_train_subsample.json
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/compact_context/baseline/system_template.minijinja
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/compact_context/system_schema.json
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/judge_answer/gpt-4.1-mini/system_template.minijinja
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/judge_answer/gpt-4.1-mini/user_template.minijinja
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/judge_answer/output_schema.json
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/judge_answer/system_schema.json
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/judge_answer/user_schema.json
  examples/dynamic_evaluations/simple-agentic-rag/config/functions/multi_hop_rag_agent/baseline/system_template.txt
  examples/dynamic_evaluations/simple-agentic-rag/config/tensorzero.toml
  examples/dynamic_evaluations/simple-agentic-rag/config/tools/answer_question.json
  examples/dynamic_evaluations/simple-agentic-rag/config/tools/load_wikipedia_page.json
  examples/dynamic_evaluations/simple-agentic-rag/config/tools/search_wikipedia.json
  examples/dynamic_evaluations/simple-agentic-rag/config/tools/think.json
  examples/dynamic_evaluations/simple-agentic-rag/dataset.py
  examples/dynamic_evaluations/simple-agentic-rag/docker-compose.yml
  examples/dynamic_evaluations/simple-agentic-rag/judge.py
  examples/dynamic_evaluations/simple-agentic-rag/main.py
  examples/dynamic_evaluations/simple-agentic-rag/pyproject.toml
  examples/dynamic_evaluations/simple-agentic-rag/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/tools.py
  examples/dynamic_evaluations/simple-agentic-rag/uv.lock
Due: prettier: ui, prettier: openai-node

Refactor action submission for VariantResponseModal
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/routes/api/tensorzero/inference.utils.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/common.ts
  ui/package.json
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

ts fix
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

revert change
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

revert deps
  ui/app/utils/common.ts
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

revert deps
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

Check production Docker image in separate merge-queue job (#1896)
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Make 'self_destruct' test checks less strict (#1908)
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove nextest test-group for xAI (#1909)
  .config/nextest.toml
Due: none

Add a comment
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

cleaned up
  examples/dynamic_evaluations/simple-agentic-rag/main.py
Due: none

Allow CI to fail for ClickHouse 'latest-alpine' (#1911)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

added .env.example
  examples/dynamic_evaluations/simple-agentic-rag/.env.example
Due: none

updated dockerignore to satisfy Cargo manifest
  .dockerignore
Due: none

cursorzero prints how many feedbacks it sends
  examples/integrations/cursorzero/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add missing supports_batch_inference fields
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/aws_bedrock.rs
  tensorzero-internal/tests/e2e/providers/azure.rs
  tensorzero-internal/tests/e2e/providers/deepseek.rs
  tensorzero-internal/tests/e2e/providers/fireworks.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-internal/tests/e2e/providers/mistral.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/providers/sglang.rs
  tensorzero-internal/tests/e2e/providers/tgi.rs
  tensorzero-internal/tests/e2e/providers/together.rs
  tensorzero-internal/tests/e2e/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix polling of completed batch inference jobs (#1917)
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add comments and `Form` component to fetcher
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

test merge queue with modal vLLM instance;
  .github/workflows/merge-queue.yml
  tensorzero-internal/fixtures/deployment/vllm-modal/vllm_inference.py
  tensorzero-internal/tests/e2e/providers/vllm.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

test merge queue with background curl
  .github/workflows/merge-queue.yml
  tensorzero-internal/fixtures/deployment/vllm-modal/vllm_inference.py
Due: prettier: ui, prettier: openai-node

Revert "Add .env support to quickstart (Python & TypeScript)"
  examples/quickstart/.env.example
  examples/quickstart/README.md
  examples/quickstart/after.py
  examples/quickstart/after_async.py
  examples/quickstart/after_openai.py
  examples/quickstart/after_openai.ts
  examples/quickstart/before.py
  examples/quickstart/package-lock.json
  examples/quickstart/package.json
  examples/quickstart/pyproject.toml
  examples/quickstart/requirements.txt
  examples/quickstart/tsconfig.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  examples/quickstart/README.md
Due: prettier: ui, prettier: openai-node

fixed curl redirect command
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

removed merge queue on push
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Renumber migration to 0025
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0025.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
