Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Run fmt
  crates/evaluations/src/evaluators/typescript_judge.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Adjust rust-build
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

otel: address review nits
  crates/tensorzero-core/src/observability/genai_otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix bad comment
  crates/evaluations/src/evaluators/typescript_judge.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Flatten RuntimeDependencies into LiveState; impl Drop on LiveState for multi-gen batch writer drain (#7255)
  crates/tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add playwright tests for UI config editor
  ui/e2e_tests/config_editing.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

UI config editor
  pnpm-lock.yaml
  ui/app/components/layout/app.sidebar.tsx
  ui/app/components/ui/code-editor.tsx
  ui/app/context/feature-flags.tsx
  ui/app/routes.ts
  ui/app/routes/config/editor-utils.test.ts
  ui/app/routes/config/editor-utils.ts
  ui/app/routes/config/route.tsx
  ui/app/utils/config/index.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix ui evaluator
  ui/app/utils/config/evaluations.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Include typescript_file in collected files for db
  crates/tensorzero-core/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix a tesT
  crates/ts-executor-pool/src/runtime/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Skip config-editing playwright tests in main e2e CI jobs
  .github/workflows/ui-tests-e2e.yml
  ui/app/context/feature-flags.tsx
  ui/e2e_tests/config_editing.spec.ts
  ui/fixtures/docker-compose.config-in-db.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix PR #7278 review comments: hotswap rate_limiting_manager; preserve connections when no URL stored
  crates/tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove file renaming test (unnamed files not persisted yet)
  ui/e2e_tests/config_editing.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Disable parallelism
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

UI config editor (#7228)
  .github/workflows/ui-tests-e2e.yml
  pnpm-lock.yaml
  ui/app/components/layout/app.sidebar.tsx
  ui/app/components/ui/code-editor.tsx
  ui/app/routes.ts
  ui/app/routes/config/editor-utils.test.ts
  ui/app/routes/config/editor-utils.ts
  ui/app/routes/config/route.tsx
  ui/app/utils/config/index.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
  ui/e2e_tests/config_editing.spec.ts
  ui/fixtures/docker-compose.config-in-db.yml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add OTel GenAI fields to inference types: provider_response_id, response_model_name, operation
  crates/tensorzero-core/src/db/postgres/model_inferences.rs
  crates/tensorzero-core/src/embeddings.rs
  crates/tensorzero-core/src/endpoints/batch_inference.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/src/function/function_config.rs
  crates/tensorzero-core/src/inference/types/mod.rs
  crates/tensorzero-core/src/inference/types/streams.rs
  crates/tensorzero-core/src/providers/anthropic.rs
  crates/tensorzero-core/src/providers/aws_bedrock.rs
  crates/tensorzero-core/src/providers/azure.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/dummy.rs
  crates/tensorzero-core/src/providers/fireworks/mod.rs
  crates/tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  crates/tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  crates/tensorzero-core/src/providers/google_ai_studio_gemini.rs
  crates/tensorzero-core/src/providers/groq.rs
  crates/tensorzero-core/src/providers/hyperbolic.rs
  crates/tensorzero-core/src/providers/mistral.rs
  crates/tensorzero-core/src/providers/openai/mod.rs
  crates/tensorzero-core/src/providers/openai/responses.rs
  crates/tensorzero-core/src/providers/openrouter.rs
  crates/tensorzero-core/src/providers/sglang.rs
  crates/tensorzero-core/src/providers/tgi.rs
  crates/tensorzero-core/src/providers/together.rs
  crates/tensorzero-core/src/providers/vllm.rs
  crates/tensorzero-core/src/providers/xai.rs
  crates/tensorzero-core/src/relay.rs
  crates/tensorzero-core/src/variant/best_of_n_sampling.rs
  crates/tensorzero-core/src/variant/mixture_of_n.rs
  crates/tensorzero-core/tests/e2e/clickhouse.rs
  crates/tensorzero-core/tests/e2e/db/evaluation_queries.rs
  crates/tensorzero-core/tests/e2e/db/model_inference_queries.rs
  crates/tensorzero-core/tests/e2e/db/model_provider_statistics_queries.rs
  crates/tensorzero-core/tests/e2e/db/postgres/pooled_inference_writes.rs
  crates/tensorzero-core/tests/e2e/db/variant_statistics_queries.rs
  crates/tensorzero-inference-types/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add ClickHouse + Postgres migrations and read/write path for OTel fields
  crates/tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0054.rs
  crates/tensorzero-core/src/db/clickhouse/migration_manager/migrations/mod.rs
  crates/tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  crates/tensorzero-core/src/db/clickhouse/model_inferences.rs
  crates/tensorzero-core/src/db/postgres/migrations/20260414000000_model_inference_otel_fields.sql
  crates/tensorzero-core/src/db/postgres/model_inferences.rs
  crates/tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add OTel fields to ModelInference API wire type + regenerate TS bindings
  crates/tensorzero-core/src/endpoints/internal/model_inferences.rs
  crates/tensorzero-node/lib/bindings/ModelInference.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix test assertions for new OTel fields in model_inferences queries
  crates/tensorzero-core/src/db/clickhouse/model_inferences.rs
  crates/tensorzero-core/src/db/postgres/model_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Extend scheduled client-test watchdog
  .github/workflows/client-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix negative tests
  crates/ts-executor-pool/src/runtime/mod.rs
  crates/ts-executor-pool/src/ts_checker.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

ui: add dark theme and modernize component styling
  ui/app/components/autopilot/TopKEvaluationViz.tsx
  ui/app/components/autopilot/YoloModeToggle.tsx
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/components/experimentation/PieChart.tsx
  ui/app/components/function/variant/VariantPerformanceChart.tsx
  ui/app/components/function/variant/VariantThroughput.tsx
  ui/app/components/inference/TryWithSelect.tsx
  ui/app/components/input_output/content_blocks/TextContentBlock.tsx
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/components/layout/app.sidebar.tsx
  ui/app/components/model/ModelLatency.tsx
  ui/app/components/model/ModelUsage.tsx
  ui/app/components/ui/Chip.tsx
  ui/app/components/ui/TableItems.tsx
  ui/app/components/ui/button.tsx
  ui/app/components/ui/chart.tsx
  ui/app/components/ui/code-editor.tsx
  ui/app/components/ui/table.tsx
  ui/app/components/utils/PageButtons.tsx
  ui/app/context/theme.tsx
  ui/app/contexts/AutopilotSessionContext.tsx
  ui/app/hooks/use-auto-approval.ts
  ui/app/providers/app-providers.tsx
  ui/app/root.tsx
  ui/app/routes/observability/episodes/EpisodesTable.tsx
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
  ui/app/routes/observability/functions/$function_name/FunctionVariantTable.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceActionBar.tsx
  ui/app/tailwind.css
  ui/app/utils/chart.ts
  ui/app/utils/date.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix: resolve all test compilation errors in tensorzero-providers
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-core/src/optimization/openai_rft/mod.rs
  crates/tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
  crates/tensorzero-optimizers/src/gcp_vertex_gemini_sft.rs
  crates/tensorzero-optimizers/src/lib.rs
  crates/tensorzero-optimizers/src/openai.rs
  crates/tensorzero-providers/src/anthropic.rs
  crates/tensorzero-providers/src/aws_bedrock.rs
  crates/tensorzero-providers/src/azure.rs
  crates/tensorzero-providers/src/deepseek.rs
  crates/tensorzero-providers/src/fireworks/mod.rs
  crates/tensorzero-providers/src/gcp_vertex_anthropic.rs
  crates/tensorzero-providers/src/gcp_vertex_gemini/mod.rs
  crates/tensorzero-providers/src/google_ai_studio_gemini.rs
  crates/tensorzero-providers/src/groq.rs
  crates/tensorzero-providers/src/helpers.rs
  crates/tensorzero-providers/src/hyperbolic.rs
  crates/tensorzero-providers/src/mistral.rs
  crates/tensorzero-providers/src/openai/mod.rs
  crates/tensorzero-providers/src/openai/responses.rs
  crates/tensorzero-providers/src/openrouter.rs
  crates/tensorzero-providers/src/sglang.rs
  crates/tensorzero-providers/src/test_helpers.rs
  crates/tensorzero-providers/src/tgi.rs
  crates/tensorzero-providers/src/together.rs
  crates/tensorzero-providers/src/vllm.rs
  crates/tensorzero-providers/src/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Flatten RuntimeDependencies into LiveState
  crates/tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Revert embedding cache test changes to split into separate PR
  crates/tensorzero-core/tests/e2e/raw_response/embeddings.rs
  crates/tensorzero-python/tests/test_embeddings.py
Due: cargo-deny, cargo-fmt, cargo-clippy

Add variant usage API endpoint (#7230)
  crates/gateway/src/routes/internal.rs
  crates/tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  crates/tensorzero-core/src/db/clickhouse/model_inferences.rs
  crates/tensorzero-core/src/db/delegating_connection.rs
  crates/tensorzero-core/src/db/mod.rs
  crates/tensorzero-core/src/db/model_inferences.rs
  crates/tensorzero-core/src/db/postgres/model_inferences.rs
  crates/tensorzero-core/src/endpoints/internal/models/mod.rs
  crates/tensorzero-core/src/endpoints/internal/models/types.rs
  crates/tensorzero-node/lib/bindings/GetVariantUsageResponse.ts
  crates/tensorzero-node/lib/bindings/VariantUsageTimePoint.ts
  crates/tensorzero-node/lib/bindings/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Move rate_limiting_manager into LiveState for atomic config hot-swaps
  crates/tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move some types from tensorzero-core to leaf crates
  crates/Cargo.lock
  crates/tensorzero-core/src/endpoints/batch_inference.rs
  crates/tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/src/inference/types/mod.rs
  crates/tensorzero-inference-types/src/lib.rs
  crates/tensorzero-types-providers/Cargo.toml
  crates/tensorzero-types-providers/src/conversions.rs
  crates/tensorzero-types-providers/src/lib.rs
  crates/tensorzero-types-providers/src/openai.rs
  crates/tensorzero-types/src/inference_response.rs
  crates/tensorzero-types/src/lib.rs
  crates/tensorzero-types/src/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix: CI issues — pre-commit exclusion, PartialEq gating
  .pre-commit-config.yaml
  crates/tensorzero-providers/src/anthropic.rs
  crates/tensorzero-providers/src/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Flatten RuntimeDependencies into LiveState (#7284)
  crates/tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Regen bindings
  crates/tensorzero-node/lib/bindings/InferenceResponse.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove ClientInferenceParams usage from ts-executor-pool
  crates/tensorzero-core/src/client/mod.rs
  crates/tensorzero-core/src/client/tool_context.rs
  crates/ts-executor-pool/src/inference.rs
  crates/ts-executor-pool/src/llm_query.rs
  crates/ts-executor-pool/src/runtime/mod.rs
  crates/ts-executor-pool/src/tensorzero_client.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix: enable e2e_tests features in providers dev-deps for PartialEq
  crates/tensorzero-providers/Cargo.toml
Due: none

refactor: decouple GCP provider constructors from core credential infra
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  crates/tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactor: prep work for tensorzero-providers crate extraction
  crates/Cargo.lock
  crates/tensorzero-core/src/db/postgres/batch_inference.rs
  crates/tensorzero-core/src/inference/mod.rs
  crates/tensorzero-core/src/inference/types/batch.rs
  crates/tensorzero-core/src/utils/mock.rs
  crates/tensorzero-core/src/utils/mod.rs
  crates/tensorzero-inference-types/Cargo.toml
  crates/tensorzero-inference-types/src/lib.rs
  crates/tensorzero-inference-types/src/provider_trait.rs
  crates/tensorzero-inference-types/src/serde_helpers.rs
  crates/tensorzero-inference-types/src/utils.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move some types from tensorzero-core to leaf crates (#7286)
  crates/Cargo.lock
  crates/tensorzero-core/src/endpoints/batch_inference.rs
  crates/tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/src/inference/types/mod.rs
  crates/tensorzero-inference-types/src/lib.rs
  crates/tensorzero-node/lib/bindings/InferenceResponse.ts
  crates/tensorzero-types-providers/Cargo.toml
  crates/tensorzero-types-providers/src/conversions.rs
  crates/tensorzero-types-providers/src/lib.rs
  crates/tensorzero-types-providers/src/openai.rs
  crates/tensorzero-types/src/inference_response.rs
  crates/tensorzero-types/src/lib.rs
  crates/tensorzero-types/src/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
