Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

fixed flaky e2e playwright test (#3072)
  ui/e2e_tests/playground.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

refactor grader -> openaigrader
  clients/python/tensorzero/tensorzero.pyi
  internal/tensorzero-node/lib/bindings/OpenAIGrader.ts
  internal/tensorzero-node/lib/bindings/OpenAIRFTConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedOpenAIRFTConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/optimization/openai_rft/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/tests/optimization/common/openai_rft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed duplicate variables bug in testing files
  tensorzero-core/tests/e2e/providers/nvidia_nim.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Test tensorzero-4x16 profile after 2x8 failed
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

OpenAIRFTCompatibleResponseFormat → OpenAIRFTResponseFormat
  clients/python/tensorzero/tensorzero.pyi
  internal/tensorzero-node/lib/bindings/OpenAIRFTConfig.ts
  internal/tensorzero-node/lib/bindings/OpenAIRFTResponseFormat.ts
  internal/tensorzero-node/lib/bindings/UninitializedOpenAIRFTConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/optimization/openai_rft/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Test tensorzero-16x32 profile after smaller ones failed
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

update stub
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
Due: none

Test working tensorzero-large-cache-volume profile to establish baseline
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Update nvidia_nim.rs
  tensorzero-core/src/providers/nvidia_nim.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Resolved test_extra_body + 5 other e2e tests
  tensorzero-core/src/providers/llama.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/llama.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Retry tensorzero-16x32 profile to check if previous failure was transient
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Resolve test_inference_extra_body
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added new e2e test function for nvidia nim
  tensorzero-core/tests/e2e/providers/nvidia_nim.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

simplify python
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
Due: none

Test parallelism -j 2 on tensorzero-16x32
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Resolve e2e test errors: test_inference_params_inference_request AND test_inference_params_streaming_inference_request
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added default user
  tensorzero-core/tests/e2e/replicated_clickhouse_config/common/default-user.xml
Due: none

Test parallelism -j 4 on tensorzero-16x32
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Test tensorzero-8x16 profile with -j 1
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

remove demonstrations folder
  recipes/supervised_fine_tuning/demonstrations/unsloth/.devcontainer/devcontainer.json
  recipes/supervised_fine_tuning/demonstrations/unsloth/README.md
  recipes/supervised_fine_tuning/demonstrations/unsloth/pyproject.toml
  recipes/supervised_fine_tuning/demonstrations/unsloth/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/unsloth/unsloth.ipynb
  recipes/supervised_fine_tuning/demonstrations/unsloth/unsloth_nb.py
  recipes/supervised_fine_tuning/demonstrations/unsloth/uv.lock
Due: prettier: ui, prettier: openai-node

Test parallelism -j 8 on tensorzero-16x32
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Store a Value directly in `StaticJSONSchema`
  evaluations/src/lib.rs
  tensorzero-core/src/config_parser/tests.rs
  tensorzero-core/src/endpoints/feedback.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/jsonschema_util.rs
  tensorzero-core/src/providers/test_helpers.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/batch/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Test parallelism -j 16 on tensorzero-16x32
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Test parallelism -j 32 on tensorzero-16x32
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

added sleep to flaky test
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Test default parallelism (no -j flag) on tensorzero-16x32
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Add test
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/config_parser/path.rs
  tensorzero-core/src/config_parser/span_map.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added default user to replicated (#3074)
  evaluations/tests/tests.rs
  tensorzero-core/tests/e2e/replicated_clickhouse_config/common/default-user.xml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Retry tensorzero-8x16 profile to check if previous failure was transient
  .github/workflows/clickhouse-runner-test.yml
Due: prettier: ui, prettier: openai-node

Update tensorzero.toml
  examples/guides/providers/nvidia_nim/config/tensorzero.toml
Due: none

added handling for default function config
  ui/app/utils/config/index.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add GitHub Actions workflow for bumping TensorZero versions in uv.lock and requirements.txt
  .github/workflows/upgrade-tensorzero-deps.yml
Due: prettier: ui, prettier: openai-node

Set 'TENSORZERO_CI=1' when regenerating fixtures to enable retries
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added wrapping handling for description in function basic info
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/routes/observability/functions/$function_name/FunctionBasicInfo.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

update unsloth and move utils
  recipes/supervised_fine_tuning/unsloth/unsloth.ipynb
  recipes/supervised_fine_tuning/unsloth/unsloth_nb.py
  recipes/util/__init__.py
  recipes/util/convert.py
  recipes/util/split.py
Due: none

removed unnecessary test function and fixed bug
  tensorzero-core/tests/e2e/providers/nvidia_nim.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update openai notebook
  recipes/supervised_fine_tuning/openai/openai.ipynb
  recipes/supervised_fine_tuning/openai/openai_nb.py
  recipes/supervised_fine_tuning/openai/pyproject.toml
  recipes/supervised_fine_tuning/openai/requirements.txt
  recipes/supervised_fine_tuning/openai/uv.lock
Due: none

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
