Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

small fixes to modal impl
  tensorzero-internal/fixtures/deployment/vllm-modal/README.md
  tensorzero-internal/fixtures/deployment/vllm-modal/vllm_inference.py
Due: prettier: ui, prettier: openai-node

Add note about `OPENAI_API_KEY` to Quick Start's README (#1884)
  examples/quickstart/README.md
Due: prettier: ui, prettier: openai-node

Add tests
  tensorzero-internal/src/inference/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Work on tests
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add anthropic test
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add Python test
  clients/python-pyo3/tests/test_client.py
Due: none

wip
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

moved rust cursorzero into experimental
  Cargo.toml
  examples/integrations/cursorzero/experimental/Cargo.toml
  examples/integrations/cursorzero/experimental/post-commit.example
  examples/integrations/cursorzero/experimental/src/clickhouse.rs
  examples/integrations/cursorzero/experimental/src/cursor.rs
  examples/integrations/cursorzero/experimental/src/git.rs
  examples/integrations/cursorzero/experimental/src/lib.rs
  examples/integrations/cursorzero/experimental/src/main.rs
  examples/integrations/cursorzero/experimental/src/parsing.rs
  examples/integrations/cursorzero/experimental/src/ted/matrix.rs
  examples/integrations/cursorzero/experimental/src/ted/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

moved cursorzero to cursor
  Cargo.toml
  examples/integrations/cursor/.env.example
  examples/integrations/cursor/.gitignore
  examples/integrations/cursor/README.md
  examples/integrations/cursor/config/tensorzero.toml
  examples/integrations/cursor/docker-compose.yml
  examples/integrations/cursor/experimental/Cargo.toml
  examples/integrations/cursor/experimental/post-commit.example
  examples/integrations/cursor/experimental/src/clickhouse.rs
  examples/integrations/cursor/experimental/src/cursor.rs
  examples/integrations/cursor/experimental/src/git.rs
  examples/integrations/cursor/experimental/src/lib.rs
  examples/integrations/cursor/experimental/src/main.rs
  examples/integrations/cursor/experimental/src/parsing.rs
  examples/integrations/cursor/experimental/src/ted/matrix.rs
  examples/integrations/cursor/experimental/src/ted/mod.rs
  examples/integrations/cursor/nginx/entrypoint.sh
  examples/integrations/cursor/nginx/nginx.conf.template
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

bumped version to 2025.4.7
  Cargo.lock
  Cargo.toml
Due: none

oops
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

updated readmes
  examples/integrations/cursor/README.md
  examples/integrations/cursor/experimental/README.md
Due: prettier: ui, prettier: openai-node

Update pyi files
  clients/python-pyo3/tensorzero/tensorzero.pyi
Due: none

added ngrok to docker compose
  examples/integrations/cursor/.env.example
  examples/integrations/cursor/README.md
  examples/integrations/cursor/docker-compose.yml
  examples/integrations/cursor/experimental/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

fixed dockerignore
  .dockerignore
Due: none

noop
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

bumped version to 2025.4.7 (#1923)
  Cargo.lock
  Cargo.toml
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cleaned up everything but the tagging stuff
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/tests/test_client.py
  clients/rust/src/lib.rs
  evaluations/src/helpers.rs
  gateway/src/main.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0025.rs
  tensorzero-internal/src/clickhouse/mod.rs
  tensorzero-internal/src/clickhouse/test_helpers.rs
  tensorzero-internal/src/endpoints/dynamic_evaluation_run.rs
  tensorzero-internal/tests/e2e/dynamic_evaluations.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add batch support to gcp_vertex_gemini provider
  Cargo.lock
  Cargo.toml
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/embeddings.rs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/model_table.rs
  tensorzero-internal/tests/e2e/dicl.rs
  tensorzero-internal/tests/e2e/providers/batch.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added an exception to docker compose test
  ci/check-docker-compose.sh
Due: none

Fix config error generation
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed cache setting for other human feedback tag
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Refactor action submission for VariantResponseModal (#1919)
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/common.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Faster UI join
  ui/app/utils/clickhouse/inference.ts
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Faster UI join
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

clearer err message
  ui/app/routes/optimization/supervised-fine-tuning/types.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

disable button if inference < 10
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Don't store extra_headers in the database
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0025.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add end to end test for json_mode=off (#1638)
  evaluations/tests/tests.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/aws_bedrock.rs
  tensorzero-internal/tests/e2e/providers/aws_sagemaker.rs
  tensorzero-internal/tests/e2e/providers/azure.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/deepseek.rs
  tensorzero-internal/tests/e2e/providers/fireworks.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-internal/tests/e2e/providers/hyperbolic.rs
  tensorzero-internal/tests/e2e/providers/mistral.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/providers/sglang.rs
  tensorzero-internal/tests/e2e/providers/tgi.rs
  tensorzero-internal/tests/e2e/providers/together.rs
  tensorzero-internal/tests/e2e/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/xai.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use 'us' prefix for AWS model names in e2e tests
  .config/nextest.toml
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Only log JsonSchemaValidation data in debug mode
  tensorzero-internal/src/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Change inference detail query to a subquery not a join (#1928)
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update test output
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix tests
  tensorzero-internal/tests/e2e/dicl.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix unequal columns in variant response modal
  ui/app/components/inference/VariantResponseModal.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Only log JsonSchemaValidation data in debug mode (#1932)
  tensorzero-internal/src/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use 'us' prefix for AWS model names in e2e tests (#1931)
  .config/nextest.toml
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
