Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

add evaluate and dataset creation tools for gepa
  tensorzero-optimizers/Cargo.toml
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Test lts in pr ci
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

added a comment for the case that templates dont exist
  internal/minijinja-utils/src/loading.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Cleanup disk space in optimization cron job (#4567)
  .github/workflows/optimization-test-cron.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Standardize actions/download-artifact versions
  .github/workflows/docker-hub-publish.yml
  .github/workflows/general.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-client-build.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
  internal/tensorzero-node/.github/workflows/CI.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Install Python 3.10 on Windows in caching-hack job
  .github/workflows/caching-hack.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Try 'shell: bash'
  .github/workflows/caching-hack.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Split out uv installation
  .github/workflows/caching-hack.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

add into_create_datapoint_request impl to RenderedSample
  tensorzero-core/src/stored_inference.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Switch back to clickhouse latest (#4658)
  .github/workflows/general.yml
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Migrate UI to v1 datapoint routes
  internal/tensorzero-node/src/database.rs
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.test.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

remove evaluate_variant
  tensorzero-optimizers/Cargo.toml
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/src/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

[STACKED] Generate Python types for extra body & header
  clients/python/tensorzero/generated_types.py
  clients/python/tensorzero/types.py
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_headers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Undo push change
  .github/workflows/caching-hack.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Small refactor to put limit logic outside SQL query
  evaluations/src/dataset.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add `Error.underlying_status_code` (#4571)
  tensorzero-core/Cargo.toml
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

updated with latest round of comments
  REVIEWING.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

removed SpanInfo
  internal/minijinja-utils/src/loading.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

impl Deref for CancellationTokens, simplify calls
  evaluations/src/evaluators/mod.rs
  evaluations/src/stopping.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Derive default for CancellationTokens
  evaluations/src/stopping.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.test.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add unit tests for RenderedSample::into_create_datapoint_request()
  tensorzero-core/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Install Python 3.10 on Windows in caching-hack job (#4659)
  .github/workflows/caching-hack.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

In CLI, remove min_inferences, rename max_inferences to max_datapoints
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Adjust versions
  .github/workflows/build-gateway-container.yml
  .github/workflows/build-mock-inference-container.yml
  .github/workflows/build-ui-container.yml
  .github/workflows/docker-hub-publish.yml
  .github/workflows/general.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-client-build.yml
  .github/workflows/tensorzero-ci-bot-failure-diagnosis.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
  internal/tensorzero-node/.github/workflows/CI.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Refactor async to allow for total datapoint inference budget and per-evaluator stopping conditions (#4592)
  Cargo.lock
  clients/python/src/lib.rs
  evaluations/Cargo.toml
  evaluations/src/dataset.rs
  evaluations/src/evaluators/mod.rs
  evaluations/src/lib.rs
  evaluations/src/stats.rs
  evaluations/src/stopping.rs
  evaluations/tests/tests.rs
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

In node, remove min_inferences and rename max_inferences to max_datapoints
  clients/python/src/lib.rs
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add initial Minikube test workflow (#4529)
  .github/workflows/general.yml
  .github/workflows/minikube.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add a library crate that finds dynamic imports in minijinja by parsing (#4644)
  Cargo.lock
  Cargo.toml
  internal/minijinja-utils/Cargo.toml
  internal/minijinja-utils/README.md
  internal/minijinja-utils/src/error.rs
  internal/minijinja-utils/src/lib.rs
  internal/minijinja-utils/src/loading.rs
  internal/minijinja-utils/src/tests.rs
  tensorzero-core/Cargo.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Tiny formatting fix
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

In UI, remove min_inferences and rename max_inferences to max_datapoints
  ui/app/routes/evaluations/AdvancedParametersAccordion.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/utils/evaluations.server.ts
  ui/app/utils/tensorzero/native_client.server.ts
  ui/e2e_tests/evaluations.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Shrink client-tests runner to 8x16
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  clients/rust/src/lib.rs
  internal/tensorzero-node/lib/bindings/StaleDatapointParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/clickhouse/test_helpers.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/tests/e2e/common.rs
  tensorzero-core/tests/e2e/datasets/mod.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove old min_inferences arg in tests
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix calls in python client to correctly pass new adaptive stopping args
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix datapoint creation e2e locator
  ui/e2e_tests/evaluations.eval_name.datapoint_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename precision_limits to precision_targets
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added golden rule
  REVIEWING.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Rename precision_limits to precision targets
  evaluations/src/lib.rs
  evaluations/tests/tests.rs
  ui/app/routes/evaluations/AdvancedParametersAccordion.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/utils/evaluations.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
