Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

rebuild schemas
  clients/rust/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Restart a failed general.yml workflow in force-merge-queue workflow (#6430)
  .github/workflows/force-merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove panic test
  tensorzero-core/src/db/valkey/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move dotted underline from UUID link to timestamp
  ui/app/components/autopilot/UuidHoverCard.tsx
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Improve hover card layout and fix timestamp
  ui/app/components/autopilot/UuidHoverCard.tsx
  ui/app/routes/api/tensorzero/inference_preview.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

use helper
  clients/rust/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add missing include_aggregated_response to baseParams
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Tune skeleton widths to match loaded content dimensions
  ui/app/components/autopilot/UuidHoverCard.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add cost-related configuration
  Cargo.lock
  Cargo.toml
  internal/tensorzero-types/Cargo.toml
  internal/tensorzero-types/src/cost.rs
  internal/tensorzero-types/src/lib.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/config/stored/mod.rs
  tensorzero-core/src/cost.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/inference/types/extra_stuff.rs
  tensorzero-core/src/lib.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/src/fireworks_sft.rs
  tensorzero-optimizers/src/openai.rs
  tensorzero-optimizers/src/together_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented a getter for ui config snapshots by hash (#6420)
  gateway/src/routes/internal.rs
  tensorzero-core/src/endpoints/ui/get_config.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/ui_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

limit == 0 validation
  tensorzero-core/src/endpoints/episodes/internal/list_episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump Ollama to qwen3:0.6b
  examples/guides/providers/aws-sagemaker/config/tensorzero.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/README.md
  tensorzero-core/fixtures/deployment/sagemaker-ollama/entrypoint.sh
  tensorzero-core/fixtures/deployment/sagemaker-ollama/scripts/test.sh
  tensorzero-core/fixtures/deployment/sagemaker-tgi/scripts/test.sh
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  examples/guides/providers/aws-sagemaker/config/tensorzero.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/README.md
  tensorzero-core/fixtures/deployment/sagemaker-ollama/entrypoint.sh
  tensorzero-core/fixtures/deployment/sagemaker-ollama/scripts/test.sh
  tensorzero-core/fixtures/deployment/sagemaker-tgi/scripts/test.sh
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump Cargo.lock
  Cargo.lock
Due: none

Add side sheet PR screenshots
  side-sheets/episode-hovercard.png
  side-sheets/inference-hovercard.png
  side-sheets/uuid-badges-session.png
Due: none

Fix
  internal/tensorzero-types/src/cost.rs
  tensorzero-core/src/cost.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

limit 0 400
  tensorzero-core/tests/e2e/endpoints/internal/episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fn detail: Extract Metrics into independent streaming section (#6194)
  ui/app/routes/observability/functions/$function_name/MetricsSection.tsx
  ui/app/routes/observability/functions/$function_name/metrics-data.server.ts
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add issue #6437 screenshot
  6437/feedback-table-broken.png
Due: none

Remove unused countPromise from fetchInferencesSectionData
  ui/app/routes/observability/functions/$function_name/inferences-data.server.ts
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Extract Inferences section with independent Suspense boundary
  ui/app/routes/observability/functions/$function_name/InferencesSection.tsx
  ui/app/routes/observability/functions/$function_name/inferences-data.server.ts
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use output_source "none" for inference preview to avoid fetching full output
  ui/app/routes/api/tensorzero/inference_preview.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bring Ollama to gemma3:1b (#6433)
  examples/guides/providers/aws-sagemaker/config/tensorzero.toml
  tensorzero-core/fixtures/deployment/sagemaker-ollama/README.md
  tensorzero-core/fixtures/deployment/sagemaker-ollama/entrypoint.sh
  tensorzero-core/fixtures/deployment/sagemaker-ollama/scripts/test.sh
  tensorzero-core/fixtures/deployment/sagemaker-tgi/scripts/test.sh
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add eval
  examples/data-extraction-ner/config/evaluations/extract_entities_llm_judge/evaluators/ner_quality_judge/variants/default/system_instructions.txt
  examples/data-extraction-ner/config/tensorzero.toml
Due: none

Add issue #6438 screenshot
  6438/eval-dataset-name-bug.png
Due: none

Revert output_source to "inference" — gateway rejects "none" for get_inferences endpoint
  ui/app/routes/api/tensorzero/inference_preview.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

upload on failure;
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix BigInt(0) type mismatch with JSON-parsed number values
  ui/app/routes/observability/functions/$function_name/FunctionVariantTable.tsx
  ui/app/routes/observability/functions/$function_name/variants-data.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix
  ui/e2e_tests/evaluations.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add 'upload_dataset' autopilot tool (#6313)
  Cargo.lock
  Cargo.toml
  gateway/src/routes/internal.rs
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/Cargo.toml
  internal/autopilot-tools/src/lib.rs
  internal/autopilot-tools/src/tools/prod/mod.rs
  internal/autopilot-tools/src/tools/prod/upload_dataset.rs
  internal/autopilot-tools/tests/common/mod.rs
  internal/autopilot-tools/tests/upload_dataset_tool.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed PR comments
  .github/workflows/ui-tests-e2e.yml
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/utils/feature_flags.server.ts
  ui/fixtures/docker-compose.proxy.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

removed the reliance on model inference cache in UI tests (#6373)
  .github/workflows/general.yml
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/slash-command-regen-fixtures.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  ci/download-provider-proxy-cache.sh
  ci/provider-proxy-cache-ui/.gitkeep
  ci/upload-provider-proxy-cache.sh
  ui/app/context/feature-flags.tsx
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/utils/feature_flags.server.ts
  ui/e2e_tests/evaluations.spec.ts
  ui/e2e_tests/homePage.spec.ts
  ui/e2e_tests/playground.spec.ts
  ui/fixtures/check-fixtures.sh
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.proxy.yml
  ui/fixtures/docker-compose.ui.yml
  ui/fixtures/download_fixtures_consts.py
  ui/fixtures/load_fixtures.sh
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/regenerate-model-inference-cache.sh
  ui/fixtures/upload-small-fixtures.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update docs (#6421)
  docs/gateway/guides/inference-time-optimizations.mdx
Due: none

Load large fixtures into postgres
  tensorzero-core/tests/e2e/Dockerfile.postgres
  tensorzero-core/tests/e2e/docker-compose-common.yml
  tensorzero-core/tests/e2e/docker-compose.yml
  ui/fixtures/docker-compose-common.yml
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/load_large_fixtures_postgres.py
  ui/fixtures/pyproject.toml
  ui/fixtures/reset-dev-postgres.sh
  ui/fixtures/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Tuning for logging
  tensorzero-core/tests/e2e/Dockerfile.postgres
  ui/fixtures/load_fixtures_postgres.sh
Due: none

Docs: description (#6404)
  docs/evaluations/inference-evaluations/configuration-reference.mdx
  docs/gateway/configuration-reference.mdx
Due: none

Docs: dynamic OTLP extra attributes (#6410)
  docs/gateway/api-reference/inference-openai-compatible.mdx
  docs/gateway/api-reference/inference.mdx
  docs/operations/export-opentelemetry-traces.mdx
Due: none
