Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

update rust docstring
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update bindings
  internal/tensorzero-node/lib/bindings/FireworksSFTConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedFireworksSFTConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

update python
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_optimization.py
Due: none

Add temporary Product Hunt message to README.md
  README.md
Due: prettier: ui, prettier: openai-node

Update README.md
  README.md
Due: prettier: ui, prettier: openai-node

update rust
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/optimization/together_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update python client
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_optimization.py
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update ui
  ui/app/utils/supervised_fine_tuning/client.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update nvidia_nim.rs
  tensorzero-core/src/providers/nvidia_nim.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update styles and copy
  ui/app/routes/observability/functions/$function_name/FunctionBasicInfo.tsx
  ui/app/utils/config/index.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

update error string
  tensorzero-core/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix naming error
  tensorzero-core/src/optimization/together_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump lots of 100ms sleeps to 200ms
  tensorzero-core/tests/e2e/dynamic_evaluations.rs
  tensorzero-core/tests/e2e/human_feedback.rs
  tensorzero-core/tests/e2e/inference.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-core/tests/e2e/timeouts.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed improper memoization of gateway connection info
  ui/app/components/layout/TensorZeroStatusIndicator.tsx
  ui/app/components/layout/app.sidebar.tsx
  ui/app/hooks/use-active-path.ts
  ui/app/routes/api/tensorzero/status.ts
  ui/app/routes/index.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update logger and Storybook version
  pnpm-lock.yaml
  ui/app/components/inference/Output.stories.tsx
  ui/app/utils/clickhouse/feedback.test.ts
  ui/app/utils/logger.ts
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added loading states to dataset builder
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/datasets/builder/DatasetCountDisplay.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Refactor templates/schemas in preparation for named templates
  evaluations/src/helpers.rs
  internal/tensorzero-node/lib/bindings/BestOfNEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/ChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/ChatCompletionConfig.ts
  internal/tensorzero-node/lib/bindings/FunctionConfigChat.ts
  internal/tensorzero-node/lib/bindings/FunctionConfigJson.ts
  internal/tensorzero-node/lib/bindings/FuserConfig.ts
  internal/tensorzero-node/lib/bindings/OptimizerOutput.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/config_parser/tests.rs
  tensorzero-core/src/endpoints/feedback.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/minijinja_util.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/dynamic.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add bindings
  internal/tensorzero-node/lib/bindings/ChatTemplates.ts
  internal/tensorzero-node/lib/bindings/SchemaData.ts
  internal/tensorzero-node/lib/bindings/TemplateWithSchema.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Prevent deadlock in Python when dropping inference stream (#3098)
  clients/python/src/gil_helpers.rs
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try to cancel workflow run when a PR is removed from the merge queue
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

add rust boilerplate
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/tests/optimization/common/dicl.rs
  tensorzero-core/tests/optimization/common/mod.rs
  tensorzero-core/tests/optimization/live_tests.rs
  tensorzero-core/tests/optimization/mock_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try to cancel old merge queue workflow runs for the same PR branch
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

avoid naming collision with DiclConfig
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/tests/optimization/common/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add bindings
  internal/tensorzero-node/lib/bindings/DICLOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/DICLOptimizationJobHandle.ts
  internal/tensorzero-node/lib/bindings/OptimizationJobHandle.ts
  internal/tensorzero-node/lib/bindings/OptimizerConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDICLOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedOptimizerConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedOptimizerInfo.ts
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Run pytest in verbose mode in CI (#3100)
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

add python
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_optimization.py
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

refactor rust code
  clients/python/src/lib.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/tests/optimization/common/dicl.rs
  tensorzero-core/tests/optimization/live_tests.rs
  tensorzero-core/tests/optimization/mock_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

refactor bindings
  internal/tensorzero-node/lib/bindings/DICLOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/DICLOptimizationJobHandle.ts
  internal/tensorzero-node/lib/bindings/OptimizationJobHandle.ts
  internal/tensorzero-node/lib/bindings/OptimizerConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDICLOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedOptimizerConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedOptimizerInfo.ts
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Adjust nodejs template code
  ui/app/components/function/FunctionSelector.stories.tsx
  ui/app/components/function/variant/VariantEditor.stories.tsx
  ui/app/components/function/variant/VariantEditor.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/observability/functions/$function_name/FunctionSchema.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantTemplate.tsx
  ui/app/routes/optimization/supervised-fine-tuning/TemplateDetailsDialog.tsx
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/config/variant.server.ts
  ui/app/utils/config/variant.test.ts
  ui/app/utils/resolve.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

bumped TS clickhouse client timeout to 5 minutes
  ui/app/utils/clickhouse/client.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix variant editor
  ui/app/components/function/variant/VariantEditor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

refactor python
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_optimization.py
Due: none

Bump lots of 100ms sleeps to 200ms (#3106)
  tensorzero-core/tests/e2e/dynamic_evaluations.rs
  tensorzero-core/tests/e2e/human_feedback.rs
  tensorzero-core/tests/e2e/inference.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-core/tests/e2e/timeouts.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Run format
  ui/app/components/function/variant/VariantEditor.stories.tsx
  ui/app/components/function/variant/VariantEditor.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/optimization/supervised-fine-tuning/TemplateDetailsDialog.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rename DICLOptimizationConfig.ts to DiclOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/DiclOptimizationConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rename DICLOptimizationJobHandle.ts to DiclOptimizationJobHandle.ts
  internal/tensorzero-node/lib/bindings/DiclOptimizationJobHandle.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rename UninitializedDICLOptimizationConfig.ts to UninitializedDiclOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDiclOptimizationConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add config option to disable howdy
  tensorzero-core/src/config_parser/gateway.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
