Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

Update
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/feedback/FeedbackTable.tsx
  ui/app/components/feedback/FeedbackValue.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

working on tensorzero.toml file
  schemas/tensorzero.schema.json
Due: prettier: ui, prettier: openai-node

Update
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Update
  ui/app/components/evaluations/MetricValue.tsx
  ui/app/components/feedback/FeedbackValue.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/package.json
  ui/pnpm-lock.yaml
  ui/vite.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix merge conflict
  tensorzero-internal/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  ui/app/components/feedback/FeedbackValue.tsx
  ui/app/components/metric/MetricBadges.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/components/metric/MetricBadges.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Show more detailed error when config file is invalid TOML
  gateway/src/main.rs
  tensorzero-internal/src/config_parser.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Revert "MIPRO->SIPRO"
  README.md
  recipes/mipro/README.md
  recipes/mipro/config/functions/generate_instruction/baseline/system_template.minijinja
  recipes/mipro/config/functions/generate_instruction/output_schema.json
  recipes/mipro/config/functions/generate_instruction/system_schema.json
  recipes/mipro/config/functions/judge_answer/baseline/system_template.minijinja
  recipes/mipro/config/functions/judge_answer/baseline/user_template.minijinja
  recipes/mipro/config/functions/judge_answer/output_schema.json
  recipes/mipro/config/functions/judge_answer/system_schema.json
  recipes/mipro/config/functions/judge_answer/user_schema.json
  recipes/mipro/config/tensorzero.toml
  recipes/mipro/mipro.ipynb
  recipes/mipro/requirements.in
  recipes/mipro/requirements.txt
  recipes/mipro/utils/client_calls.py
  recipes/mipro/utils/configs/base.py
  recipes/mipro/utils/configs/config.py
  recipes/mipro/utils/configs/functions.py
  recipes/mipro/utils/configs/gateway.py
  recipes/mipro/utils/configs/metrics.py
  recipes/mipro/utils/configs/reader.py
  recipes/mipro/utils/configs/tools.py
  recipes/mipro/utils/configs/variants.py
  recipes/mipro/utils/configs/writers.py
  recipes/mipro/visualization.svg
  recipes/sipro/README.md
  recipes/sipro/visualization.svg
Due: prettier: ui, prettier: openai-node

Update
  tensorzero-internal/fixtures/config/evaluations/evaluation1/llm_judge_bool/system_instructions.txt
  tensorzero-internal/fixtures/config/evaluations/evaluation1/llm_judge_float/system_instructions.txt
  tensorzero-internal/fixtures/config/tensorzero.test.toml
  tensorzero-internal/fixtures/config/tensorzero.toml
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/evaluations/mod.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/app/components/evaluations/EvaluationRunBadge.tsx
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/routes/api/evaluations/search_runs/$evaluation_name/route.ts
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationErrorInfo.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$evaluation_name/VariantSelector.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/evaluations/EvaluationRunsTable.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/routes/index.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
  ui/app/utils/clickhouse/evaluations.ts
  ui/app/utils/config/evaluations.server.ts
  ui/app/utils/config/index.server.ts
  ui/app/utils/config/index.test.ts
  ui/app/utils/evaluations.server.ts
  ui/app/utils/evaluations.ts
  ui/e2e_tests/evaluations.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

noop
  pnpm-lock.yaml
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/feedback/FeedbackValue.tsx
  ui/vitest.workspace.js
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

renamed evaluation config -> static evaluation config
  evaluations/src/evaluators/mod.rs
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added type=static to config parsing
  tensorzero-internal/fixtures/config/tensorzero.test.toml
  tensorzero-internal/fixtures/config/tensorzero.toml
  tensorzero-internal/src/evaluations/mod.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/EvaluationDatapointBasicInfo.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationBasicInfo.tsx
  ui/app/utils/config/evaluations.server.ts
  ui/app/utils/config/evaluations.ts
  ui/fixtures/config/tensorzero.e2e.toml
  ui/fixtures/config/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added static config logic throughout eval binary
  evaluations/src/evaluators/mod.rs
  evaluations/src/lib.rs
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wrote migration & added test
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added deduping to clickhouse PUT request
  evaluations/src/evaluators/exact_match.rs
  evaluations/tests/tests.rs
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added deduping to insert_from_existing
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

a file
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0022.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-internal/src/clickhouse/mod.rs
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped pyo3 for security update
  Cargo.toml
  clients/python-pyo3/Cargo.toml
Due: none

oop
  Cargo.lock
  clients/python-pyo3/Cargo.toml
Due: none

Add test
  gateway/src/main.rs
  tensorzero-internal/src/config_parser.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Delete ClickHouse cloud dbs older than 1 hour
  ci/delete-clickhouse-dbs.sh
Due: none

Only run ClickHouse Cloud tests in merge queue
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

oop
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

oop
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix typo
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

added dataset builder button
  ui/app/routes/datasets/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

a file
  ui/app/routes/datasets/BuildDatasetButton.tsx
  ui/app/routes/datasets/DatasetsActions.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added evaluations dockerfile and added to RELEASE_GUIDE
  RELEASE_GUIDE.md
  evaluations/Dockerfile
Due: prettier: ui, prettier: openai-node

changed --variant to --variant-name in evals binary
  evaluations/src/lib.rs
  evaluations/tests/tests.rs
  ui/app/utils/evaluations.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node
