Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

Add job_url
  internal/tensorzero-node/lib/bindings/TogetherSFTJobHandle.ts
  tensorzero-core/src/optimization/together_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

moved results above job details in SFT page
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.tsx
  ui/app/routes/optimization/supervised-fine-tuning/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

error is tuned_model.endpoint is None
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

upload train val data in parallel
  tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

moved results above job details in SFT page (#2759)
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.tsx
  ui/app/routes/optimization/supervised-fine-tuning/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

use location_subdomain_prefix
  tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

remove job_id from GCPVertexGeminiSFTJobHandle
  tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add tools
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add tools
  internal/tensorzero-node/lib/bindings/GCPVertexGeminiSFTJobHandle.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Don't set credentials for ui container when running e2e tests
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

fixed dataset tests that were added in merge
  tensorzero-core/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added pure getConfig function in napi client
  clients/rust/src/lib.rs
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/lib.rs
  ui/app/utils/config/index.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Delete more creds
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

added http methods to the Rust client for launching an optimization workflow and polling it
  clients/rust/src/lib.rs
  gateway/src/main.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/clickhouse/query_builder/mod.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/endpoints/optimization.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

capitalize tool types
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implemented tests for optimization that use the Rust client
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/tests/optimization/fireworks_sft.rs
  tensorzero-core/tests/optimization/openai_sft.rs
  tensorzero-core/tests/optimization/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implemented HTTP client in Node + UI
  Cargo.lock
  internal/tensorzero-node/Cargo.toml
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/lib.rs
  ui/app/utils/supervised_fine_tuning/client.ts
  ui/app/utils/supervised_fine_tuning/native.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

changed routes to experimental and get_config should have _no_verify_credentials
  clients/rust/src/lib.rs
  gateway/src/main.rs
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed optimizations tests
  .cargo/config.toml
  .config/nextest.toml
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/tests/optimization/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added a gateway to optimizations tests
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Update
  gateway/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  .pre-commit-config.yaml
Due: prettier: ui, prettier: openai-node

fix test
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

fixed test
  internal/tensorzero-node/lib/tests/integration.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Track custom datapoints and link to original inference (#2689)
  .github/workflows/slash-command-regen-fixtures.yml
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_datapoints.py
  evaluations/src/evaluators/exact_match.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/tests/tests.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0032.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/render_inferences.rs
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/components/layout/PageLayout.tsx
  ui/app/components/ui/Chip.tsx
  ui/app/components/utils/CancelButton.tsx
  ui/app/components/utils/DeleteButton.tsx
  ui/app/components/utils/EditButton.tsx
  ui/app/components/utils/SaveButton.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointBasicInfo.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.test.ts
  ui/app/utils/clickhouse/datasets.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
  ui/fixtures/docker-compose.ui.yml
  ui/fixtures/regenerate-model-inference-cache.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed prettier?
  internal/tensorzero-node/lib/tests/integration.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Remove embedded Rust client from UI (#2763)
  .cargo/config.toml
  .config/nextest.toml
  .github/workflows/general.yml
  Cargo.lock
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  gateway/src/main.rs
  internal/tensorzero-node/Cargo.toml
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/clickhouse/query_builder/mod.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/endpoints/optimization.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/optimization/fireworks_sft.rs
  tensorzero-core/tests/optimization/openai_sft.rs
  tensorzero-core/tests/optimization/tests.rs
  ui/app/utils/config/index.server.ts
  ui/app/utils/supervised_fine_tuning/client.ts
  ui/app/utils/supervised_fine_tuning/native.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed bad test in merge
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update (#2764)
  .pre-commit-config.yaml
Due: prettier: ui, prettier: openai-node

added migration 33 for deployment id (#2571)
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0033.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Enforce that `AppStateData` is only constructed through explicit methods
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/endpoints/optimization.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/src/testing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix typo
  tensorzero-core/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix merge fallout
  tensorzero-core/src/optimization/together_sft/mod.rs
  tensorzero-core/tests/optimization/together_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

refactor GCPVertexGeminiRequestMessage
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Split variables for gateway
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

increased timeouts on slow UI tests
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/supervised_fine_tuning/native.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Enforce that `AppStateData` is only constructed through explicit methods (#2765)
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/endpoints/optimization.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/src/testing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Specify .env-gateway in docker compose
  .github/workflows/ui-tests-e2e.yml
  ui/fixtures/docker-compose.e2e.yml
Due: prettier: ui, prettier: openai-node

Add empty env file
  ui/fixtures/.env-gateway
Due: none
