Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Update ui
  internal/tensorzero-node/lib/bindings/ToolOutcome.ts
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add action endpoint for run evals
  clients/rust/src/lib.rs
  gateway/src/routes/action.rs
  gateway/src/routes/internal.rs
  tensorzero-core/src/endpoints/internal/action.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add script instruction
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

Fix
  examples/haiku-hidden-preferences/requirements.txt
Due: none

fix arguments in haiku hidden preferences example (#5726)
  examples/haiku-hidden-preferences/haiku.ipynb
  examples/haiku-hidden-preferences/requirements.txt
  examples/haiku-hidden-preferences/uv.lock
Due: none

Add ToolOutcome::Rejected (#5794)
  internal/autopilot-client/src/types.rs
  internal/tensorzero-node/lib/bindings/ToolOutcome.ts
  ui/app/components/autopilot/EventStream.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Regenerate ModelInferenceCache fixtures
  ui/fixtures/download-small-fixtures.py
Due: none

Improve error message for global_outbound_http_timeout_ms
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/retries-fallbacks.mdx
  gateway/tests/global_timeout.rs
  tensorzero-core/src/http.rs
  tensorzero-core/src/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Improve error message for global_outbound_http_timeout_ms
  tensorzero-core/src/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add tool call schema
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-types/src/message.rs
  internal/tensorzero-types/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  docs/evaluations/inference-evaluations/configuration-reference.mdx
Due: none

Fix
  tensorzero-core/src/config/tests.rs
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add streaming primitives for detail pages (#5797)
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add script instruction (#5801)
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

allow users to tag evaluations and propagate autopilot tags to evaluations
  clients/python/src/lib.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/evaluators/mod.rs
  evaluations/src/lib.rs
  evaluations/src/types.rs
  evaluations/tests/tests.rs
  gateway/src/routes/evaluations.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/src/tools/prod/run_evaluation.rs
  internal/autopilot-tools/tests/run_evaluation_tool.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add tool call schema (#5803)
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-types/src/message.rs
  internal/tensorzero-types/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Address PR feedback: fix breadcrumb hrefs and move URL docs
  ui/AGENTS.md
  ui/app/ROUTES.md
  ui/app/routes/workflow-evaluations/projects/$project_name/route.tsx
  ui/app/routes/workflow-evaluations/runs/$run_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add graceful Postgres degradation to API keys page
  ui/app/components/ui/PostgresRequiredState.tsx
  ui/app/routes/api-keys/AuthActions.tsx
  ui/app/routes/api-keys/GenerateKeyButton.tsx
  ui/app/routes/api-keys/route.tsx
  ui/app/utils/postgres.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

action e2e tests: http only
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add virtualization support for Combobox and ButtonSelect
  pnpm-lock.yaml
  ui/app/components/ui/combobox/Combobox.tsx
  ui/app/components/ui/combobox/ComboboxMenuItems.tsx
  ui/app/components/ui/select/ButtonSelect.tsx
  ui/app/components/ui/virtualized-command-items.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clarify that both RR7 and gateway API routes use underscores
  ui/app/ROUTES.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add storybook stories for virtualization
  ui/app/components/ui/combobox/Combobox.stories.tsx
  ui/app/components/ui/select/ButtonSelect.stories.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove description text from storybook renders
  ui/app/components/ui/combobox/Combobox.stories.tsx
  ui/app/components/ui/select/ButtonSelect.stories.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Improve error message for `global_outbound_http_timeout_ms` (#5802)
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/retries-fallbacks.mdx
  gateway/tests/global_timeout.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/http.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move URL conventions to ui/app/routes/README.md
  ui/app/routes/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Extract count display logic to dedicated module with error handling
  ui/app/components/layout/CountDisplay.tsx
  ui/app/components/layout/PageLayout.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Stricter autopilot types
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  internal/tensorzero-node/lib/bindings/EventPayload.ts
  internal/tensorzero-node/lib/bindings/EventPayloadError.ts
  internal/tensorzero-node/lib/bindings/EventPayloadMessage.ts
  internal/tensorzero-node/lib/bindings/EventPayloadMessageContent.ts
  internal/tensorzero-node/lib/bindings/EventPayloadStatusUpdate.ts
  internal/tensorzero-node/lib/bindings/EventPayloadToolCall.ts
  internal/tensorzero-node/lib/bindings/EventPayloadToolCallAuthorization.ts
  internal/tensorzero-node/lib/bindings/EventPayloadToolResult.ts
  internal/tensorzero-node/lib/bindings/index.ts
  ui/app/components/autopilot/EventStream.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Move Action Endpoint Handler from tensorzero-core to Gateway (#5795)
  clients/rust/src/lib.rs
  gateway/src/routes/action.rs
  gateway/src/routes/internal.rs
  gateway/src/routes/mod.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  tensorzero-core/src/endpoints/internal/action.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add React Router streaming to api-keys page
  ui/app/routes/api-keys/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add graceful Postgres degradation to api-keys page
  ui/app/components/ui/PostgresRequiredState.tsx
  ui/app/routes/api-keys/AuthActions.tsx
  ui/app/routes/api-keys/GenerateKeyButton.tsx
  ui/app/routes/api-keys/route.tsx
  ui/app/utils/postgres.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Uncomment test
  clients/rust/tests/test_stored_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use client.inference to help clickhouse consistency
  clients/rust/tests/test_stored_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use client.inference to help clickhouse consistency (#5763)
  clients/rust/tests/test_stored_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add missing margin and alignment classes to PageCount
  ui/app/components/layout/CountDisplay.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add Valkey to Gateway
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/src/test_helpers.rs
  internal/durable-tools/src/action.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/endpoints/internal/autopilot.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Test fixes
  clients/rust/src/test_helpers.rs
  gateway/tests/auth.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/rate_limiting.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add e2e tests
  clients/python/src/lib.rs
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/test_helpers.rs
  evaluations/src/lib.rs
  evaluations/tests/common/mod.rs
  evaluations/tests/tests.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/rate_limiting.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/inference/extra_body.rs
  tensorzero-core/tests/e2e/otel.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Implement HealthCheckable on ValkeyConnectionInfo
  gateway/src/main.rs
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
