Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Fix typo
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update ui/app/components/layout/SnippetContent.tsx
  ui/app/components/layout/SnippetContent.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Apply suggestion from @Copilot
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Check the hashed long key in 'check_key'
  internal/tensorzero-auth/.sqlx/query-6d5d509fab9c81857df753f0ae30909ab85bddc79af8617feea60f857a463e5e.json
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/postgres/mod.rs
  internal/tensorzero-auth/tests/e2e/db/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add function for asymptotic confidence sequences for bandit feedback (#3998)
  tensorzero-core/src/db/clickhouse/feedback.rs
  tensorzero-core/src/db/feedback.rs
  tensorzero-core/src/experimentation/asymptotic_confidence_sequences.rs
  tensorzero-core/src/experimentation/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented model shorthand for responses (#4057)
  clients/openai-node/tests/inference-openai-responses-api.test.ts
  clients/python/tests/inference-openai-responses-api/test_openai_sdk.py
  clients/python/tests/inference-openai-responses-api/test_tensorzero_sdk.py
  tensorzero-core/src/model.rs
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

bumped version to 2025.10.6
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add SQLX_OFFLINE=1 in more places
  .github/workflows/general.yml
  ci/buildkite/test-clickhouse-cloud.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Cleanup components
  ui/app/components/inference/Input.tsx
  ui/app/components/layout/SnippetContent.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Also check hash when disabling key
  internal/tensorzero-auth/.sqlx/query-84e285d921de232b86b8b2dfa67eacca430cac8e8fbace55b3204e84b9327fcb.json
  internal/tensorzero-auth/.sqlx/query-ba4299bc0d5a0eea160319bf1f972ef7cd5468db733746839826c0b463e9b06a.json
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed typing issues
  ui/app/components/function/FunctionSelector.stories.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

feat: add configurable Anthropic API base
  docs/gateway/configuration-reference.mdx
  internal/tensorzero-node/lib/bindings/AnthropicDefaults.ts
  internal/tensorzero-node/lib/bindings/AnthropicProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedProviderConfig.ts
  tensorzero-core/src/config/provider_types.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/model_table.rs
  tensorzero-core/src/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Don't copy fixtures into container builds
  .dockerignore
Due: none

bumped version to 2025.10.6 (#4061)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Don't copy fixtures into container builds (#4064)
  .dockerignore
Due: none

fixed issues
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Set explicit GHA permissions for general.yml (#4012)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Convert Status::Unset to Status::Ok when exporting OTEL spans
  tensorzero-core/src/observability/exporter_wrapper.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move <div> outside <p> so server-rendered html doesn't get discarded
  ui/app/components/layout/PageLayout.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add pie chart with estimated optimal probabilities
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add Postgres to docker, add track-and-stop to fixtures
  ui/fixtures/config/tensorzero.toml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix typo
  tensorzero-core/src/observability/exporter_wrapper.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

updated tests and documentation
  clients/openai-node/tests/inference-openai-responses-api.test.ts
  clients/python/tests/inference-openai-responses-api/test_openai_sdk.py
  clients/python/tests/inference-openai-responses-api/test_tensorzero_sdk.py
  docs/gateway/call-the-openai-responses-api.mdx
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Change struct and function names to include TrackAndStop
  internal/tensorzero-node/lib/bindings/EstimateTrackAndStopOptimalProbabilitiesParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update function name to include TrackAndStop
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update track-and-stop pie chart to include probabilities for nursery variants
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Set SQLX_OFFLINE in merge queue
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Store ScopeInfo in InferenceClients
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix a bug where tool_call round trips are dropping ids
  clients/python/tests/test_datapoints.py
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/human_feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add Postgres support to 'tensorzero-auth' API keys (#4059)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  Cargo.lock
  ci/buildkite/test-clickhouse-cloud.sh
  internal/tensorzero-auth/.sqlx/query-0840444aba5173638af00515d7b2d58c010541a563830b7a39c626f57d8f9fbb.json
  internal/tensorzero-auth/.sqlx/query-0b7e77e15ab4042366d999eeb24fa4865d58dcb792dc4a731159b1d852efe2b4.json
  internal/tensorzero-auth/.sqlx/query-6d5d509fab9c81857df753f0ae30909ab85bddc79af8617feea60f857a463e5e.json
  internal/tensorzero-auth/.sqlx/query-84e285d921de232b86b8b2dfa67eacca430cac8e8fbace55b3204e84b9327fcb.json
  internal/tensorzero-auth/Cargo.toml
  internal/tensorzero-auth/sqlx.toml
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/postgres/migrations/20251020144538_api_key.sql
  internal/tensorzero-auth/src/postgres/mod.rs
  internal/tensorzero-auth/tests/e2e/db/mod.rs
  internal/tensorzero-auth/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

removed stray print
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added test for filtering garbage tool
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed bindings
  internal/tensorzero-node/lib/bindings/FinishReason.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed unit tests
  tensorzero-core/src/providers/openai/responses.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

Fix a bug where tool_call round trips are dropping ids (#4062)
  clients/python/tests/test_datapoints.py
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/human_feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

prefixed unknown finish reason with "Unknown: "
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Create node version of estimate_optimal_probabilities for UI (#4016)
  internal/tensorzero-node/lib/bindings/EstimateTrackAndStopOptimalProbabilitiesParams.ts
  internal/tensorzero-node/lib/bindings/FeedbackByVariant.ts
  internal/tensorzero-node/lib/bindings/GetFeedbackByVariantParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/database.rs
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/db/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Store ScopeInfo in InferenceClients (#4067)
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
