Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Remove TensorZero inference API from OpenAI Responses API guide
  docs/gateway/call-the-openai-responses-api.mdx
  examples/docs/guides/gateway/call-the-openai-responses-api/pyproject.toml
  examples/docs/guides/gateway/call-the-openai-responses-api/tensorzero_sdk.py
  examples/docs/guides/gateway/call-the-openai-responses-api/uv.lock
Due: none

Bump uv.lock for call-any-llm example
  examples/docs/guides/gateway/call-any-llm/uv.lock
Due: none

Bump uv.lock for call-the-openai-responses-api example
  examples/docs/guides/gateway/call-the-openai-responses-api/uv.lock
Due: none

Restore 'Use a unified API' bullet point in Responses API guide
  docs/gateway/call-the-openai-responses-api.mdx
Due: none

Rename tabs to 'Python' and 'Node' in Responses API guide
  docs/gateway/call-the-openai-responses-api.mdx
Due: none

Update configure functions & variants guide to use OpenAI SDK for inference
  docs/gateway/configure-functions-and-variants.mdx
Due: none

Use OpenAI SDK for inference in create-a-prompt-template guide
  docs/gateway/create-a-prompt-template.mdx
  examples/docs/guides/gateway/create-a-prompt-template/README.md
  examples/docs/guides/gateway/create-a-prompt-template/pyproject.toml
  examples/docs/guides/gateway/create-a-prompt-template/tensorzero_sdk.py
  examples/docs/guides/gateway/create-a-prompt-template/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove HTTP tab from configure functions & variants guide
  docs/gateway/configure-functions-and-variants.mdx
Due: none

Update generate-structured-outputs guide to use OpenAI SDK for inference
  docs/gateway/generate-structured-outputs.mdx
  examples/docs/guides/gateway/generate-structured-outputs/pyproject.toml
  examples/docs/guides/gateway/generate-structured-outputs/tensorzero_sdk.py
  examples/docs/guides/gateway/generate-structured-outputs/uv.lock
Due: none

Update inference caching guide to use OpenAI SDK instead of TensorZero SDK
  docs/gateway/guides/inference-caching.mdx
Due: none

Update multimodal inference guide to use OpenAI SDK for inference
  docs/gateway/guides/multimodal-inference.mdx
  examples/guides/multimodal-inference/README.md
  examples/guides/multimodal-inference/main_openai.py
  examples/guides/multimodal-inference/pyproject.toml
  examples/guides/multimodal-inference/tensorzero_sdk.py
  examples/guides/multimodal-inference/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update episodes guide to use OpenAI SDK for inference
  docs/gateway/guides/episodes.mdx
  examples/guides/episodes/openai_sdk.py
  examples/guides/episodes/pyproject.toml
  examples/guides/episodes/uv.lock
Due: none

Update metrics-feedback guide to use OpenAI SDK for inference
  docs/gateway/guides/metrics-feedback.mdx
  examples/guides/metrics-feedback/README.md
  examples/guides/metrics-feedback/main.py
  examples/guides/metrics-feedback/main.ts
  examples/guides/metrics-feedback/package.json
  examples/guides/metrics-feedback/pyproject.toml
  examples/guides/metrics-feedback/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update streaming inference guide to use OpenAI SDK for inference
  docs/gateway/guides/streaming-inference.mdx
  examples/guides/streaming-inference/README.md
  examples/guides/streaming-inference/pyproject.toml
  examples/guides/streaming-inference/run.py
  examples/guides/streaming-inference/run.sh
  examples/guides/streaming-inference/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Replace /inference HTTP examples with OpenAI-compatible endpoint
  docs/gateway/create-a-prompt-template.mdx
  examples/docs/guides/gateway/create-a-prompt-template/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add skip_for_postgres!() macro and guard all tests that call get_clickhouse()
  tensorzero-core/tests/e2e/provider_tools/anthropic.rs
  tensorzero-core/tests/e2e/provider_tools/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/provider_tools/openai_responses.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/batch.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/mock_batch.rs
  tensorzero-core/tests/e2e/providers/openai/custom_tools.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
  tensorzero-core/tests/e2e/utils/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove Node tab — original guide only had Python
  docs/gateway/guides/inference-caching.mdx
Due: none

Rename main_openai.py back to openai_sdk.py and update README
  examples/guides/multimodal-inference/README.md
  examples/guides/multimodal-inference/openai_sdk.py
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove Node tab from episodes guide
  docs/gateway/guides/episodes.mdx
Due: none

Remove Node example files from metrics-feedback
  examples/guides/metrics-feedback/README.md
  examples/guides/metrics-feedback/main.ts
  examples/guides/metrics-feedback/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove Node and HTTP tabs from streaming inference guide
  docs/gateway/guides/streaming-inference.mdx
Due: none

Remove HTTP example from prompt template guide
  docs/gateway/create-a-prompt-template.mdx
Due: none

Simplify OpenAI client usage in episodes guide
  docs/gateway/guides/episodes.mdx
  examples/guides/episodes/openai_sdk.py
Due: none

Update PR #6617 screenshots
  6617/pr-6617-episode-feedback.png
  6617/pr-6617-inference-feedback.png
  6617/pr-6617-metric-tooltip.png
Due: none

Rename t0_client to t0 in metrics-feedback guide and example
  docs/gateway/guides/metrics-feedback.mdx
  examples/guides/metrics-feedback/main.py
Due: none

Update streaming inference examples: add api_key, rename file, remove run.sh
  docs/gateway/guides/streaming-inference.mdx
  examples/guides/streaming-inference/README.md
  examples/guides/streaming-inference/openai_sdk.py
  examples/guides/streaming-inference/run.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove import and client setup from Node snippet
  docs/gateway/configure-functions-and-variants.mdx
Due: none

Remove curl example from create-a-prompt-template README
  examples/docs/guides/gateway/create-a-prompt-template/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use plain client assignment instead of context manager for OpenAI client
  docs/gateway/guides/streaming-inference.mdx
  examples/guides/streaming-inference/openai_sdk.py
Due: none

Remove Node tabs from metrics-feedback guide
  docs/gateway/guides/metrics-feedback.mdx
Due: none

Remove TensorZero SDK from episodes example
  examples/guides/episodes/main.py
  examples/guides/episodes/pyproject.toml
  examples/guides/episodes/uv.lock
Due: none

Add skip_for_postgres!() macro and guard all tests that call get_clickhouse()
  .github/workflows/live-tests.yml
  clients/rust/src/test_helpers.rs
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/built_in.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/dynamic_variants.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/human_feedback.rs
  tensorzero-core/tests/e2e/image_url.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/inference/tool_params.rs
  tensorzero-core/tests/e2e/inference_evaluation_human_feedback.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
  tensorzero-core/tests/e2e/openai_compatible.rs
  tensorzero-core/tests/e2e/provider_tools/anthropic.rs
  tensorzero-core/tests/e2e/provider_tools/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/provider_tools/openai_responses.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/batch.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/mock_batch.rs
  tensorzero-core/tests/e2e/providers/openai/custom_tools.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
  tensorzero-core/tests/e2e/raw_response/retries.rs
  tensorzero-core/tests/e2e/retries.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-core/tests/e2e/timeouts.rs
  tensorzero-core/tests/e2e/utils/mod.rs
  tensorzero-core/tests/e2e/workflow_evaluations.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add cache key collision tests for extra_body, extra_headers, and embedding requests
  tensorzero-core/src/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix model format in namespace guide: use `::` separator instead of `=`
  docs/experimentation/scope-experiments-with-namespaces.mdx
  docs/gateway/api-reference/inference-openai-compatible.mdx
Due: none

Update quickstart to use OpenAI SDK for inference instead of TensorZero SDK
  docs/quickstart.mdx
  examples/quickstart/after.py
  examples/quickstart/after.ts
  examples/quickstart/after_async.py
  examples/quickstart/after_openai.py
  examples/quickstart/package.json
  examples/quickstart/pyproject.toml
  examples/quickstart/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update experimentation guides to use OpenAI SDK for inference
  docs/experimentation/run-adaptive-ab-tests.mdx
  examples/docs/guides/experimentation/run-adaptive-ab-tests/main.py
  examples/docs/guides/experimentation/run-adaptive-ab-tests/uv.lock
Due: none

Migrate workflow evaluations guide and example to OpenAI SDK for inference
  docs/evaluations/workflow-evaluations/tutorial.mdx
  examples/workflow_evaluations/simple-agentic-rag/agent.py
  examples/workflow_evaluations/simple-agentic-rag/judge.py
  examples/workflow_evaluations/simple-agentic-rag/main.py
  examples/workflow_evaluations/simple-agentic-rag/pyproject.toml
  examples/workflow_evaluations/simple-agentic-rag/tools.py
  examples/workflow_evaluations/simple-agentic-rag/uv.lock
Due: none

Use plain client assignment instead of context manager for OpenAI client
  docs/quickstart.mdx
  examples/quickstart/after.py
Due: none

Collapse OpenAI client constructor to one line in docs
  docs/experimentation/run-adaptive-ab-tests.mdx
Due: none

Collapse OpenAI client init to one line and remove HTTP tab from inference section
  docs/evaluations/workflow-evaluations/tutorial.mdx
Due: none

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
