Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Fix permission
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Print active spans during shutdown in e2e tests (#4219)
  gateway/src/main.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/src/observability/span_leak_detector.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Deprecate Helm's createLegacyIngress (#4223)
  examples/production-deployment-k8s-helm/templates/gateway-ingress-legacy.yaml
  examples/production-deployment-k8s-helm/values.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove some unused deps from tensorzero-core (#4220)
  Cargo.lock
  tensorzero-core/Cargo.toml
Due: none

split out database vs wire types
  clients/python/src/lib.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/get_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/tests/e2e/endpoints/datasets/datasets_update.rs
  tensorzero-core/tests/e2e/list_inferences.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Refactor to compute display probabilities for track-and-stop in rust, but for uniform and static_weights in the UI
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/experimentation/static_weights.rs
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix extraction of display sampling probabilities
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

removed TS from ChatInferenceDatapointInsert and converted back to storage type
  clients/python/src/lib.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/tests/e2e/endpoints/datasets/datasets_update.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

delete_datapoints should take Option<&[UUID]>
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/delete_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed bindings
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapoint.ts
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapointInsert.ts
  internal/tensorzero-node/lib/bindings/Datapoint.ts
  internal/tensorzero-node/lib/bindings/DatapointInsert.ts
  internal/tensorzero-node/lib/bindings/GetDatapointsResponse.ts
  internal/tensorzero-node/lib/bindings/JsonInferenceDatapointInsert.ts
  internal/tensorzero-node/lib/bindings/RenderedSample.ts
  internal/tensorzero-node/lib/bindings/ToolCallConfigDatabaseInsert.ts
  internal/tensorzero-node/lib/bindings/UpdateChatDatapointRequest.ts
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added more missing bindings
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapointWire.ts
  internal/tensorzero-node/lib/bindings/DatapointWire.ts
  internal/tensorzero-node/lib/bindings/StoredChatInferenceWire.ts
  internal/tensorzero-node/lib/bindings/StoredInferenceWire.ts
  internal/tensorzero-node/lib/bindings/StoredJsonInference.ts
  internal/tensorzero-node/lib/bindings/ToolCallConfigWire.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Convert BigInt fields to numbers before stringifying
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

wip
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove DatapointInsert from typescript exports
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapointInsert.ts
  internal/tensorzero-node/lib/bindings/DatapointInsert.ts
  internal/tensorzero-node/lib/bindings/JsonInferenceDatapointInsert.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/datasets_update.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
  ui/app/utils/clickhouse/datasets.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Adjustments to read only
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/components/feedback/HumanFeedbackModal.tsx
  ui/app/components/inference/TryWithButton.tsx
  ui/app/components/layout/ContentLayout.tsx
  ui/app/components/layout/ReadOnlyBanner.tsx
  ui/app/components/layout/app.sidebar.tsx
  ui/app/components/ui/badge.tsx
  ui/app/components/utils/read-only-guard.tsx
  ui/app/routes/datasets/BuildDatasetButton.tsx
  ui/app/routes/evaluations/NewRunButton.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Adjustments to read only
  ui/app/components/layout/ReadOnlyBadge.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove DatapointInsert from typescript exports (#4228)
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapointInsert.ts
  internal/tensorzero-node/lib/bindings/DatapointInsert.ts
  internal/tensorzero-node/lib/bindings/JsonInferenceDatapointInsert.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/datasets_update.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
  ui/app/utils/clickhouse/datasets.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix for code scanning alert no. 40: Workflow does not contain permissions (#4010)
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add 'unbounded_recursion_wrapper' helper to prevent stack overflow
  tensorzero-core/src/utils/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Delete a spuriously failing test
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented a read-only mode for the ui (#4040)
  ui/.env.example
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/components/evaluations/EvaluationFeedbackEditor.tsx
  ui/app/components/feedback/HumanFeedbackModal.tsx
  ui/app/components/inference/TryWithButton.tsx
  ui/app/components/layout/ReadOnlyBadge.tsx
  ui/app/components/layout/app.sidebar.tsx
  ui/app/components/ui/badge.tsx
  ui/app/components/ui/button.tsx
  ui/app/components/utils/read-only-guard.tsx
  ui/app/context/read-only.tsx
  ui/app/root.tsx
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointBasicInfo.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/BuildDatasetButton.tsx
  ui/app/routes/datasets/DatasetTable.tsx
  ui/app/routes/datasets/DatasetsActions.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/EvaluationDatapointBasicInfo.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/evaluations/EvaluationsActions.tsx
  ui/app/routes/evaluations/NewRunButton.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
  ui/app/utils/env.server.ts
  ui/app/utils/read-only.server.ts
  ui/react-router.config.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump recursion_limit
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add TODO
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make health check more verbose in ci
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Run fmt
  internal/tensorzero-auth/src/key.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Manually run postgres migrations in live-tests
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix migrations path in build.rs
  internal/tensorzero-auth/build.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Start running tensorzero-auth migrations in the gateway
  Cargo.lock
  internal/tensorzero-auth/Cargo.toml
  internal/tensorzero-auth/README.md
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/postgres/mod.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/db/experimentation_queries.rs
  tensorzero-core/tests/e2e/db/rate_limit_queries.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix typo
  internal/tensorzero-auth/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Delete a spuriously failing test (#4233)
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added TENSORZERO_GATEWAY_API_KEY to env file
  ui/app/utils/env.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Work on auth middleware
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/routes.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add missing 'instrument' call
  tensorzero-core/src/utils/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Get it compiling
  gateway/src/routes.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Document update_datapoints (#4165)
  docs/gateway/api-reference/datasets-datapoints.mdx
Due: none

tests pass!
  .config/nextest.toml
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/get_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/together_sft/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/tests/e2e/list_inferences.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add test
  gateway/src/routes.rs
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

fixed clippies
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/function.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Get a test passing
  gateway/src/routes.rs
  gateway/tests/auth.rs
  tensorzero-core/src/error.rs
  tensorzero-core/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
