Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Fix postgres script after crates move (#6900)
  ui/fixtures/reset-dev-postgres.sh
Due: none

Update PR #6892 screenshots (clean renders)
  6892/autoeval-markdown.png
  6892/autoeval-multi.png
  6892/autoeval-single.png
Due: none

Backtick-wrap technical terms in comment
  ui/app/hooks/useAutopilotEventStream.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Match context block heights to taller block, reduce max height
  ui/app/components/autopilot/AutoEvalExampleLabeling.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Migrate load tests to OpenAI inference (#6893)
  crates/tensorzero-core/tests/load/simple-streaming/body.json
  crates/tensorzero-core/tests/load/simple-streaming/run.sh
  crates/tensorzero-core/tests/load/simple/body.json
  crates/tensorzero-core/tests/load/simple/run.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add updated optimization guides (#6756)
  docs/optimization/dynamic-in-context-learning-dicl.mdx
  docs/optimization/gepa.mdx
  docs/optimization/supervised-fine-tuning-sft.mdx
  docs/package.json
  docs/pnpm-lock.yaml
  examples/docs/guides/optimization/dynamic-in-context-learning-dicl/config/tensorzero.toml
  examples/docs/guides/optimization/dynamic-in-context-learning-dicl/pyproject.toml
  examples/docs/guides/optimization/dynamic-in-context-learning-dicl/uv.lock
  examples/docs/guides/optimization/gepa/config/tensorzero.toml
  examples/docs/guides/optimization/gepa/main.py
  examples/docs/guides/optimization/gepa/ner.py
  examples/docs/guides/optimization/gepa/pyproject.toml
  examples/docs/guides/optimization/supervised-fine-tuning-sft/README.md
  examples/docs/guides/optimization/supervised-fine-tuning-sft/config/functions/extract_entities/initial_prompt/system_template.minijinja
  examples/docs/guides/optimization/supervised-fine-tuning-sft/config/functions/extract_entities/output_schema.json
  examples/docs/guides/optimization/supervised-fine-tuning-sft/config/tensorzero.toml
  examples/docs/guides/optimization/supervised-fine-tuning-sft/docker-compose.yml
  examples/docs/guides/optimization/supervised-fine-tuning-sft/main.py
  examples/docs/guides/optimization/supervised-fine-tuning-sft/ner.py
  examples/docs/guides/optimization/supervised-fine-tuning-sft/pyproject.toml
  examples/docs/guides/optimization/supervised-fine-tuning-sft/requirements.txt
  examples/docs/guides/optimization/supervised-fine-tuning-sft/uv.lock
  examples/docs/guides/optimization/supervised-fine-tuning/main.py
  examples/docs/guides/optimization/supervised-fine-tuning/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Support top-level evaluators in Python sdk (#6863)
  AGENTS.md
  crates/tensorzero-python/src/lib.rs
  crates/tensorzero-python/tensorzero/tensorzero.pyi
  crates/tensorzero-python/tests/test_evaluation.py
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove deprecated #4725 fields from dataset update request types (#6887)
  crates/autopilot-tools/tests/datapoint_tools.rs
  crates/tensorzero-client/tests/test_datasets.rs
  crates/tensorzero-core/src/endpoints/datasets/v1/types.rs
  crates/tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  crates/tensorzero-python/tensorzero/generated_types.py
Due: cargo-deny, cargo-fmt, cargo-clippy

Simplify quickstart to use OpenAI SDK instead of TensorZero client (#6736)
  crates/tensorzero-python/tests/test_client.py
  crates/tensorzero-python/tests/test_openai_patch.py
  docs/quickstart.mdx
  examples/docs/guides/quickstart/README.md
  examples/docs/guides/quickstart/after.py
  examples/docs/guides/quickstart/after.sh
  examples/docs/guides/quickstart/after.ts
  examples/docs/guides/quickstart/before.py
  examples/docs/guides/quickstart/before.sh
  examples/docs/guides/quickstart/before.ts
  examples/docs/guides/quickstart/config/tensorzero.toml
  examples/docs/guides/quickstart/docker-compose.yml
  examples/docs/guides/quickstart/package.json
  examples/docs/guides/quickstart/pyproject.toml
  examples/docs/guides/quickstart/uv.lock
  examples/pnpm-lock.yaml
  examples/quickstart/after.py
  examples/quickstart/after_async.py
  examples/quickstart/after_openai.py
  examples/quickstart/before.py
  examples/quickstart/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support openrouter:: shorthand for embedding models
  crates/tensorzero-core/src/embeddings.rs
  crates/tensorzero-core/tests/e2e/providers/openrouter.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Implement GepaTool as durable task tool (#6734)
  crates/Cargo.lock
  crates/autopilot-tools/Cargo.toml
  crates/autopilot-tools/src/lib.rs
  crates/autopilot-tools/src/tools/prod/gepa.rs
  crates/autopilot-tools/src/tools/prod/mod.rs
  crates/autopilot-tools/src/tools/prod/run_evaluation.rs
  crates/autopilot-tools/tests/run_evaluation_tool.rs
  crates/durable-tools/src/run_evaluation.rs
  crates/tensorzero-core/src/optimization/gepa.rs
  crates/tensorzero-core/tests/e2e/endpoints/internal/action.rs
  crates/tensorzero-node/lib/bindings/GepaEvaluatorStats.ts
  crates/tensorzero-node/lib/bindings/GepaToolOutput.ts
  crates/tensorzero-node/lib/bindings/GepaToolParams.ts
  crates/tensorzero-node/lib/bindings/index.ts
  crates/tensorzero-optimizers/Cargo.toml
  crates/tensorzero-optimizers/src/endpoints.rs
  crates/tensorzero-optimizers/src/gepa/analyze.rs
  crates/tensorzero-optimizers/src/gepa/durable/mod.rs
  crates/tensorzero-optimizers/src/gepa/durable/types.rs
  crates/tensorzero-optimizers/src/gepa/mod.rs
  crates/tensorzero-optimizers/src/gepa/mutate.rs
  crates/tensorzero-optimizers/src/gepa/pareto.rs
  crates/tensorzero-optimizers/src/gepa/sequential/mod.rs
  crates/tensorzero-optimizers/src/gepa/validate.rs
  crates/tensorzero-optimizers/tests/e2e/gepa/analyze.rs
  crates/tensorzero-optimizers/tests/e2e/gepa/mutate.rs
  crates/tensorzero-ts-types/build.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add rust-cache to rust-build, rust-test, and batch test CI jobs
  .github/workflows/general.yml
  .github/workflows/live-batch-tests.yml
  .github/workflows/mocked-batch-test.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add setup script to install pre-commit hooks via uvx
  CONTRIBUTING.md
  scripts/setup.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Break circular dependencies by moving shared types to tensorzero-types
  .gitignore
  crates/Cargo.lock
  crates/tensorzero-core/src/db/clickhouse/episode_queries.rs
  crates/tensorzero-core/src/db/clickhouse/inference_queries.rs
  crates/tensorzero-core/src/db/clickhouse/query_builder/datapoint_queries.rs
  crates/tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  crates/tensorzero-core/src/db/postgres/inference_filter_helpers.rs
  crates/tensorzero-core/src/db/postgres/inference_queries.rs
  crates/tensorzero-core/src/endpoints/inference.rs
  crates/tensorzero-core/src/endpoints/shared_types.rs
  crates/tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  crates/tensorzero-core/src/inference/types/chat_completion_inference_params/mod.rs
  crates/tensorzero-core/src/inference/types/chat_completion_inference_params/service_tier.rs
  crates/tensorzero-core/src/variant/mod.rs
  crates/tensorzero-node/lib/bindings/ChatCompletionInferenceParamsV2.ts
  crates/tensorzero-node/lib/bindings/InferenceParams.ts
  crates/tensorzero-node/lib/bindings/JsonMode.ts
  crates/tensorzero-python/tensorzero/generated_types.py
  crates/tensorzero-types/Cargo.toml
  crates/tensorzero-types/src/inference_filters.rs
  crates/tensorzero-types/src/inference_params.rs
  crates/tensorzero-types/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add blake3 as dev-dependency to tensorzero-types
  crates/tensorzero-types/Cargo.toml
Due: none

Extract `tensorzero-error` crate from `tensorzero-core`
  crates/Cargo.lock
  crates/Cargo.toml
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/config/snapshot.rs
  crates/tensorzero-core/src/error/mod.rs
  crates/tensorzero-core/src/inference/types/usage.rs
  crates/tensorzero-core/src/rate_limiting/mod.rs
  crates/tensorzero-core/src/variant/mod.rs
  crates/tensorzero-error/Cargo.toml
  crates/tensorzero-error/src/delayed_error.rs
  crates/tensorzero-error/src/lib.rs
  crates/tensorzero-error/src/rate_limiting_types.rs
  crates/tensorzero-types/Cargo.toml
  crates/tensorzero-types/src/lib.rs
  crates/tensorzero-types/src/snapshot.rs
  crates/tensorzero-types/src/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use service_completed_successfully for migrations
  crates/tensorzero-core/tests/e2e/docker-compose-common.yml
  crates/tensorzero-core/tests/e2e/docker-compose.live.yml
  crates/tensorzero-core/tests/e2e/docker-compose.replicated.yml
  crates/tensorzero-core/tests/e2e/docker-compose.yml
  ui/fixtures/docker-compose-common.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.unit.yml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add progress polling to GEPA GET endpoint
  crates/durable-tools-spawn/src/client.rs
  crates/durable-tools-spawn/src/types.rs
  crates/tensorzero-optimizers/src/endpoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add scroll overflow mode, auto-resize textarea, and edge-case stories
  ui/app/components/autopilot/AutoEvalExampleLabeling.stories.tsx
  ui/app/components/autopilot/AutoEvalExampleLabeling.tsx
  ui/app/components/input_output/ChatOutputElement.tsx
  ui/app/components/input_output/InputElement.tsx
  ui/app/components/input_output/ScrollFadeContainer.tsx
  ui/app/components/input_output/content_overflow.ts
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
  ui/app/routes/playground/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Scope flex-1 to scroll mode only, extract ScrollCard, hoist constant
  ui/app/components/autopilot/AutoEvalExampleLabeling.tsx
  ui/app/components/input_output/ChatOutputElement.tsx
  ui/app/components/input_output/InputElement.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add tensorzero/postgres dockerfile and push script
  docker/postgres/Dockerfile
  docker/postgres/README.md
  docker/postgres/build-and-push.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make CI use the published tensorzero/postgres image
  crates/tensorzero-core/tests/e2e/Dockerfile.postgres
  crates/tensorzero-core/tests/e2e/docker-compose-common.yml
  crates/tensorzero-core/tests/e2e/docker-compose.replicated.yml
  docker/postgres/README.md
  ui/fixtures/docker-compose-common.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Move docker files to ci/
  ci/docker/postgres/Dockerfile
  ci/docker/postgres/README.md
  ci/docker/postgres/build-and-push.sh
  docker/postgres/Dockerfile
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Extract `tensorzero-provider-types` crate from `tensorzero-core`
  crates/Cargo.lock
  crates/Cargo.toml
  crates/tensorzero-core/Cargo.toml
  crates/tensorzero-core/src/endpoints/batch_inference.rs
  crates/tensorzero-core/src/inference/types/file.rs
  crates/tensorzero-core/src/inference/types/mod.rs
  crates/tensorzero-core/src/inference/types/resolved_input.rs
  crates/tensorzero-core/src/inference/types/streams.rs
  crates/tensorzero-core/src/inference/types/usage.rs
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-core/src/providers/anthropic.rs
  crates/tensorzero-core/src/providers/aws_bedrock.rs
  crates/tensorzero-core/src/providers/azure.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/dummy.rs
  crates/tensorzero-core/src/providers/fireworks/mod.rs
  crates/tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  crates/tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  crates/tensorzero-core/src/providers/google_ai_studio_gemini.rs
  crates/tensorzero-core/src/providers/groq.rs
  crates/tensorzero-core/src/providers/hyperbolic.rs
  crates/tensorzero-core/src/providers/mistral.rs
  crates/tensorzero-core/src/providers/openai/mod.rs
  crates/tensorzero-core/src/providers/openai/responses.rs
  crates/tensorzero-core/src/providers/openrouter.rs
  crates/tensorzero-core/src/providers/sglang.rs
  crates/tensorzero-core/src/providers/tgi.rs
  crates/tensorzero-core/src/providers/together.rs
  crates/tensorzero-core/src/providers/vllm.rs
  crates/tensorzero-core/src/providers/xai.rs
  crates/tensorzero-core/src/relay.rs
  crates/tensorzero-core/src/tool/call.rs
  crates/tensorzero-core/src/variant/chat_completion/mod.rs
  crates/tensorzero-provider-types/Cargo.toml
  crates/tensorzero-provider-types/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support openrouter:: shorthand for embedding models (#6906)
  crates/tensorzero-core/src/embeddings.rs
  crates/tensorzero-core/tests/e2e/providers/openrouter.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Separate metrics from nested vs flat evaluators
  ui/app/routes/evaluations/EvaluationTable.tsx
  ui/app/routes/evaluations/results/route.tsx
  ui/app/routes/evaluations/runs.tsx
  ui/app/utils/clickhouse/evaluations.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cleanup
  examples/data-extraction-ner/README.md
  examples/data-extraction-ner/data/clickhouse/fixture.zip
  examples/data-extraction-ner/docker-compose.yml
  examples/data-extraction-ner/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Replace input/output components with CodeEditor, add keyboard shortcuts and cross-type stories
  ui/app/components/autopilot/AutoEvalExampleLabeling.stories.tsx
  ui/app/components/autopilot/AutoEvalExampleLabeling.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove keyboard shortcuts from autoeval labeling card
  ui/app/components/autopilot/AutoEvalExampleLabeling.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  examples/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Stop emitting misleading warnings when clickhouse URL is not provided
  crates/tensorzero-core/src/client/mod.rs
  crates/tensorzero-core/src/db/delegating_connection.rs
  crates/tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump to 2026.3.2
  crates/Cargo.lock
  crates/Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Move provider-specific imports to top of file
  crates/tensorzero-provider-types/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Restyle autoeval labeling card: neutral chrome, orange selections, flex-fill layout
  ui/app/components/autopilot/AutoEvalExampleLabeling.tsx
  ui/app/components/autopilot/question-cards/OptionButton.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove embedded_client
  crates/evaluations/src/lib.rs
  crates/tensorzero-core/src/client/mod.rs
  crates/tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate core docs from CH to PG
  docs/deployment/clickhouse.mdx
  docs/deployment/optimize-latency-and-throughput.mdx
  docs/deployment/postgres.mdx
  docs/deployment/tensorzero-autopilot.mdx
  docs/deployment/tensorzero-gateway.mdx
  docs/deployment/tensorzero-ui.mdx
  docs/deployment/upgrade-tensorzero.mdx
  docs/docs.json
  docs/experimentation/run-adaptive-ab-tests.mdx
  docs/faq.mdx
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/benchmarks.mdx
  docs/gateway/configuration-reference.mdx
  docs/gateway/create-a-prompt-template.mdx
  docs/gateway/data-model.mdx
  docs/gateway/guides/batch-inference.mdx
  docs/gateway/index.mdx
  docs/observability/query-historical-inferences.mdx
  docs/operations/centralize-auth-rate-limits-and-more.mdx
  docs/operations/export-opentelemetry-traces.mdx
  docs/operations/extend-tensorzero.mdx
  docs/operations/set-up-auth-for-tensorzero.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Publish tensorzero/postgres docker image (#6914)
  ci/docker/postgres/Dockerfile
  ci/docker/postgres/README.md
  ci/docker/postgres/build-and-push.sh
  crates/tensorzero-core/tests/e2e/Dockerfile.postgres
  crates/tensorzero-core/tests/e2e/docker-compose-common.yml
  crates/tensorzero-core/tests/e2e/docker-compose.replicated.yml
  ui/fixtures/docker-compose-common.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Migrate core docs from CH to PG
  docs/evaluations/inference-evaluations/cli-reference.mdx
Due: none

Bump to 2026.3.2 (#6922)
  crates/Cargo.lock
  crates/Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove ProviderInferenceResponseArgs indirection, inline struct construction per provider
  crates/tensorzero-core/src/inference/types/mod.rs
  crates/tensorzero-core/src/inference/types/streams.rs
  crates/tensorzero-core/src/providers/anthropic.rs
  crates/tensorzero-core/src/providers/aws_bedrock.rs
  crates/tensorzero-core/src/providers/azure.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/fireworks/mod.rs
  crates/tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  crates/tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  crates/tensorzero-core/src/providers/google_ai_studio_gemini.rs
  crates/tensorzero-core/src/providers/groq.rs
  crates/tensorzero-core/src/providers/hyperbolic.rs
  crates/tensorzero-core/src/providers/mistral.rs
  crates/tensorzero-core/src/providers/openai/mod.rs
  crates/tensorzero-core/src/providers/openai/responses.rs
  crates/tensorzero-core/src/providers/openrouter.rs
  crates/tensorzero-core/src/providers/sglang.rs
  crates/tensorzero-core/src/providers/tgi.rs
  crates/tensorzero-core/src/providers/together.rs
  crates/tensorzero-core/src/providers/vllm.rs
  crates/tensorzero-core/src/providers/xai.rs
  crates/tensorzero-core/src/relay.rs
  crates/tensorzero-provider-types/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
