Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

align tests
  clients/python/tests/conftest.py
  clients/python/tests/test_evaluation.py
Due: none

Modify update_datapoint_handler to update the entire datapoint in-place (#3794)
  tensorzero-core/src/endpoints/datasets.rs
  ui/README.md
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.test.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/formDataUtils.test.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/formDataUtils.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/utils/clickhouse/datasets.test.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Refactor to use struct for function arg, add docstrings
  tensorzero-core/src/experimentation/track_and_stop/check_stopping.rs
  tensorzero-core/src/experimentation/track_and_stop/estimate_optimal_probabilities.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Rename ridge_variance to variance_floor for clarity
  tensorzero-core/src/experimentation/track_and_stop/check_stopping.rs
  tensorzero-core/src/experimentation/track_and_stop/estimate_optimal_probabilities.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added Arc for input
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed prints
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

converted InferenceModels to Arc
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated python headers test to invalidate cache line
  clients/python/tests/test_client.py
Due: none

Update tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add TODO for choosing epsilon
  tensorzero-core/src/experimentation/track_and_stop/estimate_optimal_probabilities.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

made FunctionConfig Arced
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Log warning when arms are tied
  tensorzero-core/src/experimentation/track_and_stop/check_stopping.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Rename arg and error structs with full function name
  tensorzero-core/src/experimentation/track_and_stop/estimate_optimal_probabilities.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated python headers test to invalidate cache line (#3838)
  clients/python/tests/test_client.py
Due: none

Attempt to create a macro for reducing napi boilerplate
  internal/tensorzero-node/src/database.rs
  internal/tensorzero-node/src/lib.rs
  internal/tensorzero-node/src/napi_bridge.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Expand macro comments
  internal/tensorzero-node/src/napi_bridge.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

refactored streaming types into separate module (#3830)
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add static OTLP extra headers to config (#3742)
  docs/gateway/configuration-reference.mdx
  docs/operations/export-opentelemetry-traces.mdx
  gateway/src/main.rs
  internal/tensorzero-node/lib/bindings/OtlpTracesConfig.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/otel-collector-config.yaml
  tensorzero-core/tests/e2e/otel_config_headers.rs
  tensorzero-core/tests/e2e/otel_export.rs
  tensorzero-core/tests/e2e/tensorzero.toml
  tensorzero-core/tests/e2e/tests.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Attempt to create a macro for reducing napi boilerplate (#3809)
  internal/tensorzero-node/src/database.rs
  internal/tensorzero-node/src/lib.rs
  internal/tensorzero-node/src/napi_bridge.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

made type private
  tensorzero-core/src/inference/types/streams.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

move evaluation logic to evaluation_handlers.py
  clients/python/src/evaluation_handlers.rs
  clients/python/src/gil_helpers.rs
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed bindings
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

bumped timeout for concurrent requests test
  .config/nextest.toml
Due: none

update tests
  clients/python/tests/test_evaluation.py
Due: none

remove crate decorator
  clients/python/src/gil_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

clean relative import
  clients/python/tests/conftest.py
Due: none

Add non-streaming support for OpenAI responses backend (#3757)
  internal/tensorzero-node/lib/bindings/OpenAIAPIType.ts
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedProviderConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/xai.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/tensorzero.toml
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/utils/config/models.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

wip
  docs/gateway/configuration-reference.mdx
Due: none

bumped timeout for concurrent requests test (#3841)
  .config/nextest.toml
Due: none

changed credential_location in defaults to api_key_location to match model config
  tensorzero-core/src/config/provider_types.rs
  tensorzero-core/src/model_table.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Make `InferenceResultStream` `Peekable` (#3831)
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add DICL cutoff parameter and improve zero-example fallback (#3807)
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/inference-time-optimizations.mdx
  internal/tensorzero-node/lib/bindings/DiclConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDiclConfig.ts
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/tests/e2e/dicl.rs
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantBasicInfo.tsx
  ui/e2e_tests/observability.functions.$function_name.variants.$variant_name.spec.ts
  ui/fixtures/config/tensorzero.e2e.toml
  ui/fixtures/config/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed bindings
  internal/tensorzero-node/lib/bindings/AnthropicDefaults.ts
  internal/tensorzero-node/lib/bindings/AzureDefaults.ts
  internal/tensorzero-node/lib/bindings/DeepSeekDefaults.ts
  internal/tensorzero-node/lib/bindings/FireworksDefaults.ts
  internal/tensorzero-node/lib/bindings/GoogleAIStudioGeminiDefaults.ts
  internal/tensorzero-node/lib/bindings/GroqDefaults.ts
  internal/tensorzero-node/lib/bindings/HyperbolicDefaults.ts
  internal/tensorzero-node/lib/bindings/MistralDefaults.ts
  internal/tensorzero-node/lib/bindings/OpenAIDefaults.ts
  internal/tensorzero-node/lib/bindings/OpenRouterDefaults.ts
  internal/tensorzero-node/lib/bindings/SGLangDefaults.ts
  internal/tensorzero-node/lib/bindings/TGIDefaults.ts
  internal/tensorzero-node/lib/bindings/TogetherDefaults.ts
  internal/tensorzero-node/lib/bindings/VLLMDefaults.ts
  internal/tensorzero-node/lib/bindings/XAIDefaults.ts
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Raise floor on pairwise info rate to avoid degeneracy, add tests to catch degeneracy
  tensorzero-core/src/experimentation/track_and_stop/estimate_optimal_probabilities.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix names for default credentials config (#3843)
  internal/tensorzero-node/lib/bindings/AnthropicDefaults.ts
  internal/tensorzero-node/lib/bindings/AzureDefaults.ts
  internal/tensorzero-node/lib/bindings/DeepSeekDefaults.ts
  internal/tensorzero-node/lib/bindings/FireworksDefaults.ts
  internal/tensorzero-node/lib/bindings/GoogleAIStudioGeminiDefaults.ts
  internal/tensorzero-node/lib/bindings/GroqDefaults.ts
  internal/tensorzero-node/lib/bindings/HyperbolicDefaults.ts
  internal/tensorzero-node/lib/bindings/MistralDefaults.ts
  internal/tensorzero-node/lib/bindings/OpenAIDefaults.ts
  internal/tensorzero-node/lib/bindings/OpenRouterDefaults.ts
  internal/tensorzero-node/lib/bindings/SGLangDefaults.ts
  internal/tensorzero-node/lib/bindings/TGIDefaults.ts
  internal/tensorzero-node/lib/bindings/TogetherDefaults.ts
  internal/tensorzero-node/lib/bindings/VLLMDefaults.ts
  internal/tensorzero-node/lib/bindings/XAIDefaults.ts
  tensorzero-core/src/config/provider_types.rs
  tensorzero-core/src/model_table.rs
  tensorzero-core/tests/e2e/providers/common.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed merge issues
  tensorzero-core/src/variant/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Refactor experimentation (#3719)
  clients/rust/src/lib.rs
  evaluations/src/helpers.rs
  internal/tensorzero-node/lib/bindings/ExperimentationConfig.ts
  internal/tensorzero-node/lib/bindings/FunctionConfigChat.ts
  internal/tensorzero-node/lib/bindings/FunctionConfigJson.ts
  internal/tensorzero-node/lib/bindings/StaticWeightsConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/experimentation/static_weights.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/lib.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/dynamic_evaluations.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/inference.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/timeouts.rs
  ui/app/components/function/FunctionSelector.stories.tsx
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/config/index.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fully qualify ts_rs
  internal/tensorzero-node/lib/bindings/GetModelLatencyQuantilesParams.ts
  internal/tensorzero-node/lib/bindings/GetModelUsageTimeseriesParams.ts
  internal/tensorzero-node/lib/bindings/QueryEpisodeTableParams.ts
  internal/tensorzero-node/src/database.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Export Typescript types in tensorzero-node via ts-rs
  .cargo/config.toml
  internal/tensorzero-node/lib/bindings/GetModelLatencyQuantilesParams.ts
  internal/tensorzero-node/lib/bindings/GetModelUsageTimeseriesParams.ts
  internal/tensorzero-node/lib/bindings/QueryEpisodeTableParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/src/database.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node
