Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Add comment explaining interaction between variant Failed and Exclude statuses
  evaluations/src/topk/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Ran cargo fmt
  gateway/src/router.rs
  gateway/tests/decompression.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

remove redundant files
  examples/docs/guides/optimization/gepa/docker-compose copy.yml
  examples/docs/guides/optimization/gepa/docker-compose.yml
  examples/docs/guides/optimization/gepa/main.py
  examples/docs/guides/optimization/optimize-with-gepa/pyproject.toml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update examples/docs/guides/optimization/gepa/pyproject.toml
  examples/docs/guides/optimization/gepa/pyproject.toml
Due: none

point to script in docs
  docs/recipes/gepa.mdx
Due: none

Move small fixtures to R2
  .github/workflows/merge-queue.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

rebuild lock and requirements
  examples/docs/guides/optimization/gepa/requirements.txt
  examples/docs/guides/optimization/gepa/uv.lock
Due: none

Update docs/recipes/gepa.mdx
  docs/recipes/gepa.mdx
Due: none

added additional eventPayload types
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bookworm -> Trixie
  evaluations/Dockerfile
  gateway/Dockerfile
  provider-proxy/Dockerfile
  tensorzero-core/tests/e2e/Dockerfile.clickhouse
  tensorzero-core/tests/e2e/Dockerfile.gateway.e2e
  ui/Dockerfile
  ui/fixtures/Dockerfile.unit
Due: none

Finish deprecating old text content blocks
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/InputMessage.ts
  internal/tensorzero-node/lib/bindings/TextKind.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/inference/types/input_message.rs
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

update exports
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

attempt to fix regen fixtures workflow
  .github/workflows/general.yml
  .github/workflows/slash-command-regen-fixtures.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fix permission issue
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

Start deprecating experimental_chain_of_thought
  .github/workflows/general.yml
  README.md
  docs/evaluations/inference-evaluations/tutorial.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/inference-time-optimizations-chain-of-thought.svg
  docs/gateway/guides/inference-time-optimizations.mdx
  examples/dynamic_evaluations/simple-agentic-rag/config/tensorzero.toml
  examples/evaluations/tutorial/config/tensorzero.toml
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  ui/fixtures/config/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

added is_client_writable method to EventPayload
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support Try with Model for datapoints
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointActions.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update bindings
  internal/tensorzero-node/lib/bindings/ChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedVariantConfig.ts
  internal/tensorzero-node/lib/bindings/VariantConfig.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add tests
  ui/e2e_tests/datasets.datapoint.try-with.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  clients/python/tensorzero/generated_types.py
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove cursorzero from workspace
  .github/workflows/general.yml
  Cargo.toml
  examples/integrations/cursor/README.md
  examples/integrations/cursor/feedback/Cargo.lock
  examples/integrations/cursor/feedback/Cargo.toml
  examples/integrations/cursor/feedback/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Regenerate ModelInferenceCache fixtures
  ui/fixtures/download-small-fixtures.py
Due: none

use AWSRegion type
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/aws_common.rs
  tensorzero-core/src/providers/aws_sagemaker.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.aws_bedrock_dynamic_endpoint.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Add concurrency to experimental_render_samples
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/stored_inferences/render_samples.rs
  tensorzero-core/tests/e2e/render_inferences.rs
  tensorzero-optimizers/src/endpoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Deprecate timeout_s in experimental_*_of_n
  docs/gateway/configuration-reference.mdx
  internal/tensorzero-node/lib/bindings/BestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/MixtureOfNConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedBestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedMixtureOfNConfig.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantBasicInfo.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Deprecate timeout_s in experimental_*_of_n
  internal/tensorzero-node/lib/bindings/UninitializedBestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedMixtureOfNConfig.ts
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added myself as an owner of postgres migrations
  .github/CODEOWNERS
Due: none

iupdated e2e tests
  tensorzero-core/tests/e2e/config/tensorzero.aws_bedrock_dynamic_endpoint.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added myself as an owner of postgres migrations (#5310)
  .github/CODEOWNERS
Due: none

Add '--validate-and-exit' flag to gateway binary (#5282)
  .github/workflows/general.yml
  gateway/src/cli.rs
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add `update_variant_statuses()` and unit tests (#5291)
  evaluations/src/topk/mod.rs
  evaluations/src/topk/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Increase timeout
  gateway/tests/relay_credential_validation.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Adjust error check
  gateway/tests/logging.rs
  tensorzero-core/tests/e2e/otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate getWorkflowEvaluationRunStatisticsByMetricName (#5272)
  evaluations/src/lib.rs
  evaluations/src/stats.rs
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/GetWorkflowEvaluationRunStatisticsResponse.ts
  internal/tensorzero-node/lib/bindings/WorkflowEvaluationRunStatistics.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/workflow_evaluation_queries.rs
  tensorzero-core/src/db/workflow_evaluation_queries.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/get_run_statistics.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/mod.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/types.rs
  tensorzero-core/src/lib.rs
  tensorzero-core/src/statistics_util.rs
  tensorzero-core/tests/e2e/db/workflow_evaluation_queries.rs
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationProjectResultsTable.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/route.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/WorkflowEvaluationRunEpisodesTable.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/route.tsx
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
  ui/app/utils/clickhouse/workflow_evaluations.test.ts
  ui/app/utils/clickhouse/workflow_evaluations.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Only enable overhead layer in http gateway mode
  .github/workflows/merge-queue.yml
  clients/python/src/lib.rs
  gateway/src/main.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/src/observability/overhead_timing.rs
  tensorzero-core/src/observability/tracing_bug.rs
  tensorzero-core/tests/e2e/otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Refactor to move config out of global state objecxt
  evaluations/src/topk/mod.rs
  evaluations/src/topk/tests.rs
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bookworm -> Trixie (#5293)
  evaluations/Dockerfile
  gateway/Dockerfile
  provider-proxy/Dockerfile
  tensorzero-core/tests/e2e/Dockerfile.clickhouse
  tensorzero-core/tests/e2e/Dockerfile.gateway.e2e
  ui/Dockerfile
  ui/fixtures/Dockerfile.unit
Due: none

Skip credential validation for disabled providers in relay mode (#5283)
  gateway/tests/relay_credential_validation.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/model_table.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-optimizers/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename TopKLoopState to TopKProgress
  evaluations/src/topk/mod.rs
  evaluations/src/topk/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
