Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

cargo-deny:
  name: cargo deny
  entry: cargo deny check bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ui && npm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ui && npm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd ui && npm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Add better error message for OpenAI-compatible model field
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Changed gateway to default to confirmed writes (#1032)
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/endpoints/feedback.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/gateway_util.rs
  tensorzero-internal/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  clients/python-pyo3/README.md
Due: prettier

fixed issues in existing tests
  tensorzero-internal/tests/e2e/openai_compatible.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed >0.01 for >0
  clients/python-pyo3/tests/test_client.py
Due: none

removed schema field from Gemini json schemas
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Log an error if we fail to serialize ModelInferenceDatabaseInsert
  tensorzero-internal/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Rename tensorzero_python to tensorzero-python to match other crates (#1031)
  Cargo.lock
  clients/python-pyo3/Cargo.toml
  clients/python-pyo3/README.md
Due: prettier

Log an error if we fail to serialize ModelInferenceDatabaseInsert (#1037)
  tensorzero-internal/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added support for Json mode for xAI and also tests
  ci/provider-proxy-cache/api.x.ai-00b1958e5ba70d206f823d466738858bf88736e9a70a41ce21a75be4fb61a605
  ci/provider-proxy-cache/api.x.ai-069d2b42e73d9471232cf9cb61ccd5c06d2b0c6d9addf3ed67d78e7f6fe55fc1
  ci/provider-proxy-cache/api.x.ai-0a443b23d2221b3cd1b3af3ac1da3c1f68e40093de5dee1e7fd41d707f7a028f
  ci/provider-proxy-cache/api.x.ai-2f497cac13f01571a3974f14f2db72d36b623237a516c722762913333c8c5448
  ci/provider-proxy-cache/api.x.ai-3750945825f8c69cabe0315f9f0dce3b2dd9a922c609a88c8560bc7f892a0982
  ci/provider-proxy-cache/api.x.ai-3b8417ad4970d6afc96333d656a44b18d39721f03b36987bef873d1907a51e87
  ci/provider-proxy-cache/api.x.ai-3da6155d0959bb323a07b6224e7d9155006032a9427be00086b33757b0e31cf6
  ci/provider-proxy-cache/api.x.ai-470e8f2dc1a4d80e9d6a70ac8a385538f1da24693f318933ba0729a623dd98bb
  ci/provider-proxy-cache/api.x.ai-5c4fbda9825fd55b2d8f53fb5974fb60f2dac85437dab713e3c5eaf4487ae94b
  ci/provider-proxy-cache/api.x.ai-65dfbb815e06f0b62d60402b18af8a43b510087d0f44f98ae259c79574913bf6
  ci/provider-proxy-cache/api.x.ai-7fa390f28b8b1cadf0847080ce2ecf99edddd2ae823f6dcb28f7f979d2ef17c5
  ci/provider-proxy-cache/api.x.ai-8187dbd5d351d56f7bf4c4e9e43ada359f723ad59d7e6e29082063918a2aba71
  ci/provider-proxy-cache/api.x.ai-8d5142ca3b3414a5ccafdf3d858ef9c703e0abe5ad25f0fa8bb3257dc28c0e3f
  ci/provider-proxy-cache/api.x.ai-9608451e5811229a53dcbaca9d31e1dfc36925e5273c2dc04be99ebda1af2bee
  ci/provider-proxy-cache/api.x.ai-96ed3d948cb8096fe067fc2b0ba38b05419a32f280cf34957a5d98907b128938
  ci/provider-proxy-cache/api.x.ai-a4bef2d040f5594f1b3cab686208f9cc740f48a332c4235b1a32723c1f6377cf
  ci/provider-proxy-cache/api.x.ai-b308214f4d8b6afbb7e965ec195950a125d15fed88943a88b457ffad5c518604
  ci/provider-proxy-cache/api.x.ai-da4afe9bd811c41b519404897b30119a798c96ce60f7fc8a833630b2d4eb91b9
  ci/provider-proxy-cache/api.x.ai-ee238b7352453a5ec9f875978ac06a270afdefa7c307506fa88318f6f3714630
  ci/provider-proxy-cache/api.x.ai-eec548c7346b5883562383b70db23bdb9d5705bcfee813b406bfc4d5667347dd
  ci/provider-proxy-cache/api.x.ai-fe885111edae7534aadf144bb0cc397d6509fc0a1f921f0e0b4ae07d3abbbaf7
  ci/provider-proxy-cache/api.x.ai-fea26555c95a6f5ab52dd3d98e73800d10408b07578cda8deb9a95428373a0dd
  ci/provider-proxy-cache/api.x.ai-fef29c11600b4bf6509cf1599e16dd62e7a83c3cdc5672bd822655af47cdb0f6
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/tests/e2e/providers/xai.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

cleaned up json mode support and added tests for every provider except hyperbolic with default json
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/aws_bedrock.rs
  tensorzero-internal/tests/e2e/providers/azure.rs
  tensorzero-internal/tests/e2e/providers/deepseek.rs
  tensorzero-internal/tests/e2e/providers/fireworks.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-internal/tests/e2e/providers/mistral.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/providers/sglang.rs
  tensorzero-internal/tests/e2e/providers/tgi.rs
  tensorzero-internal/tests/e2e/providers/together.rs
  tensorzero-internal/tests/e2e/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/xai.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated warning
  tensorzero-internal/src/inference/providers/tgi.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

decreased test sleep to 100ms for clickhosue
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.02.3
  clients/python/pyproject.toml
  clients/python/uv.lock
  examples/babyai/requirements.txt
  examples/chess-puzzles-best-of-n-sampling/requirements.txt
  examples/chess-puzzles-mixture-of-n-sampling/requirements.txt
  examples/data-extraction-ner/requirements.txt
  examples/gsm8k-custom-recipe-dspy/requirements.txt
  examples/guides/episodes/requirements.txt
  examples/guides/metrics-feedback/requirements.txt
  examples/haiku-hidden-preferences/requirements.txt
  examples/quickstart/requirements.txt
  examples/readme/requirements.txt
  examples/tutorial/01-simple-chatbot/requirements.txt
  examples/tutorial/02-email-copilot/requirements.txt
  examples/tutorial/03-weather-rag/requirements.txt
  examples/tutorial/04-email-data-extraction/requirements.txt
  recipes/dicl/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/fireworks/requirements.txt
  recipes/supervised_fine_tuning/metrics/fireworks/requirements.txt
  tensorzero-internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

decreased test sleep to 100ms for clickhosue (#1040)
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed naming issue with variants
  ui/app/routes.ts
  ui/app/routes/observability/functions/$function_name/variants/BasicInfo.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantInferenceTable.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
Due: prettier, eslint, tsc

bumped version to 2025.02.3 (#1041)
  clients/python/pyproject.toml
  clients/python/uv.lock
  examples/babyai/requirements.txt
  examples/chess-puzzles-best-of-n-sampling/requirements.txt
  examples/chess-puzzles-mixture-of-n-sampling/requirements.txt
  examples/data-extraction-ner/requirements.txt
  examples/gsm8k-custom-recipe-dspy/requirements.txt
  examples/guides/episodes/requirements.txt
  examples/guides/metrics-feedback/requirements.txt
  examples/haiku-hidden-preferences/requirements.txt
  examples/quickstart/requirements.txt
  examples/readme/requirements.txt
  examples/tutorial/01-simple-chatbot/requirements.txt
  examples/tutorial/02-email-copilot/requirements.txt
  examples/tutorial/03-weather-rag/requirements.txt
  examples/tutorial/04-email-data-extraction/requirements.txt
  recipes/dicl/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/fireworks/requirements.txt
  recipes/supervised_fine_tuning/metrics/fireworks/requirements.txt
  tensorzero-internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  clients/openai-python/tests/test_openai_compatibility.py
Due: none

Use 'cargo hack' on ci to lint against each feature
  .github/workflows/general.yml
Due: prettier

Fix batch_tests compilation errors and warnings
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

disabled broken xai test
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix mock-inference-provider compilation under clippy
  tensorzero-internal/tests/mock-inference-provider/Cargo.toml
Due: none

implemented sensible defaults for config path
  examples/babyai/docker-compose.yml
  examples/chess-puzzles-best-of-n-sampling/docker-compose.yml
  examples/chess-puzzles-mixture-of-n-sampling/docker-compose.yml
  examples/data-extraction-ner/docker-compose.yml
  examples/gsm8k-custom-recipe-dspy/docker-compose.yml
  examples/haiku-hidden-preferences/docker-compose.yml
  examples/quickstart/docker-compose.yml
  ui/app/utils/config/index.server.ts
Due: prettier, eslint, tsc

fixed warning
  ui/app/utils/config/index.server.ts
Due: prettier, eslint, tsc

cleaned up docker compose for readme
  examples/readme/docker-compose.yml
Due: prettier

functions in config in table now
  ui/app/routes/observability/functions/FunctionsTable.tsx
  ui/fixtures/config/tensorzero.toml
Due: prettier, eslint, tsc

functions in DB in table now
  ui/app/routes/observability/functions/FunctionsTable.tsx
Due: prettier, eslint, tsc

unused-> never
  ui/app/routes/observability/functions/FunctionsTable.tsx
Due: prettier, eslint, tsc

added fixture for unknown function
  ui/fixtures/chat_inference_examples.csv
Due: none

fixed pr comments
  ui/app/utils/config/index.server.ts
Due: prettier, eslint, tsc

fixed tests
  ui/app/routes/observability/functions/FunctionsTable.tsx
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier, eslint, tsc

added the active state for nav item and hook for that
  ui/app/components/ui/sidebar.tsx
  ui/app/components/ui/sidebar/app.sidebar.tsx
  ui/app/hooks/use-active-path.ts
  ui/app/root.tsx
Due: prettier, eslint, tsc

removed the active state from the logo item
  ui/app/components/ui/sidebar/app.sidebar.tsx
Due: prettier, eslint, tsc

increase timeout to accomodate o1
  recipes/mipro/mipro.ipynb
Due: none

padding fixed
  ui/app/components/ui/sidebar/app.sidebar.tsx
Due: prettier, eslint, tsc

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$
