Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Update
  ui/fixtures/load_fixtures.sh
Due: none

tested some inferences
  Cargo.lock
  examples/cursorzero/Cargo.toml
  examples/cursorzero/src/git.rs
  examples/cursorzero/src/lib.rs
  examples/cursorzero/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use ToolChoice::Auto for default functions (#1868)
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  .github/workflows/general.yml
  ui/fixtures/load_fixtures.sh
Due: prettier: ui, prettier: openai-node

Update
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Fix more tests
  tensorzero-internal/tests/e2e/mixture_of_n.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try sccache in UI e2e tests (#1869)
  ui/Dockerfile
Due: none

wip
  Cargo.lock
  examples/cursorzero/Cargo.toml
  examples/cursorzero/cursor.rs
  examples/cursorzero/src/clickhouse.rs
  examples/cursorzero/src/main.rs
  examples/cursorzero/src/parsing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed all Rust code
  examples/cursorzero/Cargo.toml
  examples/cursorzero/cursor.rs
  examples/cursorzero/src/clickhouse.rs
  examples/cursorzero/src/git.rs
  examples/cursorzero/src/lib.rs
  examples/cursorzero/src/main.rs
  examples/cursorzero/src/parsing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

cleaned up readme and nginx.conf
  examples/cursorzero/README.md
  examples/cursorzero/nginx/nginx.conf
Due: prettier: ui, prettier: openai-node

removed cursorzero from workspace Cargo
  Cargo.lock
  Cargo.toml
Due: none

wip
  examples/cursorzero/README.md
Due: prettier: ui, prettier: openai-node

added .env.example
  examples/cursorzero/.env.example
Due: none

input snippet updates, recovery
  ui/app/components/inference/InputSnippet.stories.tsx
  ui/app/components/inference/InputSnippet.tsx
  ui/app/components/layout/SnippetContent.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

made nginx conf a template
  examples/cursorzero/nginx/nginx.conf.template
Due: none

added json parse for unstructured text
  ui/app/components/inference/InputSnippet.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

wip
  examples/cursorzero/docker-compose.yml
  examples/cursorzero/nginx/nginx.conf.template
Due: prettier: ui, prettier: openai-node

docker sets nginx token from .env
  examples/cursorzero/.env.example
  examples/cursorzero/docker-compose.yml
  examples/cursorzero/nginx/entrypoint.sh
Due: prettier: ui, prettier: openai-node

added note on WIP
  examples/cursorzero/README.md
Due: prettier: ui, prettier: openai-node

changed f32 to () for logprobs
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update on issue #75
  schemas/tensorzero.schema.json
  schemas/test.py
Due: prettier: ui, prettier: openai-node

Update
  ui/app/utils/clickhouse/feedback.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add end to end test for json_mode=off
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Assert the provider response really isn't json
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Satisfy clippy
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Check that nothing is parsed as json
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

New test function for json_mode off, with anthropic variants
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Misses
  tensorzero-internal/tests/e2e/providers/together.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
