Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Fix
  docs/gateway/configuration-reference.mdx
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Disable nextest retries for scheduled no-cache provider tests
  .github/workflows/merge-queue.yml
  tensorzero-core/tests/e2e/Dockerfile.live
  tensorzero-core/tests/e2e/docker-compose.live.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Also remove get_datapoint
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  examples/guides/datasets-datapoints/main.py
Due: cargo-deny, cargo-fmt, cargo-clippy

Implement Encode and Decode on SnapshotHash (#6393)
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/db/postgres/batch_inference.rs
  tensorzero-core/src/db/postgres/config_queries.rs
  tensorzero-core/src/db/postgres/dataset_queries.rs
  tensorzero-core/src/db/postgres/inference_queries.rs
  tensorzero-core/src/db/postgres/model_inferences.rs
  tensorzero-core/src/db/postgres/workflow_evaluation_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented a getter for ui config snapshots by hash
  gateway/src/routes/internal.rs
  tensorzero-core/src/endpoints/ui/get_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

updated homePage test for added functions
  ui/e2e_tests/homePage.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

cleaned up PR comments, added additional tests
  internal/tensorzero-node/lib/bindings/TrackAndStopConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedTrackAndStopConfig.ts
  tensorzero-core/src/db/clickhouse/feedback.rs
  tensorzero-core/src/db/postgres/feedback.rs
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix broken link (#6417)
  docs/optimization/index.mdx
Due: none

Docs: signature blocks, extended thinking (#6415)
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference.mdx
  docs/integrations/model-providers/anthropic.mdx
Due: none

Docs: raw_text doesn't work for system (#6413)
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference-openai-compatible.mdx
  docs/gateway/api-reference/inference.mdx
Due: none

Docs: latency metrics (#6411)
  docs/gateway/configuration-reference.mdx
  docs/operations/export-prometheus-metrics.mdx
Due: none

removed mock provider API for ui e2e tests
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

added e2e tests
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/ui_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed PR comments
  tensorzero-core/src/endpoints/ui/get_config.rs
  tensorzero-core/tests/e2e/endpoints/internal/ui_config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  docs/integrations/model-providers/deepseek.mdx
  docs/integrations/model-providers/index.mdx
Due: none

Update upgrade-tensorzero.mdx
  docs/deployment/upgrade-tensorzero.mdx
Due: none

Docs: `discard_unknown_chunks` (#6412)
  docs/gateway/configuration-reference.mdx
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Docs: GCP Vertex AI Gemini batch inference (#6414)
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/gcp-vertex-ai-gemini.mdx
Due: none

Extract Metrics section with independent Suspense boundary
  ui/app/routes/observability/functions/$function_name/MetricsSection.tsx
  ui/app/routes/observability/functions/$function_name/metrics-data.server.ts
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix Prettier formatting
  ui/app/routes/observability/functions/$function_name/MetricsSection.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Lift SectionHeader outside Suspense and rename promise prop to metricsData
  ui/app/routes/observability/functions/$function_name/MetricsSection.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update docs
  docs/gateway/guides/inference-time-optimizations.mdx
Due: none

Fix
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/anthropic.mdx
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_math.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
Due: none

Add include_raw_response error tests for JSON functions
  tensorzero-core/tests/e2e/raw_response/error/json_functions.rs
  tensorzero-core/tests/e2e/raw_response/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add `function_name` and `filters` support to list episodes endpoint (#6327)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/ListEpisodesRequest.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/episode_queries.rs
  tensorzero-core/src/db/delegating_connection.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/postgres/episode_queries.rs
  tensorzero-core/src/endpoints/episodes/internal/list_episodes.rs
  tensorzero-core/src/endpoints/episodes/internal/mod.rs
  tensorzero-core/tests/e2e/db/episode_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove deprecated datapoint routes (#6377)
  clients/python/src/lib.rs
  clients/python/src/python_helpers.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/conftest.py
  clients/python/tests/test_datapoints.py
  clients/rust/src/lib.rs
  examples/guides/datasets-datapoints/main.py
  gateway/src/routes/external.rs
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/StaleDatasetResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  pnpm-lock.yaml
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/serde_util.rs
  tensorzero-core/tests/e2e/common.rs
  tensorzero-core/tests/e2e/datasets/mod.rs
  tensorzero-core/tests/e2e/endpoints/AGENTS.md
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
  tensorzero-core/tests/e2e/endpoints/datasets/tool_params_round_trip.rs
  tensorzero-core/tests/e2e/endpoints/internal/evaluations.rs
  tensorzero-core/tests/e2e/endpoints/internal/resolve_uuid.rs
  tensorzero-core/tests/e2e/tests.rs
  ui/app/routes/api/datasets/datapoints/from-inference/route.ts
  ui/app/utils/dataset.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  docs/gateway/api-reference/inference-openai-compatible.mdx
  docs/gateway/api-reference/inference.mdx
Due: none

Add contextual help tooltips across the UI (#6280)
  ui/app/routes/datasets/builder/OutputSourceSelector.tsx
  ui/app/routes/evaluations/AdaptiveStoppingPrecision.tsx
  ui/app/routes/evaluations/AdvancedParametersAccordion.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/observability/functions/$function_name/ExperimentationSection.tsx
  ui/app/routes/optimization/supervised-fine-tuning/AdvancedParametersAccordion.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix valkey TLS support and add a test
  Cargo.lock
  Cargo.toml
  tensorzero-core/Cargo.toml
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/db/valkey/tests.rs
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add foundational support for API key expiration (#5341)
  .sqlx/query-30e6cfd4135d7dd21fda76572aa2544bedc65ccb6a492a3fbc44369f7b49b42c.json
  .sqlx/query-4cf7253a341ad5783871470cfda9cbe56d7b2b225359837ed4dfb08771eb53e7.json
  .sqlx/query-6a67bd25a67a31bddb65330de2b21ae20fb4d201300d2e56ed8c0f1de2d490ae.json
  .sqlx/query-97c1ae769f9c03c5eda14cde29d338153023b36becd12a4a1c708b2058e7462a.json
  .sqlx/query-f8899dd12ce459ee73b9247fc1575ac06d8e415bc09e930f060608bd89f59d49.json
  docs/operations/set-up-auth-for-tensorzero.mdx
  gateway/src/cli.rs
  gateway/src/main.rs
  gateway/tests/auth.rs
  gateway/tests/relay/basic.rs
  internal/tensorzero-auth/src/middleware.rs
  internal/tensorzero-auth/src/postgres/migrations/20251219223031_add_expires_at_to_tensorzero_auth_api_key.sql
  internal/tensorzero-auth/src/postgres/mod.rs
  internal/tensorzero-auth/tests/e2e/db/postgres.rs
  internal/tensorzero-node/lib/bindings/KeyInfo.ts
  internal/tensorzero-node/src/postgres.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add include_raw_response error tests for JSON functions (#6424)
  tensorzero-core/tests/e2e/raw_response/error/json_functions.rs
  tensorzero-core/tests/e2e/raw_response/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

only list_episodes
  clients/rust/src/lib.rs
  clients/rust/tests/test_episodes.rs
  clients/rust/tests/tests.rs
  tensorzero-core/src/endpoints/episodes/internal/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

use real metrics
  clients/rust/tests/test_episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

update based on new params
  clients/rust/src/lib.rs
  clients/rust/tests/test_episodes.rs
  tensorzero-core/src/endpoints/episodes/internal/list_episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

inference metric
  clients/rust/tests/test_episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Stack function/variant on separate lines with links and dotted underline
  ui/app/components/autopilot/UuidHoverCard.tsx
  ui/app/components/autopilot/UuidLink.tsx
  ui/app/hooks/useEntityPreview.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Restart a failed general.yml workflow in force-merge-queue workflow
  .github/workflows/force-merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/tests/e2e/raw_response/error/cache.rs
  tensorzero-core/tests/e2e/raw_response/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/tests/e2e/raw_response/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
