Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

wip
  Cargo.lock
  Cargo.toml
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  clients/rust/tests/tests.rs
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

test seems to work
  clients/rust/src/lib.rs
  clients/rust/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Introduce `Client[Input, InputMessage, InputMessageContent]` types
  Cargo.lock
  Cargo.toml
  clients/python-pyo3/src/lib.rs
  clients/rust/Cargo.toml
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/client_inference_params.rs
  clients/rust/src/client_input.rs
  clients/rust/src/lib.rs
  evaluations/src/evaluators/llm_judge.rs
  evaluations/src/helpers.rs
  evaluations/src/lib.rs
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/tool.rs
  tensorzero-internal/tests/e2e/feedback.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/streaming_errors.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'x-tensorzero-gateway-version' header to all gateway responses
  gateway/src/main.rs
  tensorzero-internal/tests/e2e/health.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

tests passing
  clients/python-pyo3/src/lib.rs
  clients/rust/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed clippy
  clients/rust/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

a file
  clients/rust/tests/versioning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed error message
  clients/rust/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed commented code
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed duplicated logic
  clients/rust/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'x-tensorzero-gateway-version' header to all gateway responses (#1620)
  gateway/src/main.rs
  tensorzero-internal/tests/e2e/health.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

refactored tests for clippies
  clients/rust/Cargo.toml
  clients/rust/tests/tests.rs
  clients/rust/tests/versioning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add agentic RAG example
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/README.md
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/config/functions/multi_hop_rag_agent/baseline/system_template.txt
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/config/tensorzero.toml
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/config/tools/answer_question.json
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/config/tools/load_wikipedia_page.json
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/config/tools/search_wikipedia.json
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/config/tools/think.json
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/main.ipynb
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/pyproject.toml
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/requirements.txt
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/uv.lock
Due: prettier: ui, prettier: openai-node

Add agentic RAG example
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/README.md
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/pyproject.toml
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/uv.lock
Due: prettier: ui, prettier: openai-node

Make deserialize_content private again
  tensorzero-internal/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Introduce `Client[Input, InputMessage, InputMessageContent]` types (#1619)
  Cargo.lock
  Cargo.toml
  clients/python-pyo3/src/lib.rs
  clients/rust/Cargo.toml
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/client_inference_params.rs
  clients/rust/src/client_input.rs
  clients/rust/src/lib.rs
  evaluations/src/evaluators/llm_judge.rs
  evaluations/src/helpers.rs
  evaluations/src/lib.rs
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/tool.rs
  tensorzero-internal/tests/e2e/feedback.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/streaming_errors.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  evaluations/src/evaluators/llm_judge.rs
  evaluations/src/lib.rs
  evaluations/tests/tests.rs
  tensorzero-internal/fixtures/datasets/chat_datapoint_fixture.jsonl
  tensorzero-internal/src/evaluations/mod.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/fixtures/chat_inference_datapoint_examples.jsonl
  ui/fixtures/config/tensorzero.e2e.toml
  ui/fixtures/config/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Run ClickHouse Cloud ci against regular and fast channels (#1567)
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Address review comments
  tensorzero-internal/fixtures/deployment/sagemaker-ollama/scripts/deploy_endpoint.py
Due: none

fixed test merge
  clients/rust/tests/versioning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Rust HTTP client should keep track of the server version (#1618)
  Cargo.lock
  Cargo.toml
  clients/python-pyo3/src/lib.rs
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  clients/rust/tests/versioning.rs
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add e2e test configuration for fireworks-deepseek thinking blocks
  tensorzero-internal/tests/e2e/providers/fireworks.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add thinking blocks support to Fireworks provider
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Refactor: extract thinking block parsing logic into reusable helper module
  tensorzero-internal/src/inference/providers/helpers_thinking_block.rs
  tensorzero-internal/src/inference/providers/mod.rs
  tensorzero-internal/src/inference/providers/together.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  ui/.env.example
  ui/README.md
  ui/fixtures/.env.example
Due: prettier: ui, prettier: openai-node

Update
  ui/fixtures/.env.example
Due: none

Stringify tool call args in client based on gateway version
  clients/rust/src/lib.rs
  gateway/Cargo.toml
  gateway/src/main.rs
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  ui/README.md
Due: prettier: ui, prettier: openai-node

Move TensorZeroEventError
  tensorzero-internal/src/inference/providers/aws_sagemaker.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/provider_trait.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix typo
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  evaluations/src/evaluators/llm_judge.rs
  evaluations/src/evaluators/mod.rs
  evaluations/src/lib.rs
  tensorzero-internal/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Create (but skip) ClickHouse cloud jobs for prs
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Try to fix ci
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Stringify tool call args in client based on gateway version (#1625)
  clients/rust/src/lib.rs
  gateway/Cargo.toml
  gateway/src/main.rs
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  ui/package.json
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

Update
  ui/package.json
  ui/pnpm-lock.yaml
  ui/postcss.config.js
  ui/vite.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

wip
  evaluations/src/evaluators/llm_judge/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.04.0
  Cargo.lock
  clients/python-pyo3/Cargo.toml
  tensorzero-internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
