Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Update docs about model_provider_name
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference-openai-compatible.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/call-the-openai-responses-api.mdx
Due: none

Add computation of point estimator for the mean
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Document mime types
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference.mdx
Due: none

Add some unit tests
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Combine weighting and hedged wealth process computation
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move bet calculation to helper function, add bet truncation
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Tweak comment string for clarity
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove detectProviderFromModelName auto-detection
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix formatting
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add module-level and type-level docstrings
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove max vs combo hedging choice, explain use of max in docstring
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add more unit tests
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_stuff.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

For computing mean estimate, restrict search to inside confidence interval for efficiency
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Try increasing disk space
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix workflow
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Get clippy passing on Rust 1.92
  tensorzero-core/src/observability/span_leak_detector.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Try inline label
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Run ClickHouse replicated tests on 8x16 runner
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Get clippy passing on Rust 1.92 (#5133)
  tensorzero-core/src/observability/span_leak_detector.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate model count route to gateway (#5123)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/CountModelsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/src/endpoints/internal/models/mod.rs
  tensorzero-core/src/endpoints/internal/models/types.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/models.rs
  ui/app/routes/index.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Undo change
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing-output.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add unit tests, fix search for interval endpoints
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Tweak test and test comments
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix regularized mean value, add regression tests with known values
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move test, clarify comment strings in another test
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port countTotalEvaluationRuns to gateway
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/EvaluationRunStatsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/evaluation_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/internal/evaluations/count_runs.rs
  tensorzero-core/src/endpoints/internal/evaluations/mod.rs
  tensorzero-core/src/endpoints/internal/evaluations/types.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/evaluations.rs
  tensorzero-core/tests/e2e/tests.rs
  ui/app/routes/evaluations/route.tsx
  ui/app/routes/index.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add test with known confidence sequence values
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Change tests to use non-constant observations for variance fluctuations
  evaluations/src/confidence_sequence.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove provider credentials from the UI
  docs/deployment/tensorzero-ui.mdx
  ui/.env.example
  ui/fixtures/.env.example
  ui/fixtures/docker-compose.unit.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add new `ErrorDetails::Relay` and test for the full error message (#5101)
  gateway/tests/relay.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port count inferences by variant to gateway
  internal/tensorzero-node/lib/bindings/InferenceStatsByVariant.ts
  internal/tensorzero-node/lib/bindings/InferenceStatsGroupBy.ts
  internal/tensorzero-node/lib/bindings/InferenceStatsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/inference_stats.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inference_stats.rs
  tensorzero-core/src/endpoints/internal/inference_stats.rs
  tensorzero-core/tests/e2e/db/inference_stats_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/inference_stats.rs
  ui/app/routes/observability/functions/$function_name/FunctionVariantTable.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename module to contrast with asymptotic_confidence_sequences.rs
  evaluations/src/betting_confidence_sequences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add input validation and associated tests
  evaluations/src/betting_confidence_sequences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove unnecessary iterator method for m-values
  evaluations/src/betting_confidence_sequences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support embeddings endpoint in gateway relay mode
  gateway/tests/relay.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/openai_compatible/types/embeddings.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Run ClickHouse replicated tests on 8x16 runner (#5134)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Run fmt
  gateway/tests/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port count inferences by variant to gateway (#5106)
  internal/tensorzero-node/lib/bindings/InferenceStatsByVariant.ts
  internal/tensorzero-node/lib/bindings/InferenceStatsGroupBy.ts
  internal/tensorzero-node/lib/bindings/InferenceStatsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/inference_stats.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inference_stats.rs
  tensorzero-core/src/endpoints/internal/inference_stats.rs
  tensorzero-core/tests/e2e/db/inference_stats_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/inference_stats.rs
  ui/app/routes/observability/functions/$function_name/FunctionVariantTable.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/tensorzero.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Re-enable system mesage template ui test
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Make return type a Result, use anyhow for errors
  evaluations/src/betting_confidence_sequences.rs
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
