Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Rename model in config/ui as well
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/fireworks.mdx
  docs/integrations/model-providers/openai-compatible.mdx
  docs/integrations/model-providers/together.mdx
  docs/integrations/model-providers/vllm.mdx
  examples/guides/providers/fireworks/config/tensorzero.toml
  examples/guides/providers/openai-compatible/config/tensorzero.toml
  examples/guides/providers/together/config/tensorzero.toml
  examples/guides/providers/vllm/config/tensorzero.toml
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Re-add check_http_response
  tensorzero-core/src/client/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix python tests
  clients/python/tests/test_client.py
Due: none

Print more information on provider-proxy cache miss
  provider-proxy/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Increase timeout
  ui/e2e_tests/observability.inferences.filter.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Make minimal version of evaluation configs
  clients/python/src/lib.rs
  evaluations/src/lib.rs
  evaluations/src/types.rs
  evaluations/tests/tests.rs
  internal/tensorzero-node/lib/bindings/EvaluationFunctionConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/tests/e2e/gepa/mutate.rs
  tensorzero-optimizers/tests/e2e/gepa/pareto.rs
  ui/app/utils/evaluations.server.ts
  ui/app/utils/tensorzero/native_client.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Exclude 0.0.0.0 from caching and print relay mode
  gateway/src/main.rs
  tensorzero-core/src/http.rs
  tensorzero-core/src/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Lint
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
  ui/app/utils/config/index.server.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix flaky model cache test
  tensorzero-core/tests/e2e/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move relay config to [gateway.relay]
  gateway/src/main.rs
  gateway/tests/relay.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/stored/mod.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix tests
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/stored/mod.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add 'sanitize_traceparent' option to provider-proxy
  provider-proxy/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix tests
  provider-proxy/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use '-slim' Docker image for all images in Dockerfile.live
  tensorzero-core/tests/e2e/Dockerfile.live
Due: none

Add 'sanitize_traceparent' option to provider-proxy (#5063)
  provider-proxy/src/lib.rs
  provider-proxy/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Delete unused UI code
  ui/app/utils/clickhouse/curation.server.ts
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/curation.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Print more information on provider-proxy cache miss (#5058)
  provider-proxy/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add Python Client Support for GEPA Optimizer (#4730)
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/conftest.py
  clients/python/tests/test_optimization.py
  tensorzero-core/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Allow more errors in build-container jobs for external PRs (#5003)
  .github/workflows/build-gateway-container.yml
  .github/workflows/build-mock-inference-container.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make evaluation runner take EvaluationConfig and FunctionConfig instead of the whole Config (#5015)
  clients/python/src/lib.rs
  evaluations/src/lib.rs
  evaluations/src/types.rs
  evaluations/tests/tests.rs
  internal/tensorzero-node/lib/bindings/EvaluationFunctionConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/function/function_util.rs
  tensorzero-core/src/function/mod.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/evaluate.rs
  tensorzero-optimizers/tests/e2e/gepa/mutate.rs
  tensorzero-optimizers/tests/e2e/gepa/pareto.rs
  ui/app/utils/evaluations.server.ts
  ui/app/utils/tensorzero/native_client.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support searching and filtering for inferences (#5050)
  docs/operations/export-opentelemetry-traces.mdx
  docs/style.css
  ui/app/components/querybuilder/DatapointFilterBuilder.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/app/routes/observability/inferences/route.tsx
  ui/app/utils/clickhouse/inference.server.ts
  ui/e2e_tests/observability.inferences.filter.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Delete unused UI code (#5066)
  ui/app/utils/clickhouse/curation.server.ts
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/curation.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Introduce new `AxumResponseError` wrapper type
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/internal/clone_datapoints.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/create_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/create_from_inferences.rs
  tensorzero-core/src/endpoints/datasets/v1/delete_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/get_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/list_datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/endpoints/fallback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/object_storage.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
  tensorzero-core/src/endpoints/openai_compatible/embeddings.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/src/endpoints/variant_probabilities.rs
  tensorzero-core/src/endpoints/workflow_evaluation_run.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-optimizers/src/endpoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Display a Gateway Required error on initial load
  ui/app/components/ui/GatewayRequiredState.tsx
  ui/app/root.tsx
  ui/app/utils/tensorzero/errors.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Display a Gateway Required error on initial load (#5060)
  ui/app/components/ui/GatewayRequiredState.tsx
  ui/app/root.tsx
  ui/app/utils/tensorzero/errors.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added get inference to the tensorzero client
  ui/app/utils/tensorzero/tensorzero.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  ui/app/components/datapoint/CloneDatapointButton.tsx
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/components/dataset/DatasetFormField.tsx
  ui/app/components/dataset/DatasetSelector.stories.tsx
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/routes/datapoints/new/NewDatapointForm.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/e2e_tests/datasets.clone-datapoint.spec.ts
  ui/e2e_tests/evaluations.bulk_add_to_dataset.spec.ts
  ui/e2e_tests/evaluations.eval_name.datapoint_id.spec.ts
  ui/e2e_tests/helpers/datapoint-helpers.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

bumped version, added migration, fixed CI
  .github/workflows/general.yml
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0043.rs
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0044.rs
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  ui/package.json
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

add extra body to stored inference types
  .gitignore
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/ExtraBody.ts
  internal/tensorzero-node/lib/bindings/StoredChatInference.ts
  internal/tensorzero-node/lib/bindings/StoredJsonInference.ts
  internal/tensorzero-node/lib/bindings/UnfilteredInferenceExtraBody.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/datasets/v1/create_from_inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
  tensorzero-core/tests/e2e/render_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix status route test
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

wip
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/inference/InferencePreviewSheet.tsx
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceBasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/resolve.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support invalidating config in the UI based on hash comparison (#5025)
  gateway/tests/auth.rs
  internal/tensorzero-node/lib/bindings/StatusResponse.ts
  internal/tensorzero-node/lib/bindings/UiConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/status.rs
  tensorzero-core/src/endpoints/ui/get_config.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/function/ToolDetails.stories.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
  ui/app/routes/api/tensorzero/status.ts
  ui/app/utils/config/index.server.test.ts
  ui/app/utils/config/index.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

wip
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/playground/utils.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed issue with migration success check
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0044.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added missing fields to get inference endpoint
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/datasets/v1/create_from_inferences.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/src/inference/types/chat_completion_inference_params/service_tier.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
  tensorzero-core/tests/e2e/render_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed types
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/StoredChatInference.ts
  internal/tensorzero-node/lib/bindings/StoredJsonInference.ts
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

removed types and methods not needed in UI
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/inference/ToolParametersSection.stories.tsx
  ui/app/components/inference/ToolParametersSection.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceBasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/routes/playground/utils.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

cleaned up server import
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
