Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Update CODEOWNERS for file ownership assignments
  .github/CODEOWNERS
Due: none

Fix cargo deny
  crates/Cargo.lock
Due: none

Add CODEOWNERS entry for /docs directory (#7017)
  .github/CODEOWNERS
Due: none

Fix cargo deny (#7019)
  crates/Cargo.lock
Due: none

Update CODEOWNERS for file ownership assignments (#7018)
  .github/CODEOWNERS
Due: none

Stabilize daily test profiles and flakes
  crates/.config/nextest.toml
  crates/tensorzero-core/tests/e2e/endpoints/datasets/list_datasets.rs
  crates/tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix Postgres setup in daily batch tests
  .github/workflows/live-batch-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

feat: add Novita AI as LLM provider
  crates/tensorzero-core/src/config/provider_types.rs
  crates/tensorzero-core/src/embeddings.rs
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-core/src/model_table.rs
  crates/tensorzero-core/src/providers/mod.rs
  crates/tensorzero-core/src/providers/novita.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update README
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update project title in README.md
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Change project title from 'TensorZero test' to 'TensorZero'
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update
  examples/readme/openai_sdk.py
Due: none

Update README.md
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fix: handle OpenAI batch API error cases gracefully
  crates/tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added initial code for OSSing of evals
  examples/autopilot/README.md
  examples/autopilot/config-applier-cli/Cargo.lock
  examples/autopilot/config-applier-cli/Cargo.toml
  examples/autopilot/config-applier-cli/src/main.rs
  examples/autopilot/configs/21_questions.yaml
  examples/autopilot/configs/babyai.yaml
  examples/autopilot/configs/lawbench.yaml
  examples/autopilot/configs/medagentbench.yaml
  examples/autopilot/configs/ner.yaml
  examples/autopilot/configs/replicationbench.yaml
  examples/autopilot/configs/tau_bench_airline.yaml
  examples/autopilot/configs/tau_bench_retail.yaml
  examples/autopilot/configs/terminal_bench.yaml
  examples/autopilot/docker/Dockerfile
  examples/autopilot/docker/docker-compose.yml
  examples/autopilot/interlocutor_config/system.minijinja
  examples/autopilot/interlocutor_config/tensorzero.toml
  examples/autopilot/pyproject.toml
  examples/autopilot/src/autopilot_benchmarks/__init__.py
  examples/autopilot/src/autopilot_benchmarks/autopilot/__init__.py
  examples/autopilot/src/autopilot_benchmarks/autopilot/config_applier.py
  examples/autopilot/src/autopilot_benchmarks/autopilot/interlocutor.py
  examples/autopilot/src/autopilot_benchmarks/autopilot/session.py
  examples/autopilot/src/autopilot_benchmarks/cli.py
  examples/autopilot/src/autopilot_benchmarks/config.py
  examples/autopilot/src/autopilot_benchmarks/infra/__init__.py
  examples/autopilot/src/autopilot_benchmarks/infra/config_generator.py
  examples/autopilot/src/autopilot_benchmarks/infra/gateway_process.py
  examples/autopilot/src/autopilot_benchmarks/infra/postgres_io.py
  examples/autopilot/src/autopilot_benchmarks/orchestrator.py
  examples/autopilot/src/autopilot_benchmarks/results/__init__.py
  examples/autopilot/src/autopilot_benchmarks/results/recorder.py
  examples/autopilot/src/autopilot_benchmarks/rollout/__init__.py
  examples/autopilot/src/autopilot_benchmarks/rollout/runner.py
  examples/autopilot/src/autopilot_benchmarks/snapshot.py
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

fix: improve OpenAI batch error handling with logging and partial failure support
  crates/tensorzero-core/src/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix bulk-add-to-dataset for function-level evaluators
  ui/app/routes/evaluations/bulkAddToDataset.server.ts
  ui/app/routes/evaluations/runs.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update README (#7023)
  README.md
  examples/readme/openai_sdk.py
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed fmtting
  examples/autopilot/configs/lawbench.yaml
  examples/autopilot/configs/medagentbench.yaml
  examples/autopilot/configs/replicationbench.yaml
  examples/autopilot/configs/tau_bench_airline.yaml
  examples/autopilot/configs/tau_bench_retail.yaml
  examples/autopilot/configs/terminal_bench.yaml
  examples/autopilot/docker/Dockerfile
  examples/autopilot/src/autopilot_benchmarks/autopilot/config_applier.py
  examples/autopilot/src/autopilot_benchmarks/autopilot/session.py
  examples/autopilot/src/autopilot_benchmarks/cli.py
  examples/autopilot/src/autopilot_benchmarks/config.py
  examples/autopilot/src/autopilot_benchmarks/infra/config_generator.py
  examples/autopilot/src/autopilot_benchmarks/infra/gateway_process.py
  examples/autopilot/src/autopilot_benchmarks/infra/postgres_io.py
  examples/autopilot/src/autopilot_benchmarks/orchestrator.py
  examples/autopilot/src/autopilot_benchmarks/rollout/runner.py
  examples/autopilot/src/autopilot_benchmarks/snapshot.py
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

movd into benchmarks
  examples/autopilot/benchmarks/README.md
  examples/autopilot/benchmarks/config-applier-cli/Cargo.lock
  examples/autopilot/benchmarks/config-applier-cli/Cargo.toml
  examples/autopilot/benchmarks/config-applier-cli/src/main.rs
  examples/autopilot/benchmarks/configs/21_questions.yaml
  examples/autopilot/benchmarks/configs/babyai.yaml
  examples/autopilot/benchmarks/configs/lawbench.yaml
  examples/autopilot/benchmarks/configs/medagentbench.yaml
  examples/autopilot/benchmarks/configs/ner.yaml
  examples/autopilot/benchmarks/configs/replicationbench.yaml
  examples/autopilot/benchmarks/configs/tau_bench_airline.yaml
  examples/autopilot/benchmarks/configs/tau_bench_retail.yaml
  examples/autopilot/benchmarks/configs/terminal_bench.yaml
  examples/autopilot/benchmarks/docker/Dockerfile
  examples/autopilot/benchmarks/docker/docker-compose.yml
  examples/autopilot/benchmarks/interlocutor_config/system.minijinja
  examples/autopilot/benchmarks/interlocutor_config/tensorzero.toml
  examples/autopilot/benchmarks/pyproject.toml
  examples/autopilot/benchmarks/src/autopilot_benchmarks/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/config_applier.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/interlocutor.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/session.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/cli.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/config.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/config_generator.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/gateway_process.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/postgres_io.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/orchestrator.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/results/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/results/recorder.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/rollout/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/rollout/runner.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/snapshot.py
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Address Gabriel's review: OpenAI-compat field naming, provider cache parsing
  .gitignore
  crates/tensorzero-core/src/endpoints/openai_compatible/types/usage.rs
  crates/tensorzero-core/src/providers/deepseek.rs
  crates/tensorzero-core/src/providers/fireworks/mod.rs
  crates/tensorzero-core/src/providers/mistral.rs
  crates/tensorzero-types-providers/src/cache.rs
  crates/tensorzero-types-providers/src/deepseek.rs
  crates/tensorzero-types-providers/src/mistral.rs
  docs/gateway/api-reference/inference-openai-compatible.mdx
  scripts/ch.sh
Due: cargo-deny, cargo-fmt, cargo-clippy

added initial code for OSSing of evals (#7024)
  examples/autopilot/benchmarks/README.md
  examples/autopilot/benchmarks/config-applier-cli/Cargo.lock
  examples/autopilot/benchmarks/config-applier-cli/Cargo.toml
  examples/autopilot/benchmarks/config-applier-cli/src/main.rs
  examples/autopilot/benchmarks/configs/21_questions.yaml
  examples/autopilot/benchmarks/configs/babyai.yaml
  examples/autopilot/benchmarks/configs/lawbench.yaml
  examples/autopilot/benchmarks/configs/medagentbench.yaml
  examples/autopilot/benchmarks/configs/ner.yaml
  examples/autopilot/benchmarks/configs/replicationbench.yaml
  examples/autopilot/benchmarks/configs/tau_bench_airline.yaml
  examples/autopilot/benchmarks/configs/tau_bench_retail.yaml
  examples/autopilot/benchmarks/configs/terminal_bench.yaml
  examples/autopilot/benchmarks/docker/Dockerfile
  examples/autopilot/benchmarks/docker/docker-compose.yml
  examples/autopilot/benchmarks/interlocutor_config/system.minijinja
  examples/autopilot/benchmarks/interlocutor_config/tensorzero.toml
  examples/autopilot/benchmarks/pyproject.toml
  examples/autopilot/benchmarks/src/autopilot_benchmarks/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/config_applier.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/interlocutor.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/autopilot/session.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/cli.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/config.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/config_generator.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/gateway_process.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/infra/postgres_io.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/orchestrator.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/results/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/results/recorder.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/rollout/__init__.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/rollout/runner.py
  examples/autopilot/benchmarks/src/autopilot_benchmarks/snapshot.py
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add MiniMax as a first-class LLM provider
  README.md
  crates/tensorzero-core/src/config/provider_types.rs
  crates/tensorzero-core/src/model.rs
  crates/tensorzero-core/src/model_table.rs
  crates/tensorzero-core/src/providers/minimax.rs
  crates/tensorzero-core/src/providers/mod.rs
  crates/tensorzero-types-providers/src/lib.rs
  crates/tensorzero-types-providers/src/minimax.rs
  docs/deployment/tensorzero-gateway.mdx
  docs/docs.json
  docs/gateway/api-reference/inference-openai-compatible.mdx
  docs/gateway/api-reference/inference.mdx
  docs/gateway/configuration-reference.mdx
  docs/gateway/index.mdx
  docs/integrations/model-providers/index.mdx
  docs/integrations/model-providers/minimax.mdx
  docs/operations/manage-credentials.mdx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix live-batch daily test selection
  crates/.config/nextest.toml
Due: none

Fix bulk-add-to-dataset for function-level evaluators (#7026)
  ui/app/routes/evaluations/bulkAddToDataset.server.ts
  ui/app/routes/evaluations/runs.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Deduplicate bounded/unbounded channel processing via shared ChannelReceiver type
  crates/tensorzero-core/src/db/batching.rs
  crates/tensorzero-core/src/db/clickhouse/batching.rs
  crates/tensorzero-core/src/db/postgres/batching.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Regenerate TypeScript bindings for Usage cache token fields
  crates/tensorzero-node/lib/bindings/RawUsageEntry.ts
  crates/tensorzero-node/lib/bindings/Usage.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add cache token fields to Python client Usage dataclass
  crates/tensorzero-python/tensorzero/types.py
Due: none

Add comment explaining serde annotations on cache token fields
  crates/tensorzero-core/src/inference/types/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove unnecessary serde annotations from cache token fields
  crates/tensorzero-core/src/inference/types/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add provider proxy to inference cache tests
  .github/workflows/inference-cache-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Parallelize initial variant evaluations in GEPA
  crates/autopilot-tools/src/tools/prod/gepa.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Cache config snapshot metrics in GEPA setup step
  crates/autopilot-tools/src/tools/prod/gepa.rs
  crates/tensorzero-optimizers/src/gepa/durable/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Restrict provider-proxy cache upload to a single matrix backend
  .github/workflows/inference-cache-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add DB pressure load test for durable execution
  crates/durable-tools/Cargo.toml
  crates/durable-tools/tests/db_pressure.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
