Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
        exclude: |
          (?x)
          gateway/src/inference/providers/gcp_vertex_gemini\.rs|
          CONTRIBUTING\.md
      - id: end-of-file-fixer
        exclude: \.minijinja$
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check bans
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-unit
        name: cargo test-unit
        entry: cargo test-unit
        language: system
        types: [rust]
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd ui && npm run format'
        language: node
        types_or:
          [css, html, javascript, json, jsx, markdown, scss, ts, tsx, yaml]
        additional_dependencies:
          - prettier
          - prettier-plugin-tailwindcss
          - "@prettier/plugin-xml"
        exclude: '.*\.ipynb$'
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd ui && npm run lint'
        language: node
        types_or: [javascript, jsx, ts, tsx]
        additional_dependencies:
          - eslint
          - "@typescript-eslint/parser"
          - "@typescript-eslint/eslint-plugin"
        pass_filenames: false

      - id: tsc
        name: tsc
        entry: bash -c 'cd ui && npm run typecheck'
        language: node
        types_or: [ts, tsx]
        additional_dependencies:
          - typescript
        pass_filenames: false

  - repo: https://github.com/srstevenson/nb-clean
    rev: 3.2.0
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        args: ["--extend-select", "I", "--fix"]
      - id: ruff-format
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.391
    hooks:
      - id: pyright
        name: "pyright: clients/python"
        files: ^clients/python/
        args: ["--project", "clients/python/pyproject.toml"]
        additional_dependencies:
          - httpx
          - uuid_utils

      - id: pyright
        name: "pyright: clients/openai-python"
        files: ^clients/openai-python/
        args: ["--project", "clients/openai-python/pyrightconfig.json"]
        additional_dependencies:
          - openai

added inference table to variant view
  ui/app/routes/observability/function/variant/BasicInfo.tsx
  ui/app/routes/observability/function/variant/route.tsx
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
Due: prettier, eslint, tsc

Fix README.md for DPO with OpenAI
  recipes/dpo/openai/README.md
Due: prettier

Update README.md
  recipes/dpo/openai/README.md
Due: prettier

Update README.md
  README.md
Due: prettier

Fix README.md for DPO with OpenAI (#811)
  recipes/dpo/openai/README.md
Due: prettier

added variant inference table and refactored in preparation for chart
  ui/app/components/function/variant/TimeGranularitySelector.tsx
  ui/app/components/function/variant/VariantPerformance.test.ts
  ui/app/components/function/variant/VariantPerformance.tsx
  ui/app/routes/observability/function/route.tsx
  ui/app/routes/observability/function/variant/VariantInferenceTable.tsx
Due: prettier, eslint, tsc

added variant performance chart to variant view
  ui/app/components/function/variant/MetricSelector.tsx
  ui/app/routes/observability/function/route.tsx
  ui/app/routes/observability/function/variant/route.tsx
  ui/app/utils/clickhouse/feedback.test.ts
  ui/app/utils/clickhouse/feedback.ts
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
Due: prettier, eslint, tsc

add ui figures
  examples/babyai/img/homepage.png
  examples/babyai/img/sft_form.png
Due: none

test merge queue
  .github/workflows/merge-queue.yml
Due: prettier

removed merge queue forced run
  .github/workflows/merge-queue.yml
Due: prettier

remove .toml strings
  examples/babyai/babyai.ipynb
Due: none

Babyai (#737)
  examples/babyai/README.md
  examples/babyai/babyai.ipynb
  examples/babyai/config.yml
  examples/babyai/config/functions/act/baseline/system.minijinja
  examples/babyai/config/functions/act/baseline/user.minijinja
  examples/babyai/config/functions/act/history/system.minijinja
  examples/babyai/config/functions/act/history/user.minijinja
  examples/babyai/config/functions/act/history_and_reasoning/system.minijinja
  examples/babyai/config/functions/act/history_and_reasoning/user.minijinja
  examples/babyai/config/functions/act/output_schema.json
  examples/babyai/config/functions/act/reasoning/system.minijinja
  examples/babyai/config/functions/act/reasoning/user.minijinja
  examples/babyai/config/functions/act/system_schema.json
  examples/babyai/config/functions/act/user_schema.json
  examples/babyai/config/tensorzero.toml
  examples/babyai/docker-compose.yml
  examples/babyai/environment.yml
  examples/babyai/img/gpt-4o-mini_episode-length.png
  examples/babyai/img/gpt-4o-mini_episode-return.png
  examples/babyai/img/gpt-4o-mini_generated-tokens.png
  examples/babyai/img/gpt-4o-mini_input-tokens.png
  examples/babyai/img/gpt-4o-mini_success-rate.png
  examples/babyai/img/homepage.png
  examples/babyai/img/sft_form.png
  examples/babyai/requirements.in
  examples/babyai/requirements.txt
Due: prettier

Make `InferenceOutput::Streaming` produce `Result` instead of `Option`
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update README.md (#812)
  README.md
Due: prettier

fixed metric name rendering
  ui/app/components/function/variant/MetricSelector.tsx
  ui/app/routes/observability/function/BasicInfo.tsx
Due: prettier, eslint, tsc

removed dashboard_fixture_
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/feedback.test.ts
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/fixtures/boolean_metric_feedback_examples.csv
  ui/fixtures/chat_inference_examples.csv
  ui/fixtures/config/tensorzero.toml
  ui/fixtures/float_metric_feedback_examples.csv
  ui/fixtures/json_inference_examples.csv
Due: prettier, eslint, tsc

added getVariantCounts and tests
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
Due: prettier, eslint, tsc

added a table of variants and counts
  ui/app/routes/observability/function/FunctionVariantTable.tsx
  ui/app/routes/observability/function/route.tsx
Due: prettier, eslint, tsc

wip
  Cargo.lock
  tensorzero_internal/Cargo.toml
  tensorzero_internal/src/cache.rs
  tensorzero_internal/src/clickhouse.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0000.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0002.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0003.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0004.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0005.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0006.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0007.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0008.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0009.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0010.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/migration_0011.rs
  tensorzero_internal/src/clickhouse_migration_manager/migrations/mod.rs
  tensorzero_internal/src/clickhouse_migration_manager/mod.rs
  tensorzero_internal/src/endpoints/batch_inference.rs
  tensorzero_internal/src/endpoints/feedback.rs
  tensorzero_internal/src/error.rs
  tensorzero_internal/src/inference/types/mod.rs
  tensorzero_internal/src/lib.rs
  tensorzero_internal/src/model.rs
  tensorzero_internal/src/tool.rs
  tensorzero_internal/src/variant/best_of_n_sampling.rs
  tensorzero_internal/src/variant/dicl.rs
  tensorzero_internal/src/variant/mod.rs
  tensorzero_internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed bad header for variant table
  ui/app/routes/observability/function/route.tsx
Due: prettier, eslint, tsc

cache reads and writes are implemented no tests for infer only
  tensorzero_internal/src/cache.rs
  tensorzero_internal/src/endpoints/batch_inference.rs
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/openai_compatible.rs
  tensorzero_internal/src/model.rs
  tensorzero_internal/src/variant/best_of_n_sampling.rs
  tensorzero_internal/src/variant/chat_completion.rs
  tensorzero_internal/src/variant/mixture_of_n.rs
  tensorzero_internal/src/variant/mod.rs
  tensorzero_internal/tests/e2e/clickhouse.rs
  tensorzero_internal/tests/e2e/common.rs
  tensorzero_internal/tests/e2e/dicl.rs
  tensorzero_internal/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implementation is complete ex error handling and tests
  tensorzero_internal/src/cache.rs
  tensorzero_internal/src/clickhouse.rs
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added unit test for cache key
  tensorzero_internal/src/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

cache works and is tested for infer()
  tensorzero_internal/src/cache.rs
  tensorzero_internal/src/clickhouse.rs
  tensorzero_internal/src/embeddings.rs
  tensorzero_internal/src/endpoints/batch_inference.rs
  tensorzero_internal/src/function.rs
  tensorzero_internal/src/inference/types/batch.rs
  tensorzero_internal/src/inference/types/mod.rs
  tensorzero_internal/src/lib.rs
  tensorzero_internal/src/variant/best_of_n_sampling.rs
  tensorzero_internal/src/variant/mixture_of_n.rs
  tensorzero_internal/tests/e2e/cache.rs
  tensorzero_internal/tests/e2e/providers/batch.rs
  tensorzero_internal/tests/e2e/providers/common.rs
  tensorzero_internal/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

cache writes dont block the main request
  tensorzero_internal/src/cache.rs
  tensorzero_internal/src/model.rs
  tensorzero_internal/tests/e2e/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

documented test a bit better
  tensorzero_internal/tests/e2e/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added validation that reserves the namespace for tensorzero no tests
  tensorzero_internal/src/config_parser.rs
  tensorzero_internal/src/endpoints/feedback.rs
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/mod.rs
  tensorzero_internal/src/function.rs
  tensorzero_internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added test for validating tags
  tensorzero_internal/src/config_parser.rs
  tensorzero_internal/src/endpoints/feedback.rs
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

changed name to max_age_s
  tensorzero_internal/src/cache.rs
  tensorzero_internal/src/model.rs
  tensorzero_internal/tests/e2e/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated type of query parameters in clickhouse to Option<&HashMap<&str, &str>>
  tensorzero_internal/src/cache.rs
  tensorzero_internal/src/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added handling for empty inferences
  ui/app/components/function/variant/MetricSelector.tsx
  ui/app/routes/observability/function/route.tsx
  ui/app/routes/observability/function/variant/route.tsx
Due: prettier, eslint, tsc

Reject all names / tags that start with `tensorzero::` (#821)
  tensorzero_internal/src/config_parser.rs
  tensorzero_internal/src/endpoints/feedback.rs
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/mod.rs
  tensorzero_internal/src/function.rs
  tensorzero_internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed system_instructions in dicl config and default weight in variant config
  ui/app/routes/observability/function/variant/BasicInfo.tsx
  ui/app/routes/observability/function/variant/route.tsx
  ui/app/utils/config/variant.server.ts
  ui/app/utils/config/variant.test.ts
  ui/app/utils/config/variant.ts
  ui/fixtures/config/tensorzero.toml
Due: prettier, eslint, tsc

added variant type and weight to function table
  ui/app/routes/observability/function/FunctionVariantTable.tsx
  ui/app/routes/observability/function/route.tsx
  ui/fixtures/config/tensorzero.toml
Due: prettier, eslint, tsc

Make `InferenceOutput::Streaming` produce `Result` instead of `Option` (#814)
  tensorzero_internal/src/endpoints/inference.rs
  tensorzero_internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added missing template file
  ui/fixtures/config/functions/extract_entities/baseline/system_template.minijinja
Due: none

bumped version to 2025.01.6
  clients/python/pyproject.toml
  clients/python/uv.lock
  gateway/src/main.rs
  tensorzero_internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add more models to the UI SFT
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
Due: prettier, eslint, tsc
