Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Testing
  gateway/Cargo.toml
  gateway/src/main.rs
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support input thoughts for GCP Vertex Anthropic; recursively clean up schemas for Gemini (#4313)
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump to 2025.11.0 (#4346)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Testing
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  docs/operations/extend-tensorzero.mdx
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Apply suggestion from @Copilot
  clients/rust/Cargo.toml
Due: none

Fix
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/best_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  clients/rust/Cargo.toml
Due: none

Fix
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  .config/nextest.toml
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  .config/nextest.toml
  .github/workflows/merge-queue.yml
  provider-proxy/.gitignore
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  tensorzero-core/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

renamed Tool -> ClientSideFunctionTool
  clients/python/src/lib.rs
  clients/python/src/python_helpers.rs
  clients/rust/src/lib.rs
  evaluations/src/helpers.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/datasets/tool_params.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/render_inferences.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Better unknown handling during streaming
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactored tool.rs (except tests) to new write pattern
  tensorzero-core/src/function.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed tests in tool file
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Better unknown handling during streaming
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

mostly refactored function.rs
  tensorzero-core/src/function.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

everything compiles
  evaluations/src/helpers.rs
  evaluations/src/lib.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added tool deserializers
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Ban auth-enabled config in embedded client (#4343)
  clients/python/tests/test_client.py
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  gateway/Cargo.toml
  gateway/src/main.rs
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Better unknown chunks (#4358)
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented Display / python str for function config types (#4325)
  tensorzero-core/src/function.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

almost all tests fixed
  evaluations/src/helpers.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/tests/e2e/datasets/mod.rs
  tensorzero-core/tests/e2e/datasets/tool_params.rs
  tensorzero-core/tests/e2e/endpoints/datasets/datasets_update.rs
  tensorzero-core/tests/e2e/render_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

tool_config -> tool_params
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

unit tests pass
  evaluations/src/helpers.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add auth docs + example
  docs/comparison/langfuse.mdx
  docs/comparison/litellm.mdx
  docs/comparison/portkey.mdx
  docs/docs.json
  docs/gateway/index.mdx
  docs/operations/require-virtual-api-keys-auth.mdx
  docs/quickstart.mdx
  examples/docs/guides/operations/require-virtual-api-keys-auth/curl.sh
  examples/docs/guides/operations/require-virtual-api-keys-auth/docker-compose.yml
  examples/docs/guides/operations/require-virtual-api-keys-auth/openai_sdk.py
  examples/docs/guides/operations/require-virtual-api-keys-auth/openai_sdk.ts
  examples/docs/guides/operations/require-virtual-api-keys-auth/package-lock.json
  examples/docs/guides/operations/require-virtual-api-keys-auth/package.json
  examples/docs/guides/operations/require-virtual-api-keys-auth/pyproject.toml
  examples/docs/guides/operations/require-virtual-api-keys-auth/tensorzero_sdk.py
  examples/docs/guides/operations/require-virtual-api-keys-auth/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add auth docs + example
  docs/comparison/litellm.mdx
Due: none

Add auth docs + example
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add auth docs + example
  docs/gateway/configuration-reference.mdx
Due: none

dont render confidence intervals in T=1 time series
  ui/app/components/function/variant/FeedbackMeansTimeseries.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add experimentation example
  clients/openai-go/tests/openai_compatibility_test.go
  examples/docs/guides/experimentation/set-up-automated-experimentation/README.md
  examples/docs/guides/experimentation/set-up-automated-experimentation/config/bad_system_template.minijinja
  examples/docs/guides/experimentation/set-up-automated-experimentation/config/good_system_template.minijinja
  examples/docs/guides/experimentation/set-up-automated-experimentation/config/output_schema.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/config/tensorzero.toml
  examples/docs/guides/experimentation/set-up-automated-experimentation/curl.sh
  examples/docs/guides/experimentation/set-up-automated-experimentation/data/conllpp.csv
  examples/docs/guides/experimentation/set-up-automated-experimentation/docker-compose.yml
  examples/docs/guides/experimentation/set-up-automated-experimentation/main.py
  examples/docs/guides/experimentation/set-up-automated-experimentation/ner.py
  examples/docs/guides/experimentation/set-up-automated-experimentation/package-lock.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/package.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/pyproject.toml
  examples/docs/guides/experimentation/set-up-automated-experimentation/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Virtual --> TensorZero
  docs/comparison/langfuse.mdx
  docs/comparison/litellm.mdx
  docs/comparison/portkey.mdx
  docs/docs.json
  docs/gateway/configuration-reference.mdx
  docs/gateway/index.mdx
  docs/operations/require-tensorzero-api-keys-auth.mdx
  examples/docs/guides/experimentation/set-up-automated-experimentation/package-lock.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/package.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/pyproject.toml
  examples/docs/guides/experimentation/set-up-automated-experimentation/uv.lock
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/.python-version
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/README.md
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/config/tensorzero.toml
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/curl.sh
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/docker-compose.yml
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/openai_sdk.py
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/openai_sdk.ts
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/package-lock.json
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/package.json
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/pyproject.toml
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/tensorzero_sdk.py
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/uv.lock
  examples/docs/guides/operations/require-virtual-api-keys-auth/README.md
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

added consistent chart coloring for function experimentation
  ui/app/components/experimentation/PieChart.tsx
  ui/app/components/function/variant/FeedbackCountsTimeseries.tsx
  ui/app/components/function/variant/FeedbackMeansTimeseries.tsx
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  README.md
  docs/comparison/langfuse.mdx
  docs/comparison/litellm.mdx
  docs/comparison/portkey.mdx
  docs/docs.json
  docs/gateway/configuration-reference.mdx
  docs/gateway/index.mdx
  docs/operations/set-up-auth-for-tensorzero.mdx
  examples/docs/guides/experimentation/set-up-automated-experimentation/package-lock.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/package.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/pyproject.toml
  examples/docs/guides/experimentation/set-up-automated-experimentation/uv.lock
  examples/docs/guides/operations/require-tensorzero-api-keys-auth/README.md
  examples/docs/guides/operations/set-up-auth-for-tensorzero/.python-version
  examples/docs/guides/operations/set-up-auth-for-tensorzero/README.md
  examples/docs/guides/operations/set-up-auth-for-tensorzero/config/tensorzero.toml
  examples/docs/guides/operations/set-up-auth-for-tensorzero/curl.sh
  examples/docs/guides/operations/set-up-auth-for-tensorzero/docker-compose.yml
  examples/docs/guides/operations/set-up-auth-for-tensorzero/openai_sdk.py
  examples/docs/guides/operations/set-up-auth-for-tensorzero/openai_sdk.ts
  examples/docs/guides/operations/set-up-auth-for-tensorzero/package-lock.json
  examples/docs/guides/operations/set-up-auth-for-tensorzero/package.json
  examples/docs/guides/operations/set-up-auth-for-tensorzero/pyproject.toml
  examples/docs/guides/operations/set-up-auth-for-tensorzero/tensorzero_sdk.py
  examples/docs/guides/operations/set-up-auth-for-tensorzero/uv.lock
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Final
  README.md
  docs/comparison/langchain.mdx
  docs/comparison/langfuse.mdx
  docs/comparison/litellm.mdx
  docs/comparison/openpipe.mdx
  docs/comparison/openrouter.mdx
  docs/comparison/portkey.mdx
  docs/deployment/postgres.mdx
  docs/docs.json
  docs/experimentation/run-automated-ab-tests.gif
  docs/experimentation/run-automated-ab-tests.mdx
  docs/experimentation/run-static-ab-tests.mdx
  docs/gateway/create-a-prompt-template.mdx
  docs/gateway/guides/episodes.mdx
  docs/gateway/guides/metrics-feedback.mdx
  docs/gateway/index.mdx
  docs/gateway/tutorial.mdx
  docs/operations/set-up-auth-for-tensorzero.mdx
  docs/quickstart.mdx
  examples/docs/guides/experimentation/run-automated-ab-tests/README.md
  examples/docs/guides/experimentation/run-automated-ab-tests/config/bad_system_template.minijinja
  examples/docs/guides/experimentation/run-automated-ab-tests/config/good_system_template.minijinja
  examples/docs/guides/experimentation/run-automated-ab-tests/config/output_schema.json
  examples/docs/guides/experimentation/run-automated-ab-tests/config/tensorzero.toml
  examples/docs/guides/experimentation/run-automated-ab-tests/data/conllpp.csv
  examples/docs/guides/experimentation/run-automated-ab-tests/docker-compose.yml
  examples/docs/guides/experimentation/run-automated-ab-tests/main.py
  examples/docs/guides/experimentation/run-automated-ab-tests/ner.py
  examples/docs/guides/experimentation/run-automated-ab-tests/pyproject.toml
  examples/docs/guides/experimentation/run-automated-ab-tests/requirements.txt
  examples/docs/guides/experimentation/run-automated-ab-tests/uv.lock
  examples/docs/guides/experimentation/set-up-automated-experimentation/README.md
  examples/docs/guides/experimentation/set-up-automated-experimentation/curl.sh
  examples/docs/guides/experimentation/set-up-automated-experimentation/package-lock.json
  examples/docs/guides/experimentation/set-up-automated-experimentation/package.json
  examples/docs/guides/operations/set-up-auth-for-tensorzero/requirements.txt
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
