Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

added validation for tag scopes
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Allow reading flags without init
  gateway/src/main.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/feature_flags/mod.rs
  tensorzero-core/tests/e2e/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clippy warnings in feature_flags
  tensorzero-core/src/feature_flags/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clippy warnings in feature_flags (#6040)
  tensorzero-core/src/feature_flags/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactored wire types so that edits can be typed
  internal/autopilot-tools/src/tools/prod/mod.rs
  internal/autopilot-tools/src/tools/prod/write_config.rs
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/experimentation/static_weights.rs
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
  tensorzero-core/src/experimentation/uniform.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix stored / wire types for rate limiting to use derived deserializer (#6038)
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/rate_limiting.rs
  tensorzero-core/src/config/stored/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

initial attempt at implementing config writing crate
  Cargo.lock
  Cargo.toml
  internal/autopilot-tools/Cargo.toml
  internal/autopilot-tools/src/tools/prod/write_config.rs
  internal/config-writer/Cargo.toml
  internal/config-writer/src/edit.rs
  internal/config-writer/src/error.rs
  internal/config-writer/src/lib.rs
  internal/config-writer/src/locator.rs
  internal/config-writer/src/path_resolver.rs
  internal/config-writer/src/toml_writer.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/experimentation/mod.rs
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed issues with single file paths, evaluations including templates
  internal/config-writer/src/error.rs
  internal/config-writer/src/lib.rs
  internal/config-writer/src/toml_writer.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed "vulnerability" to path injection
  internal/config-writer/src/error.rs
  internal/config-writer/src/lib.rs
  internal/config-writer/src/path_resolver.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

cleaned up some PR comments
  internal/config-writer/src/edit.rs
  internal/config-writer/src/path_resolver.rs
  internal/config-writer/src/toml_writer.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

implemented config writer in napi-rs
  .cargo/config.toml
  Cargo.lock
  internal/tensorzero-node/Cargo.toml
  internal/tensorzero-node/lib/bindings/EditPayload.ts
  internal/tensorzero-node/lib/bindings/ExtraBodyConfig.ts
  internal/tensorzero-node/lib/bindings/ExtraBodyReplacement.ts
  internal/tensorzero-node/lib/bindings/UninitializedEvaluationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedExperimentationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedInferenceEvaluationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeBestOfNVariantConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeChainOfThoughtVariantConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeChatCompletionVariantConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeDiclVariantConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeMixtureOfNVariantConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeVariantConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedLLMJudgeVariantInfo.ts
  internal/tensorzero-node/lib/bindings/UninitializedTrackAndStopConfig.ts
  internal/tensorzero-node/lib/bindings/UpsertEvaluationPayload.ts
  internal/tensorzero-node/lib/bindings/UpsertEvaluatorPayload.ts
  internal/tensorzero-node/lib/bindings/UpsertExperimentationPayload.ts
  internal/tensorzero-node/lib/bindings/UpsertVariantPayload.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/config_writer.test.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/config_writer.rs
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added autopilot client method for listing all config writes
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added route for listing config writes in a session to gateway;
  gateway/src/routes/internal.rs
  internal/autopilot-client/src/lib.rs
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add node method for listing config writes and writing them
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/tensorzero-node/lib/bindings/GatewayListConfigWritesResponse.ts
  internal/tensorzero-node/lib/bindings/ListConfigWritesParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added command line flags for config path for writing
  ui/app/utils/env.server.ts
  ui/entrypoint.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added impl for ui writing to config files
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/WriteAllConfigsButton.tsx
  ui/app/components/autopilot/WriteConfigButton.tsx
  ui/app/routes.ts
  ui/app/routes/api/autopilot/sessions/$session_id/config-writes/write-all.route.ts
  ui/app/routes/api/autopilot/sessions/$session_id/config-writes/write.route.ts
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Allow reading flags without init (#6039)
  gateway/src/main.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/feature_flags/mod.rs
  tensorzero-core/tests/e2e/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add last_event_at field to Session type (#6030)
  internal/autopilot-client/src/types.rs
  internal/tensorzero-node/lib/bindings/Session.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

InferenceQueries Postgres (#5915)
  .sqlx/query-0d2275b63ea8385f46636aa804affd5eb9b552aeaa911aff34f7fa8897546317.json
  .sqlx/query-b77b11643355d960119dd748d86013ea8160e2dfc61f4184e06c552d0e6ef1ca.json
  .sqlx/query-d13c5af22b106eb4703743ac4ed81714bc80932acbd624e43bd188c041fd0e85.json
  .sqlx/query-f4fea76553ddd658b402eeddec40ef822e2bf014311e28a7fd7f5587b6bbf4ef.json
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/db/clickhouse/query_builder/test_util.rs
  tensorzero-core/src/db/delegating_connection.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/db/postgres/inference_filter_helpers.rs
  tensorzero-core/src/db/postgres/inference_queries.rs
  tensorzero-core/src/db/postgres/migrations/20260128230007_tool_params_to_jsonb.sql
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/db/postgres/test_helpers.rs
  tensorzero-core/src/db/query_helpers.rs
  tensorzero-core/src/db/test_helpers.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/src/tool/storage.rs
  tensorzero-core/tests/e2e/batch/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/db/inference_queries.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
  ui/fixtures/load_fixtures_postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed types for writing config tool
  .cargo/config.toml
  Cargo.lock
  internal/autopilot-tools/Cargo.toml
  internal/autopilot-tools/src/tools/prod/write_config.rs
  internal/tensorzero-node/lib/bindings/WriteConfigToolParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Chart progressive loading architecture
  ui/app/components/model/ModelLatency.tsx
  ui/app/components/model/ModelUsage.tsx
  ui/app/components/ui/BarChartSkeleton.tsx
  ui/app/components/ui/LineChartSkeleton.tsx
  ui/app/components/ui/chart.tsx
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
  ui/app/routes/observability/models/route.tsx
  ui/e2e_tests/observability.models.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Chart design refinements
  ui/app/components/model/ModelLatency.tsx
  ui/app/components/model/ModelUsage.tsx
  ui/app/components/ui/BarChartSkeleton.tsx
  ui/app/components/ui/LineChartSkeleton.tsx
  ui/app/components/ui/chart.tsx
  ui/app/utils/chart.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump more Python deps (#6026)
  tensorzero-core/fixtures/deployment/sagemaker-ollama/uv.lock
Due: none

Update link in docs (#6023)
  README.md
  docs/deployment/tensorzero-autopilot.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add types for visualizing autopilot tool results (#5957)
  Cargo.lock
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/tensorzero-node/lib/bindings/EventPayload.ts
  internal/tensorzero-node/lib/bindings/EventPayloadVisualization.ts
  internal/tensorzero-node/lib/bindings/GatewayEventPayload.ts
  internal/tensorzero-node/lib/bindings/TopKEvaluationVisualization.ts
  internal/tensorzero-node/lib/bindings/VariantSummary.ts
  internal/tensorzero-node/lib/bindings/VisualizationType.ts
  internal/tensorzero-node/lib/bindings/index.ts
  pnpm-lock.yaml
  ui/app/components/autopilot/EventStream.stories.tsx
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/TopKEvaluationViz.tsx
  ui/package.json
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added additional bindings
  internal/tensorzero-node/lib/bindings/Event.ts
  internal/tensorzero-node/lib/bindings/ListConfigWritesParams.ts
  internal/tensorzero-node/lib/bindings/ListConfigWritesResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add cursor-pointer to combobox items (#5858)
  ui/app/components/ui/combobox/ComboboxMenuItems.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add PR screenshots for visual states documentation
  .github/pr-assets/pr-6046-error.png
  .github/pr-assets/pr-6046-loaded.png
  .github/pr-assets/pr-6046-skeleton.png
Due: none

Revert "Add PR screenshots for visual states documentation"
  .github/pr-assets/pr-6046-error.png
  .github/pr-assets/pr-6046-loaded.png
  .github/pr-assets/pr-6046-skeleton.png
Due: none

Add PR #6046 screenshots (skeleton, error, loaded states)
  6046/pr-6046-error.png
  6046/pr-6046-loaded.png
  6046/pr-6046-skeleton.png
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

export the correct gateway types to node surfaces
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/src/tools/prod/write_config.rs
  internal/tensorzero-node/lib/bindings/Event.ts
  internal/tensorzero-node/lib/bindings/GatewayListConfigWritesResponse.ts
  internal/tensorzero-node/lib/bindings/ListConfigWritesResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add short_summary field to Session for autopilot sessions list
  ui/app/components/ui/TableItems.tsx
  ui/app/routes/autopilot/AutopilotSessionsTable.tsx
  ui/app/routes/autopilot/sessions/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Simplify: use TableItemText instead of new TableItemSummary component
  ui/app/components/ui/TableItems.tsx
  ui/app/routes/autopilot/AutopilotSessionsTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add max-w-xs to skeleton summary cell for consistent layout
  ui/app/routes/autopilot/sessions/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add truncation and tooltip to session summary column
  ui/app/routes/autopilot/AutopilotSessionsTable.tsx
  ui/app/routes/autopilot/sessions/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

use btree map
  tensorzero-optimizers/src/gepa/analyze.rs
  tensorzero-optimizers/src/gepa/mutate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add ErrorBoundary to show inference ID on error
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use SectionErrorNotice for better error layout
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix scroll blur visibility for new sessions
  ui/app/components/ui/FadeGradient.tsx
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix top fade not resetting when navigating between sessions
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
