Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Log a warning when a Python stream is gc'd without being finished (#4152)
  clients/python/src/lib.rs
  clients/python/tests/test_drop_stream.py
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix dataset count overflow in ClickHouse queries Merge
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add docker file to start services
  bandits-testing/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add example .env file
  bandits-testing/.env.example
Due: none

Fill out config
  bandits-testing/config/tensorzero.toml
Due: none

Tooltip enhancements (#4116)
  ui/app/components/evaluations/EvaluationRunBadge.tsx
  ui/app/components/feedback/TagsBadges.tsx
  ui/app/components/layout/PageLayout.tsx
  ui/app/components/layout/app.sidebar.tsx
  ui/app/components/ui/Chip.tsx
  ui/app/components/ui/CommitHash.tsx
  ui/app/components/ui/LegacyStructuredPromptBadge.tsx
  ui/app/components/ui/TableItems.tsx
  ui/app/components/ui/sidebar.tsx
  ui/app/components/ui/tooltip.tsx
  ui/app/components/utils/CancelButton.tsx
  ui/app/components/utils/DeleteButton.tsx
  ui/app/components/utils/EditButton.tsx
  ui/app/components/utils/InferenceButton.tsx
  ui/app/components/utils/SaveButton.tsx
  ui/app/root.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/EvaluationDatapointBasicInfo.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationProjectResultsTable.tsx
  ui/app/routes/workflow_evaluations/projects/$project_name/WorkflowEvaluationRunBadge.tsx
  ui/app/routes/workflow_evaluations/runs/$run_id/WorkflowEvaluationRunEpisodesTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Pull out selectors
  ui/app/components/querybuilder/FilterRows.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update runner file name to be more informative
  bandits-testing/naive_bandits_runner.py
  bandits-testing/plotting.py
  bandits-testing/quick_test.py
  bandits-testing/run_experiments.py
Due: none

Tiny formatting change
  bandits-testing/run_full_comparison.py
  bandits-testing/tensorzero_runner.py
Due: none

Update readme
  bandits-testing/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Move our OTEL axum middleware to wrap *all* requests
  gateway/src/routes.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/otel_config_headers.rs
  tensorzero-core/tests/e2e/otel_export.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Load experiment params from config file rather than reading from command line
  bandits-testing/README.md
  bandits-testing/experiment_config.py
  bandits-testing/run_experiment.py
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add new batch list/get datapoints HTTP APIs (#4087)
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/DatapointFilter.ts
  internal/tensorzero-node/lib/bindings/GetDatapointParams.ts
  internal/tensorzero-node/lib/bindings/GetDatapointsRequest.ts
  internal/tensorzero-node/lib/bindings/GetDatapointsResponse.ts
  internal/tensorzero-node/lib/bindings/ListDatapointsRequest.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/datapoint_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/db/clickhouse/query_builder/parameters.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/get_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/mod.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fixes
  ui/app/components/inference/Input.tsx
  ui/app/components/inference/Output.tsx
  ui/app/components/layout/ContentBlockRenderer.tsx
  ui/app/components/ui/AddButton.tsx
  ui/app/components/ui/DeleteButton.tsx
  ui/app/components/ui/progress.tsx
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix permissions
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix permissions (#4158)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Ignore TENSORZERO_E2E_PROXY messages
  clients/python/tests/test_client.py
Due: none

Fix typo
  tensorzero-core/src/endpoints/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix typo
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed typing issues
  ui/app/components/evaluations/EvaluationFeedbackEditor.tsx
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointBasicInfo.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/DatasetTable.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/EvaluationDatapointBasicInfo.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Adjust a comment
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix log filter in tests
  gateway/tests/logging.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clippy
  tensorzero-core/tests/e2e/otel_export.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Scope even more permissions for GHA (#4084)
  .github/workflows/merge-queue.yml
  .github/workflows/optimization-test-cron.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing.spec.ts
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/helpers.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

wip - switch to bandit inference and feedback
  bandits-testing/experiment_config.py
  bandits-testing/naive_bandits_runner.py
  bandits-testing/run_experiment.py
  bandits-testing/tensorzero_runner.py
Due: none

wip
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/test_helpers.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Test errors
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Don't pass episode_id; breaks bandit sampling
  bandits-testing/tensorzero_runner.py
Due: none

Add a query builder component (#4140)
  ui/app/components/function/FunctionFormField.tsx
  ui/app/components/function/FunctionSelector.tsx
  ui/app/components/querybuilder/AddButton.tsx
  ui/app/components/querybuilder/DeleteButton.tsx
  ui/app/components/querybuilder/FilterRows.tsx
  ui/app/components/querybuilder/FunctionFormField.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/querybuilder/InferenceQueryBuilder.tsx
  ui/app/components/querybuilder/MetricNameWithTooltip.tsx
  ui/app/components/querybuilder/inference-filter-schema.ts
  ui/app/components/ui/button.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add `allowed_tools` type to ToolCallConfig (#4122)
  internal/tensorzero-node/lib/bindings/AllowedTools.ts
  internal/tensorzero-node/lib/bindings/AllowedToolsChoice.ts
  internal/tensorzero-node/lib/bindings/ToolCallConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/test_helpers.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mod.rs
  ui/app/components/function/FunctionSelector.stories.tsx
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Move our OTEL axum middleware to wrap *all* requests (#4157)
  gateway/src/routes.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/tests/e2e/otel_config_headers.rs
  tensorzero-core/tests/e2e/otel_export.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Detect stopping for tensorzero bandits, clean up databases at start of experiment runs
  bandits-testing/tensorzero_runner.py
Due: none

fixed all issues outstanding
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/test_helpers.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clickhouse query for empirical stats
  bandits-testing/tensorzero_runner.py
Due: none

Start running tensorzero-auth migrations in the gateway
  Cargo.lock
  internal/tensorzero-auth/Cargo.toml
  internal/tensorzero-auth/README.md
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/postgres/mod.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/db/experimentation_queries.rs
  tensorzero-core/tests/e2e/db/rate_limit_queries.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Simplify experiment config for speed
  bandits-testing/experiment_config.py
Due: none

Set TENSORZERO_E2E_PROXY env var globally in the merge queue (#4145)
  .github/workflows/merge-queue.yml
  clients/python/tests/test_client.py
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Improve grep regex used to find hanging pytest processes
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
