Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Add comment and regen bindings
  internal/tensorzero-node/lib/bindings/Thought.ts
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix compilation
  .config/nextest.toml
  tensorzero-core/tests/optimization/common/mod.rs
  tensorzero-core/tests/optimization/common/together_sft.rs
  tensorzero-core/tests/optimization/live_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added FunctionFormField component that fixes width of selector and simplifies calling code in forms
  ui/app/components/function/FunctionFormField.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix clippy
  tensorzero-core/tests/optimization/live_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Make 'text' field in Thought optional (#2803)
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/Thought.ts
  tensorzero-core/src/error.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add TOGETHER_API_KEY to optimization cron job (#2799)
  .github/workflows/optimization-test-cron.yml
Due: prettier: ui, prettier: openai-node

fixed bad test
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed bad e2e test
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added dataset form component and moved selector into components folder
  ui/app/components/dataset/DatasetFormField.tsx
  ui/app/components/dataset/DatasetSelector.stories.tsx
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/observability/inferences/$inference_id/AddToDatasetButton.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed dataset selector
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/routes/observability/inferences/$inference_id/AddToDatasetButton.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added documentation
  ui/app/components/dataset/DatasetFormField.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed tests
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/feedback.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed clippy from CI
  tensorzero-core/tests/e2e/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed PR comments
  tensorzero-core/src/howdy.rs
  tensorzero-core/tests/e2e/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update margin for icon
  ui/app/components/dataset/DatasetSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

changed names
  tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

[Issue-1961]: Handle clippy::match_wildcard_for_single_variant
  Cargo.toml
  clients/rust/src/lib.rs
  tensorzero-core/src/config_parser/tests.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/batch/mod.rs
  tensorzero-core/tests/e2e/render_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed issue with demonstrations in selector
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix pyo3 tests
  clients/python/tests/test_client.py
Due: none

Handle 'thoughtSignature' in Google AI Studio Gemini
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/tests/e2e/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Reformat
  clients/python/tests/test_client.py
Due: none

fixed curationmetricselector
  ui/app/components/metric/CurationMetricSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added a check for if clickhouse is disabled
  tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix typo
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

[Issue-1961]: Handle clippy::explicit_iter_loop
  Cargo.toml
  evaluations/src/helpers.rs
  evaluations/src/stats.rs
  examples/integrations/cursor/feedback/src/ted/mod.rs
  internal/tensorzero-derive/src/lib.rs
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/endpoints/dynamic_evaluation_run.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/providers/aws_http_client.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/providers/batch.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/mock-inference-provider/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added commit hash to howdy
  tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

made commit hash optional
  tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Split SFT tests into optimization-live and optimization-mock (#2774)
  .cargo/config.toml
  .config/nextest.toml
  .github/workflows/general.yml
  tensorzero-core/Cargo.toml
  tensorzero-core/tests/optimization/common/fireworks_sft.rs
  tensorzero-core/tests/optimization/common/gcp_vertex_gemini_sft.rs
  tensorzero-core/tests/optimization/common/mod.rs
  tensorzero-core/tests/optimization/common/openai_sft.rs
  tensorzero-core/tests/optimization/common/together_sft.rs
  tensorzero-core/tests/optimization/live_tests.rs
  tensorzero-core/tests/optimization/mock_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

[Issue-1961] Handle clippy::semicolon_if_nothing_returned
  Cargo.toml
  clients/rust/src/lib.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/main.rs
  evaluations/src/stats.rs
  evaluations/tests/tests.rs
  internal/tensorzero-derive/tests/deserialize.rs
  tensorzero-core/build.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/config_parser/tests.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/src/endpoints/feedback.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/file.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/jsonschema_util.rs
  tensorzero-core/src/observability.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/batch/mod.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/openai_compatible.rs
  tensorzero-core/tests/e2e/providers/batch.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove cfg of e2e test field
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

spawn send_howdy
  tensorzero-core/src/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

blocked howdy in CI UI tests
  .github/workflows/general.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node

fixed curationmetricselector
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

styled threshold input
  ui/app/components/metric/CurationMetricSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update dataset selector (#2637)
  ui/.storybook/main.ts
  ui/app/components/dataset/DatasetFormField.tsx
  ui/app/components/dataset/DatasetSelector.stories.tsx
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/components/function/FunctionFormField.tsx
  ui/app/components/function/FunctionSelector.stories.tsx
  ui/app/components/function/FunctionSelector.tsx
  ui/app/components/icons/Icons.tsx
  ui/app/routes.ts
  ui/app/routes/api/datasets/counts.route.ts
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/datasets/builder/DatasetSelector.tsx
  ui/app/routes/datasets/builder/route.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/routes/observability/inferences/$inference_id/AddToDatasetButton.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
  ui/app/tailwind.css
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix typing bug in the UI
  ui/app/components/inference/ModelInferenceOutput.tsx
  ui/app/components/inference/NewOutput.tsx
  ui/app/components/layout/SnippetContent.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferenceItem.tsx
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.ts
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix typing bug in the UI
  ui/app/utils/clickhouse/inference.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

updated route
  ui/app/routes.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
