Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Open router guide (#2251)
  examples/guides/providers/openrouter/README.md
  examples/guides/providers/openrouter/config/tensorzero.toml
  examples/guides/providers/openrouter/docker-compose.yml
Due: prettier: ui, prettier: openai-node

added error checking to stringify
  ui/app/components/inference/InputSnippet.tsx
  ui/app/components/layout/SnippetContent.tsx
  ui/app/components/layout/SnippetLayout.tsx
  ui/app/components/utils/safeStringify.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update .github/workflows/merge-queue.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Run merge-queue workflow in daily cron job (#2540)
  .github/workflows/batch-test.yml
  .github/workflows/merge-queue.yml
  ci/upload-provider-proxy-cache.sh
Due: prettier: ui, prettier: openai-node

oops removed stray enum
  tensorzero-core/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix remaining deprecation warnings in 'test_openai_compatibility.py' (#2535)
  clients/openai-python/tests/test_openai_compatibility.py
Due: none

bump deps
  pnpm-lock.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node

add checkbox component
  ui/app/components/ui/checkbox.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

use codeblock component in NewOutput
  ui/app/components/inference/NewOutput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add wrap button
  ui/app/components/ui/code-block.tsx
  ui/app/tailwind.css
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add "Wrap" toggle button to wrap lines in code block (#2552)
  pnpm-lock.yaml
  ui/app/components/inference/NewOutput.tsx
  ui/app/components/ui/checkbox.tsx
  ui/app/components/ui/code-block.tsx
  ui/app/tailwind.css
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix tests
  tensorzero-core/src/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/best_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix: actions for pr
  .github/workflows/pr.yaml
Due: prettier: ui, prettier: openai-node

fix: e2e test
  tensorzero-internal/src/kafka/tests.rs
  tensorzero-internal/tests/e2e/kafka_integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix: build issues
  tensorzero-internal/src/kafka/tests.rs
  tensorzero-internal/tests/e2e/docker-compose.yml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Warn on non object/array index
  tensorzero-core/src/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add more comments
  .config/nextest.toml
Due: none

Warn whenever we discard input 'thought' content blocks
  tensorzero-core/src/error.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/fireworks.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use '--no-fail-fast' in merge queue cron job
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Use '--no-fail-fast' in merge queue cron job (#2565)
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Add 'delete = true' option to extra_body config (#2533)
  tensorzero-core/src/config_parser.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Only attach 'tensorzero::inference_id' label to GCP batch requests (#2542)
  .gitignore
  tensorzero-core/src/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/best_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix: deny error
  deny.toml
Due: none

fix: bbuild error
  tensorzero-internal/src/config_parser.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added comment documenting InsertDatapointParams (#2541)
  tensorzero-core/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add tests and adjust providers for empty messages
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added migration 33 for deployment id
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0033.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Filter attributes on derive variant fields as well as variant
  internal/tensorzero-derive/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix: lint error
  tensorzero-internal/src/config_parser.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Filter attributes on derive variant fields as well as variant (#2570)
  internal/tensorzero-derive/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

changed try with variant test to use 4omini
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Print logs in regen-fixtures command
  .github/workflows/slash-command-regen-fixtures.yml
Due: prettier: ui, prettier: openai-node

Delete duplicate test
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix imports
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

Warn whenever we discard input 'thought' content blocks (#2564)
  tensorzero-core/src/error.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/fireworks.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added updated types
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Reorder commands
  .github/workflows/slash-command-regen-fixtures.yml
Due: prettier: ui, prettier: openai-node

forgot files
  internal/tensorzero-node/lib/bindings/BestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/ChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/ChatCompletionConfig.ts
  internal/tensorzero-node/lib/bindings/DiclConfig.ts
  internal/tensorzero-node/lib/bindings/EvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/ExtraBodyConfig.ts
  internal/tensorzero-node/lib/bindings/ExtraBodyReplacement.ts
  internal/tensorzero-node/lib/bindings/ExtraBodyReplacementKind.ts
  internal/tensorzero-node/lib/bindings/ExtraHeader.ts
  internal/tensorzero-node/lib/bindings/ExtraHeadersConfig.ts
  internal/tensorzero-node/lib/bindings/FuserConfig.ts
  internal/tensorzero-node/lib/bindings/HostedProviderKind.ts
  internal/tensorzero-node/lib/bindings/JsonMode.ts
  internal/tensorzero-node/lib/bindings/MixtureOfNConfig.ts
  internal/tensorzero-node/lib/bindings/NonStreamingTimeouts.ts
  internal/tensorzero-node/lib/bindings/OptimizerOutput.ts
  internal/tensorzero-node/lib/bindings/OptimizerStatus.ts
  internal/tensorzero-node/lib/bindings/PathWithContents.ts
  internal/tensorzero-node/lib/bindings/RetryConfig.ts
  internal/tensorzero-node/lib/bindings/StreamingTimeouts.ts
  internal/tensorzero-node/lib/bindings/TimeoutsConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedModelConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedProviderConfig.ts
  internal/tensorzero-node/lib/bindings/VariantConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added export checker script
  internal/tensorzero-node/lib/bindings/check-exports.js
  internal/tensorzero-node/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
