Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$

added warnings on dropped content for openai compatible responses
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'reused_object_store' and check it in embedded gateway tests
  clients/rust/src/lib.rs
  tensorzero-internal/src/endpoints/object_storage.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added openai python test asserting how we handle raw text
  clients/openai-python/tests/test_openai_compatibility.py
Due: none

Fix clippy
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'extra_cache_key' field and use it for *_of_n variants (#1314)
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/best_of_n.rs
  tensorzero-internal/tests/e2e/cache.rs
  tensorzero-internal/tests/e2e/mixture_of_n.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove TODO
  tensorzero-internal/src/endpoints/object_storage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update Gemini examples to use 2.0 models
  examples/guides/providers/gcp-vertex-ai-gemini/config/tensorzero.toml
  examples/guides/providers/google-ai-studio-gemini/config/tensorzero.toml
Due: none

added arg / binary tests for evals
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'GET /internal/object_storage?storage_path={}' endpoint (#1305)
  clients/rust/src/lib.rs
  gateway/src/main.rs
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/endpoints/mod.rs
  tensorzero-internal/src/endpoints/object_storage.rs
  tensorzero-internal/tests/e2e/object_storage.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update Gemini examples to use 2.0 models (#1325)
  examples/guides/providers/gcp-vertex-ai-gemini/config/tensorzero.toml
  examples/guides/providers/google-ai-studio-gemini/config/tensorzero.toml
Due: none

Allow multiple system/developer messages in openai-compatible API
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/src/inference/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added warnings on dropped content for openai compatible responses (#1321)
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed semaphore from client wrapper
  evals/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Combine into single loop
  evals/src/evaluators/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  examples/guides/metrics-feedback/README.md
  examples/guides/metrics-feedback/main.py
  examples/guides/metrics-feedback/pyproject.toml
  examples/guides/metrics-feedback/requirements.in
  examples/guides/metrics-feedback/requirements.txt
  examples/guides/metrics-feedback/run.py
  examples/guides/metrics-feedback/uv.lock
  ui/pnpm-lock.yaml
Due: prettier

updated tests so they are deterministic
  evals/tests/tests.rs
  tensorzero-internal/fixtures/config/evals/entity_extraction/count_misc/system_instructions.txt
  tensorzero-internal/fixtures/config/evals/entity_extraction/count_sports/system_instructions.txt
  tensorzero-internal/fixtures/config/evals/haiku_without_outputs/count_prepositions/system_instructions.txt
  tensorzero-internal/fixtures/config/evals/haiku_without_outputs/topic_starts_with_f/system_instructions.txt
  tensorzero-internal/fixtures/datasets/chat_datapoint_fixture.jsonl
  tensorzero-internal/fixtures/datasets/json_datapoint_fixture.jsonl
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/.gitignore
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added basic readme
  evals/README.md
  ui/pnpm-lock.yaml
Due: prettier

updated readme
  evals/README.md
Due: prettier

Use image input in batch tests
  tensorzero-internal/tests/e2e/providers/batch.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump axum to 0.8
  Cargo.lock
  Cargo.toml
  gateway/src/main.rs
  tensorzero-internal/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated migrations to be idempotent; added tests for error cases (#1327)
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0009.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0011.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0013.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
  ui/pnpm-lock.yaml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

datapoints no longer have ids that point back at inferences
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.test.ts
  ui/app/utils/clickhouse/datasets.ts
  ui/pnpm-lock.yaml
Due: prettier, eslint, tsc

Use image input in batch tests (#1332)
  tensorzero-internal/tests/e2e/providers/batch.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

datapoints no longer have ids that point back at inferences (#1334)
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.test.ts
  ui/app/utils/clickhouse/datasets.ts
Due: prettier, eslint, tsc

changed behavior of rust code to also generate fresh datapoint IDs
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

datapoints no longer have ids that point back at inferences (#1336)
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

insert datapoint now uses tensorzero gateway
  ui/app/routes/observability/inferences/$inference_id/AddToDatasetButton.tsx
  ui/app/routes/observability/inferences/$inference_id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/datasets.test.ts
  ui/app/utils/clickhouse/datasets.ts
  ui/app/utils/tensorzero.ts
Due: prettier, eslint, tsc

Add increase/decrease buttons for SFT number input
  ui/app/routes/optimization/supervised-fine-tuning/AdvancedParametersAccordion.tsx
Due: prettier, eslint, tsc

Update
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

input areas become editable
  ui/app/components/inference/Input.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/BasicInfo.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier, eslint, tsc

implemented save / cancel buttons
  ui/app/components/inference/Input.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/BasicInfo.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
Due: prettier, eslint, tsc

added this test to node
  clients/openai-node/tests/openai-compatibility.test.ts
  ui/pnpm-lock.yaml
Due: prettier, eslint, tsc

fixed PR commentsfixed PR commentsfixed PR comments
  evals/README.md
  tensorzero-internal/src/evals/llm_judge_user_template.minijinja
  ui/.gitignore
  ui/run_e2e_ui.sh
Due: prettier

added some forgotten files
  ui/app/components/inference/SystemContent.tsx
  ui/app/components/utils/CancelButton.tsx
  ui/app/components/utils/SaveButton.tsx
Due: prettier, eslint, tsc

added openai python test asserting how we handle raw text (#1324)
  clients/openai-node/tests/openai-compatibility.test.ts
  clients/openai-python/tests/test_openai_compatibility.py
Due: prettier, eslint, tsc

Join system prompts with newlines
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
