Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$

forces updated_at columns in dataset tables to UTC (#1202)
  .config/nextest.toml
  tensorzero-internal/src/clickhouse_migration_manager/migrations/migration_0016.rs
  tensorzero-internal/src/clickhouse_migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse_migration_manager/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add datapoint delete endpoint
  gateway/src/main.rs
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  examples/quickstart/after.py
  examples/quickstart/after_async.py
Due: none

Address review comments
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/dicl.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update (#1213)
  examples/quickstart/after.py
  examples/quickstart/after_async.py
Due: none

Remove 'cat clickhouse_wakeup_logs.txt' from batch cron
  .github/workflows/batch-test-cron.yml
Due: prettier

Add test for nested data in unknown content block
  tensorzero-internal/tests/e2e/best_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added handling for new Any models for GCP Vertex Gemini
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

updated docs link
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added handling for new Any models for GCP Vertex Gemini (#1216)
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Include tracing target in gateway log output
  tensorzero-internal/src/observability.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add ImageUrl and ImageBase64 types to python-pyo3
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
  tensorzero-internal/src/inference/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update some additional max_token_count expectations (#1208)
  tensorzero-internal/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add ImageUrl and ImageBase64 types to python-pyo3 (#1217)
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
  tensorzero-internal/src/inference/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Include tracing target in gateway log output (#1218)
  tensorzero-internal/src/observability.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove 'cat clickhouse_wakeup_logs.txt' from batch cron (#1214)
  .github/workflows/batch-test-cron.yml
Due: prettier

Add new `ContentBlock::Unknown` (#1204)
  Cargo.lock
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/aws_bedrock.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/provider_trait.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/inference/types/resolved_input.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/dicl.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/best_of_n.rs
  tensorzero-internal/tests/e2e/cache.rs
  tensorzero-internal/tests/e2e/dicl.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/mixture_of_n.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add dependencies for mipro
  recipes/pyproject.toml
  recipes/requirements.txt
  recipes/uv.lock
Due: none

Use 'inference_params_inference' providers for batch inference params
  tensorzero-internal/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Deny 'clippy::dbg_macro' lint
  Cargo.toml
Due: none

Address review comments
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add ORDER BY
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Make episode_id nullable in ChatInferenceDataset/JsonInferenceDataset
  tensorzero-internal/src/clickhouse_migration_manager/migrations/migration_0016.rs
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  evals/src/lib.rs
  evals/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update type of system message
  clients/python-pyo3/tensorzero/types.py
Due: none

added migration and tests for usage columns in cache
  tensorzero-internal/src/clickhouse_migration_manager/migrations/migration_0017.rs
  tensorzero-internal/src/clickhouse_migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse_migration_manager/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added handling for usage info in cache
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

made it so that usage for cached inferences isnt returned in the response
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/cache.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Deny 'clippy::dbg_macro' lint (#1224)
  Cargo.toml
Due: none

documented actual usage
  tensorzero-internal/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added migration and tests for usage columns in cache (#1228)
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/clickhouse_migration_manager/migrations/migration_0017.rs
  tensorzero-internal/src/clickhouse_migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse_migration_manager/mod.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/cache.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update type of system message (#1227)
  clients/python-pyo3/tensorzero/types.py
Due: none

Apply 'unknown' content block filtering for streaming inference
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix tests
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Take in ModelProviderRequest in `infer_stream`
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/aws_bedrock.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/provider_trait.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Move default weight handling to VariantConfig.weight
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/evals/mod.rs
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/dicl.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed error handling in variant response modal
  ui/app/routes/observability/inferences/$inference_id/VariantResponseModal.tsx
Due: prettier, eslint, tsc

Add timeout parameter to embedded gateway
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/tensorzero/tensorzero.pyi
  clients/python-pyo3/tests/test_client.py
  clients/rust/Cargo.toml
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/lib.rs
  tensorzero-internal/tests/e2e/feedback.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

renamed ChatInferenceDataset to ChatInferenceDatapoint and json equiv.
  tensorzero-internal/src/clickhouse_migration_manager/migrations/migration_0016.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed error handling in variant response modal (#1238)
  ui/app/routes/observability/inferences/$inference_id/VariantResponseModal.tsx
Due: prettier, eslint, tsc
