Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Fix prettier formatting in experimentation-data.server.ts
  ui/app/routes/observability/functions/$function_name/experimentation-data.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

reexported questions types
  internal/autopilot-client/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Mute orange UUID link color for softer appearance
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add entity type icons to resolved UUID links
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Safe rate limit key eviction: dedicated Valkey URL + 48h min TTL
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/test_helpers.rs
  docs/deployment/valkey-redis.mdx
  evaluations/src/lib.rs
  evaluations/tests/common/mod.rs
  evaluations/tests/tests.rs
  gateway/src/main.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/valkey/lua/tensorzero_ratelimit.lua
  tensorzero-core/src/endpoints/internal/autopilot.rs
  tensorzero-core/src/endpoints/status.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/db/config_queries.rs
  tensorzero-core/tests/e2e/experimentation/namespaces.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/inference/extra_body.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add screenshots for PRs #6317, #6331, #6332, #6334
  6317/pr-6317-hovercard.png
  6331/pr-6331-icons.png
  6332/pr-6332-muted-orange.png
  6334/pr-6334-side-sheet.png
Due: none

Update PR #6331 icon screenshot
  6331/pr-6331-icons.png
Due: none

updated docs to match later CH migrations (#6295)
  docs/gateway/data-model.mdx
Due: none

Use dedicated Valkey URL for caching instead of rate limiting
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/test_helpers.rs
  docs/deployment/valkey-redis.mdx
  evaluations/src/lib.rs
  evaluations/tests/common/mod.rs
  evaluations/tests/tests.rs
  gateway/src/main.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/endpoints/status.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/experimentation/namespaces.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/inference/extra_body.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use size prop for entity icons and fix vertical alignment
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update PR #6331 icon alignment screenshot
  6331/pr-6331-icons-aligned.png
Due: none

Center icon within code background using inline-flex
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update PR #6331 screenshot
  6331/pr-6331-icons-final.png
Due: none

Add align-middle for correct inline text baseline alignment
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use inline icon with break-all for natural text flow
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update PR #6331 screenshot
  6331/pr-6331-icons-inline.png
Due: none

Remove break-all — UUIDs wrap naturally at hyphens
  ui/app/components/autopilot/UuidLink.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fn detail: Extract Experimentation into independent streaming section (#6192)
  ui/app/routes/observability/functions/$function_name/ExperimentationSection.tsx
  ui/app/routes/observability/functions/$function_name/experimentation-data.server.ts
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Address PR review comments
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/test_helpers.rs
  evaluations/src/lib.rs
  evaluations/tests/common/mod.rs
  evaluations/tests/tests.rs
  gateway/src/main.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/db/config_queries.rs
  tensorzero-core/tests/e2e/experimentation/namespaces.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/inference/extra_body.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add PR #6347 screenshot
  6347/pr-6347-user-message-top.png
Due: none

remove ListEpisodesRequest from sdk
  clients/python/tensorzero/generated_types.py
  tensorzero-core/src/endpoints/episodes/internal/list_episodes.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update PR #6347 screenshot
  6347/pr-6347-user-message-top.png
Due: none

Simplify message type check — Role only has user|assistant
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support markdown and UUID links in user messages
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Preserve user message line breaks with remark-breaks
  pnpm-lock.yaml
  ui/app/components/autopilot/EventStream.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Revert remark-breaks: newlines in user messages are already double
  pnpm-lock.yaml
  ui/app/components/autopilot/EventStream.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove spurious blank lines left from field removal
  clients/python/src/lib.rs
  clients/rust/src/test_helpers.rs
  evaluations/tests/common/mod.rs
  evaluations/tests/tests.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/experimentation/namespaces.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/inference/extra_body.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Address docs review comments
  docs/deployment/valkey-redis.mdx
Due: none

Add `total_ms` timeout to streaming inferences (#6344)
  docs/gateway/configuration-reference.mdx
  docs/gateway/guides/retries-fallbacks.mdx
  internal/tensorzero-node/lib/bindings/StreamingTimeouts.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/timeouts.rs
  ui/app/components/function/variant/VariantEditor.stories.tsx
  ui/app/components/function/variant/VariantEditor.tsx
  ui/app/routes/observability/functions/$function_name/variants-data.server.ts
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/utils/config/models.test.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Only run check-if-edited on pull requests
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make input and output optional in batch_inference types
  tensorzero-core/src/db/postgres/batch_inference.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/tests/e2e/db/batch_inference_endpoint_internals.rs
  tensorzero-core/tests/e2e/db/batch_inference_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed bindings
  internal/tensorzero-node/lib/bindings/ModelInference.ts
  internal/tensorzero-node/lib/bindings/Usage.ts
  tensorzero-core/src/config/stored/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed PR comments
  internal/config-applier/src/lib.rs
  internal/config-applier/src/toml_writer.rs
  tensorzero-core/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

prevent callers from writing malformed evaluators
  internal/config-applier/src/error.rs
  internal/config-applier/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/raw_response/fallback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Improve formatting of config writes (#6239)
  internal/config-applier/src/error.rs
  internal/config-applier/src/lib.rs
  internal/config-applier/src/toml_writer.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/utils/retries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Only run check-if-edited on pull requests (#6348)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Ensure Valkey inference caching does not evict rate limiting keys (#6346)
  docs/deployment/valkey-redis.mdx
  evaluations/src/lib.rs
  gateway/src/main.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/valkey/lua/tensorzero_ratelimit.lua
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/endpoints/internal/autopilot.rs
  tensorzero-core/src/endpoints/status.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
