Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

added unit test
  tensorzero-core/src/variant/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix typo in error message for DICL output
  tensorzero-core/src/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Added RetryConfig struct definition in tensorzero-core/src/embeddings.rs
  internal/tensorzero-node/lib/bindings/EmbeddingModelConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added better dicl error (#3400)
  tensorzero-core/src/error.rs
  tensorzero-core/src/variant/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add private field to ChatCompletionConfig
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  tensorzero-core/src/function.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Construct function_and_variant_name later on
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/chat_completion/templates.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Moved RetryConfig
  tensorzero-core/src/embeddings.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Document release behavior for docs
  RELEASE_GUIDE.md
Due: prettier: ui, prettier: openai-node

docs(examples): add pydantic integration example addresses #550
  examples/integrations/pydantic/.python-version
  examples/integrations/pydantic/README.md
  examples/integrations/pydantic/config/tensorzero.toml
  examples/integrations/pydantic/main.py
  examples/integrations/pydantic/pyproject.toml
  examples/integrations/pydantic/requirements.txt
  examples/integrations/pydantic/uv.lock
Due: prettier: ui, prettier: openai-node

docs(examples): add json_mode = strict in config for pydantic integration example
  examples/integrations/pydantic/config/tensorzero.toml
Due: none

built bindings and fixed lints
  internal/tensorzero-node/lib/bindings/EndpointLocation.ts
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedProviderConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/providers/azure.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

dont publish sha tags on releases
  .github/workflows/docker-hub-publish.yml
Due: prettier: ui, prettier: openai-node

added a tag step so that hopefully containers will be tested against the built images in check-latest-docker-compose
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Adjusted model-related functions to use retries
  tensorzero-core/src/embeddings.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix 04 config
  examples/tutorial/04-email-data-extraction/config/tensorzero.toml
Due: none

check-all-docker-compose lists failures
  ci/check-all-docker-compose.sh
Due: none

added a tag step so that hopefully containers will be tested against … (#3411)
  .github/workflows/general.yml
  ci/check-all-docker-compose.sh
  examples/tutorial/04-email-data-extraction/config/tensorzero.toml
Due: prettier: ui, prettier: openai-node

Add missing 'json_mode' to 04-email-data-extraction example
  examples/tutorial/04-email-data-extraction/config/tensorzero.toml
Due: none

Launch ClickHouse server when running optimization-test cron (#3396)
  .github/workflows/optimization-test-cron.yml
  tensorzero-core/tests/optimization/common/mod.rs
  tensorzero-core/tests/optimization/docker-compose.yml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Update benchmarks (#3393)
  docs/gateway/benchmarks.mdx
  gateway/benchmarks/README.md
Due: prettier: ui, prettier: openai-node

Add support for named templates and schemas (#3392)
  internal/tensorzero-node/lib/bindings/ChatTemplates.ts
  internal/tensorzero-node/lib/bindings/SchemaData.ts
  internal/tensorzero-node/lib/bindings/UninitializedBestOfNEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChainOfThoughtConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChatCompletionConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedChatTemplate.ts
  internal/tensorzero-node/lib/bindings/UninitializedChatTemplates.ts
  internal/tensorzero-node/lib/bindings/UninitializedFuserConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/path.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/minijinja_util.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/chat_completion/templates.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/tensorzero.toml
  ui/app/components/function/FunctionSelector.stories.tsx
  ui/app/components/function/variant/VariantEditor.stories.tsx
  ui/app/components/function/variant/VariantEditor.tsx
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/utils/clickhouse/curation.test.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/config/index.server.ts
  ui/app/utils/resolve.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Allow `clippy::match_same_arms`, `clippy::single_match_else`, `clippy::must_use_candidate` (#3371)
  Cargo.toml
Due: none

Update RELEASE_GUIDE.md
  RELEASE_GUIDE.md
Due: prettier: ui, prettier: openai-node

Clean up dynamic evals example (#3380)
  examples/dynamic_evaluations/simple-agentic-rag/agent.py
  examples/dynamic_evaluations/simple-agentic-rag/judge.py
  examples/dynamic_evaluations/simple-agentic-rag/main.py
  examples/dynamic_evaluations/simple-agentic-rag/pyproject.toml
  examples/dynamic_evaluations/simple-agentic-rag/requirements.txt
  examples/dynamic_evaluations/simple-agentic-rag/tools.py
  examples/dynamic_evaluations/simple-agentic-rag/uv.lock
Due: none

Document release behavior for docs (#3405)
  RELEASE_GUIDE.md
Due: prettier: ui, prettier: openai-node

fix(sft-form): allow flexible threshold input for float metrics (#2827) (#3157)
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
  ui/app/routes/optimization/supervised-fine-tuning/types.ts
  ui/app/utils/supervised_fine_tuning/client.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed tests
  tensorzero-core/src/error.rs
  tensorzero-core/src/providers/azure.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Always use build_with_context and improve test
  tensorzero-core/src/observability.rs
  tensorzero-core/tests/e2e/otel_jaeger.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

More comments and remove defaulted method impls
  tensorzero-core/src/observability.rs
  tensorzero-core/tests/e2e/otel_jaeger.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Provide defaults for individual fields in 'retries' config
  tensorzero-core/src/variant/mod.rs
  ui/fixtures/config/tensorzero.e2e.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Test that TensorZeroGateway.build_http does not emit warnings
  clients/python/tests/test_client.py
Due: none

Update tests for Azure AI Foundry
  Cargo.lock
  tensorzero-core/tests/e2e/providers/azure_ai_foundry.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/mod.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Improve message for missing API key errors
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/providers/fireworks/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix pyright
  clients/python/tests/test_client.py
Due: none

Update GHA action
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Post a message to Slack when daily optimization run fails
  .github/workflows/optimization-test-cron.yml
Due: prettier: ui, prettier: openai-node

Construct TensorZero client in dicl optimiation tests
  tensorzero-core/tests/optimization/common/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add tests for Llama 3.3 on Azure AI Foundry (#3266)
  .github/workflows/merge-queue.yml
  tensorzero-core/tests/e2e/providers/azure_ai_foundry.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/mod.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
