Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

added getAdjacentInferenceIds
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added getAdjacentEpisodeIds
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Show disks
  ui/fixtures/load_fixtures.sh
Due: none

add: ollama to mod file
  tensorzero-internal/tests/e2e/providers/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add host
  ui/fixtures/load_fixtures.sh
Due: none

Try namespace again
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Use 4x16 runner
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

added getAdjacentDatapointIds
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update bounds
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Remove OPTIMIZE TABLE
  ui/fixtures/load_fixtures.sh
Due: none

Add large json inference fixture to S3 and use them in ui fixtures (#2116)
  .github/workflows/general.yml
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/app/utils/clickhouse/inference.test.ts
  ui/fixtures/check-fixtures.sh
  ui/fixtures/download-fixtures.py
  ui/fixtures/load_fixtures.sh
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Make style consistent
  ui/app/components/ui/CommitHash.tsx
  ui/app/components/ui/KVChip.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update ui/app/utils/clickhouse/dynamic_evaluations.server.ts
  ui/app/utils/clickhouse/dynamic_evaluations.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update ui/app/utils/clickhouse/dynamic_evaluations.ts
  ui/app/utils/clickhouse/dynamic_evaluations.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Change table header
  ui/app/routes/dynamic_evaluations/DynamicEvaluationRunsTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add missing file from refactoring
  ci/upload-python-client.sh
Due: none

add recipe
  recipes/failure_modes/README.md
  recipes/failure_modes/config/functions/root_cause_analysis/baseline/system_template.minijinja
  recipes/failure_modes/config/functions/root_cause_analysis/baseline/user_template.minijinja
  recipes/failure_modes/config/functions/root_cause_analysis/output_schema.json
  recipes/failure_modes/config/functions/root_cause_analysis/system_schema.json
  recipes/failure_modes/config/functions/root_cause_analysis/user_schema.json
  recipes/failure_modes/config/functions/summarize_failure_modes/baseline/system_template.minijinja
  recipes/failure_modes/config/functions/summarize_failure_modes/baseline/user_template.minijinja
  recipes/failure_modes/config/functions/summarize_failure_modes/output_schema.json
  recipes/failure_modes/config/functions/summarize_failure_modes/user_schema.json
  recipes/failure_modes/config/tensorzero.toml
  recipes/failure_modes/failure_modes.ipynb
  recipes/failure_modes/pyproject.toml
  recipes/failure_modes/requirements.txt
  recipes/failure_modes/utils.py
  recipes/failure_modes/uv.lock
  recipes/requirements.txt
Due: prettier: ui, prettier: openai-node

added documentation and checks to migration 0026
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0026.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add NewOutput storybook
  ui/app/components/inference/NewOutput.stories.tsx
  ui/app/components/inference/NewOutput.tsx
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/common.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Always display the tags table in the UI
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed test that broke on merge
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rename 'Structured' to 'Arguments' in the UI
  ui/app/components/inference/InputSnippet.stories.tsx
  ui/app/components/inference/InputSnippet.tsx
  ui/app/components/layout/SnippetContent.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add missing file from refactoring (#2121)
  ci/upload-python-client.sh
Due: none

added getters for adjacent inferences/episodes/datapoints (#2120)
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.test.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Always display the tags table in the UI (#2124)
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

remove repetition in notebook title
  recipes/failure_modes/failure_modes.ipynb
Due: none

Rename 'Structured' to 'Arguments' in the UI (#2125)
  ui/app/components/inference/InputSnippet.stories.tsx
  ui/app/components/inference/InputSnippet.tsx
  ui/app/components/layout/SnippetContent.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add NewOutput storybook (#2123)
  ui/app/components/inference/NewOutput.stories.tsx
  ui/app/components/inference/NewOutput.tsx
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/common.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added a tag for variant pinning and adjusted tests to work
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/providers/batch.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

all e2e tests seem to pass
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added cache entries
  ci/provider-proxy-cache/api.anthropic.com-f59644741254e3f749f64a4e97b06404dfa2c0b39c27182b410e3f8d9847a85a
  ci/provider-proxy-cache/api.deepseek.com-58b51cb8e54c293e24ec10215c9213ce057f0a22309ec2bbab3354d9708b1ef6
  ci/provider-proxy-cache/api.fireworks.ai-cbd24c08098dec1f8f1104ff0e3c2fd75f9c155b595d65086dba3209d9081589
  ci/provider-proxy-cache/api.hyperbolic.xyz-285b28f0aae428121c7cd4a31d2587bf257d7f977f8ed4c9ec7333b6f205ed32
  ci/provider-proxy-cache/api.mistral.ai-8c4306464df6ee05de113c95695978c04a989698cc7716cb52796baa5b54a2f2
  ci/provider-proxy-cache/api.openai.com-a65db3e6b97c867734d792ae583cafe62dbac906d2a7d43d546a7434f12f62b2
  ci/provider-proxy-cache/api.openai.com-b812d406451669d31c433fac5856390923c3ea394930ef92f714ebb7283a83fb
  ci/provider-proxy-cache/api.together.xyz-6a1d1b8b91caba740d6f6cb920966c7e0d4860acd63ec21424e7dcb80df4f4ae
  ci/provider-proxy-cache/api.x.ai-01a9603079b4be6d75bbae05249b2bd1f3ba20e166afe8753f66fc659a072707
  ci/provider-proxy-cache/bedrock-runtime.us-east-1.amazonaws.com-0c069965ab0d66d0f0a33119fddec6816debddbbcd4c192406c314e8073d23a6
  ci/provider-proxy-cache/generativelanguage.googleapis.com-4f34402f57e33adc7943265712547272fcd50c0a70beb16b3d902afb63cb985d
  ci/provider-proxy-cache/generativelanguage.googleapis.com-a664145cb9f14ca715f9e27146c9e6bac6ad7ff089e5ebbccd2162de1e396502
  ci/provider-proxy-cache/t0-azure-openai-east.openai.azure.com-5bc250a5279b79cab1ed3a3da33ad4c318efdf2b4a4ba8de4c6d2295d0dc8700
  ci/provider-proxy-cache/tensorzero--sglang-inference-sglang-inference.modal.run-ae403d719a4339fe8775ade237ec6c5dd48e0b7c0ee32103c911743d3097c68b
  ci/provider-proxy-cache/tensorzero--vllm-inference-vllm-inference.modal.run-b1a9fedd2a65a59be049b19643600c39754140c674ead7e214e078bd21f16a12
  ci/provider-proxy-cache/us-central1-aiplatform.googleapis.com-2169f5995a754cf6986e9e757658e7048a2e89abadc38fbfef50546404857cb7
  ci/provider-proxy-cache/us-central1-aiplatform.googleapis.com-6b7b13f9feebb675ed5897b1298ce1b988d1a0f9a2999e5c00a9df890babb4e0
  ci/provider-proxy-cache/us-central1-aiplatform.googleapis.com-edbb888707a642e6f575deb6d2f10d3a41c5cf20ec1086c68985641f0338fc22
  ci/provider-proxy-cache/zr0gj152lrhnrr-80.proxy.runpod.net-065a79511f62436ae1590e290ec72125682268a8ee274d51b5ac2e3f4a835fd3
Due: none

fix
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/inference/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.5.4
  Cargo.lock
  Cargo.toml
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rename *InferenceDatapointInput in the client
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  examples/quickstart/after_async.py
  examples/quickstart/after_openai.py
  examples/quickstart/after_openai.ts
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  examples/quickstart/after_async.py
  examples/quickstart/after_openai.py
  examples/quickstart/after_openai.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Allow multiple text content blocks in individual messages (#2128)
  ci/provider-proxy-cache/api.anthropic.com-f59644741254e3f749f64a4e97b06404dfa2c0b39c27182b410e3f8d9847a85a
  ci/provider-proxy-cache/api.deepseek.com-58b51cb8e54c293e24ec10215c9213ce057f0a22309ec2bbab3354d9708b1ef6
  ci/provider-proxy-cache/api.fireworks.ai-cbd24c08098dec1f8f1104ff0e3c2fd75f9c155b595d65086dba3209d9081589
  ci/provider-proxy-cache/api.hyperbolic.xyz-285b28f0aae428121c7cd4a31d2587bf257d7f977f8ed4c9ec7333b6f205ed32
  ci/provider-proxy-cache/api.mistral.ai-8c4306464df6ee05de113c95695978c04a989698cc7716cb52796baa5b54a2f2
  ci/provider-proxy-cache/api.openai.com-a65db3e6b97c867734d792ae583cafe62dbac906d2a7d43d546a7434f12f62b2
  ci/provider-proxy-cache/api.openai.com-b812d406451669d31c433fac5856390923c3ea394930ef92f714ebb7283a83fb
  ci/provider-proxy-cache/api.together.xyz-6a1d1b8b91caba740d6f6cb920966c7e0d4860acd63ec21424e7dcb80df4f4ae
  ci/provider-proxy-cache/api.x.ai-01a9603079b4be6d75bbae05249b2bd1f3ba20e166afe8753f66fc659a072707
  ci/provider-proxy-cache/bedrock-runtime.us-east-1.amazonaws.com-0c069965ab0d66d0f0a33119fddec6816debddbbcd4c192406c314e8073d23a6
  ci/provider-proxy-cache/generativelanguage.googleapis.com-4f34402f57e33adc7943265712547272fcd50c0a70beb16b3d902afb63cb985d
  ci/provider-proxy-cache/generativelanguage.googleapis.com-a664145cb9f14ca715f9e27146c9e6bac6ad7ff089e5ebbccd2162de1e396502
  ci/provider-proxy-cache/t0-azure-openai-east.openai.azure.com-5bc250a5279b79cab1ed3a3da33ad4c318efdf2b4a4ba8de4c6d2295d0dc8700
  ci/provider-proxy-cache/tensorzero--sglang-inference-sglang-inference.modal.run-ae403d719a4339fe8775ade237ec6c5dd48e0b7c0ee32103c911743d3097c68b
  ci/provider-proxy-cache/tensorzero--vllm-inference-vllm-inference.modal.run-b1a9fedd2a65a59be049b19643600c39754140c674ead7e214e078bd21f16a12
  ci/provider-proxy-cache/us-central1-aiplatform.googleapis.com-2169f5995a754cf6986e9e757658e7048a2e89abadc38fbfef50546404857cb7
  ci/provider-proxy-cache/us-central1-aiplatform.googleapis.com-6b7b13f9feebb675ed5897b1298ce1b988d1a0f9a2999e5c00a9df890babb4e0
  ci/provider-proxy-cache/us-central1-aiplatform.googleapis.com-edbb888707a642e6f575deb6d2f10d3a41c5cf20ec1086c68985641f0338fc22
  ci/provider-proxy-cache/zr0gj152lrhnrr-80.proxy.runpod.net-065a79511f62436ae1590e290ec72125682268a8ee274d51b5ac2e3f4a835fd3
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.5.4 (#2129)
  Cargo.lock
  Cargo.toml
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rename `*InferenceDatapointInput` in the client (#2130)
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  tensorzero-internal/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added tests to typescript and tensorzero python client for multiple text content blocks
  clients/openai-node/tests/openai-compatibility.test.ts
  clients/python/tests/test_client.py
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
