Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Add variant_names option to CLI and python client
  clients/python/src/lib.rs
  evaluations/src/cli.rs
  evaluations/src/lib.rs
  evaluations/src/main.rs
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use astral-sh/setup-uv in github actions
  .github/workflows/caching-hack.yml
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/python-client-build.yml
  .github/workflows/tensorzero-ci-bot-failure-diagnosis.yml
  .github/workflows/upgrade-tensorzero-deps.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add queryEpisodeTable and queryEpisodeTableBounds Rust (#5131)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/ListEpisodesResponse.ts
  internal/tensorzero-node/lib/bindings/QueryEpisodeTableParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/episodes/internal/list_episodes.rs
  tensorzero-core/src/endpoints/episodes/internal/mod.rs
  tensorzero-core/src/endpoints/episodes/mod.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/episodes.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  ui/app/routes/index.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  ui/e2e_tests/datasets.builder.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add queryEpisodeTable and queryEpisodeTableBounds Rust
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/ListEpisodesResponse.ts
  internal/tensorzero-node/lib/bindings/QueryEpisodeTableParams.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/episodes/internal/list_episodes.rs
  tensorzero-core/src/endpoints/episodes/internal/mod.rs
  tensorzero-core/src/endpoints/episodes/mod.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/episodes.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  ui/app/routes/index.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

ran prettier
  internal/tensorzero-node/src/lib.rs
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Generalize run_evaluation_streaming to accept variant config
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump grok to version 4.1 fast non-reasoning
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/xai.mdx
  examples/guides/providers/xai/config/tensorzero.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Implement betting-based confidence sequences (#5137)
  evaluations/src/betting_confidence_sequences.rs
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

removed stray changes
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add docs for variant param exclusivity
  internal/tensorzero-node/lib/index.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename variant_info to internal_dynamic_variant_config
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Document mime types (#5129)
  docs/gateway/api-reference/batch-inference.mdx
  docs/gateway/api-reference/inference.mdx
Due: none

disabled xAI test for trailing assistant messages
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update EvaluationRunStartEvent bindings for optional variant_name
  internal/tensorzero-node/lib/bindings/EvaluationRunStartEvent.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix tests to use new WealthProcessGridPoints enum
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix SFT e2e tests for updated ModelSelector component
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Don't multiply num_datapoints by num_variants
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed another failing xai test
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump grok to version 4.1 fast non-reasoning (#5170)
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/xai.mdx
  examples/guides/providers/xai/config/tensorzero.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.dynamic_json.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.weather_helper.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add stopping condition checks for top-k variant identification (#5162)
  evaluations/src/lib.rs
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update some tests to use variant_names instead of variant_name
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add deprecation warning for variant_name argument
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add deprecation warning for variant_name arg to python client
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Lower log level for config message
  ui/app/utils/config/index.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update SFT e2e tests for new ModelSelector component
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Lower log level for config message (#5174)
  ui/app/utils/config/index.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Generalize run_evaluation_streaming to accept variant config (#5169)
  internal/tensorzero-node/lib/bindings/EvaluationRunStartEvent.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Improve ModelSelector UX for custom model entry (#5118)
  ui/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/model_options.ts
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support demonstration filter in the UI
  ui/app/components/function/FunctionSelector.tsx
  ui/app/components/querybuilder/AddButton.tsx
  ui/app/components/querybuilder/FilterRows.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/querybuilder/inference-filter-schema.ts
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/e2e_tests/observability.inferences.filter.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Migrate queryMetricsWithFeedback
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/MetricType.ts
  internal/tensorzero-node/lib/bindings/MetricWithFeedback.ts
  internal/tensorzero-node/lib/bindings/MetricsWithFeedbackResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/feedback.rs
  tensorzero-core/src/db/feedback.rs
  tensorzero-core/src/endpoints/functions/internal.rs
  tensorzero-core/src/endpoints/functions/mod.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/functions.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  ui/app/components/function/variant/MetricSelector.tsx
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/api/function/$function_name/feedback_counts.route.ts
  ui/app/routes/datasets/builder/OutputSourceSelector.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/utils/clickhouse/feedback.test.ts
  ui/app/utils/clickhouse/feedback.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Prettier
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Count datapoints rust
  clients/rust/src/lib.rs
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/CountDatapointsForDatasetFunctionParams.ts
  internal/tensorzero-node/lib/bindings/GetDatapointCountResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/internal/get_datapoint_count.rs
  tensorzero-core/src/endpoints/datasets/internal/mod.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/datapoint_count.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  ui/app/routes.ts
  ui/app/routes/api/datasets/count_dataset_function.route.ts
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/playground/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Count datapoints rust (#5115)
  clients/rust/src/lib.rs
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/CountDatapointsForDatasetFunctionParams.ts
  internal/tensorzero-node/lib/bindings/GetDatapointCountResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/internal/get_datapoint_count.rs
  tensorzero-core/src/endpoints/datasets/internal/mod.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/datapoint_count.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  ui/app/routes.ts
  ui/app/routes/api/datasets/count_dataset_function.route.ts
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/playground/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Migrate queryMetricsWithFeedback (to get_function_metrics) (#5141)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/MetricType.ts
  internal/tensorzero-node/lib/bindings/MetricWithFeedback.ts
  internal/tensorzero-node/lib/bindings/MetricsWithFeedbackResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/feedback.rs
  tensorzero-core/src/db/feedback.rs
  tensorzero-core/src/endpoints/functions/internal.rs
  tensorzero-core/src/endpoints/functions/mod.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/functions.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  ui/app/components/function/variant/MetricSelector.tsx
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/api/function/$function_name/feedback_counts.route.ts
  ui/app/routes/datasets/builder/OutputSourceSelector.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/utils/clickhouse/feedback.test.ts
  ui/app/utils/clickhouse/feedback.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Minor changes to field + cosmetic
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/DemonstrationFeedbackFilter.ts
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  tensorzero-core/tests/e2e/db/inference_queries.rs
  ui/app/components/querybuilder/FilterRows.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/querybuilder/inference-filter-schema.ts
  ui/e2e_tests/observability.inferences.filter.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

made fields in uninitialized config types public for editing
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean up Docker Compose for UI
  docs/deployment/tensorzero-ui.mdx
  docs/operations/set-up-auth-for-tensorzero.mdx
  docs/quickstart.mdx
  examples/babyai/docker-compose.yml
  examples/blog/bandits-in-your-llm-gateway/docker-compose.yml
  examples/chess-puzzles/docker-compose.yml
  examples/data-extraction-ner/docker-compose.yml
  examples/docs/guides/experimentation/run-adaptive-ab-tests/docker-compose.yml
  examples/docs/guides/gateway/call-the-openai-responses-api/docker-compose.yml
  examples/docs/guides/gateway/create-a-prompt-template/docker-compose.yml
  examples/docs/guides/gateway/generate-structured-outputs/docker-compose.yml
  examples/docs/guides/operations/enforce-custom-rate-limits/docker-compose.yml
  examples/docs/guides/operations/organize-your-configuration/docker-compose.yml
  examples/docs/guides/operations/set-up-auth-for-tensorzero/docker-compose.yml
  examples/dynamic_evaluations/simple-agentic-rag/docker-compose.yml
  examples/evaluations/tutorial/docker-compose.yml
  examples/gsm8k-custom-recipe-dspy/docker-compose.yml
  examples/guides/datasets-datapoints/docker-compose.yml
  examples/guides/tool-use/docker-compose.yml
  examples/haiku-hidden-preferences/docker-compose.yml
  examples/integrations/crewai/example/tensorzero/docker-compose.yml
  examples/integrations/cursor/docker-compose.yml
  examples/integrations/openai-codex/docker-compose.yml
  examples/mcp-model-context-protocol/docker-compose.yml
  examples/multimodal-vision-finetuning/docker-compose.yml
  examples/optimization/dicl/docker-compose.yml
  examples/quickstart/docker-compose.yml
  examples/readme/docker-compose.yml
  ui/docker-compose.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.ui.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Lower log level for config message
  examples/multimodal-vision-finetuning/docker-compose.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.ui.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
