Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Refactor PageHeader to use flexbox layout for consistent spacing
  ui/app/components/layout/CountDisplay.tsx
  ui/app/components/layout/PageLayout.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Reduce count skeleton heights
  ui/app/components/layout/CountDisplay.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Unify FeedbackBadges colors to orange/amber/yellow spectrum
  ui/app/components/feedback/FeedbackBadges.stories.tsx
  ui/app/components/feedback/FeedbackBadges.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add tags to feedback as well
  evaluations/src/evaluators/mod.rs
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make test_short_inference_request deterministic and expand coverage
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move skeleton into route file for consistency
  ui/app/routes/observability/inferences/$inference_id/InferenceSkeleton.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add streaming to inference detail page
  ui/app/routes/observability/inferences/$inference_id/InferenceSkeleton.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add ErrorBoundary to episode detail page
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix nested PageErrorContainer in ErrorBoundary
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Reuse InferenceDetailData type instead of defining redundant interface
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up FeedbackBadges story layout and export getBadgeStyle
  ui/app/components/feedback/FeedbackBadges.stories.tsx
  ui/app/components/feedback/FeedbackBadges.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Extract count display to dedicated module with error handling (#5634)
  ui/app/components/layout/CountDisplay.tsx
  ui/app/components/layout/PageLayout.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove unnecessary section comments
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

refactor so that durable-tools dont require default
  Cargo.lock
  Cargo.toml
  docs/integrations/model-providers/aws-sagemaker.mdx
  internal/autopilot-tools/src/visitor.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/README.md
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix: Call onLoaded in error state to enable ChatInput for retry
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add gateway endpoint to see if autopilot is enabled
  gateway/src/router.rs
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/AutopilotStatusResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/internal/autopilot.rs
  ui/app/routes/autopilot/layout.tsx
  ui/app/types/tensorzero.ts
  ui/app/utils/config/index.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support both thinkingLevel and thinkingBudget for Gemini
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/gcp-vertex-ai-gemini.mdx
  docs/integrations/model-providers/google-ai-studio-gemini.mdx
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add gateway endpoint to see if autopilot is enabled (#5816)
  gateway/src/router.rs
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/AutopilotStatusResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/internal/autopilot.rs
  ui/app/routes/autopilot/layout.tsx
  ui/app/types/tensorzero.ts
  ui/app/utils/config/index.server.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix OpenAI error message format
  gateway/tests/error_json.rs
  tensorzero-core/src/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix OpenAI error message format
  gateway/tests/error_json.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
  tensorzero-core/src/endpoints/openai_compatible/embeddings.rs
  tensorzero-core/src/endpoints/openai_compatible/error.rs
  tensorzero-core/src/endpoints/openai_compatible/mod.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support both thinkingLevel and thinkingBudget for Gemini (#5817)
  docs/gateway/configuration-reference.mdx
  docs/integrations/model-providers/gcp-vertex-ai-gemini.mdx
  docs/integrations/model-providers/google-ai-studio-gemini.mdx
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

switch order of tags applied to feedback
  evaluations/src/evaluators/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Wire-up Valkey-based rate limiting in Gateway (#5748)
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/test_helpers.rs
  evaluations/src/lib.rs
  evaluations/tests/common/mod.rs
  evaluations/tests/tests.rs
  gateway/src/main.rs
  gateway/tests/auth.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/rate_limiting.rs
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/endpoints/internal/autopilot.rs
  tensorzero-core/src/endpoints/status.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/rate_limiting/mod.rs
  tensorzero-core/src/rate_limiting/rate_limiting_manager.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/inference/extra_body.rs
  tensorzero-core/tests/e2e/otel.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/e2e/template.rs
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

move action to durable-tools
  Cargo.lock
  clients/rust/src/lib.rs
  gateway/src/routes/action.rs
  internal/autopilot-tools/src/tools/prod/inference.rs
  internal/autopilot-tools/tests/common/mod.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/endpoints/internal/action.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

remove changes to SimpleTool
  internal/autopilot-tools/src/tools/prod/create_datapoints.rs
  internal/autopilot-tools/src/tools/prod/create_datapoints_from_inferences.rs
  internal/autopilot-tools/src/tools/prod/delete_datapoints.rs
  internal/autopilot-tools/src/tools/prod/feedback.rs
  internal/autopilot-tools/src/tools/prod/get_config.rs
  internal/autopilot-tools/src/tools/prod/get_datapoints.rs
  internal/autopilot-tools/src/tools/prod/get_feedback_by_variant.rs
  internal/autopilot-tools/src/tools/prod/get_inferences.rs
  internal/autopilot-tools/src/tools/prod/get_latest_feedback_by_metric.rs
  internal/autopilot-tools/src/tools/prod/inference.rs
  internal/autopilot-tools/src/tools/prod/list_datapoints.rs
  internal/autopilot-tools/src/tools/prod/list_inferences.rs
  internal/autopilot-tools/src/tools/prod/run_evaluation.rs
  internal/autopilot-tools/src/tools/prod/update_datapoints.rs
  internal/autopilot-tools/src/tools/prod/write_config.rs
  internal/autopilot-tools/src/tools/test/error_simple.rs
  internal/autopilot-tools/src/tools/test/good_simple.rs
  internal/autopilot-tools/src/tools/test/slow_simple.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

simplify
  evaluations/src/stats.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

rip embedded tests
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

await and remove redundancy
  internal/durable-tools/src/tensorzero_client/embedded.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

clippy
  internal/durable-tools/src/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add checks
  internal/durable-tools/src/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add action test
  internal/autopilot-tools/src/tools/prod/inference.rs
  internal/autopilot-tools/src/tools/prod/run_evaluation.rs
  internal/autopilot-tools/tests/common/mod.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/autopilot-tools/tests/run_evaluation_tool.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make test_short_inference_request deterministic and expand coverage (#5814)
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Handle JSON mode + reasoning for Anthropic (#5758)
  docs/gateway/configuration-reference.mdx
  docs/gateway/generate-structured-outputs.mdx
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.json_success.toml
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add xAI Responses API support with backward compatibility
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/src/providers/xai.rs
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  internal/tensorzero-node/lib/bindings/index.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

address nits
  clients/rust/src/lib.rs
  gateway/src/routes/internal.rs
  internal/autopilot-tools/src/tools/prod/run_evaluation.rs
  internal/autopilot-tools/tests/run_evaluation_tool.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  clients/python/tests/test_openai_compatibility.py
  gateway/tests/error_json.rs
  internal/tensorzero-auth/src/middleware.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/endpoints/openai_compatible/error.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update docs for valkey rate limiting
  docs/deployment/postgres.mdx
  docs/deployment/valkey.mdx
  docs/docs.json
  docs/gateway/configuration-reference.mdx
  docs/operations/enforce-custom-rate-limits.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Tighten autopilot types (#5811)
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  internal/tensorzero-node/lib/bindings/EventPayload.ts
  internal/tensorzero-node/lib/bindings/EventPayloadError.ts
  internal/tensorzero-node/lib/bindings/EventPayloadMessage.ts
  internal/tensorzero-node/lib/bindings/EventPayloadMessageContent.ts
  internal/tensorzero-node/lib/bindings/EventPayloadStatusUpdate.ts
  internal/tensorzero-node/lib/bindings/EventPayloadToolCall.ts
  internal/tensorzero-node/lib/bindings/EventPayloadToolCallAuthorization.ts
  internal/tensorzero-node/lib/bindings/EventPayloadToolResult.ts
  internal/tensorzero-node/lib/bindings/index.ts
  ui/app/components/autopilot/EventStream.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

extract run evaluation to common helper
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/run_evaluation.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
