Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$

test
  README.md
Due: prettier

testing PR
  README.md
Due: prettier

Ignore variants with zero weight unless pinned (#1246)
  tensorzero-internal/src/embeddings.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/evals/mod.rs
  tensorzero-internal/src/function.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add multimodal inference example (#1271)
  examples/guides/multimodal-inference/README.md
  examples/guides/multimodal-inference/config/tensorzero.toml
  examples/guides/multimodal-inference/docker-compose.yml
  examples/guides/multimodal-inference/main.py
  examples/guides/multimodal-inference/pyproject.toml
  examples/guides/multimodal-inference/requirements.txt
  examples/guides/multimodal-inference/uv.lock
Due: prettier

Allow `"role": "developer"` messages in openai-compatible endpoint
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

changed OpenAI endpoint to match reference impl behavior on tool calling
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added additional unit testing
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added e2e test covering the cases for tool call index and role in first chunk
  tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Allow `"role": "developer"` messages in openai-compatible endpoint (#1276)
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Take in ModelProviderRequest in `infer_stream` (#1233)
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/aws_bedrock.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/provider_trait.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

changed OpenAI endpoint to match reference impl behavior on tool calling (#1277)
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed compilation issues on merge
  evals/src/evaluators/exact_match.rs
  evals/src/evaluators/llm_judge.rs
  evals/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add `[object_storage.allow_http]` for s3-compatible provider
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/inference/types/storage.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use `[object_storage.allow_http]` for multimodal-inference example
  examples/guides/multimodal-inference/README.md
  examples/guides/multimodal-inference/config/tensorzero.toml
Due: prettier

Set invalid AWS credentials in more s3 tests
  tensorzero-internal/src/config_parser.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed superfluous files and moved ModelInput to components
  ui/app/components/model/ModelInput.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferenceItem.tsx
  ui/app/utils/supervised_fine_tuning/utils.ts
Due: prettier, eslint, tsc

Add `[object_storage.allow_http]` for s3-compatible provider (#1278)
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/inference/types/storage.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump clickhouse timeout and add logging in e2e tests
  tensorzero-internal/src/clickhouse.rs
  tensorzero-internal/tests/e2e/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Split inference-params and dynamic-credentials e2e tests
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/aws_bedrock.rs
  tensorzero-internal/tests/e2e/providers/azure.rs
  tensorzero-internal/tests/e2e/providers/batch.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/deepseek.rs
  tensorzero-internal/tests/e2e/providers/fireworks.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-internal/tests/e2e/providers/hyperbolic.rs
  tensorzero-internal/tests/e2e/providers/mistral.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/providers/sglang.rs
  tensorzero-internal/tests/e2e/providers/tgi.rs
  tensorzero-internal/tests/e2e/providers/together.rs
  tensorzero-internal/tests/e2e/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  tensorzero-internal/tests/e2e/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  evals/Cargo.toml
  evals/src/evaluators/llm_judge.rs
  tensorzero-internal/src/inference/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Pass in json schema for all gemini models on Vertex
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added tests for internal parameter
  clients/python-pyo3/src/lib.rs
  clients/rust/src/client_inference_params.rs
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/endpoints/feedback.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/endpoints/mod.rs
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/tests/e2e/feedback.rs
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  examples/guides/multimodal-inference/config/tensorzero.toml
  examples/guides/multimodal-inference/docker-compose.yml
Due: prettier

Use `[object_storage.allow_http]` for multimodal-inference example (#1279)
  examples/guides/multimodal-inference/README.md
  examples/guides/multimodal-inference/config/tensorzero.toml
  examples/guides/multimodal-inference/docker-compose.yml
Due: prettier

Update test
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Invert 'MODELS_SUPPORTING_ANY_MODE' in vertex gemini
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  evals/src/evaluators/llm_judge.rs
  evals/src/evaluators/mod.rs
  evals/src/main.rs
  tensorzero-internal/fixtures/config/evals/test_eval/llm_judge_bool/system_instructions.txt
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/evals/llm_judge_user_schema.json
  tensorzero-internal/src/evals/llm_judge_user_template.minijinja
  tensorzero-internal/src/evals/mod.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/minijinja_util.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier

judge tests for bools & floats
  evals/src/evaluators/llm_judge.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added finished testing llm judge
  evals/src/evaluators/llm_judge.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Enable 'e2e_tests/batch_tests' through 'tensorzero' crate
  evals/Cargo.toml
Due: none

Implement caching for embedding requests
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/embeddings.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/dicl.rs
  tensorzero-internal/tests/e2e/cache.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  evals/src/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump batch timeout to 60s
  .config/nextest.toml
Due: none

Add '--default-config' flag to the gateway
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Avoid apply nextest unit-test config to batch tests
  .config/nextest.toml
Due: none

wip
  evals/Cargo.toml
  evals/tests/common.rs
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
