Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

Use tensorzero-16x32 Namespace runner for clickhouse replicated tests (#3080)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Bump timeout of 'valiate' job (#3129)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

added database client to TS and it builds
  clients/rust/src/lib.rs
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/clickhouse/select_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix variant editor
  ui/app/components/function/variant/VariantEditor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add support for config globbing (#2963)
  Cargo.lock
  clients/rust/src/lib.rs
  evaluations/src/lib.rs
  evaluations/tests/tests.rs
  gateway/src/main.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/clickhouse/query_builder/mod.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/config_parser/path.rs
  tensorzero-core/src/config_parser/span_map.rs
  tensorzero-core/src/config_parser/tests.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/tensorzero.toml
  tensorzero-core/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Store a Value directly in `StaticJSONSchema` (#3075)
  evaluations/src/lib.rs
  tensorzero-core/src/config_parser/tests.rs
  tensorzero-core/src/endpoints/feedback.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/jsonschema_util.rs
  tensorzero-core/src/providers/test_helpers.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/batch/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Reformat
  ui/app/components/function/variant/VariantEditor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Skip 'ui-tests-e2e-credentials' job for PRs from external repositories
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

gateway shutdown when CLICKHOUSE_URL is used (#3071)
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/gateway_util.rs
  ui/app/utils/env.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix merge fallout
  tensorzero-core/src/config_parser/tests.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/minijinja_util.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Avoid printing extra log lines in Python client (#3097)
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  tensorzero-core/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  tensorzero-core/src/evaluations/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Increase timeouts
  ui/app/utils/clickhouse/inference.test.ts
  ui/e2e_tests/playground.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed leftover comments referencing ContentBlockOutput (#3068)
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/components/inference/Output.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Use SchemaData::default
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added handling for default function config in UI (#3081)
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/routes/observability/functions/$function_name/FunctionBasicInfo.tsx
  ui/app/utils/config/index.server.ts
  ui/e2e_tests/homePage.spec.ts
  ui/e2e_tests/observability.functions.$function_name.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add config option to disable howdy (#3115)
  internal/tensorzero-node/lib/bindings/GatewayConfig.ts
  tensorzero-core/src/config_parser/gateway.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/src/howdy.rs
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

concurent batch embedding rust
  tensorzero-core/src/endpoints/optimization.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/optimization/openai_sft/mod.rs
  tensorzero-core/src/optimization/together_sft/mod.rs
  tensorzero-core/src/variant/providers/anthropic.rs
  tensorzero-core/src/variant/providers/aws_bedrock.rs
  tensorzero-core/src/variant/providers/aws_common.rs
  tensorzero-core/src/variant/providers/aws_http_client.rs
  tensorzero-core/src/variant/providers/aws_sagemaker.rs
  tensorzero-core/src/variant/providers/azure.rs
  tensorzero-core/src/variant/providers/deepseek.rs
  tensorzero-core/src/variant/providers/dummy.rs
  tensorzero-core/src/variant/providers/fireworks/mod.rs
  tensorzero-core/src/variant/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/variant/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/variant/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/src/variant/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/variant/providers/groq.rs
  tensorzero-core/src/variant/providers/helpers.rs
  tensorzero-core/src/variant/providers/helpers_thinking_block.rs
  tensorzero-core/src/variant/providers/hyperbolic.rs
  tensorzero-core/src/variant/providers/mistral.rs
  tensorzero-core/src/variant/providers/mod.rs
  tensorzero-core/src/variant/providers/openai/mod.rs
  tensorzero-core/src/variant/providers/openai/optimization.rs
  tensorzero-core/src/variant/providers/openrouter.rs
  tensorzero-core/src/variant/providers/sglang.rs
  tensorzero-core/src/variant/providers/test_helpers.rs
  tensorzero-core/src/variant/providers/tgi.rs
  tensorzero-core/src/variant/providers/together.rs
  tensorzero-core/src/variant/providers/vllm.rs
  tensorzero-core/src/variant/providers/xai.rs
  tensorzero-core/tests/optimization/common/dicl.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update bindings
  internal/tensorzero-node/lib/bindings/DiclOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/DiclOptimizationJobHandle.ts
  internal/tensorzero-node/lib/bindings/UninitializedDiclOptimizationConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

update python
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_optimization.py
Due: none

update launch_optimization
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/optimization.rs
  tensorzero-core/src/variant/providers/anthropic.rs
  tensorzero-core/src/variant/providers/aws_bedrock.rs
  tensorzero-core/src/variant/providers/aws_common.rs
  tensorzero-core/src/variant/providers/aws_http_client.rs
  tensorzero-core/src/variant/providers/aws_sagemaker.rs
  tensorzero-core/src/variant/providers/azure.rs
  tensorzero-core/src/variant/providers/deepseek.rs
  tensorzero-core/src/variant/providers/dummy.rs
  tensorzero-core/src/variant/providers/fireworks/mod.rs
  tensorzero-core/src/variant/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/variant/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/variant/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/src/variant/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/variant/providers/groq.rs
  tensorzero-core/src/variant/providers/helpers.rs
  tensorzero-core/src/variant/providers/helpers_thinking_block.rs
  tensorzero-core/src/variant/providers/hyperbolic.rs
  tensorzero-core/src/variant/providers/mistral.rs
  tensorzero-core/src/variant/providers/mod.rs
  tensorzero-core/src/variant/providers/openai/mod.rs
  tensorzero-core/src/variant/providers/openai/optimization.rs
  tensorzero-core/src/variant/providers/openrouter.rs
  tensorzero-core/src/variant/providers/sglang.rs
  tensorzero-core/src/variant/providers/test_helpers.rs
  tensorzero-core/src/variant/providers/tgi.rs
  tensorzero-core/src/variant/providers/together.rs
  tensorzero-core/src/variant/providers/vllm.rs
  tensorzero-core/src/variant/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

use ExternalDataInfo
  tensorzero-core/src/optimization/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

feat: Add initial OpenAI spec validation for chat and embeddings
  Cargo.lock
  gateway/Cargo.toml
  gateway/tests/openai_api_validation.rs
  gateway/tests/openai_spec_validation.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Improve python GIL apis and store explicitly gateway reference
  clients/python/src/gil_helpers.rs
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  tensorzero-core/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add unit tests
  tensorzero-core/src/optimization/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add sync test
  clients/python/tests/test_client.py
Due: none

Bump another timeout
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Double sleep time for test_clickhouse_bulk_insert (#3116)
  tensorzero-core/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Run format
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Enable verbose errors in optimization test Tensorzero clients
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix mock test
  internal/tensorzero-node/lib/bindings/OptimizerOutput.ts
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/optimization/together_sft/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/tests/mock-inference-provider/src/main.rs
  tensorzero-core/tests/optimization/common/dicl.rs
  tensorzero-core/tests/optimization/common/mod.rs
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/utils/config/models.test.ts
  ui/app/utils/config/models.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Skip 'ui-tests-e2e-credentials' job for PRs from external repositories (#3131)
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

wip
  Cargo.lock
  Cargo.toml
  internal/tensorzero-node/lib/bindings/ModelUsageTimePoint.ts
  internal/tensorzero-node/lib/bindings/TimeWindow.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/database.rs
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/db/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Improve python GIL apis and store explicitly gateway reference (#3133)
  clients/python/src/gil_helpers.rs
  clients/python/src/lib.rs
  clients/python/tests/test_client.py
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed another playwirght race condition
  ui/e2e_tests/playground.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Try to cancel old merge queue workflow runs for the same PR branch (#3110)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Set a 5 minute timeout for pyo3 pytests on CI (#3101)
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

fixed upload step
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node

Make UninitializedConfig, dependent structs public
  tensorzero-core/src/config_parser/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
