Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

bumped version to 2026.1.4 (#5829)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add None assertions to fix pyright type errors
  clients/python/tests/test_roundtrip_template_types.py
  clients/python/tests/test_roundtrip_text_types.py
  clients/python/tests/test_roundtrip_thought_types.py
  clients/python/tests/test_roundtrip_tool_types.py
Due: none

Add type narrowing to fix remaining pyright errors
  clients/python/tests/test_roundtrip_template_types.py
  clients/python/tests/test_roundtrip_text_types.py
  clients/python/tests/test_roundtrip_thought_types.py
  clients/python/tests/test_roundtrip_tool_types.py
Due: none

cleanup
  gateway/src/main.rs
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

cleanup
  gateway/src/main.rs
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/reject_missing_tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add tags to evals and enforce tags on all autopilot inferences (#5810)
  clients/python/src/lib.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/evaluators/mod.rs
  evaluations/src/lib.rs
  evaluations/src/types.rs
  evaluations/tests/tests.rs
  gateway/src/routes/evaluations.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/src/tools/prod/run_evaluation.rs
  internal/autopilot-tools/tests/run_evaluation_tool.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update docs for valkey rate limiting (#5755)
  docs/deployment/postgres.mdx
  docs/deployment/valkey-redis.mdx
  docs/docs.json
  docs/gateway/configuration-reference.mdx
  docs/operations/enforce-custom-rate-limits.mdx
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/.python-version
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/README.md
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/config/tensorzero.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/docker-compose.yml
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/openai_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/pyproject.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/requirements.txt
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/tensorzero_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/uv.lock
  examples/docs/guides/operations/enforce-custom-rate-limits/requirements.txt
  examples/docs/guides/operations/enforce-custom-rate-limits/uv.lock
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/.python-version
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/README.md
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/config/tensorzero.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/docker-compose.yml
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/openai_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/pyproject.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/requirements.txt
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/tensorzero_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

make durable-tools hold an instance instead of a PhantomData<T> (#5768)
  Cargo.lock
  Cargo.toml
  internal/autopilot-tools/src/tools/prod/create_datapoints.rs
  internal/autopilot-tools/src/tools/prod/create_datapoints_from_inferences.rs
  internal/autopilot-tools/src/tools/prod/delete_datapoints.rs
  internal/autopilot-tools/src/tools/prod/feedback.rs
  internal/autopilot-tools/src/tools/prod/get_config.rs
  internal/autopilot-tools/src/tools/prod/get_datapoints.rs
  internal/autopilot-tools/src/tools/prod/get_feedback_by_variant.rs
  internal/autopilot-tools/src/tools/prod/get_inferences.rs
  internal/autopilot-tools/src/tools/prod/get_latest_feedback_by_metric.rs
  internal/autopilot-tools/src/tools/prod/inference.rs
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
  internal/autopilot-tools/src/tools/prod/list_datapoints.rs
  internal/autopilot-tools/src/tools/prod/list_inferences.rs
  internal/autopilot-tools/src/tools/prod/run_evaluation.rs
  internal/autopilot-tools/src/tools/prod/update_datapoints.rs
  internal/autopilot-tools/src/tools/prod/write_config.rs
  internal/autopilot-tools/src/tools/test/echo.rs
  internal/autopilot-tools/src/tools/test/error_simple.rs
  internal/autopilot-tools/src/tools/test/failing.rs
  internal/autopilot-tools/src/tools/test/flaky.rs
  internal/autopilot-tools/src/tools/test/good_simple.rs
  internal/autopilot-tools/src/tools/test/panic.rs
  internal/autopilot-tools/src/tools/test/slow.rs
  internal/autopilot-tools/src/tools/test/slow_simple.rs
  internal/autopilot-tools/src/visitor.rs
  internal/autopilot-tools/tests/launch_optimization_workflow_tool.rs
  internal/autopilot-worker/src/worker.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/README.md
  internal/durable-tools/src/error.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/task_tool.rs
  internal/durable-tools/src/tests.rs
  internal/durable-tools/src/tool_metadata.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use DisplayOrDebugGateway for autopilot errors (#5824)
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

filter
  tensorzero-optimizers/src/gepa/analyze.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add sleep delays for batch writes in roundtrip tests
  clients/python/tests/test_roundtrip_template_types.py
  clients/python/tests/test_roundtrip_text_types.py
  clients/python/tests/test_roundtrip_thought_types.py
  clients/python/tests/test_roundtrip_tool_types.py
Due: none

Extract feedback writing methods behind the FeedbackQueries trait (#5826)
  tensorzero-core/src/db/clickhouse/feedback.rs
  tensorzero-core/src/db/feedback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/tests/e2e/db/feedback_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Split postgres from clickhouse tests (#5808)
  .cargo/config.toml
  .config/nextest.toml
  .github/workflows/general.yml
  ci/buildkite/test-clickhouse-cloud.sh
  internal/tensorzero-auth/tests/e2e/db/mod.rs
  internal/tensorzero-auth/tests/e2e/db/postgres.rs
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-core/tests/e2e/db/postgres/experimentation_queries.rs
  tensorzero-core/tests/e2e/db/postgres/mod.rs
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.yml
  ui/fixtures/docker-compose.yml
  ui/fixtures/load_fixtures_postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

consolidated the tool list to one place
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/main.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-tools/src/lib.rs
  internal/autopilot-tools/src/visitor.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

made filtering consistent for all unavailable tools
  internal/autopilot-client/src/client.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped version to 2026.1.5
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

bumped version to 2026.1.5 (#5842)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

set up types that enforce that the UI shouldnt see missing tool calls
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/error.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/tests/common/mod.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  internal/tensorzero-node/lib/bindings/Event.ts
  internal/tensorzero-node/lib/bindings/GatewayEvent.ts
  internal/tensorzero-node/lib/bindings/GatewayEventPayload.ts
  internal/tensorzero-node/lib/bindings/GatewayEventPayloadToolCallAuthorization.ts
  internal/tensorzero-node/lib/bindings/GatewayListEventsResponse.ts
  internal/tensorzero-node/lib/bindings/GatewayStreamUpdate.ts
  internal/tensorzero-node/lib/bindings/GatewayToolCallAuthorizationStatus.ts
  internal/tensorzero-node/lib/bindings/StreamUpdate.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/internal/autopilot.rs
  tensorzero-core/src/error/mod.rs
  ui/app/components/autopilot/EventStream.stories.tsx
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/PendingToolCallCard.tsx
  ui/app/hooks/useAutopilotEventStream.ts
  ui/app/routes/api/autopilot/sessions/$session_id/events/authorize.route.ts
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
  ui/app/utils/tensorzero/autopilot-client.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Move feedback-related inference queries to InferenceQueries trait
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/feedback/human_feedback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add migration
  tensorzero-core/src/db/postgres/migrations/20260116161927_partitioning_functions.sql
  tensorzero-core/src/db/postgres/migrations/20260116194140_inference_tables.sql
Due: none

Step 1 (partial): Add chat/json inference tables and InferenceCountQueries
  AGENTS.md
  tensorzero-core/scripts/reset-dev-postgres.sh
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/postgres/inference_count.rs
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/endpoints/episodes/internal/get_episode_inference_count.rs
  tensorzero-core/src/endpoints/internal/inference_count.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/function/function_config.rs
  tensorzero-core/src/utils/gateway.rs
  ui/fixtures/load_fixtures_postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

e2e tests
  .github/workflows/general.yml
  tensorzero-core/src/db/postgres/README.md
  tensorzero-core/src/db/postgres/inference_count.rs
  tensorzero-core/src/db/postgres/mod.rs
  tensorzero-core/src/db/postgres/rate_limiting.rs
  tensorzero-core/src/db/postgres/test_helpers.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/tests/e2e/postgres/inference_count_queries.rs
  tensorzero-core/tests/e2e/postgres/mod.rs
  tensorzero-core/tests/e2e/tests.rs
  ui/fixtures/Dockerfile
  ui/fixtures/reset-dev-postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Implement BatchInferenceQueries trait
  tensorzero-core/src/db/batch_inference.rs
  tensorzero-core/src/db/clickhouse/batch_inference.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/tests/e2e/db/batch_inference_queries.rs
  tensorzero-core/tests/e2e/db/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

PR comments
  .github/workflows/general.yml
  AGENTS.md
  tensorzero-core/src/db/postgres/inference_count.rs
  tensorzero-core/src/db/postgres/migrations/20260116194140_inference_tables.sql
  tensorzero-core/tests/e2e/db/inference_count_queries.rs
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-core/tests/e2e/db/postgres/mod.rs
  tensorzero-core/tests/e2e/db/postgres/postgres_function_tests.rs
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/postgres/inference_count_queries.rs
  tensorzero-core/tests/e2e/postgres/mod.rs
  tensorzero-core/tests/e2e/tests.rs
  ui/fixtures/download-small-fixtures.py
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/upload-small-fixtures.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

added conversions between event and input message types
  internal/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add RunEvaluation to Action Endpoint (#5792)
  Cargo.lock
  clients/rust/src/lib.rs
  evaluations/src/stats.rs
  gateway/src/routes/action.rs
  internal/autopilot-tools/src/tools/prod/inference.rs
  internal/autopilot-tools/src/tools/prod/run_evaluation.rs
  internal/autopilot-tools/tests/common/mod.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/autopilot-tools/tests/run_evaluation_tool.rs
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/lib.rs
  internal/durable-tools/src/run_evaluation.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  internal/durable-tools/src/tensorzero_client/mod.rs
  internal/durable-tools/tests/integration.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/endpoints/internal/action.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

directly register internal publishing task
  internal/autopilot-tools/src/lib.rs
  internal/autopilot-worker/src/worker.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

make autoreject a tasktool
  internal/autopilot-tools/src/tools/prod/auto_reject_tool_call.rs
  internal/autopilot-worker/src/worker.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Implement BatchInferenceQueries trait (#5828)
  tensorzero-core/src/db/batch_inference.rs
  tensorzero-core/src/db/clickhouse/batch_inference.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/tests/e2e/db/batch_inference_queries.rs
  tensorzero-core/tests/e2e/db/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix bug in filtering logic
  internal/autopilot-client/src/client.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Reject output_source: "none" in get_inferences and list_inferences (#5838)
  internal/autopilot-tools/src/tools/prod/get_inferences.rs
  internal/autopilot-tools/src/tools/prod/list_inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add ui stuff for yolo mode + approve all
  ui/app/components/autopilot/PendingToolCallCard.tsx
  ui/app/components/autopilot/YoloModeIndicator.tsx
  ui/app/hooks/useYoloMode.ts
  ui/app/routes.ts
  ui/app/routes/api/autopilot/sessions/$session_id/actions/approve_all.route.ts
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update docs
  docs/deployment/valkey-redis.mdx
Due: none

I don't think we should sleep
  tensorzero-core/tests/e2e/docker-compose.live.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Move feedback-related inference queries to InferenceQueries trait (#5830)
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/feedback/human_feedback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped napi to v3
  Cargo.lock
  internal/tensorzero-node/Cargo.toml
  internal/tensorzero-node/package.json
  pnpm-lock.yaml
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update docs (#5845)
  docs/deployment/valkey-redis.mdx
Due: none

Improve download-large-fixtures.py
  ui/fixtures/download-large-fixtures.py
Due: none

also bumped node version
  ui/Dockerfile
Due: none
