Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

implemented ted metric
  Cargo.lock
  examples/cursorzero/Cargo.toml
  examples/cursorzero/config/tensorzero.toml
  examples/cursorzero/src/cursor.rs
  examples/cursorzero/src/git.rs
  examples/cursorzero/src/main.rs
  examples/cursorzero/src/ted/dp_matrix.rs
  examples/cursorzero/src/ted/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added failure case to handle
  examples/cursorzero/src/cursor.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add missing test
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Put back CoT
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

removed stray print
  optimizations-server/src/sft/common.py
Due: none

Respect 'include_usage' in OpenAI-compatible streaming (#1851)
  clients/openai-node/tests/openai-compatibility.test.ts
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  tensorzero-internal/src/inference/providers/xai.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/aws_bedrock.rs
  tensorzero-internal/tests/e2e/providers/azure.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/deepseek.rs
  tensorzero-internal/tests/e2e/providers/fireworks.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-internal/tests/e2e/providers/mistral.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/providers/tgi.rs
  tensorzero-internal/tests/e2e/providers/together.rs
  tensorzero-internal/tests/e2e/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/xai.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed PR comments around type safety
  clients/python-pyo3/src/internal.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Check production Docker image in separate merge-queue job
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

removed extra commment
  examples/cursorzero/config/tensorzero.toml
  examples/cursorzero/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  tensorzero-internal/tests/e2e/providers/anthropic.rs
  tensorzero-internal/tests/e2e/providers/aws_bedrock.rs
  tensorzero-internal/tests/e2e/providers/azure.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/deepseek.rs
  tensorzero-internal/tests/e2e/providers/fireworks.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-internal/tests/e2e/providers/google_ai_studio_gemini.rs
  tensorzero-internal/tests/e2e/providers/mistral.rs
  tensorzero-internal/tests/e2e/providers/openai.rs
  tensorzero-internal/tests/e2e/providers/sglang.rs
  tensorzero-internal/tests/e2e/providers/tgi.rs
  tensorzero-internal/tests/e2e/providers/together.rs
  tensorzero-internal/tests/e2e/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/xai.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added serialization with image data
  tensorzero-internal/src/inference/types/image.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

forgot matrix file
  examples/cursorzero/src/ted/matrix.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added implementation of demonstration SFT to python server (#1892)
  clients/python-pyo3/src/internal.rs
  ui/app/routes/optimization/supervised-fine-tuning/route.tsx
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
  ui/entrypoint.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

override cursor temperature for o4-mini
  examples/cursorzero/config/tensorzero.toml
Due: none

Try BuildJet cache for pyo3 build step
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

forced image serialization in get_curated_inferences
  clients/python-pyo3/src/internal.rs
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try BuildJet cache for pyo3 build step (#1899)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Update
  README.md
  examples/integrations/openai-codex/.env.example
  examples/integrations/openai-codex/README.md
  examples/integrations/openai-codex/config/tensorzero.toml
  examples/integrations/openai-codex/docker-compose.yml
  package.json
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

Update
  examples/integrations/openai-codex/README.md
Due: prettier: ui, prettier: openai-node

Update README.md
  examples/integrations/openai-codex/README.md
Due: prettier: ui, prettier: openai-node

Update
  examples/integrations/openai-codex/config/tensorzero.toml
  examples/integrations/openai-codex/docker-compose.yml
Due: prettier: ui, prettier: openai-node

Update
  package.json
Due: prettier: ui, prettier: openai-node

seems like optimization API is sending images to fine-tuning service
  optimizations-server/src/sft/common.py
  optimizations-server/src/sft/openai_analysis.py
  optimizations-server/src/sft/openai_sft.py
Due: none

Update
  examples/integrations/openai-codex/config/tensorzero.toml
Due: none

OpenAI Codex Integration (#1900)
  README.md
  examples/integrations/openai-codex/.env.example
  examples/integrations/openai-codex/README.md
  examples/integrations/openai-codex/config/tensorzero.toml
  examples/integrations/openai-codex/docker-compose.yml
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

Run flaky tests in separate allow-failure step on CI (#1891)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

added tests and optimization server fixture for image fine tuning
  tensorzero-internal/tests/mock-inference-provider/src/main.rs
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

clean up and forgot error file
  clients/python-pyo3/src/internal.rs
  clients/rust/src/input_handling.rs
  tensorzero-internal/tests/mock-inference-provider/src/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use BuildJet cache in all Swatinem/rust-cache usages
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Add missing 'json_mode = "strict"' to `null_json` variant
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none
