Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Stop bypassing cache for e2e tests (issue #5380) (#5539)
  .github/workflows/merge-queue.yml
  ci/run-provider-proxy.sh
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/raw_usage/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Making betting confidence sequences take running intersection of intervals (#5573)
  evaluations/src/betting_confidence_sequences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

re-enabled dispatch tests
  .github/workflows/dispatch-autopilot-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  tensorzero-core/tests/e2e/mixture_of_n.rs
  tensorzero-core/tests/e2e/otel.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

re-enabled dispatch tests (#5574)
  .github/workflows/dispatch-autopilot-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

do less
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
  internal/autopilot-tools/src/tools/prod/mod.rs
  internal/autopilot-tools/tests/launch_optimization_workflow_tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add none
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

update schema (#5576)
  internal/autopilot-tools/src/tools/prod/update_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix `launch_optimization_workflow` tool schema optimizer types (#5496)
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump version to 2026.1.0
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

update schema
  internal/autopilot-tools/src/tools/prod/create_datapoints_from_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename BoundaryErrorType to InfraErrorType for semantic clarity
  ui/app/components/ui/error/ErrorContent.tsx
  ui/app/components/ui/error/ErrorDialog.stories.tsx
  ui/app/context/config.tsx
  ui/app/root.tsx
  ui/app/routes/playground/route.tsx
  ui/app/utils/tensorzero/errors.test.ts
  ui/app/utils/tensorzero/errors.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

update schema (#5580)
  internal/autopilot-tools/src/tools/prod/create_datapoints_from_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean up logger calls and rename RouteErrorContent to PageErrorContent
  ui/app/components/ui/error/PageErrorContent.stories.tsx
  ui/app/components/ui/error/PageErrorContent.tsx
  ui/app/components/ui/error/index.ts
  ui/app/routes/api-keys/route.tsx
  ui/app/routes/api/tensorzero/status.ts
  ui/app/routes/autopilot/layout.tsx
  ui/app/routes/datapoints/layout.tsx
  ui/app/routes/datasets/layout.tsx
  ui/app/routes/evaluations/layout.tsx
  ui/app/routes/index.tsx
  ui/app/routes/observability/episodes/layout.tsx
  ui/app/routes/observability/functions/layout.tsx
  ui/app/routes/observability/inferences/layout.tsx
  ui/app/routes/observability/models/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/route.tsx
  ui/app/routes/playground/route.tsx
  ui/app/routes/workflow_evaluations/layout.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

implemented RateLimitedContent trait for InputMessage
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added client handling for config hashes for autopilot
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/src/tools/prod/get_config.rs
  internal/autopilot-tools/src/tools/prod/inference.rs
  internal/autopilot-tools/tests/config_tools.rs
  internal/autopilot-tools/tests/datapoint_tools.rs
  internal/autopilot-tools/tests/feedback_tools.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/autopilot-tools/tests/run_evaluation_tool.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Filter metrics by function in InferenceFilterBuilder
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/querybuilder/InferenceQueryBuilder.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use import_exception! for Python error types
  clients/python/src/lib.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump version to 2026.1.0 (#5579)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

bumped version of RR7 to 7.12
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

attempted to bump at top level
  package.json
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed types
  internal/tensorzero-node/lib/bindings/AutopilotSideInfo.ts
  ui/app/components/autopilot/EventStream.stories.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed nits
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped version of RR7 to 7.12 (#5584)
  package.json
  pnpm-lock.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add dynamic credentials for AWS providers
  docs/gateway/configuration-reference.mdx
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedProviderConfig.ts
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/aws_common.rs
  tensorzero-core/src/providers/aws_sagemaker.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Sanitize page error messages with status-code mapping
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
  ui/app/components/ui/error/LayoutErrorBoundary.tsx
  ui/app/components/ui/error/PageErrorContent.tsx
  ui/app/utils/tensorzero/errors.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

implemented RateLimitedContent trait for InputMessage (#5582)
  tensorzero-core/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add dynamic credentials for AWS providers
  internal/tensorzero-node/lib/bindings/UninitializedModelProvider.ts
  internal/tensorzero-node/lib/bindings/UninitializedProviderConfig.ts
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/aws_common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add support for each optimizer
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

WIP: Add error boundary infrastructure for root errors
  ui/app/components/ui/dialog.tsx
  ui/app/components/ui/error/ErrorContent.tsx
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
  ui/app/components/ui/error/ErrorDialog.stories.tsx
  ui/app/components/ui/error/ErrorDialog.tsx
  ui/app/components/ui/error/GatewayAuthFailedState.tsx
  ui/app/components/ui/error/GatewayRequiredState.tsx
  ui/app/components/ui/error/PageErrorContent.stories.tsx
  ui/app/components/ui/error/PageErrorContent.tsx
  ui/app/components/ui/error/RootErrorBoundaryLayout.tsx
  ui/app/components/ui/error/index.ts
  ui/app/providers/app-providers.tsx
  ui/app/root.tsx
  ui/app/utils/tensorzero/errors.test.ts
  ui/app/utils/tensorzero/errors.ts
  ui/e2e_tests/error-boundaries.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

WIP: Add layout-level error boundaries
  ui/app/components/ui/error/LayoutErrorBoundary.tsx
  ui/app/components/ui/error/index.ts
  ui/app/routes/autopilot/layout.tsx
  ui/app/routes/datapoints/layout.tsx
  ui/app/routes/datasets/layout.tsx
  ui/app/routes/evaluations/layout.tsx
  ui/app/routes/observability/episodes/layout.tsx
  ui/app/routes/observability/functions/layout.tsx
  ui/app/routes/observability/inferences/layout.tsx
  ui/app/routes/workflow_evaluations/layout.tsx
  ui/e2e_tests/error-boundaries.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add support for each optimizer (#5587)
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

removed test that no longer makes sense
  internal/autopilot-tools/tests/inference_tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Provide secrets
  .github/workflows/docker-hub-publish.yml
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Tighten 404 check to only match true client 404s
  ui/app/root.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add tests for classifyError and getErrorLabel functions
  ui/app/utils/tensorzero/errors.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Stream top-k variant selection updates (#5456)
  evaluations/src/topk/mod.rs
  evaluations/src/topk/updates.rs
  evaluations/tests/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
