Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Start deprecating patch_openai_client
  clients/python/tensorzero/__init__.py
Due: none

Add PR #6677 screenshots (updated with mono)
  6677/base-state.png
  6677/dropdown-open.png
  6677/mobile-selected.png
  6677/no-namespaces.png
Due: none

Use Object.hasOwn for namespace config lookups
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
  ui/app/routes/observability/functions/$function_name/experimentation-data.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  docs/gateway/generate-embeddings.mdx
  examples/guides/embeddings/providers/azure/README.md
  examples/guides/embeddings/providers/openai-compatible-ollama/README.md
  examples/guides/embeddings/providers/openai/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Redesign auth dialog with env var instructions and browser auth
  ui/app/components/ui/error/ErrorContent.tsx
  ui/e2e_tests/browser-auth.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add PR #6649 auth dialog screenshot
  6649/pr-6649-auth-dialog-v2.png
Due: none

Remove notice
  docs/deployment/tensorzero-gateway.mdx
Due: none

Explicitly request thinking for reasoning request test
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  examples/guides/embeddings/providers/openai-compatible-ollama/config/tensorzero.toml
Due: none

Remove hard reload after auth, rely on React Router revalidation
  ui/app/components/ui/error/ErrorContent.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update PR #6617 screenshots with split feedback layout
  6617/comment-feedback.png
  6617/demo-feedback.png
  6617/episode-feedback.png
Due: none

fixed node types
  ui/app/components/autopilot/EventStream.stories.tsx
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

temporarily disable dispatch tests
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Adjust prompt for reasoning test
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Disable providers::gcp_vertex_gemini::test_reasoning_inference_request_simple_streaming
  tensorzero-core/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Skip deployment ID fetch and howdy loop when observability is disabled
  clients/python/tests/test_client.py
  gateway/src/main.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/howdy.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Deprecate legacy list inferences method
  README.md
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_datapoints_v1.py
  clients/python/tests/test_list_inferences.py
  clients/rust/src/lib.rs
  docs/gateway/call-any-llm.mdx
  docs/gateway/call-the-openai-responses-api.mdx
  examples/optimization/dicl/dicl.ipynb
  recipes/dpo/openai/openai_dpo.ipynb
  recipes/dpo/openai/openai_dpo_nb.py
  recipes/mipro/mipro.ipynb
  recipes/mipro/mipro_nb.py
  recipes/supervised_fine_tuning/axolotl/axolotl.ipynb
  recipes/supervised_fine_tuning/axolotl/axolotl_nb.py
  recipes/supervised_fine_tuning/gcp-vertex-gemini/gcp_vertex_gemini.ipynb
  recipes/supervised_fine_tuning/gcp-vertex-gemini/gcp_vertex_gemini_nb.py
  recipes/supervised_fine_tuning/torchtune/torchtune.ipynb
  recipes/supervised_fine_tuning/torchtune/torchtune_nb.py
  recipes/supervised_fine_tuning/unsloth/unsloth.ipynb
  recipes/supervised_fine_tuning/unsloth/unsloth_nb.py
  tensorzero-core/tests/e2e/experimental_list_inferences.rs
  tensorzero-core/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, compile-check-notebooks

Deprecate legacy list inferences method
  README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Extract tool result visualization into scalable dispatch pattern
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/FeedbackByVariantChart.tsx
  ui/app/components/autopilot/ToolResultVisualization.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Simplify tool result visualization: remove events prop and labels
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/FeedbackByVariantChart.tsx
  ui/app/components/autopilot/ToolResultVisualization.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove stale label assertions and ToolResultVizData alias
  ui/app/components/autopilot/ToolResultVisualization.tsx
  ui/e2e_tests/autopilot/variant-performance-visualization.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Change quickstart to run against postgres only
  docs/quickstart.mdx
  examples/quickstart/Dockerfile.postgres
  examples/quickstart/README.md
  examples/quickstart/after.py
  examples/quickstart/after_async.py
  examples/quickstart/config/tensorzero.toml
  examples/quickstart/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove unnecessary useEffect for auto-expand
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Print observability with postgres (#6679)
  clients/python/tests/test_client.py
  gateway/src/main.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/howdy.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix tool approval flash on autoapproved tool calls (#6678)
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/types.rs
  internal/tensorzero-node/lib/bindings/GatewayEventPayload.ts
  internal/tensorzero-node/lib/bindings/GatewayEventPayloadToolCall.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/tests/e2e/providers/reasoning.rs
  ui/app/components/autopilot/EventStream.stories.tsx
  ui/app/hooks/useAutopilotEventStream.ts
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add dataset name to experimental_launch_optimization_workflow
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/src/lib.rs
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
  internal/autopilot-tools/tests/launch_optimization_workflow_tool.rs
  internal/tensorzero-node/lib/bindings/LaunchOptimizationWorkflowToolParams.ts
  internal/tensorzero-node/lib/bindings/OptimizationDataSource.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-optimizers/src/endpoints.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
  ui/app/utils/supervised_fine_tuning/client.test.ts
  ui/app/utils/supervised_fine_tuning/client.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add run_evaluations to Python SDK
  .cargo/config.toml
  Cargo.lock
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_evaluation.py
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  evaluations/src/lib.rs
  evaluations/src/sse_events.rs
  gateway/Cargo.toml
  gateway/src/routes/evaluations.rs
  internal/tensorzero-node/lib/bindings/RunEvaluationRequest.ts
  tensorzero-core/src/client/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  clients/python/tests/test_datapoints_v1.py
Due: none

Fix empty array false positive, rename variable, clean up comments
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/FeedbackByVariantChart.test.ts
  ui/app/components/autopilot/FeedbackByVariantChart.tsx
  ui/app/components/autopilot/ToolResultVisualization.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  clients/python/tests/conftest.py
  clients/python/tests/test_client.py
Due: none

Fix
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  gateway/src/routes/evaluations.rs
  tensorzero-core/src/db/clickhouse/evaluation_queries.rs
  tensorzero-core/src/endpoints/internal/evaluations/get_human_feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/rust/src/lib.rs
  internal/autopilot-tools/src/tools/prod/launch_optimization_workflow.rs
  internal/tensorzero-node/lib/bindings/DatasetDataSource.ts
  internal/tensorzero-node/lib/bindings/InferencesDataSource.ts
  internal/tensorzero-node/lib/bindings/LaunchOptimizationWorkflowParams.ts
  internal/tensorzero-node/lib/bindings/LaunchOptimizationWorkflowToolParams.ts
  internal/tensorzero-node/lib/bindings/OptimizationDataSource.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-optimizers/src/endpoints.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
  ui/app/utils/supervised_fine_tuning/client.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix unintended auto-expand for visualization events
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fix workflow
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Support cutoff in python client
  clients/python/src/evaluation_handlers.rs
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_evaluation.py
Due: cargo-deny, cargo-fmt, cargo-clippy

Unify visualization rendering with discriminated union
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/ToolResultVisualization.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename visualization types and component for clarity
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
