Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Use json_pointer crate for pointer validation, add ResponseMode enum
  Cargo.lock
  tensorzero-core/Cargo.toml
  tensorzero-core/src/cost.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

ci: add remote deploy script for running checks/e2e on a remote machine
  .gitignore
  ci/README.md
  ci/deploy.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make types optional (#6299)
  internal/tensorzero-node/lib/bindings/ModelInference.ts
  tensorzero-core/src/db/postgres/model_inferences.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/internal/model_inferences.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/serde_util.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/db/model_inference_queries.rs
  tensorzero-core/tests/e2e/db/postgres/pooled_inference_writes.rs
  ui/app/utils/resolve.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support include_raw_response for simple, terminal, non-streaming errors
  tensorzero-core/src/inference/types/usage.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/tests/e2e/raw_response/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add UUID hovercards in autopilot chat messages
  ui/app/components/autopilot/UuidHoverCardContent.tsx
  ui/app/components/autopilot/UuidLink.tsx
  ui/app/hooks/useEpisodePreview.ts
  ui/app/hooks/useInferencePreview.ts
  ui/app/routes.ts
  ui/app/routes/api/tensorzero/episode_preview.route.ts
  ui/app/routes/api/tensorzero/inference_preview.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Consolidate preview hooks into generic useEntityPreview
  ui/app/components/autopilot/UuidHoverCardContent.tsx
  ui/app/hooks/useEntityPreview.ts
  ui/app/hooks/useEpisodePreview.ts
  ui/app/hooks/useInferencePreview.ts
  ui/app/routes/api/tensorzero/inference_preview.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add PR #6317 hovercard screenshot
  6317/hovercard-inference-open.png
Due: none

Disable fireworks bad headers test
  tensorzero-core/tests/e2e/providers/fireworks.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Disable fireworks bad headers test (#6319)
  tensorzero-core/tests/e2e/providers/fireworks.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix processing_time_ms truthiness bug and loading state flash
  ui/app/hooks/useEntityPreview.ts
  ui/app/routes/api/tensorzero/inference_preview.route.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add Postgres migration to split inference tables into metadata and IO tables
  tensorzero-core/src/db/postgres/migrations/20260211142997_split_inference_data_tables.sql
  tensorzero-core/src/db/postgres/pgcron_setup.sql
  ui/fixtures/load_fixtures_postgres.sh
Due: none

Query for inferences with joins
  .sqlx/query-0d2275b63ea8385f46636aa804affd5eb9b552aeaa911aff34f7fa8897546317.json
  .sqlx/query-29f054a80a28bd0bc7318d81ba1d133b8f9b81d21dd0d615018bfa1d60e1b50d.json
  .sqlx/query-466728e69e868884b1653032bac731d2a23fc000454a231526a0e2541c130643.json
  .sqlx/query-6d7f4192d680ed4185c559cc1f637e8c6a4a22a1fec32d46ad7fbcfac46f0109.json
  .sqlx/query-b77b11643355d960119dd748d86013ea8160e2dfc61f4184e06c552d0e6ef1ca.json
  .sqlx/query-d13c5af22b106eb4703743ac4ed81714bc80932acbd624e43bd188c041fd0e85.json
  .sqlx/query-e7905bf413a97324990941e0669860b1da87d73d80493aa0e3df3ccbb7339adf.json
  tensorzero-core/src/db/postgres/batch_inference.rs
  tensorzero-core/src/db/postgres/batching.rs
  tensorzero-core/src/db/postgres/inference_queries.rs
  tensorzero-core/src/db/postgres/model_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add tsvector indices for input and outputs
  tensorzero-core/src/db/postgres/migrations/20260211212006_full_text_indices.sql
Due: none

Support full text search by relevance
  .sqlx/query-b4dacd6334a94bc37daee3ceaeff6483037cdd702ad32717e0c0e412fc65ab87.json
  tensorzero-core/src/db/postgres/dataset_queries.rs
  tensorzero-core/src/db/postgres/inference_queries.rs
  tensorzero-core/tests/e2e/db/inference_queries.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Incremental model provider stats computation
  tensorzero-core/src/db/postgres/migrations/20260209183000_incremental_model_provider_statistics.sql
  tensorzero-core/src/db/postgres/pgcron_setup.sql
  tensorzero-core/tests/e2e/db/postgres/pgcron_tests.rs
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/reset-dev-postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy

Stop denying unknown fields for Config since it crosses wires
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/config/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Still fail config load from toml
  Cargo.lock
  Cargo.toml
  tensorzero-core/Cargo.toml
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make list_inference_metadata endpoint call postgres when enabled
  tensorzero-core/src/endpoints/internal/inference_metadata.rs
  tensorzero-core/tests/e2e/endpoints/internal/inference_metadata.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Enable more endpoint tests
  tensorzero-core/tests/e2e/endpoints/internal/config.rs
  tensorzero-core/tests/e2e/endpoints/internal/datapoint_count.rs
  tensorzero-core/tests/e2e/endpoints/internal/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Incremental model provider stats computation (#6290)
  tensorzero-core/src/db/postgres/migrations/20260209183000_incremental_model_provider_statistics.sql
  tensorzero-core/src/db/postgres/pgcron_setup.sql
  tensorzero-core/tests/e2e/db/postgres/pgcron_tests.rs
  ui/fixtures/load_fixtures_postgres.sh
  ui/fixtures/reset-dev-postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy

Allow track-and-stop config to be re-used (#6203)
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

ci: improve deploy script (env config, in-repo, cleanup, polling, rsync 23)
  ci/README.md
  ci/deploy.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Remove top-level ToolError::Serialization
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/error.rs
  internal/durable-tools/src/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

ci: skip ClickHouse e2e when filter set; add scripts/remote/run-ui.sh and logs.sh; README
  ci/README.md
  ci/deploy.sh
  scripts/remote/logs.sh
  scripts/remote/run-ui.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add E2E cost tests for advanced variants and fix streaming cost bug
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/config/tensorzero.functions.toml
  tensorzero-core/tests/e2e/config/tensorzero.models.toml
  tensorzero-core/tests/e2e/cost.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix test
  internal/durable-tools/src/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove unused variant
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Enable some endpoint tests for postgres (#6321)
  tensorzero-core/src/endpoints/internal/inference_metadata.rs
  tensorzero-core/tests/e2e/endpoints/internal/config.rs
  tensorzero-core/tests/e2e/endpoints/internal/datapoint_count.rs
  tensorzero-core/tests/e2e/endpoints/internal/feedback.rs
  tensorzero-core/tests/e2e/endpoints/internal/inference_metadata.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  tensorzero-core/src/inference/types/usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix typescript
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove top-level ToolError::Serialization (#6324)
  internal/autopilot-worker/src/wrapper.rs
  internal/durable-tools/src/error.rs
  internal/durable-tools/src/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Support `include_raw_response` for simple, terminal, non-streaming errors (#6307)
  clients/python/tensorzero/types.py
  clients/rust/src/test_helpers.rs
  internal/tensorzero-node/lib/bindings/RawResponseEntry.ts
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
  tensorzero-core/src/endpoints/openai_compatible/embeddings.rs
  tensorzero-core/src/endpoints/openai_compatible/error.rs
  tensorzero-core/src/error/mod.rs
  tensorzero-core/src/inference/types/usage.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/raw_response/cache.rs
  tensorzero-core/tests/e2e/raw_response/error.rs
  tensorzero-core/tests/e2e/raw_response/mod.rs
  tensorzero-core/tests/e2e/raw_usage/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix double dollar sign in cost display and chart legend overflow
  ui/app/components/experimentation/PieChart.tsx
  ui/app/utils/clickhouse/helpers.test.ts
  ui/app/utils/clickhouse/helpers.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add E2E tests for include_raw_response and pre-stream errors
  tensorzero-core/tests/e2e/raw_response/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Limit height of tool result and error blocks in autopilot (#6276)
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/PendingToolCallCard.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add E2E tests for include_raw_response and pre-stream errors (#6326)
  tensorzero-core/tests/e2e/raw_response/error.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

CacheBackend => CacheManager
  evaluations/src/types.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  tensorzero-core/src/cache.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/db/valkey/cache.rs
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
  tensorzero-core/src/endpoints/openai_compatible/embeddings.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/db/rate_limit_queries.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/benchmark.rs
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add ttl config for valkey writes
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/db/valkey/cache.rs
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/db/rate_limit_queries.rs
  tensorzero-core/tests/e2e/rate_limiting_startup.rs
  tensorzero-core/tests/load/rate-limit-load-test/src/benchmark.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

feat: implement Valkey cache backend
  evaluations/src/types.rs
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
  tensorzero-core/src/cache.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/valkey/cache.rs
  tensorzero-core/src/db/valkey/mod.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
  tensorzero-core/src/endpoints/openai_compatible/embeddings.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Pick cache backend inside Cachemanager
  clients/rust/src/test_helpers.rs
  tensorzero-core/src/cache.rs
  tensorzero-core/src/db/valkey/cache.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
