Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Add SFT optimization guide and example (#5633)
  docs/docs.json
  docs/gateway/guides/inference-time-optimizations.mdx
  docs/optimization/index.mdx
  docs/optimization/supervised-fine-tuning-sft.mdx
  examples/docs/guides/optimization/supervised-fine-tuning/README.md
  examples/docs/guides/optimization/supervised-fine-tuning/config/functions/extract_entities/initial_prompt/system_template.minijinja
  examples/docs/guides/optimization/supervised-fine-tuning/config/functions/extract_entities/output_schema.json
  examples/docs/guides/optimization/supervised-fine-tuning/config/tensorzero.toml
  examples/docs/guides/optimization/supervised-fine-tuning/docker-compose.yml
  examples/docs/guides/optimization/supervised-fine-tuning/main.py
  examples/docs/guides/optimization/supervised-fine-tuning/ner.py
  examples/docs/guides/optimization/supervised-fine-tuning/pyproject.toml
  examples/docs/guides/optimization/supervised-fine-tuning/requirements.txt
  examples/docs/guides/optimization/supervised-fine-tuning/uv.lock
  recipes/dicl/dicl.ipynb
  recipes/dicl/dicl.png
  recipes/dicl/dicl_nb.py
  recipes/dicl/pyproject.toml
  recipes/mipro/README.md
  recipes/supervised_fine_tuning/README.md
  recipes/supervised_fine_tuning/fireworks/.env.example
  recipes/supervised_fine_tuning/fireworks/fireworks.ipynb
  recipes/supervised_fine_tuning/fireworks/fireworks_nb.py
  recipes/supervised_fine_tuning/fireworks/pyproject.toml
  recipes/supervised_fine_tuning/gcp-vertex-gemini/.env.example
  recipes/supervised_fine_tuning/gcp-vertex-gemini/pyproject.toml
  recipes/supervised_fine_tuning/openai/openai.ipynb
  recipes/supervised_fine_tuning/openai/openai_nb.py
  recipes/supervised_fine_tuning/openai/pyproject.toml
  recipes/supervised_fine_tuning/together/.env.example
  recipes/supervised_fine_tuning/together/pyproject.toml
  recipes/supervised_fine_tuning/together/together.ipynb
  recipes/supervised_fine_tuning/together/together_nb.py
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, compile-check-notebooks

Fix variant BasicInfo rendering '0' when numeric fields are zero (#6128)
  ui/app/routes/observability/functions/$function_name/variants/VariantBasicInfo.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove section divider comments from function-data.server.ts
  ui/app/routes/observability/functions/$function_name/function-data.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use getErrorMessage utility for error extraction
  ui/app/routes/workflow-evaluations/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add streaming to evaluation detail page (#6089)
  ui/app/routes/evaluations/$evaluation_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Extract Variants section with independent Suspense boundary
  ui/app/routes/observability/functions/$function_name/VariantsSection.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants-data.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix Prettier formatting and e2e test strict mode violation
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.tsx
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add rft docs
  docs/docs.json
  docs/optimization/index.mdx
  docs/optimization/reinforcement-fine-tuning-rft.mdx
  examples/docs/guides/optimization/reinforcement-fine-tuning/README.md
  examples/docs/guides/optimization/reinforcement-fine-tuning/config/functions/extract_entities/initial_prompt/system_template.minijinja
  examples/docs/guides/optimization/reinforcement-fine-tuning/config/functions/extract_entities/output_schema.json
  examples/docs/guides/optimization/reinforcement-fine-tuning/config/tensorzero.toml
  examples/docs/guides/optimization/reinforcement-fine-tuning/docker-compose.yml
  examples/docs/guides/optimization/reinforcement-fine-tuning/main.py
  examples/docs/guides/optimization/reinforcement-fine-tuning/ner.py
  examples/docs/guides/optimization/reinforcement-fine-tuning/pyproject.toml
  examples/docs/guides/optimization/reinforcement-fine-tuning/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use AlertTriangle for failed SFT job error notice
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix Prettier formatting
  ui/app/routes/observability/functions/$function_name/VariantsSection.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

give input, use json
  docs/optimization/reinforcement-fine-tuning-rft.mdx
  examples/docs/guides/optimization/reinforcement-fine-tuning/main.py
Due: none

Update line drawing and Storybook to show separation with epsilon tolerance
  ui/app/components/autopilot/EventStream.stories.tsx
  ui/app/components/autopilot/TopKEvaluationViz.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update Cargo.lock
  Cargo.lock
Due: none

Normalize docker compose space
  docs/deployment/postgres.mdx
  examples/docs/guides/operations/centralize-auth-rate-limits-and-more/auth/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make migrations more obvious
  docs/deployment/postgres.mdx
  tensorzero-core/src/db/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Normalize PostgreSQL -> Postgres
  AGENTS.md
  clients/python/src/lib.rs
  docs/deployment/tensorzero-gateway.mdx
  docs/gateway/configuration-reference.mdx
  evaluations/src/lib.rs
  gateway/src/cli.rs
  gateway/src/main.rs
  gateway/tests/common/mod.rs
  internal/tensorzero-auth/src/middleware.rs
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/postgres/inference_filter_helpers.rs
  tensorzero-core/src/db/postgres/migrations/20260116210000_feedback_tables.sql
  tensorzero-core/src/db/postgres/rate_limiting.rs
  tensorzero-core/src/db/postgres/test_helpers.rs
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-core/tests/load/rate-limit-load-test/README.md
  ui/fixtures/config.xml
  ui/fixtures/load_fixtures_postgres.sh
  ui/generate-autopilot-data.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Normalize docker compose space (#6198)
  docs/deployment/postgres.mdx
  examples/docs/guides/operations/centralize-auth-rate-limits-and-more/auth/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Extract server-only data fetching to route.server.ts
  ui/app/routes/workflow-evaluations/projects/$project_name/route.server.ts
  ui/app/routes/workflow-evaluations/projects/$project_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Extract server-only data fetching to route.server.ts
  ui/app/routes/workflow-evaluations/route.server.ts
  ui/app/routes/workflow-evaluations/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix chart legend layout shift by rendering legends outside chart container
  ui/app/components/experimentation/PieChart.tsx
  ui/app/components/function/variant/FeedbackCountsTimeseries.tsx
  ui/app/components/function/variant/FeedbackMeansTimeseries.tsx
  ui/app/components/function/variant/VariantPerformance.tsx
  ui/app/components/function/variant/VariantThroughput.tsx
  ui/app/components/model/ModelLatency.tsx
  ui/app/components/model/ModelUsage.tsx
  ui/app/components/ui/chart.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Extract ProjectsSection and RunsSection components from route
  ui/app/routes/workflow-evaluations/ProjectsSection.tsx
  ui/app/routes/workflow-evaluations/RunsSection.tsx
  ui/app/routes/workflow-evaluations/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Extract dicl queries for Clickhouse
  tensorzero-core/src/db/clickhouse/dicl_queries.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/tests/e2e/db/dicl_queries.rs
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-optimizers/Cargo.toml
  tensorzero-optimizers/src/dicl.rs
  tensorzero-optimizers/tests/e2e/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix schemas for autopilot test tools to work in strict mode
  internal/autopilot-tools/src/fix_strict_tool_schema.rs
  internal/autopilot-tools/src/lib.rs
  internal/autopilot-tools/src/tools/test/echo.rs
  internal/autopilot-tools/src/tools/test/error_simple.rs
  internal/autopilot-tools/src/tools/test/failing.rs
  internal/autopilot-tools/src/tools/test/flaky.rs
  internal/autopilot-tools/src/tools/test/good_simple.rs
  internal/autopilot-tools/src/tools/test/panic.rs
  internal/autopilot-tools/src/tools/test/slow.rs
  internal/autopilot-tools/src/tools/test/slow_simple.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Implement dicl queries postgres
  tensorzero-core/src/db/postgres/dicl_queries.rs
  tensorzero-core/src/db/postgres/migrations/20260205120000_dicl_examples.sql
  tensorzero-core/src/db/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Raise exception if value is not uint128
  tensorzero-core/src/db/postgres/migrations/20260204194624_workflow_evaluation_tables.sql
Due: none

Allow track-and-stop config to be re-used
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Show configured variants with zero inferences in function detail page
  ui/app/routes/observability/functions/$function_name/FunctionVariantTable.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Return quantiles together with latencies for UI to prepare for postgres
  internal/tensorzero-node/lib/bindings/GetModelLatencyResponse.ts
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/postgres/model_inferences.rs
  tensorzero-core/src/endpoints/internal/models/mod.rs
  tensorzero-core/src/endpoints/internal/models/types.rs
  tensorzero-core/tests/e2e/endpoints/internal/models.rs
  ui/app/components/model/ModelLatency.tsx
  ui/app/routes/observability/models/route.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix inconsistent weight fallback between variant loops
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Align y-axis on top and bottom charts
  ui/app/components/autopilot/TopKEvaluationViz.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix prettier formatting in ProjectsSection and RunsSection
  ui/app/routes/workflow-evaluations/ProjectsSection.tsx
  ui/app/routes/workflow-evaluations/RunsSection.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix test
  tensorzero-core/src/experimentation/track_and_stop/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add React Router streaming to inference detail page (#5804)
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/components/feedback/FeedbackTable.tsx
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/ui/TimestampTooltip.tsx
  ui/app/components/ui/error/ErrorContentPrimitives.tsx
  ui/app/routes/api/feedback/route.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/DatapointBasicInfo.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/FeedbackSection.tsx
  ui/app/routes/observability/inferences/$inference_id/HumanFeedbackAction.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceActionBar.tsx
  ui/app/routes/observability/inferences/$inference_id/InputSection.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferenceItem.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferencesSection.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferencesTable.tsx
  ui/app/routes/observability/inferences/$inference_id/ParameterCard.tsx
  ui/app/routes/observability/inferences/$inference_id/TryWithVariantAction.tsx
  ui/app/routes/observability/inferences/$inference_id/inference-data.server.ts
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/routes/workflow-evaluations/runs/$run_id/WorkflowEvaluationRunBasicInfo.tsx
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add streaming to workflow evaluation run detail page
  ui/app/routes/workflow-evaluations/runs/$run_id/BasicInfoSection.tsx
  ui/app/routes/workflow-evaluations/runs/$run_id/EpisodesSection.tsx
  ui/app/routes/workflow-evaluations/runs/$run_id/route.server.ts
  ui/app/routes/workflow-evaluations/runs/$run_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add streaming to workflow evaluation project page
  ui/app/routes/workflow-evaluations/projects/$project_name/ResultsSection.tsx
  ui/app/routes/workflow-evaluations/projects/$project_name/route.server.ts
  ui/app/routes/workflow-evaluations/projects/$project_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix FireworksSFTJobHandle mock in FineTuningStatus stories
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Return quantiles together with latencies for UI to prepare for postgres (#6205)
  internal/tensorzero-node/lib/bindings/GetModelLatencyResponse.ts
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/postgres/model_inferences.rs
  tensorzero-core/src/endpoints/internal/models/mod.rs
  tensorzero-core/src/endpoints/internal/models/types.rs
  tensorzero-core/tests/e2e/endpoints/internal/models.rs
  ui/app/components/model/ModelLatency.tsx
  ui/app/routes/observability/models/route.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add disabled PageButtons to episodes skeleton
  ui/app/routes/workflow-evaluations/runs/$run_id/EpisodesSection.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add disabled PageButtons to section skeletons
  ui/app/routes/workflow-evaluations/ProjectsSection.tsx
  ui/app/routes/workflow-evaluations/RunsSection.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add disabled PageButtons to results skeleton
  ui/app/routes/workflow-evaluations/projects/$project_name/ResultsSection.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
