Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

added feedback tags to FeedbackTable and stories (#3220)
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/feedback/FeedbackTable.tsx
  ui/app/components/feedback/TagsBadges.test.tsx
  ui/app/components/feedback/TagsBadges.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed dates
  ui/app/components/function/variant/VariantThroughput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cleaned up other pr comments
  ui/app/components/function/variant/VariantThroughput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

disabled buildkite tests for external PRs
  .github/workflows/buildkite-test-suite.yml
Due: prettier: ui, prettier: openai-node

oops forgot a file
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0036.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added a start to a buildkite merge queue job
  .config/nextest.toml
  .github/workflows/buildkite-merge-queue.yml
  ci/buildkite/live-tests.sh
  ci/buildkite/merge-queue-tests.yml
Due: prettier: ui, prettier: openai-node

removed x from scripts that handle secrets
  ci/buildkite/clickhouse-tests.sh
  ci/buildkite/download-fixtures.sh
  ci/buildkite/live-tests.sh
  ci/buildkite/node-unit-tests.sh
  ci/buildkite/rust-unit-tests.sh
  ci/buildkite/test-clickhouse-cloud.sh
  ci/buildkite/ui-e2e-tests.sh
Due: none

temporarily turn on merge queue buildkite tests
  .github/workflows/buildkite-merge-queue.yml
  .github/workflows/buildkite-test-suite.yml
Due: prettier: ui, prettier: openai-node

fixed name of merge queue gh workflow
  .github/workflows/buildkite-merge-queue.yml
Due: prettier: ui, prettier: openai-node

try this?
  ci/buildkite/merge-queue-tests.yml
Due: prettier: ui, prettier: openai-node

disabled buildkite tests for external PRs (#3270)
  .github/workflows/buildkite-test-suite.yml
Due: prettier: ui, prettier: openai-node

added cumulative sql query to throughput chart
  ui/app/utils/clickhouse/function.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

bindings
  internal/tensorzero-node/lib/bindings/TableBoundsWithCount.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added a disk clear before live tests
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Update the ner-sft-dpo notebook
  examples/data-extraction-ner-sft-dpo/ner-sft-dpo.ipynb
Due: none

allow dummy jobs to run for docs PRs
  .github/workflows/dummy.yml
Due: prettier: ui, prettier: openai-node

Revert "feat(mock-inference-provider): add support for Together and GCP Vertex Gemini"
  tensorzero-core/tests/mock-inference-provider/src/gcp_vertex_gemini.rs
  tensorzero-core/tests/mock-inference-provider/src/main.rs
  tensorzero-core/tests/mock-inference-provider/src/together.rs
  tensorzero-core/tests/optimization/mock_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Cleanup
  Cargo.lock
  tensorzero-core/tests/mock-inference-provider/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Make uv more reliable in CI
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/python-client-build.yml
  .github/workflows/upgrade-tensorzero-deps.yml
Due: prettier: ui, prettier: openai-node

added retries to all variants in UI tests
  ui/fixtures/config/tensorzero.e2e.toml
Due: none

Add retries to Rust installation
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node

Make it compatible with Windows
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node

Add retries to uv, pnpm, rustup + disk cleanup
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/slash-command-regen-fixtures.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
  AGENTS.md
Due: prettier: ui, prettier: openai-node

Cleanup
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/python-client-build.yml
  .github/workflows/slash-command-regen-fixtures.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

fixed sloppy parts
  ci/buildkite/clickhouse-tests.sh
  ci/buildkite/pr-tests.yml
Due: prettier: ui, prettier: openai-node

Use StoredInput in batch inference
  evaluations/tests/tests.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/batch.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/tests/e2e/batch/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Skip starting Buildkite for Dependabot PR CI
  .github/workflows/buildkite-test-suite.yml
Due: prettier: ui, prettier: openai-node

added jwt secret handling
  ci/buildkite/live-tests.sh
Due: none

loosened check on clickhouse assertion
  ci/buildkite/clickhouse-tests.sh
Due: none

Rustup
  .github/workflows/batch-test.yml
  .github/workflows/caching-hack.yml
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/optimization-test-cron.yml
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

Rustup
  .github/workflows/batch-test.yml
  .github/workflows/caching-hack.yml
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/optimization-test-cron.yml
  .github/workflows/python-client-build.yml
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

Rustup
  .github/workflows/batch-test.yml
  .github/workflows/caching-hack.yml
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/optimization-test-cron.yml
  .github/workflows/python-client-build.yml
  .github/workflows/slash-command-regen-fixtures.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
  AGENTS.md
Due: prettier: ui, prettier: openai-node

Rustup
  .github/workflows/batch-test.yml
  .github/workflows/caching-hack.yml
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/optimization-test-cron.yml
  .github/workflows/python-client-build.yml
  .github/workflows/slash-command-regen-fixtures.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

added secret handling
  ci/buildkite/live-tests.sh
  ci/buildkite/utils/live-tests-env.sh
Due: none

Add extension trait for registering OpenAI-compatible routes
  gateway/src/main.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add retries to uv, pnpm, rustup + disk cleanup (#3279)
  .github/workflows/batch-test.yml
  .github/workflows/caching-hack.yml
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .github/workflows/optimization-test-cron.yml
  .github/workflows/python-client-build.yml
  .github/workflows/slash-command-regen-fixtures.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
  .github/workflows/upgrade-tensorzero-deps.yml
  AGENTS.md
Due: prettier: ui, prettier: openai-node

try this?
  ci/buildkite/live-tests.sh
Due: none

do we even need node here?
  ci/buildkite/live-tests.sh
Due: none

added loading states to dataset builder (#3108)
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/datasets/builder/DatasetCountDisplay.tsx
  ui/app/routes/datasets/builder/OutputSourceSelector.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node
