Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

cargo-deny:
  name: cargo deny
  entry: cargo deny check bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd ui && npm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ui && npm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd ui && npm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Update
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
Due: prettier

added beginning of functions view
  ui/app/routes.ts
  ui/app/routes/observability/function/FunctionInferenceTable.tsx
  ui/app/routes/observability/function/route.tsx
  ui/app/routes/observability/functions/FunctionsTable.tsx
  ui/app/routes/observability/functions/route.tsx
  ui/app/routes/observability/inference/BasicInfo.tsx
  ui/app/routes/observability/inference/InferenceDetail.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
Due: prettier, eslint, tsc

added functions page to sidebar and homepage
  ui/app/components/ui/sidebar/app.sidebar.tsx
  ui/app/routes/index.tsx
Due: prettier, eslint, tsc

Only use '#[wasm_bindgen_test]' for wasm-only tests
  ui/app/utils/minijinja/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

prevented scroll reset for all buttons
  ui/app/routes/observability/episode/route.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/routes/observability/function/route.tsx
  ui/app/routes/observability/inference/route.tsx
  ui/app/routes/observability/inferences/route.tsx
Due: prettier, eslint, tsc

added full schema loading / parsing and display
  ui/app/components/ui/collapsible.tsx
  ui/app/utils/config/function.server.ts
  ui/app/utils/config/function.ts
  ui/package-lock.json
  ui/package.json
Due: prettier, eslint, tsc

Only use '#[wasm_bindgen_test]' for wasm-only tests (#801)
  ui/app/utils/minijinja/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

chore: migrate from npm to pnpm (#795)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  package-lock.json
  pnpm-lock.yaml
  ui/Dockerfile
  ui/package-lock.json
  ui/pnpm-lock.yaml
Due: prettier

feat: helper function for parsing
  ui/app/utils/clickhouse/helpers.ts
Due: prettier, eslint, tsc

added variant performance query
  ui/app/routes/observability/function/BasicInfo.tsx
  ui/app/routes/observability/functions/FunctionsTable.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
  ui/app/utils/config/index.test.ts
Due: prettier, eslint, tsc

feat: schema validation for feedback
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/feedback.ts
Due: prettier, eslint, tsc

feat: schema validation for inference
  ui/app/utils/clickhouse/feedback.ts
  ui/app/utils/clickhouse/inference.ts
Due: prettier, eslint, tsc

added intermediate code for variant chart
  ui/app/routes/observability/function/VariantPerformance.test.ts
  ui/app/routes/observability/function/VariantPerformance.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
  ui/package.json
Due: prettier, eslint, tsc

added padding
  ui/app/routes/observability/function/route.tsx
Due: prettier, eslint, tsc

intermediate data wrangling
  ui/app/routes/observability/function/VariantPerformance.test.ts
  ui/app/routes/observability/function/VariantPerformance.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
Due: prettier, eslint, tsc

added variant performance chart
  ui/app/routes/observability/function/VariantPerformance.tsx
  ui/app/routes/observability/function/route.tsx
Due: prettier, eslint, tsc

moved tests to approx equality for floats
  ui/app/utils/clickhouse/function.test.ts
Due: prettier, eslint, tsc

added route file and to table
  ui/app/routes.ts
  ui/app/routes/observability/function/variant/route.tsx
Due: prettier, eslint, tsc

[562] fixing ruff linting checks
  recipes/dpo/openai/openai_dpo.ipynb
Due: none

fix: following changes were made - Schema validation changed for feedback.ts and inference.ts - Type declaration for TableBounds inferred from Zod Schema - Removed Parser Helper Function
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/feedback.ts
  ui/app/utils/clickhouse/helpers.ts
  ui/app/utils/clickhouse/inference.ts
Due: prettier, eslint, tsc

Use `Arc<Config>` instead of `&'static Config` (#781)
  gateway/src/config_parser.rs
  gateway/src/endpoints/batch_inference.rs
  gateway/src/endpoints/feedback.rs
  gateway/src/endpoints/inference.rs
  gateway/src/endpoints/status.rs
  gateway/src/function.rs
  gateway/src/gateway_util.rs
  gateway/src/inference/providers/common.rs
  gateway/src/inference/types/mod.rs
  gateway/src/main.rs
  gateway/src/testing.rs
  gateway/src/tool.rs
  gateway/src/variant/best_of_n_sampling.rs
  gateway/src/variant/chat_completion.rs
  gateway/src/variant/dicl.rs
  gateway/src/variant/mixture_of_n.rs
  gateway/src/variant/mod.rs
  gateway/tests/e2e/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add better `README`s to guide examples (#794)
  examples/guides/batch-inference/README.md
  examples/guides/episodes/README.md
  examples/guides/episodes/requirements.in
  examples/guides/episodes/requirements.txt
  examples/guides/metrics-feedback/README.md
  examples/guides/metrics-feedback/requirements.in
  examples/guides/metrics-feedback/requirements.txt
  examples/guides/prompts-templates-schemas/README.md
  examples/guides/prompts-templates-schemas/requirements.in
  examples/guides/prompts-templates-schemas/requirements.txt
  examples/guides/streaming/README.md
  examples/guides/streaming/requirements.in
  examples/guides/streaming/requirements.txt
Due: prettier

added link to variant view everywhere
  ui/app/routes/observability/episode/EpisodeInferenceTable.tsx
  ui/app/routes/observability/function/FunctionInferenceTable.tsx
  ui/app/routes/observability/function/variant/route.tsx
  ui/app/routes/observability/inference/BasicInfo.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
Due: prettier, eslint, tsc

added BasicInfo for variant
  gateway/fixtures/deployment/sgl-nginx/Dockerfile
  gateway/fixtures/deployment/sgl-nginx/README.md
  ui/app/routes/observability/function/variant/BasicInfo.tsx
Due: prettier, eslint, tsc

variant view does basic stuff
  ui/app/routes/observability/function/VariantPerformance.tsx
  ui/app/routes/observability/function/variant/BasicInfo.tsx
  ui/app/routes/observability/function/variant/route.tsx
  ui/app/routes/observability/inference/ModelInferenceItem.tsx
  ui/app/utils/config/variant.ts
  ui/fixtures/config/tensorzero.toml
Due: prettier, eslint, tsc

update documentation
  examples/balrog/babyai/README.md
  examples/balrog/babyai/babyai.ipynb
Due: prettier

made aesthetic updates to FunctionsTable
  ui/app/routes/observability/functions/FunctionsTable.tsx
Due: prettier, eslint, tsc

some fixes to function detail page
  ui/app/routes/observability/function/BasicInfo.tsx
  ui/app/routes/observability/function/MetricSelector.tsx
  ui/app/routes/observability/function/VariantPerformance.tsx
  ui/app/routes/observability/function/route.tsx
  ui/app/utils/clickhouse/feedback.test.ts
  ui/app/utils/clickhouse/feedback.ts
Due: prettier, eslint, tsc

some more ui fixes
  ui/app/routes/observability/function/MetricSelector.tsx
  ui/app/routes/observability/function/VariantPerformance.tsx
  ui/app/routes/observability/function/route.tsx
Due: prettier, eslint, tsc

use json function
  examples/babyai/README.md
  examples/babyai/babyai.ipynb
  examples/babyai/config.yml
  examples/babyai/config/functions/act/baseline/system.minijinja
  examples/babyai/config/functions/act/baseline/user.minijinja
  examples/babyai/config/functions/act/history/system.minijinja
  examples/babyai/config/functions/act/history/user.minijinja
  examples/babyai/config/functions/act/history_and_reasoning/system.minijinja
  examples/babyai/config/functions/act/history_and_reasoning/user.minijinja
  examples/babyai/config/functions/act/output_schema.json
  examples/babyai/config/functions/act/reasoning/system.minijinja
  examples/babyai/config/functions/act/reasoning/user.minijinja
  examples/babyai/config/functions/act/system_schema.json
  examples/babyai/config/functions/act/user_schema.json
  examples/babyai/config/tensorzero.toml
  examples/babyai/docker-compose.yml
  examples/babyai/environment.yml
  examples/babyai/img/gpt-4o-mini_episode-length.png
  examples/babyai/img/gpt-4o-mini_episode-return.png
  examples/babyai/img/gpt-4o-mini_generated-tokens.png
  examples/babyai/img/gpt-4o-mini_input-tokens.png
  examples/babyai/img/gpt-4o-mini_success-rate.png
  examples/babyai/requirements.in
  examples/babyai/requirements.txt
  examples/balrog/babyai/config/functions/extract_action/simple_variant/system.minijinja
  examples/balrog/babyai/config/functions/generate_action/baseline/user.minijinja
  examples/balrog/babyai/config/functions/generate_action/history/user.minijinja
  examples/balrog/babyai/config/functions/generate_action/history_and_reasoning/user.minijinja
  examples/balrog/babyai/config/functions/generate_action/no_mission/system.minijinja
  examples/balrog/babyai/config/functions/generate_action/no_mission/user.minijinja
  examples/balrog/babyai/config/functions/generate_action/reasoning/user.minijinja
  examples/balrog/babyai/img/gpt-4o-mini_episode-length.png
  examples/balrog/babyai/img/gpt-4o-mini_episode-return.png
  examples/balrog/babyai/img/gpt-4o-mini_generated-tokens.png
  examples/balrog/babyai/img/gpt-4o-mini_input-tokens.png
  examples/balrog/babyai/img/gpt-4o-mini_success-rate.png
Due: prettier

update results summary
  examples/babyai/README.md
Due: prettier

many fixes to charts and fixtures
  ui/app/routes/observability/function/TimeGranularitySelector.tsx
  ui/app/routes/observability/function/VariantPerformance.test.ts
  ui/app/routes/observability/function/VariantPerformance.tsx
  ui/app/routes/observability/function/route.tsx
  ui/app/routes/observability/inference/ModelInferenceItem.tsx
  ui/app/utils/clickhouse/function.test.ts
  ui/app/utils/clickhouse/function.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/fixtures/boolean_metric_feedback_examples.csv
  ui/fixtures/chat_inference_examples.csv
  ui/fixtures/demonstration_feedback_examples.csv
  ui/fixtures/float_metric_feedback_examples.csv
  ui/fixtures/json_inference_examples.csv
Due: prettier, eslint, tsc

all float comparisons are approximate now
  ui/app/utils/clickhouse/function.test.ts
Due: prettier, eslint, tsc

add fine-tuning instructions
  examples/babyai/babyai.ipynb
  examples/babyai/config/tensorzero.toml
Due: none

[#562] fixing lints
  recipes/dpo/openai/openai_dpo.ipynb
Due: none

Adjust expected error log to refer to 'tensorzero_internal'
  tensorzero_internal/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Run 'cargo fmt'
  tensorzero_internal/tests/e2e/batch.rs
  tensorzero_internal/tests/e2e/best_of_n.rs
  tensorzero_internal/tests/e2e/clickhouse.rs
  tensorzero_internal/tests/e2e/common.rs
  tensorzero_internal/tests/e2e/dicl.rs
  tensorzero_internal/tests/e2e/feedback.rs
  tensorzero_internal/tests/e2e/inference.rs
  tensorzero_internal/tests/e2e/mixture_of_n.rs
  tensorzero_internal/tests/e2e/providers/batch.rs
  tensorzero_internal/tests/e2e/providers/common.rs
  tensorzero_internal/tests/e2e/providers/openai.rs
  tensorzero_internal/tests/e2e/retries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Adjust path to e2e tensorzero.toml
  .cargo/config.toml
  ui/app/utils/config/index.test.ts
Due: prettier, eslint, tsc

Adding Recipe for fine-tuning based on Direct Preference Optimization (DPO) (#742)
  examples/ner-fine-tuning-demonstrations/conll.ipynb
  recipes/dpo/openai/README.md
  recipes/dpo/openai/openai_dpo.ipynb
  recipes/dpo/openai/requirements.in
  recipes/dpo/openai/requirements.txt
Due: prettier

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$
