Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

fixed cache and cache generation script
  ui/fixtures/model_inference_cache_e2e.jsonl
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

fixed typing for dispreferred_outputs in constructor
  clients/python/tensorzero/tensorzero.pyi
Due: none

added Fireworks credentials to daily optimization job
  .github/workflows/optimization-test-cron.yml
Due: prettier: ui, prettier: openai-node

fixed overlapping type names that cause nondetermistic type building
  internal/tensorzero-node/lib/bindings/BestOfNEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/BestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added Fireworks credentials to daily optimization job (#2714)
  .github/workflows/optimization-test-cron.yml
  internal/tensorzero-node/lib/bindings/BestOfNEvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/BestOfNSamplingConfig.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

maybe fixed cache?
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

fixed playwright test, possibly
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

wip
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added better deserializer to JsonInferenceDatapointInsert
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/serde_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added a new e2e test
  tensorzero-core/src/endpoints/datasets.rs
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
  ui/fixtures/.python-version
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

changed dataset name
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added a unit test
  tensorzero-core/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed playwright test
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cleaned up add/edit/save test
  ui/e2e_tests/datasets.$dataset_name.datapoint.$datapoint_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

added defaults to clickhouse metadata headers
  tensorzero-core/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

debug
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

moved all clickhouse query methods to return clickhouseResult
  evaluations/src/dataset.rs
  evaluations/src/helpers.rs
  examples/integrations/cursor/feedback/src/clickhouse.rs
  tensorzero-core/src/cache.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0003.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0004.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0005.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0013.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0020.rs
  tensorzero-core/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/clickhouse/test_helpers.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/src/endpoints/dynamic_evaluation_run.rs
  tensorzero-core/src/endpoints/feedback.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/common.rs
  tensorzero-core/tests/e2e/providers/batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

crabtest
  tensorzero-core/src/cache.rs
  ui/fixtures/docker-compose.ui.yml
  ui/fixtures/regenerate-model-inference-cache.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

fixed upload thing
  .github/workflows/slash-command-regen-fixtures.yml
Due: prettier: ui, prettier: openai-node

added aws creds to regen-fixtures
  .github/workflows/slash-command-regen-fixtures.yml
Due: prettier: ui, prettier: openai-node

removed crab
  tensorzero-core/src/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add back Rust e2e ui tests
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

remove ssh
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

removed rust tests
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

added dataset staling method
  tensorzero-core/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  clients/rust/src/lib.rs
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

e2e tests pass
  clients/rust/src/lib.rs
  tensorzero-core/src/clickhouse/test_helpers.rs
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added stale dataset to Node client
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added extra binding file
  internal/tensorzero-node/lib/bindings/StaleDatasetResponse.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added a flag to cache writes
  tensorzero-core/src/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

retrieved cache fixture from main
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

removed print
  tensorzero-core/src/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed change in cache script
  ui/fixtures/regenerate-model-inference-cache.sh
Due: none

wip
  clients/python/src/lib.rs
  clients/rust/src/lib.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/optimization/openai_sft/mod.rs
  tensorzero-core/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added launch optimization and poll to client
  clients/python/src/lib.rs
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/openai_sft/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add optimization functions
  tensorzero-core/src/providers/gcp_vertex_gemini/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed stubs
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  tensorzero-core/src/optimization/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/openai_sft/mod.rs
  tensorzero-core/tests/e2e/docker-compose.yml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
