Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Make datapoint_ids optional rather than requiring it to be an empty vector when dataset_name is specified
  clients/python/src/lib.rs
  evaluations/src/lib.rs
  evaluations/src/main.rs
  evaluations/tests/tests.rs
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update python stubs
  clients/python/tensorzero/tensorzero.pyi
Due: none

added query for getting config from snapshot table
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped version to 2025.11.6
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add pagination by id options to list inferences
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/InternalInferenceMetadata.ts
  internal/tensorzero-node/lib/bindings/InternalListInferencesByIdResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/list_by_id.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/mod.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  ui/app/routes/observability/episodes/$episode_id/EpisodeInferenceTable.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/functions/$function_name/FunctionInferenceTable.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantInferenceTable.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add argument validation and matching test for run_evaluation_core_streaming()
  evaluations/src/lib.rs
  evaluations/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added method for initializing embedded client from ConfigSnapshot
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add python client tests for datapoint_ids parameter
  clients/python/tests/test_evaluation.py
Due: none

Remove extra option unwrap
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

clean launch function
  tensorzero-optimizers/src/gepa/pareto.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

try fixing historical migrations
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0009.rs
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0020.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

tested config query
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

update docstrings
  tensorzero-optimizers/src/gepa/pareto.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add list type annotations
  clients/python/tests/test_evaluation.py
Due: none

copilot comments
  tensorzero-optimizers/src/gepa/pareto.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added explicit columns for InferenceById
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0020.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

remove println
  tensorzero-optimizers/src/gepa/pareto.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

comment on pub
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/analyze.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added roundtrip inference test
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

StoredInput => Input
  clients/python/src/lib.rs
  clients/python/tensorzero/generated_types.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_datapoints.py
  evaluations/src/evaluators/exact_match.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/lib.rs
  evaluations/tests/tests.rs
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapoint.ts
  internal/tensorzero-node/lib/bindings/Input.ts
  internal/tensorzero-node/lib/bindings/JsonInferenceDatapoint.ts
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/tests/e2e/datasets/mod.rs
  tensorzero-optimizers/src/gepa/analyze.rs
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/playground/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.ts
  ui/app/utils/resolve.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed rollback instructions
  .github/workflows/general.yml
  tensorzero-core/src/db/clickhouse/migration_manager/migrations/migration_0043.rs
  tensorzero-core/src/db/clickhouse/migration_manager/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Perform a debug build for tensorzero-node in CI (#4797)
  .github/workflows/build-ui-container.yml
  ui/Dockerfile
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix docs about template_filesystem_access (#4825)
  docs/gateway/configuration-reference.mdx
  docs/gateway/create-a-prompt-template.mdx
  docs/operations/organize-your-configuration.mdx
Due: none

bumped version to 2025.11.6 (#4840)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix tool call merge conflicts
  tensorzero-core/src/providers/tensorzero_relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Share mock inference server builds in CI [V4] (#4791)
  .github/workflows/build-mock-inference-container.yml
  .github/workflows/general.yml
  .github/workflows/minikube.yml
  .github/workflows/mocked-batch-test.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  .github/workflows/ui-tests.yml
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
  tensorzero-core/tests/e2e/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Switch image_url tests to use Anthropic (#4799)
  tensorzero-core/tests/e2e/image_url.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add mutate function
  tensorzero-core/src/config/built_in.rs
  tensorzero-optimizers/src/gepa/functions/mutate/system_template.minijinja
  tensorzero-optimizers/src/gepa/functions/mutate/user_template.minijinja
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/gepa/mutate.rs
  ui/e2e_tests/homePage.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add GEPA evaluation infrastructure for variant assessment (#4669)
  tensorzero-optimizers/src/gepa/evaluate.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/lib.rs
  tensorzero-optimizers/tests/e2e/gepa/analyze.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename test-e2e-no-creds => test-clickhouse
  .cargo/config.toml
  .github/workflows/general.yml
  ci/buildkite/test-clickhouse-cloud.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

deprecated embedding model timeouts; added StoredConfig type and conversion to UninitializedConfig
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/config/stored.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix EvaluationCoreArgs given new datapoint_ids arg
  tensorzero-optimizers/src/gepa/evaluate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename test-e2e-no-creds => test-clickhouse (#4846)
  .cargo/config.toml
  .github/workflows/general.yml
  ci/buildkite/test-clickhouse-cloud.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

format and refactor
  tensorzero-core/tests/e2e/openai_spec_compliance.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

remove unnecessary file
  tensorzero-core/tests/e2e/njken.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

AWS Bedrock Dynamic keys handling
  Cargo.lock
  tensorzero-core/Cargo.toml
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/aws_common.rs
  tensorzero-core/tests/e2e/config/tensorzero.aws_bedrock_dynamic_endpoint.toml
Due: cargo-deny, cargo-fmt, cargo-clippy

Add `datapoint_ids` option to run_evaluation in CLI and Python client (#4711)
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_evaluation.py
  evaluations/src/lib.rs
  evaluations/src/main.rs
  evaluations/tests/tests.rs
  internal/tensorzero-node/lib/bindings/EvaluationRunStartEvent.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-optimizers/src/gepa/evaluate.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add pagination by id options to list inferences (#4755)
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/InternalInferenceMetadata.ts
  internal/tensorzero-node/lib/bindings/InternalListInferencesByIdResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/list_by_id.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/mod.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  ui/app/routes/observability/episodes/$episode_id/EpisodeInferenceTable.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/functions/$function_name/FunctionInferenceTable.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantInferenceTable.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/clickhouse/inference.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

StoredInput => Input (#4736)
  clients/python/src/lib.rs
  clients/python/tensorzero/generated_types.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_datapoints.py
  evaluations/src/evaluators/exact_match.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/lib.rs
  evaluations/tests/tests.rs
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapoint.ts
  internal/tensorzero-node/lib/bindings/Input.ts
  internal/tensorzero-node/lib/bindings/JsonInferenceDatapoint.ts
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/tests/e2e/datasets/mod.rs
  tensorzero-optimizers/src/gepa/analyze.rs
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/playground/route.tsx
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.ts
  ui/app/utils/resolve.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Allow null chat datapoint updates (#4779)
  clients/python/tensorzero/generated_types.py
  clients/rust/tests/test_datasets.rs
  internal/tensorzero-node/lib/bindings/UpdateChatDatapointRequest.ts
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
