Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

updated cache fixture
  ui/fixtures/model_inference_cache_examples.jsonl
Due: none

Update ui/app/utils/evaluations.server.ts
  ui/app/utils/evaluations.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

modal width fix
  ui/app/routes/observability/inferences/$inference_id/ModelInferencesTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Convert simple inference E2E test to use Rust client
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix extra headers
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add `lookback_s` to CacheParamsOptions
  evaluations/src/helpers.rs
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Revert "Add `lookback_s` to CacheParamsOptions"
  evaluations/src/helpers.rs
  tensorzero-internal/src/cache.rs
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Convert reasoning inference tests
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Convert simple streaming inference request test
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed sheet width issue
  ui/app/components/ui/sheet.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferencesTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Convert tool choice test
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

template for json_fail
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

update
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

update: changed structs to openai compatible
  tensorzero-internal/src/inference/providers/ollama.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add: e2e test file
  tensorzero-internal/tests/e2e/ollama.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try sccache again for ui Dockerfile (#2077)
  ui/Dockerfile
Due: none

Use reuseable workflow to build PyO3 wheels (#2085)
  .github/workflows/general.yml
  .github/workflows/pyo3-build-reusable.yml
  .github/workflows/pypi-publish.yml
Due: prettier: ui, prettier: openai-node

Increase model inference modal width (#2095)
  ui/app/components/ui/sheet.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferencesTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix CH type issue in the UI
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add Remix x Storybook plugin
  ui/package.json
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

fixed color going away on refresh (#2066)
  ui/app/hooks/evaluations/ColorAssigner.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add cached badge (#1994)
  ui/app/components/icons/Icons.tsx
  ui/app/components/layout/ActionBar.tsx
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/components/ui/Chip.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceBasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferenceItem.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix getFunctionTypeIcon
  ui/app/utils/icon.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rework gateway debug logging and log HTTP requests (#2065)
  Cargo.lock
  clients/python-pyo3/src/lib.rs
  gateway/Cargo.toml
  gateway/src/main.rs
  gateway/tests/logging.rs
  tensorzero-internal/src/observability.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Revert "Try sccache again for ui Dockerfile (#2077)"
  ui/Dockerfile
Due: none

added basic inferance cache test, few other streaming Inference
  clients/openai-go/go.mod
  clients/openai-go/go.sum
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

Revert "Try sccache again for ui Dockerfile (#2077)" (#2098)
  ui/Dockerfile
Due: none

test understreaming Inference updated
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

test under streaming Inference updated
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

Fix CH type issue in the UI (#2096)
  ui/app/utils/clickhouse/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

test support for non-deprecated format
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

test supporting to toolcalling added
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

fix: metadata field changes
  tensorzero-internal/src/inference/providers/ollama.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add: ollama shorthand
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add: ollama e2e tests
  tensorzero-internal/tests/e2e/ollama.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/ollama.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add example integrating TensorZero with Helicone (#749)
  examples/integrations/helicone/.env.example
  examples/integrations/helicone/README.md
  examples/integrations/helicone/config/tensorzero.toml
  examples/integrations/helicone/docker-compose.yml
  examples/integrations/helicone/main_curl.sh
  examples/integrations/helicone/main_openai.py
  examples/integrations/helicone/main_openai.ts
  examples/integrations/helicone/main_tensorzero.py
  examples/integrations/helicone/package-lock.json
  examples/integrations/helicone/package.json
  examples/integrations/helicone/pyproject.toml
  examples/integrations/helicone/requirements.txt
  examples/integrations/helicone/uv.lock
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added sleeps to help with e2e tests
  ui/app/components/layout/BasicInfoLayout.tsx
  ui/app/components/ui/Chip.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceBasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInferenceItem.tsx
  ui/e2e_tests/datasets.$dataset_name.spec.ts
  ui/e2e_tests/dynamic_evaluations.projects.$project_name.spec.ts
  ui/e2e_tests/observability.functions.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node
