Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Adapt tests to use json_object with schema
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

WIP response format
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove groq-default
  tensorzero-internal/tests/e2e/providers/groq.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Groq-specific models and variants
  tensorzero-internal/tests/e2e/providers/groq.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Replace constants and types
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add missing mod.rs entry
  tensorzero-internal/tests/e2e/providers/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

`tool_choice: "required"` not working as expected
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update src/model.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove no-longer used imports
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Missing shorthand prefix
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add model_name() and mappings
  tensorzero-internal/src/inference/providers/groq.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add weather helper variants
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Update github workflows
  .github/workflows/batch-test.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Replace custom url
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Groq doesn't support streaming in json mode
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add missing supports_batch_inference field to test providers
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use llama scout
  tensorzero-internal/tests/e2e/providers/groq.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Groq doesn't support `tool_choice: specific`
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Blind ui changes
  ui/app/components/model/ModelBadge.tsx
  ui/app/components/model/ModelBadges.tsx
  ui/app/utils/config/models.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rename provider name in e2e test
  tensorzero-internal/tests/e2e/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Manually tested and it works. Now fixing remaining tests (WIP)
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove WrappedProvider implementation
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Updated dependencies
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy issues
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Hardcode request url
  tensorzero-internal/src/inference/providers/groq.rs
  tensorzero-internal/src/model.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove embedding request
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix guide example
  examples/guides/providers/groq/config/tensorzero.toml
Due: none

Remove batch inference
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove stale test
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Formatting
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add env var to Github workflows
  .github/workflows/batch-test.yml
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

Readme link
  README.md
Due: prettier: ui, prettier: openai-node

Add headers to batch polling
  tensorzero-internal/src/inference/providers/openrouter.rs
  tensorzero-internal/tests/e2e/providers/openrouter.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Guide example
  examples/guides/providers/openrouter/README.md
  examples/guides/providers/openrouter/config/tensorzero.toml
  examples/guides/providers/openrouter/docker-compose.yml
Due: prettier: ui, prettier: openai-node

Appease clippy
  tensorzero-internal/src/inference/providers/openrouter.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

UI changes - model config and badges
  ui/app/components/model/ModelBadge.tsx
  ui/app/components/model/ModelBadges.tsx
  ui/app/utils/config/models.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Let's use GPT 4.1
  examples/guides/providers/openrouter/config/tensorzero.toml
Due: none

Remove batch
  tensorzero-internal/src/inference/providers/openrouter.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Test X-Title and HTTP-Referer headers are sent
  ci/provider-proxy-cache/openrouter.ai-971980ab54069b6428781077dfb91b1c71e9963bf5d5a63927419f49be0b943d
  provider-proxy/src/lib.rs
  tensorzero-internal/tests/e2e/providers/openrouter.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Inject X-Title and HTTP-Referrer in all requests
  tensorzero-internal/src/inference/providers/openrouter.rs
  tensorzero-internal/tests/e2e/providers/openrouter.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
