Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Adjust test to account for write_inference span
  tensorzero-core/tests/e2e/inference/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

consolidate checks
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/run_evaluation.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

updated to latest durable
  Cargo.lock
  Cargo.toml
Due: none

all spawns should be by name now
  internal/autopilot-tools/tests/launch_optimization_workflow_tool.rs
  internal/autopilot-worker/src/worker.rs
  internal/durable-tools/src/error.rs
  internal/durable-tools/src/executor.rs
  internal/durable-tools/tests/integration.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

error handling
  internal/durable-tools/src/action.rs
  internal/durable-tools/src/run_evaluation.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/durable-tools/src/tensorzero_client/embedded.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed documentation
  internal/durable-tools/README.md
  internal/durable-tools/src/executor.rs
  internal/durable-tools/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update docs
  docs/deployment/postgres.mdx
  docs/deployment/valkey-redis.mdx
  docs/deployment/valkey.mdx
  docs/docs.json
  docs/gateway/configuration-reference.mdx
  docs/operations/enforce-custom-rate-limits.mdx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add (broken) example
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/.python-version
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/README.md
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/config/tensorzero.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/docker-compose.yml
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/openai_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/pyproject.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/requirements.txt
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/tensorzero_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/uv.lock
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/.python-version
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/README.md
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/config/tensorzero.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/docker-compose.yml
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/openai_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/pyproject.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/requirements.txt
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/tensorzero_sdk.py
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/uv.lock
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add (broken) example
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/README.md
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add (broken) example
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/pyproject.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/requirements.txt
  examples/docs/guides/operations/enforce-custom-rate-limits/postgres/uv.lock
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/pyproject.toml
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/requirements.txt
  examples/docs/guides/operations/enforce-custom-rate-limits/valkey-redis/uv.lock
Due: none

ripped other default instance
  internal/durable-tools/src/registry.rs
  internal/durable-tools/src/simple_tool.rs
  internal/durable-tools/src/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix docker hub publish action when run from release
  .github/workflows/docker-hub-publish.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix docker hub publish action when run from release (#5823)
  .github/workflows/docker-hub-publish.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Use DisplayOrDebugGateway for autopilot errors
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use Namespace builders for building '-dev' containers
  .github/workflows/docker-hub-publish.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Experimentation queries run for Postgres only
  ci/buildkite/test-clickhouse-cloud.sh
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-core/tests/e2e/db/postgres/experimentation_queries.rs
  tensorzero-core/tests/e2e/db/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Refactor clickhouse tests to split out postgres
  .cargo/config.toml
  .config/nextest.toml
  .github/workflows/general.yml
  ci/buildkite/test-clickhouse-cloud.sh
  internal/tensorzero-auth/tests/e2e/db/mod.rs
  internal/tensorzero-auth/tests/e2e/db/postgres.rs
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.yml
  ui/fixtures/docker-compose.yml
  ui/fixtures/load_fixtures_postgres.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Run format
  tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix tests
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove random suffix from raw usage test
  tensorzero-core/tests/e2e/providers/commonv2/raw_usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove random suffix from raw usage test (#5827)
  tensorzero-core/tests/e2e/providers/commonv2/raw_usage.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use Namespace builders for building '-dev' containers (#5825)
  .github/workflows/docker-hub-publish.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Extract feedback writing methods behind the FeedbackQueries trait
  tensorzero-core/src/db/clickhouse/feedback.rs
  tensorzero-core/src/db/feedback.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/tests/e2e/db/feedback_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

bumped version to 2026.1.4
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix OpenAI auth format with base path
  gateway/tests/error_json.rs
  internal/tensorzero-auth/src/middleware.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix one env var
  docs/operations/enforce-custom-rate-limits.mdx
Due: none

Streaming Responses API include_encrypted_reasoning
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/responses.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add roundtrip tests for get datapoints / inferences for tool calls
  clients/python/tests/test_type_roundtrip.py
Due: none

add datapoint tool result validation
  clients/python/tests/test_type_roundtrip.py
Due: none

Change rate limiting backend connection errors from 500 to 503 (#5736)
  tensorzero-core/src/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

change type
  clients/rust/src/lib.rs
  clients/rust/tests/test_datasets.rs
  internal/autopilot-tools/tests/inference_tool.rs
  internal/durable-tools/src/tensorzero_client/client_ext.rs
  internal/tensorzero-node/lib/bindings/CreateDatapointsFromInferenceRequest.ts
  internal/tensorzero-node/lib/bindings/CreateDatapointsFromInferenceRequestParams.ts
  internal/tensorzero-node/lib/bindings/GetInferencesRequest.ts
  internal/tensorzero-node/lib/bindings/ListInferencesRequest.ts
  internal/tensorzero-node/lib/bindings/StoredInferenceOutputSource.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/datasets/v1/create_from_inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  tensorzero-core/tests/e2e/endpoints/datasets/create_from_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Change ClickHouseConnection error from 500 to 503
  tensorzero-core/src/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

build types
  clients/python/tensorzero/generated_types.py
Due: none

added a durable-tool for rejecting tool calls
  internal/autopilot-client/src/client.rs
  internal/autopilot-client/src/lib.rs
  internal/autopilot-client/src/types.rs
  internal/autopilot-tools/src/lib.rs
  internal/autopilot-tools/src/tools/prod/auto_reject_tool_call.rs
  internal/autopilot-tools/src/tools/prod/mod.rs
  internal/tensorzero-node/lib/bindings/ToolCallAuthorizationStatus.ts
  internal/tensorzero-node/lib/bindings/ToolCallDecisionSource.ts
  tensorzero-core/src/utils/gateway.rs
  ui/app/components/autopilot/EventStream.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename test_type_roundtrip.py to test_roundtrip_tool_types.py
  clients/python/tests/test_roundtrip_tool_types.py
Due: none

Add text content type round-trip tests following inference pattern
  clients/python/tests/test_roundtrip_text_types.py
Due: none

Add template content type round-trip tests
  clients/python/tests/test_roundtrip_template_types.py
Due: none

Reject output_source: none in get_inferences and list_inferences
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove none from autopilot tool schemas for get/list inferences
  internal/autopilot-tools/src/tools/prod/get_inferences.rs
  internal/autopilot-tools/src/tools/prod/list_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add thought content type round-trip tests using dummy reasoner model
  clients/python/tests/test_roundtrip_thought_types.py
Due: none
