Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Update examples/production-deployment-k8s-helm/values.yaml
  examples/production-deployment-k8s-helm/values.yaml
Due: prettier: ui, prettier: openai-node

latency eCDF works
  ui/app/components/model/ModelLatency.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

consolidated time window selector
  ui/app/components/model/ModelLatency.tsx
  ui/app/components/model/ModelUsage.tsx
  ui/app/components/ui/TimeWindowSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

simplified ModelUsage component
  ui/app/components/model/ModelUsage.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Flip revalidation logic
  ui/app/routes/playground/route.tsx
  ui/app/utils/common.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Replace promise map with React Query
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
  ui/app/routes/playground/route.tsx
  ui/app/routes/playground/utils.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

re-add memoization
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

typo
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

improve inference server error
  ui/app/routes/api/tensorzero/inference.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Disable auto-retry for inference queries
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

remove unused map
  ui/app/routes/playground/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

update RQ setup
  ui/app/providers/react-query.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add generic error for upstread TZ client errors
  ui/app/utils/tensorzero/errors.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

prefetch variant inferences on server
  ui/app/routes/playground/DatapointPlaygroundOutput.tsx
  ui/app/routes/playground/route.tsx
  ui/app/routes/playground/utils.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fix lockfile
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

Replace individual Radix packages with `radix-ui`
  pnpm-lock.yaml
  ui/app/components/function/variant/variant-filter.tsx
  ui/app/components/ui/accordion.tsx
  ui/app/components/ui/alert-dialog.tsx
  ui/app/components/ui/breadcrumb.tsx
  ui/app/components/ui/button.tsx
  ui/app/components/ui/checkbox.tsx
  ui/app/components/ui/collapsible.tsx
  ui/app/components/ui/command.tsx
  ui/app/components/ui/dialog.tsx
  ui/app/components/ui/dropdown-menu.tsx
  ui/app/components/ui/form.tsx
  ui/app/components/ui/label.tsx
  ui/app/components/ui/popover.tsx
  ui/app/components/ui/progress.tsx
  ui/app/components/ui/radio-group.tsx
  ui/app/components/ui/select.tsx
  ui/app/components/ui/separator.tsx
  ui/app/components/ui/sheet.tsx
  ui/app/components/ui/sidebar.tsx
  ui/app/components/ui/tabs.tsx
  ui/app/components/ui/toast.tsx
  ui/app/components/ui/tooltip.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Stabilize E2E test suite by skipping failing tests and commenting out unused provider configs
  clients/rust/src/git.rs
  internal/tensorzero-derive/tests/ui.rs
  tensorzero-core/tests/e2e/best_of_n.rs
  tensorzero-core/tests/e2e/dynamic_evaluations.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_openai.rs
  tensorzero-core/tests/e2e/providers/aws_sagemaker_tgi.rs
  tensorzero-core/tests/e2e/providers/azure.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/deepseek.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_gemini.rs
  tensorzero-core/tests/e2e/providers/groq.rs
  tensorzero-core/tests/e2e/providers/hyperbolic.rs
  tensorzero-core/tests/e2e/providers/mistral.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/providers/openrouter.rs
  tensorzero-core/tests/e2e/providers/sglang.rs
  tensorzero-core/tests/e2e/providers/tgi.rs
  tensorzero-core/tests/e2e/providers/together.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
  tensorzero-core/tests/e2e/providers/xai.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implement logic using config
  tensorzero-core/src/optimization/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Merge remote changes from fork
  .gitignore
  tensorzero-core/tests/e2e/docker-compose.yml
Due: prettier: ui, prettier: openai-node

remove provider from config rust
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/tests/optimization/common/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

remove provider from config bindings
  internal/tensorzero-node/lib/bindings/DiclOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDiclOptimizationConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

remove provider from config python
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_optimization.py
Due: none

throw error on empty training examples
  tensorzero-core/src/optimization/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Replace individual Radix packages with `radix-ui` (#3144)
  pnpm-lock.yaml
  ui/app/components/function/variant/variant-filter.tsx
  ui/app/components/ui/accordion.tsx
  ui/app/components/ui/alert-dialog.tsx
  ui/app/components/ui/breadcrumb.tsx
  ui/app/components/ui/button.tsx
  ui/app/components/ui/checkbox.tsx
  ui/app/components/ui/collapsible.tsx
  ui/app/components/ui/command.tsx
  ui/app/components/ui/dialog.tsx
  ui/app/components/ui/dropdown-menu.tsx
  ui/app/components/ui/form.tsx
  ui/app/components/ui/label.tsx
  ui/app/components/ui/popover.tsx
  ui/app/components/ui/progress.tsx
  ui/app/components/ui/radio-group.tsx
  ui/app/components/ui/select.tsx
  ui/app/components/ui/separator.tsx
  ui/app/components/ui/sheet.tsx
  ui/app/components/ui/sidebar.tsx
  ui/app/components/ui/tabs.tsx
  ui/app/components/ui/toast.tsx
  ui/app/components/ui/tooltip.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/package.json
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fix lockfile (#3143)
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

OptimizerOuput: use adjacently tagged pattern rust
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/optimization/together_sft/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

OptimizerOuput: use adjacently tagged pattern bindings
  internal/tensorzero-node/lib/bindings/OptimizerOutput.ts
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/utils/config/models.test.ts
  ui/app/utils/config/models.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

remove api_base
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/tests/optimization/common/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

remove api_base bindings
  internal/tensorzero-node/lib/bindings/DiclOptimizationConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedDiclOptimizationConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

remove api_base python
  clients/python/tensorzero/tensorzero.pyi
Due: none

use idiomatic retries
  tensorzero-core/src/optimization/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added proper promise handling to function page
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added proper promise handling to variant page
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

removed commented-out section
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add temporary Product Hunt message to `README.md` (#3104)
  README.md
Due: prettier: ui, prettier: openai-node

dynamic azure endpoint handling
  examples/guides/providers/azure/config/dynamic-endpoint-example.toml
  tensorzero-core/src/model.rs
  tensorzero-core/src/providers/azure.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped TS clickhouse client timeout to 5 minutes (#3114)
  ui/app/utils/clickhouse/client.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
