Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

use unsloth docker image
  recipes/supervised_fine_tuning/unsloth/.devcontainer/devcontainer.json
  recipes/supervised_fine_tuning/unsloth/README.md
  recipes/supervised_fine_tuning/unsloth/pyproject.toml
  recipes/supervised_fine_tuning/unsloth/requirements.txt
  recipes/supervised_fine_tuning/unsloth/uv.lock
Due: prettier: ui, prettier: openai-node

Exclude deepseek
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

update requirements
  recipes/supervised_fine_tuning/unsloth/requirements.txt
Due: none

Force dryrun off with TENSORZERO_FORCE_CACHE_ON
  ui/app/utils/env.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Set explicit dummy values
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node

rebuild lock
  recipes/supervised_fine_tuning/unsloth/README.md
  recipes/supervised_fine_tuning/unsloth/requirements.txt
  recipes/supervised_fine_tuning/unsloth/uv.lock
Due: prettier: ui, prettier: openai-node

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

Issue 2982 Datapoint list page now shows the count next to dataset name
  ui/app/routes/datasets/$dataset_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Extend tests
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Don't pass in secrets to ui e2e test workflow when using cache (#2998)
  .github/workflows/merge-queue.yml
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
  ui/app/utils/env.server.ts
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix Anthropic's default `max_tokens` (#2970)
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed all logging messages
  tensorzero-core/src/providers/aws_bedrock.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix header
  ui/app/routes/datasets/$dataset_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Produce output thought blocks from AWS Bedrock provider (#2999)
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Skip running migrations when TensorZeroMigration is up to date
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0029.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/error.rs
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add GCPVertexGemini config to py03_helpers
  tensorzero-core/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix typo
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'skip_completed_migrations' flag
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0029.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove 'continue-on-error' from ui e2e tests (#2990)
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

Show datapoint count in datapoint list page in the UI (#3000)
  ui/app/routes/datasets/$dataset_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update bindings
  internal/tensorzero-node/lib/bindings/ObservabilityConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Adjust FeedbackTable stories
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Modify llama.rs and common.rs to test e2e test for llama: test_bad_auth_extra_header
  tensorzero-core/src/providers/llama.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Extract raw_response from AWS providers via TensorZeroInterceptor
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/aws_common.rs
  tensorzero-core/src/providers/aws_sagemaker.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

make example data gemini friendly
  clients/python/tests/conftest.py
Due: none

Fix test
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

openai embeddings handler is implemented
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix test for Migration0029
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Swap check
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Migration0029 is no longer skipped
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix error
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Another Migration0029 fix
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Exclude Migration0029
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Skip running migrations when TensorZeroMigration is up to date (#3001)
  internal/tensorzero-node/lib/bindings/ObservabilityConfig.ts
  tensorzero-core/src/clickhouse/migration_manager/migrations/migration_0029.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/gateway_util.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/tensorzero.toml
  ui/app/components/feedback/FeedbackTable.stories.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Clean DPO setup
  examples/data-extraction-ner-sft-dpo/ner-sft-dpo.ipynb
Due: none

embeddings implementation works
  clients/openai-python/tests/conftest.py
  clients/openai-python/tests/test_embeddings.py
  clients/openai-python/tests/test_openai_compatibility.py
  gateway/src/main.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/tests/e2e/providers/openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix comment
  tensorzero-core/src/providers/aws_common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
