Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

added a resolveImage method
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/resolve.ts
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

snippet layout and snippet content
  ui/app/components/layout/SnippetContent.tsx
  ui/app/components/layout/SnippetLayout.tsx
  ui/app/routes/observability/functions/$function_name/FunctionSchema.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceOutput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

resolution might work idk
  ui/app/components/inference/Input.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.ts
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.ts
  ui/app/utils/clickhouse/inference.ts
  ui/app/utils/resolve.server.ts
  ui/app/utils/supervised_fine_tuning/openai.ts
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

seesm like it works!
  ui/app/components/inference/Input.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/clickhouse/common.ts
  ui/app/utils/resolve.server.ts
  ui/fixtures/config/tensorzero.toml
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Variant template update with the Snippet and fixed the code structure in snippet content
  ui/app/components/layout/SnippetContent.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantTemplate.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Inference Parameters update to use Snippet
  ui/app/routes/observability/inferences/$inference_id/InferenceParameters.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

lint fix
  ui/app/routes/observability/inferences/$inference_id/InferenceOutput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

centralized logic for variant response modal
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/VariantResponseModal.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

try with variant works with images too
  ui/app/components/inference/VariantResponseModal.tsx
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/utils/clickhouse/inference.ts
  ui/app/utils/resolve.server.ts
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

try with variant doesnt use deprecated content blocks
  ui/app/routes/api/tensorzero/inference.ts
  ui/app/utils/tensorzero.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fixed build
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

fix
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

fix
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

put merge queue back
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

removed Coming soon from skeletonimage
  ui/app/components/inference/Input.tsx
  ui/app/components/inference/SkeletonImage.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

test fix for credential issue
  .github/workflows/merge-queue.yml
  ui/fixtures/config/tensorzero.e2e.toml
  ui/fixtures/docker-compose.e2e.yml
Due: prettier: ui, prettier: openai-node

fix
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

back to original state
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

moved all queries to subquery format
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

changed left joins to inner
  ui/app/utils/clickhouse/evaluations.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added migration for DynamicEvaluationRun table
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0022.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

initial impl of dynamic eval handler
  tensorzero-internal/src/endpoints/dynamic_evaluation_run.rs
  tensorzero-internal/src/endpoints/mod.rs
  tensorzero-internal/src/uuid_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added implementation of Dynamic evaluation run to rust client
  clients/rust/src/lib.rs
  gateway/src/main.rs
  tensorzero-internal/src/endpoints/dynamic_evaluation_run.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/tensorzero/types.py
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added python implementation
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tensorzero/tensorzero.pyi
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added inference route stuff
  tensorzero-internal/src/endpoints/dynamic_evaluation_run.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/error.rs
  tensorzero-internal/src/uuid_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implemented e2e tests
  tensorzero-internal/src/endpoints/dynamic_evaluation_run.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  tensorzero-internal/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

a file
  tensorzero-internal/tests/e2e/dynamic_evaluations.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added python tests
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/src/python_helpers.rs
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  ui/app/components/layout/SnippetLayout.tsx
  ui/app/components/ui/tabs.tsx
  ui/app/routes/observability/functions/$function_name/FunctionSchema.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantBasicInfo.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantTemplate.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceOutput.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/components/layout/SnippetLayout.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/VariantBasicInfo.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  .github/dependabot.yml
  .github/workflows/docker-hub-publish.yml
  ui/.dockerignore
  ui/app/routes/datasets/DatasetTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/routes/datasets/DatasetTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/components/inference/Input.tsx
  ui/app/components/inference/SkeletonImage.tsx
  ui/fixtures/config/tensorzero.e2e.toml
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  ui/app/routes/evaluations/$eval_name/AutoRefreshIndicator.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node
