Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

added json schema derives to uninitialized variant and evaluation types (#5189)
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/path.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_headers.rs
  tensorzero-core/src/utils/retries.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Stream inferences and datapoints in UI (#5183)
  ui/app/components/layout/PageLayout.tsx
  ui/app/components/querybuilder/FilterRows.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/ui/table.tsx
  ui/app/routes/datasets/$dataset_name/DatasetRowTable.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/DatasetTable.tsx
  ui/app/routes/datasets/route.tsx
  ui/app/routes/observability/episodes/$episode_id/EpisodeInferenceTable.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/episodes/EpisodesTable.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/routes/observability/inferences/InferencesTable.tsx
  ui/app/routes/observability/inferences/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Exclude more thought blocks in test_short_inference_request (#5211)
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add an action route (#5193)
  clients/rust/src/lib.rs
  gateway/src/routes/internal.rs
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/endpoints/internal/action.rs
  tensorzero-core/src/endpoints/internal/mod.rs
  tensorzero-core/src/utils/gateway.rs
  tensorzero-core/tests/e2e/endpoints/internal/action.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

ci: enforce EOF newlines (#5187)
  .buildkite/hooks/post-checkout
  .github/workflows/general.yml
  ci/buildkite/modal-warmup.sh
  ci/check-helm-schema-sync.sh
  ci/download-provider-proxy-cache.sh
  ci/free-disk-space.sh
  clients/python/.gitignore
  clients/python/templates/generated_types_header.py.template
  examples/production-deployment-k8s-helm/templates/configmap.yaml
  examples/production-deployment-k8s-helm/templates/pvc.yaml
  examples/production-deployment-k8s-helm/templates/ui-ingress.yaml
  examples/production-deployment-k8s-helm/templates/ui-service.yaml
  internal/tensorzero-auth/sqlx.toml
  internal/tensorzero-node/.prettierignore
  tensorzero-core/tests/e2e/self-signed-certs/regenerate.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add support for extra_headers/extra_body in relay mode (#5119)
  gateway/tests/common/mod.rs
  gateway/tests/common/relay.rs
  gateway/tests/relay_basic.rs
  gateway/tests/relay_extra_body.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_stuff.rs
  tensorzero-core/src/relay.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make git an optional feature (#5161)
  clients/rust/Cargo.toml
  clients/rust/src/lib.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/client/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add searchable evaluation and variant selectors to Launch Evaluation modal (#5197)
  ui/app/components/ui/combobox/Combobox.tsx
  ui/app/components/ui/combobox/ComboboxInput.tsx
  ui/app/components/ui/combobox/index.ts
  ui/app/components/ui/combobox/use-combobox.ts
  ui/app/components/ui/input.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/e2e_tests/evaluations.deleted-dataset.spec.ts
  ui/e2e_tests/evaluations.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

e2e tests: feedback: construct payloads using structs + serialize (#5191)
  tensorzero-core/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Prevent duplicate fake-path templates from being loaded (#5209)
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added the key info to the request extensions from tensorzero-auth
  internal/tensorzero-auth/src/middleware.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean up Docker Compose for UI (#5180)
  docs/deployment/tensorzero-ui.mdx
  docs/operations/set-up-auth-for-tensorzero.mdx
  docs/quickstart.mdx
  examples/babyai/docker-compose.yml
  examples/blog/bandits-in-your-llm-gateway/docker-compose.yml
  examples/chess-puzzles/docker-compose.yml
  examples/data-extraction-ner/docker-compose.yml
  examples/docs/guides/experimentation/run-adaptive-ab-tests/docker-compose.yml
  examples/docs/guides/gateway/call-the-openai-responses-api/docker-compose.yml
  examples/docs/guides/gateway/create-a-prompt-template/docker-compose.yml
  examples/docs/guides/gateway/generate-structured-outputs/docker-compose.yml
  examples/docs/guides/operations/enforce-custom-rate-limits/docker-compose.yml
  examples/docs/guides/operations/organize-your-configuration/docker-compose.yml
  examples/docs/guides/operations/set-up-auth-for-tensorzero/docker-compose.yml
  examples/dynamic_evaluations/simple-agentic-rag/docker-compose.yml
  examples/evaluations/tutorial/docker-compose.yml
  examples/gsm8k-custom-recipe-dspy/docker-compose.yml
  examples/guides/datasets-datapoints/docker-compose.yml
  examples/guides/tool-use/docker-compose.yml
  examples/haiku-hidden-preferences/docker-compose.yml
  examples/integrations/crewai/example/tensorzero/docker-compose.yml
  examples/integrations/cursor/docker-compose.yml
  examples/integrations/openai-codex/docker-compose.yml
  examples/mcp-model-context-protocol/docker-compose.yml
  examples/multimodal-vision-finetuning/docker-compose.yml
  examples/optimization/dicl/docker-compose.yml
  examples/quickstart/docker-compose.yml
  examples/readme/docker-compose.yml
  ui/docker-compose.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.ui.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Tag filter should require the tag to be set (#5210)
  tensorzero-core/src/db/clickhouse/query_builder/datapoint_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/tests/e2e/experimental_list_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix other NULL filters
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/tests/e2e/experimental_list_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Forward R2 credentials into all 'fixtures' docker compose services
  tensorzero-core/tests/e2e/docker-compose.clickhouse.yml
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.unit.yml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make the run terminate if an evaluator passes a failure threshold
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

e2e tests: datapoints: construct payloads using structs + serialize (#5201)
  tensorzero-core/tests/e2e/endpoints/datasets/delete_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add global stopping state, fix global stopping check
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update clients/python/src/lib.rs
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Forward R2 credentials into all 'fixtures' docker compose services (#5219)
  tensorzero-core/tests/e2e/docker-compose.clickhouse.yml
  tensorzero-core/tests/e2e/docker-compose.live.yml
  tensorzero-core/tests/e2e/docker-compose.replicated.yml
  ui/fixtures/docker-compose.e2e.ci.yml
  ui/fixtures/docker-compose.e2e.yml
  ui/fixtures/docker-compose.unit.yml
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix loading message
  ui/app/routes/api/inferences/count.route.ts
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Throw an error if task cancellation occurs
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  ui/app/components/function/FunctionFormField.tsx
  ui/e2e_tests/datasets.builder.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Expand unit tests for compute_updates()
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Rename variable for clarity
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate getWorkflowEvaluationProjects
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/GetWorkflowEvaluationProjectsResponse.ts
  internal/tensorzero-node/lib/bindings/WorkflowEvaluationProject.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/clickhouse/workflow_evaluation_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/workflow_evaluation_queries.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/get_projects.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/mod.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/types.rs
  tensorzero-core/src/endpoints/workflow_evaluations/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/workflow_evaluations.rs
  ui/app/routes/workflow_evaluations/WorkflowEvaluationProjectsTable.tsx
  ui/app/routes/workflow_evaluations/route.tsx
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
  ui/app/utils/clickhouse/workflow_evaluations.test.ts
  ui/app/utils/clickhouse/workflow_evaluations.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix clippy: explicit_into_iter_loop
  Cargo.toml
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clippy: explicit_into_iter_loop (#5222)
  Cargo.toml
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add clickhouse e2e tests
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-core/tests/e2e/db/workflow_evaluation_queries.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add tie-breaking logic in topk_stopping, add unit tests
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Pre-resolve datapoint inputs to minimize clones
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Expand unit tests for compute_updates(), move to top of tests mod
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Throw error if a task gets cancelled
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add top-k tie-breaking logic and related unit tests
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Factor some evaluation functionality into helpers (#5163)
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Change constant defaults
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove redundant MaxDatapointsReached value from GlobalStoppingReason enum
  evaluations/src/topk.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Migrate countInferencesForEpisode
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/GetEpisodeInferenceCountResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/inference_stats.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/inference_stats.rs
  tensorzero-core/src/endpoints/episodes/internal/get_episode_inference_count.rs
  tensorzero-core/src/endpoints/episodes/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/episodes.rs
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/clickhouse/inference.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Migrate getWorkflowEvaluationProjects (#5173)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/GetWorkflowEvaluationProjectsResponse.ts
  internal/tensorzero-node/lib/bindings/WorkflowEvaluationProject.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/db/clickhouse/workflow_evaluation_queries.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/workflow_evaluation_queries.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/get_projects.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/mod.rs
  tensorzero-core/src/endpoints/workflow_evaluations/internal/types.rs
  tensorzero-core/src/endpoints/workflow_evaluations/mod.rs
  tensorzero-core/tests/e2e/db/mod.rs
  tensorzero-core/tests/e2e/db/workflow_evaluation_queries.rs
  tensorzero-core/tests/e2e/endpoints/internal/mod.rs
  tensorzero-core/tests/e2e/endpoints/internal/workflow_evaluations.rs
  ui/app/routes/workflow_evaluations/WorkflowEvaluationProjectsTable.tsx
  ui/app/routes/workflow_evaluations/route.tsx
  ui/app/utils/clickhouse/workflow_evaluations.server.ts
  ui/app/utils/clickhouse/workflow_evaluations.test.ts
  ui/app/utils/clickhouse/workflow_evaluations.ts
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
