Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Update tensorzero-optimizers/tests/common/gepa.rs
  tensorzero-optimizers/tests/common/gepa.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add before/after pagination to v1 list_inferences backend API
  AGENTS.md
  internal/tensorzero-node/lib/bindings/ListInferencesRequest.ts
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
  tensorzero-optimizers/src/endpoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add CLI args to `CODEOWNERS`; reduce scope of routes (#4902)
  .github/CODEOWNERS
  evaluations/src/cli.rs
  evaluations/src/lib.rs
  gateway/src/cli.rs
  gateway/src/main.rs
  gateway/src/routes/external.rs
  gateway/src/routes/internal.rs
  gateway/src/routes/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

improved documentation of load_from_toml
  tensorzero-core/src/config/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed snapshot writing in legacy code
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added test coverage for last 2tests
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/workflow_evaluations.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added overlay
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add todo ref for semephore sharing
  tensorzero-optimizers/src/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add GEPA mutate function (#4845)
  .config/nextest.toml
  Cargo.lock
  tensorzero-core/src/config/built_in.rs
  tensorzero-core/src/variant/chat_completion/mod.rs
  tensorzero-optimizers/Cargo.toml
  tensorzero-optimizers/src/gepa/functions/mutate/system_template.minijinja
  tensorzero-optimizers/src/gepa/functions/mutate/user_template.minijinja
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/gepa/mutate.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
  ui/e2e_tests/homePage.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix artifact upload and increase concurrency
  .github/workflows/ui-tests-e2e-model-inference-cache.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

explain continue choices on eval fails
  tensorzero-optimizers/src/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

rename initial_variants -> original_variants
  tensorzero-optimizers/src/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

refactor includes_nose_grows -> validate_nose_growth
  tensorzero-core/fixtures/config/evaluations/test_gepa_pinocchio/includes_nose_grows/system_instructions.txt
  tensorzero-core/fixtures/config/evaluations/test_gepa_pinocchio/validate_nose_growth/system_instructions.txt
  tensorzero-core/tests/e2e/config/tensorzero.evaluations.toml
Due: none

Adjust method name and docs to clarify that internal routes have no OTEL
  gateway/src/routes/internal.rs
  gateway/src/routes/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Run mkdir
  tensorzero-core/tests/mock-inference-provider/Dockerfile
Due: none

Temporary switch fireworks shorthand test to llama-v3p3-70b-instruct
  tensorzero-core/tests/e2e/config/tensorzero.functions.basic_test.toml
  tensorzero-core/tests/e2e/providers/fireworks.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix typo
  gateway/src/routes/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Make our 'trybuild' ui test a unit test
  internal/tensorzero-derive/src/lib.rs
  internal/tensorzero-derive/tests/ui.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added test for overlay
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added a feature flag for banning writes
  .github/workflows/merge-queue.yml
  tensorzero-core/src/config/mod.rs
  tensorzero-core/tests/e2e/docker-compose.live.yml
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Adjust method name and docs to clarify that internal routes have no OTEL (#4915)
  gateway/src/routes/internal.rs
  gateway/src/routes/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Port clickhouse query for getDatasetMetadata (list datasets) to the backend
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/ListDatasetsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/list_datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/mod.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/tests/e2e/endpoints/datasets/list_datasets.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Make our 'trybuild' ui test a unit test (#4917)
  internal/tensorzero-derive/src/lib.rs
  internal/tensorzero-derive/tests/ui.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use 'lint-tables-only' instead of 'limited' for debuginfo
  Cargo.toml
Due: none

Use 'lint-tables-only' instead of 'limited' for debuginfo (#4920)
  Cargo.toml
Due: none

added a feature flag for stopping hash writes
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/workflow_evaluation_run.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Second step
  clients/python/src/lib.rs
  clients/rust/examples/inference_demo/main.rs
  clients/rust/src/lib.rs
  clients/rust/tests/tests.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  evaluations/src/evaluators/mod.rs
  evaluations/tests/tests.rs
  gateway/tests/base_path.rs
  tensorzero-core/src/client/client_inference_params.rs
  tensorzero-core/src/client/input_handling.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/dicl.rs
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-core/tests/e2e/human_feedback.rs
  tensorzero-core/tests/e2e/image_url.rs
  tensorzero-core/tests/e2e/inference/extra_body.rs
  tensorzero-core/tests/e2e/inference/json_mode_tool.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/otel.rs
  tensorzero-core/tests/e2e/otel_config_headers.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/commonv2/input_audio.rs
  tensorzero-core/tests/e2e/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/openai/mod.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
  tensorzero-core/tests/e2e/streaming_errors.rs
  tensorzero-core/tests/e2e/timeouts.rs
  tensorzero-core/tests/e2e/workflow_evaluations.rs
  tensorzero-optimizers/src/gepa/analyze.rs
  tensorzero-optimizers/src/gepa/mutate.rs
  tensorzero-optimizers/tests/common/dicl.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added test-only config function
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  tensorzero-core/src/endpoints/variant_probabilities.rs
  tensorzero-core/src/test_helpers.rs
  tensorzero-core/tests/e2e/batch/mod.rs
  tensorzero-core/tests/e2e/config.rs
  tensorzero-core/tests/e2e/feedback.rs
  tensorzero-core/tests/e2e/howdy.rs
  tensorzero-optimizers/tests/common/dicl.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/e2e/gepa/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added comment about #4922
  tensorzero-core/src/config/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added comments about datapoint inserts having optional fields
  tensorzero-core/src/db/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix tests and bindings
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/ClientInferenceParams.ts
  internal/tensorzero-node/lib/bindings/ClientInput.ts
  internal/tensorzero-node/lib/bindings/ClientInputMessage.ts
  internal/tensorzero-node/lib/bindings/ClientInputMessageContent.ts
  internal/tensorzero-node/lib/bindings/index.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use debug build in mock-inference-provider Dockerfile (#4827)
  tensorzero-core/tests/mock-inference-provider/Dockerfile
Due: none

added error handling on snapshot mismatches
  tensorzero-core/src/config/snapshot.rs
  tensorzero-core/src/db/clickhouse/mod.rs
  tensorzero-core/src/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add aria labels to metric selectors
  ui/app/components/metric/CurationMetricSelector.tsx
  ui/app/components/metric/MetricSelector.tsx
  ui/e2e_tests/observability.episodes.episode_id.spec.ts
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
  ui/e2e_tests/optimization.supervised-fine-tuning.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

addressed PR comments
  tensorzero-core/src/config/stored.rs
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

moved stored config into directory
  tensorzero-core/src/config/stored/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

moved unwritten config module to separate file
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/unwritten.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix variable name
  ui/app/routes/api/tensorzero/inference.utils.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Port clickhouse query for getDatasetMetadata (list datasets) to the backend (#4866)
  gateway/src/routes/internal.rs
  internal/tensorzero-node/lib/bindings/ListDatasetsResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/list_datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/mod.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/tests/e2e/endpoints/datasets/list_datasets.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
