Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

Update recipes/supervised_fine_tuning/demonstrations/together/pyproject.toml
  recipes/supervised_fine_tuning/demonstrations/together/pyproject.toml
Due: none

Add CLAUDE.md with Python instructions + update stale environments
  recipes/supervised_fine_tuning/demonstrations/together/requirements.txt
  recipes/supervised_fine_tuning/demonstrations/together/uv.lock
Due: none

implemented Serialize and ts for config
  tensorzero-core/src/config_parser.rs
  tensorzero-core/src/embeddings.rs
  tensorzero-core/src/model.rs
  tensorzero-core/src/model_table.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/optimization/openai_sft/mod.rs
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/src/providers/aws_sagemaker.rs
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/dummy.rs
  tensorzero-core/src/providers/fireworks.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_gemini.rs
  tensorzero-core/src/providers/google_ai_studio_gemini.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/mistral.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implemented getConfig in TS
  clients/rust/src/lib.rs
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add methods to `tensorzero-node` for listing and getting functions, metrics, and evaluations (#2682)
  .gitignore
  clients/rust/src/lib.rs
  internal/tensorzero-node/__test__/integration.test.ts
  internal/tensorzero-node/lib/bindings/DynamicImplicitToolConfig.ts
  internal/tensorzero-node/lib/bindings/DynamicJSONSchema.ts
  internal/tensorzero-node/lib/bindings/DynamicToolConfig.ts
  internal/tensorzero-node/lib/bindings/EvaluationConfig.ts
  internal/tensorzero-node/lib/bindings/EvaluatorConfig.ts
  internal/tensorzero-node/lib/bindings/ExactMatchConfig.ts
  internal/tensorzero-node/lib/bindings/FunctionConfig.ts
  internal/tensorzero-node/lib/bindings/FunctionConfigChat.ts
  internal/tensorzero-node/lib/bindings/FunctionConfigJson.ts
  internal/tensorzero-node/lib/bindings/ImplicitToolConfig.ts
  internal/tensorzero-node/lib/bindings/LLMJudgeConfig.ts
  internal/tensorzero-node/lib/bindings/LLMJudgeIncludeConfig.ts
  internal/tensorzero-node/lib/bindings/LLMJudgeInputFormat.ts
  internal/tensorzero-node/lib/bindings/LLMJudgeOptimize.ts
  internal/tensorzero-node/lib/bindings/LLMJudgeOutputType.ts
  internal/tensorzero-node/lib/bindings/MetricConfig.ts
  internal/tensorzero-node/lib/bindings/MetricConfigLevel.ts
  internal/tensorzero-node/lib/bindings/MetricConfigOptimize.ts
  internal/tensorzero-node/lib/bindings/MetricConfigType.ts
  internal/tensorzero-node/lib/bindings/StaticEvaluationConfig.ts
  internal/tensorzero-node/lib/bindings/StaticJSONSchema.ts
  internal/tensorzero-node/lib/bindings/StaticToolConfig.ts
  internal/tensorzero-node/lib/bindings/ToolCallConfig.ts
  internal/tensorzero-node/lib/bindings/ToolConfig.ts
  internal/tensorzero-node/lib/bindings/VariantInfo.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/lib/tests/integration.test.ts
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/config_parser.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/evaluations/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/jsonschema_util.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

implemented tests for getting the entire config in TS
  internal/tensorzero-node/lib/tests/integration.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Write to TensorZeroMigration table after applying each migration (#2638)
  tensorzero-core/src/clickhouse/migration_manager/migration_trait.rs
  tensorzero-core/src/clickhouse/migration_manager/mod.rs
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/serde_util.rs
  tensorzero-core/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Relax 'tool-choice required' batch test (#2681)
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Store original chunk usage in streaming cache entry (#2680)
  tensorzero-core/src/cache.rs
  tensorzero-core/src/model.rs
  tensorzero-core/tests/e2e/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Refactor CursorZero & add tests for parsing into trees & TED (#2593)
  examples/integrations/cursor/feedback/src/cursor.rs
  examples/integrations/cursor/feedback/src/lib.rs
  examples/integrations/cursor/feedback/src/main.rs
  examples/integrations/cursor/feedback/src/parsing.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implemented handling for empty system string in AWS bedrock provider
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed assertion for logging
  ui/app/utils/clickhouse/feedback.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

implemented handling for empty system string in AWS bedrock provider (#2686)
  tensorzero-core/src/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/providers/aws_bedrock.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix usage behavior
  tensorzero-core/src/endpoints/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Use stricter validation for OpenAI-compatible content blocks (#2667)
  clients/openai-python/tests/test_openai_compatibility.py
  tensorzero-core/src/endpoints/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

More work
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

More work
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Do not sum usage counts in ModelInference rows
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/tests/e2e/datasets.rs
  ui/app/utils/clickhouse/datasets.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

removed version file
  ui/app/utils/version.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Rust integration tests pass
  internal/tensorzero-node/src/lib.rs
  tensorzero-core/src/clickhouse/mod.rs
  tensorzero-core/src/endpoints/datasets.rs
  tensorzero-core/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

feat: add ui version logging (#2569)
  ui/app/components/layout/TensorZeroStatusIndicator.tsx
  ui/app/components/utils/NumberInputWithButtons.tsx
  ui/app/routes/api/function/$function_name/feedback_counts.route.ts
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/api/tensorzero/status.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/builder/DatasetBuilderForm.tsx
  ui/app/routes/datasets/builder/route.tsx
  ui/app/routes/datasets/route.tsx
  ui/app/routes/dynamic_evaluations/route.tsx
  ui/app/routes/dynamic_evaluations/runs/$run_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/observability/functions/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/routes/observability/inferences/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/SFTForm.tsx
  ui/app/utils/clickhouse/curation.server.ts
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/feedback.test.ts
  ui/app/utils/clickhouse/feedback.ts
  ui/app/utils/clickhouse/inference.server.ts
  ui/app/utils/config/index.server.ts
  ui/app/utils/evaluations.server.ts
  ui/app/utils/logger.ts
  ui/app/utils/supervised_fine_tuning/fireworks.ts
  ui/app/utils/supervised_fine_tuning/openAITokenCounter.ts
  ui/app/utils/supervised_fine_tuning/openai.ts
  ui/app/utils/tensorzero/tensorzero.ts
  ui/app/utils/version.ts
  ui/package.json
  ui/types/globals.d.ts
  ui/vite.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Python client tests pass
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  tensorzero-core/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Do not sum usage counts in ModelInference rows (#2688)
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chain_of_thought.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added defaults to clickhouse info
  tensorzero-core/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix rebase fallout
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix some usage counts
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/variant/best_of_n_sampling.rs
  tensorzero-core/src/variant/chat_completion.rs
  tensorzero-core/tests/e2e/mixture_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix openai-compat tests
  tensorzero-core/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

More work
  clients/python/tests/test_client.py
Due: none

More work
  clients/python/tests/test_client.py
  clients/python/tests/test_openai_patch.py
Due: none

Build all workspace crates and tests in caching-hack.yml
  .github/workflows/caching-hack.yml
Due: prettier: ui, prettier: openai-node

Fix python tests
  clients/python/tests/test_client.py
Due: none

Adjust openai tests
  clients/openai-python/tests/test_openai_compatibility.py
Due: none

Fix node openai tests
  clients/openai-node/tests/openai-compatibility.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix golang tests
  clients/openai-go/tests/openai_compatibility_test.go
Due: none

added step that greps for the short hash
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node

Build all workspace crates and tests in caching-hack.yml (#2692)
  .github/workflows/caching-hack.yml
Due: prettier: ui, prettier: openai-node
