Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

Update
  recipes/supervised_fine_tuning/metrics/openai/openai_nb.py
Due: none

Remove unused `opentelemetry-stdout` dependency
  Cargo.lock
  tensorzero-internal/Cargo.toml
Due: none

Update
  ci/compile-check-notebooks.sh
Due: none

Update
  ci/compile-notebook-to-script.sh
  ci/compile-script-to-notebook.sh
Due: none

Load `.env` in Vitest tests
  ui/vite.config.ts
  ui/vitest.config.js
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Remove unused `opentelemetry-stdout` dependency (#2203)
  Cargo.lock
  tensorzero-internal/Cargo.toml
Due: none

add comment
  ui/vite.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add DROP_INVALID_MESSAGES option fireworks
  recipes/supervised_fine_tuning/demonstrations/fireworks/fireworks.ipynb
  recipes/supervised_fine_tuning/demonstrations/fireworks/fireworks_nb.py
  recipes/supervised_fine_tuning/metrics/fireworks/fireworks.ipynb
  recipes/supervised_fine_tuning/metrics/fireworks/fireworks_nb.py
Due: none

remove invalid `package-ecosystem` from dependabot config
  .github/dependabot.yml
Due: prettier: ui, prettier: openai-node

add DROP_INVALID_MESSAGES option together
  recipes/supervised_fine_tuning/demonstrations/together/together.ipynb
  recipes/supervised_fine_tuning/demonstrations/together/together_nb.py
  recipes/supervised_fine_tuning/metrics/together/together.ipynb
  recipes/supervised_fine_tuning/metrics/together/together_nb.py
Due: none

Update
  ci/compile-check-notebooks.sh
  ci/compile-notebook-to-script.sh
  ci/compile-script-to-notebook.sh
  recipes/supervised_fine_tuning/metrics/openai/openai_nb.py
Due: none

increase test timeout
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Load `.env` in Vitest tests (#2204)
  ui/vite.config.ts
  ui/vitest.config.js
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Remove invalid `package-ecosystem` from dependabot config (#2205)
  .github/dependabot.yml
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Verify that Migration0009 correctly updates metric feedback tables
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix redirect location
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Show human feedback form errors in modal
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/hooks/use-fetcher-with-reset.ts
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/common.ts
  ui/app/utils/tensorzero.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Show human feedback form errors in modal (#2157)
  ui/app/components/feedback/HumanFeedbackForm.tsx
  ui/app/hooks/use-fetcher-with-reset.ts
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/common.ts
  ui/app/utils/tensorzero.server.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add TGI support to AWS Sagemaker provider
  .config/nextest.toml
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/Dockerfile
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/deploy.py
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/entrypoint.sh
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/proxy.py
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/pyproject.toml
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/scripts/deploy.sh
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/scripts/deploy_endpoint.py
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/scripts/test.sh
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/uv.lock
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/aws_sagemaker_openai.rs
  tensorzero-internal/tests/e2e/providers/aws_sagemaker_tgi.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/mod.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add example for datasets/datapoints
  .gitignore
  ci/.python-version
  ci/markdown-broken-link-checker/.python-version
  examples/babyai/.python-version
  examples/dynamic_evaluations/simple-agentic-rag/.python-version
  examples/evaluations/tutorial/.python-version
  examples/guides/datasets-datapoints/.python-version
  examples/guides/datasets-datapoints/README.md
  examples/guides/datasets-datapoints/config/functions/extract_recipient/output_schema.json
  examples/guides/datasets-datapoints/config/tensorzero.toml
  examples/guides/datasets-datapoints/docker-compose.yml
  examples/guides/datasets-datapoints/main.py
  examples/guides/datasets-datapoints/main.sh
  examples/guides/datasets-datapoints/pyproject.toml
  examples/guides/datasets-datapoints/requirements.txt
  examples/guides/datasets-datapoints/uv.lock
  examples/guides/providers/anthropic/.python-version
  examples/guides/structured-outputs/.python-version
  examples/guides/tool-use/.python-version
  examples/integrations/helicone/.python-version
  examples/integrations/langgraph/.python-version
  examples/mcp-model-context-protocol/.python-version
  examples/rag-retrieval-augmented-generation/simple-agentic-rag/.python-version
  examples/readme/.python-version
  optimization-server/.python-version
  recipes/mipro/.python-version
  tensorzero-internal/fixtures/deployment/sagemaker-ollama/.python-version
Due: prettier: ui, prettier: openai-node

Fix clippy
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/aws_sagemaker_openai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Try to free up some disk space
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node

Fix typo
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix another typo
  tensorzero-internal/tests/e2e/providers/aws_sagemaker_tgi.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add storybook preview api package
  ui/package.json
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

add dialog stories
  ui/app/components/ui/dialog.stories.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

split dialog body into separate component
  ui/app/components/ui/alert-dialog.tsx
  ui/app/components/ui/dialog.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add dialog body to human feedback modal
  ui/app/components/feedback/HumanFeedbackModal.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add JSDoc comment to `DialogBody`
  ui/app/components/ui/dialog.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Verify that Migration0009 correctly updates metric feedback tables (#2206)
  .github/workflows/general.yml
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

unify mipro
  recipes/mipro/mipro.ipynb
  recipes/mipro/mipro_nb.py
  recipes/mipro/requirements.txt
Due: none

Add 'ruff' excludes to ruff.toml
  .github/workflows/general.yml
  ruff.toml
Due: prettier: ui, prettier: openai-node

Add comment
  tensorzero-internal/fixtures/deployment/sagemaker-tgi/scripts/deploy_endpoint.py
Due: none

Test that Migration0021 correctly creates the `TagInference` table
  tensorzero-internal/tests/e2e/clickhouse.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Verify ETag after downloading fixtures from Cloudflare
  ui/fixtures/download-fixtures.py
Due: none

factored out functions that prepare system and request messages into pure functions
  tensorzero-internal/src/variant/chat_completion.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

support thought and unknown for mipro
  recipes/mipro/mipro.ipynb
  recipes/mipro/mipro_nb.py
Due: none

support thought and unknown for openai metrics
  recipes/supervised_fine_tuning/metrics/openai/openai.ipynb
  recipes/supervised_fine_tuning/metrics/openai/openai_nb.py
Due: none

support thought and unknown for openai demonstrations
  recipes/supervised_fine_tuning/demonstrations/openai/openai.ipynb
  recipes/supervised_fine_tuning/demonstrations/openai/openai_nb.py
Due: none

support thought and unknown for fireworks metrics
  recipes/supervised_fine_tuning/metrics/fireworks/fireworks.ipynb
  recipes/supervised_fine_tuning/metrics/fireworks/fireworks_nb.py
Due: none

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
