Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cargo-deny:
  name: cargo deny
  entry: cargo deny check advisories bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'cd ui && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run format'
  language: node
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'cd ui && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run lint'
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'cd ui && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'cd clients/openai-node && pnpm run typecheck'
  language: node
  additional_dependencies:
  - typescript
  pass_filenames: false

documented node client
  internal/tensorzero-node/README.md
  ui/README.md
Due: prettier: ui, prettier: openai-node

Assorted improvements to dataset selector
  ui/app/routes/datasets/builder/DatasetSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Assorted improvements to dataset selector
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Make JSON wrap by default; add more stories
  ui/app/components/ui/code-editor.stories.tsx
  ui/app/components/ui/code-editor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix dropdown menu visibility
  ui/app/components/ui/dropdown-menu.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Allow text + line numbers; more stories
  ui/app/components/ui/code-editor.stories.tsx
  ui/app/components/ui/code-editor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Added some missing documentation to repo (#2729)
  CONTRIBUTING.md
  internal/tensorzero-node/README.md
  ui/README.md
Due: prettier: ui, prettier: openai-node

Fix test
  ui/e2e_tests/observability.inferences.$inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

optimization/gcp_vertex_gemini pyo3 support
  tensorzero-core/src/optimization/gcp_vertex_gemini_sft/mod.rs
  tensorzero-core/tests/optimization/gcp_vertex_gemini_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Improve editor button styling
  ui/app/components/ui/code-editor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add 'delete' field to VariantExtraBody and ProviderExtraBody
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
Due: none

added some of the API for variants and functions in Python
  clients/python/src/lib.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/function.rs
  tensorzero-core/src/variant/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

build node bindings
  internal/tensorzero-node/lib/bindings/GCPVertexGeminiSFTConfig.ts
  internal/tensorzero-node/lib/bindings/UninitializedGCPVertexGeminiSFTConfig.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added stubs
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/function.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'signature' field to python Thought types
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  tensorzero-core/src/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Revert "feat(docker): optimize UI Dockerfile by combining Rust build steps"
  DOCKERFILE_OPTIMIZATION_ANALYSIS.md
  ui/Dockerfile
Due: prettier: ui, prettier: openai-node

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier: ui, prettier: openai-node

Revert "docs: add links to other language versions of README"
  README.md
Due: prettier: ui, prettier: openai-node

Update README.md
  README.md
Due: prettier: ui, prettier: openai-node

Fix tests
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
Due: none

Update `README.md` (#2482)
  README.md
Due: prettier: ui, prettier: openai-node

wip
  tensorzero-core/src/endpoints/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed feature flagging
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/endpoints/batch_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix pyright
  clients/python/tests/test_client.py
Due: none

wip
  tensorzero-core/src/endpoints/datasets.rs
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/utils/tensorzero/tensorzero.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

update pyo3 client
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
Due: none

changed get_config to experimental_get_config
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

split config parser into 2
  tensorzero-core/src/config_parser.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/config_parser/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add import to lib.rs
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

split config parser into 2 (#2741)
  tensorzero-core/src/config_parser.rs
  tensorzero-core/src/config_parser/mod.rs
  tensorzero-core/src/config_parser/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

wip
  tensorzero-core/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

forgot a file
  clients/python/tests/test_config.py
Due: none

Add 'signature' field to python Thought types (#2739)
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  tensorzero-core/src/providers/dummy.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fix endpoint id
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update `CONTRIBUTING.md` (#2653)
  CONTRIBUTING.md
Due: prettier: ui, prettier: openai-node

remove internal/tensorzero-node/deny.toml
  internal/tensorzero-node/deny.toml
Due: none

clean up bad adds
  internal/tensorzero-node/package-lock.json
  internal/tensorzero-node/package.json
  pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

Add README
  examples/integrations/crewai/README.md
  ui/README.md
Due: prettier: ui, prettier: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
