Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

Add N-API bridge function to get variant sampling probabilities from Rust client
  internal/tensorzero-node/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Get tests passing
  Cargo.lock
  gateway/Cargo.toml
  gateway/tests/auth.rs
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add hello built-in
  tensorzero-core/src/config/built_in.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add more tests
  gateway/tests/auth.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add TensorZero API key auth middleware
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/routes.rs
  gateway/tests/auth.rs
  internal/tensorzero-auth/src/postgres/mod.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/utils/gateway.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added methods for viewing tool parameters to RenderedSample; also made it non-optional
  clients/python/tensorzero/tensorzero.pyi
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/optimization/dicl.rs
  tensorzero-core/src/optimization/fireworks_sft/mod.rs
  tensorzero-core/src/optimization/together_sft/mod.rs
  tensorzero-core/src/providers/gcp_vertex_gemini/optimization.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/tests/e2e/optimization/dicl.rs
  tensorzero-core/tests/e2e/render_inferences.rs
  tensorzero-core/tests/optimization/common/dicl.rs
  tensorzero-core/tests/optimization/common/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update UI to get variant sampling probabilities via Rust client
  internal/tensorzero-node/lib/bindings/ComputeTrackAndStopStateParams.ts
  internal/tensorzero-node/lib/bindings/TrackAndStopResponse.ts
  internal/tensorzero-node/lib/bindings/index.ts
  internal/tensorzero-node/lib/index.ts
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed last e2e test
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed stubs
  clients/python/tensorzero/tensorzero.pyi
Due: none

fixed python tests
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Clean up tool call types
  clients/rust/src/client_input.rs
  clients/rust/src/input_handling.rs
  clients/rust/src/lib.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  internal/tensorzero-node/lib/bindings/ClientInputMessageContent.ts
  internal/tensorzero-node/lib/bindings/ContentBlockChatOutput.ts
  internal/tensorzero-node/lib/bindings/InferenceResponseToolCall.ts
  internal/tensorzero-node/lib/bindings/InputMessageContent.ts
  internal/tensorzero-node/lib/bindings/ToolCall.ts
  internal/tensorzero-node/lib/bindings/ToolCallInput.ts
  internal/tensorzero-node/lib/bindings/ToolCallWrapper.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/cache.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/src/variant/dicl.rs
  tensorzero-core/src/variant/mixture_of_n.rs
  tensorzero-core/tests/e2e/cache.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/inference.rs
  tensorzero-core/tests/e2e/providers/openai.rs
  tensorzero-core/tests/e2e/render_inferences.rs
  tensorzero-core/tests/optimization/common/mod.rs
  ui/app/components/inference/ModelInferenceOutput.stories.tsx
  ui/app/components/inference/Output.stories.tsx
  ui/app/utils/clickhouse/common.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Clean up tool call types
  internal/tensorzero-node/lib/bindings/ContentBlockChatOutput.ts
  internal/tensorzero-node/lib/bindings/InferenceResponseToolCall.ts
  internal/tensorzero-node/lib/bindings/ToolCallWrapper.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
  tensorzero-core/src/tool.rs
  tensorzero-core/tests/optimization/common/mod.rs
  ui/app/utils/clickhouse/common.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed node bindings
  internal/tensorzero-node/lib/bindings/ChatInferenceDatapoint.ts
  internal/tensorzero-node/lib/bindings/ClientInferenceParams.ts
  internal/tensorzero-node/lib/bindings/Datapoint.ts
  internal/tensorzero-node/lib/bindings/DynamicToolParams.ts
  internal/tensorzero-node/lib/bindings/RenderedSample.ts
  internal/tensorzero-node/lib/bindings/StoredChatInference.ts
  internal/tensorzero-node/lib/bindings/StoredInference.ts
  tensorzero-core/src/tool.rs
  ui/app/routes/api/tensorzero/inference.utils.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/datapointOperations.server.test.ts
  ui/app/routes/playground/utils.ts
  ui/app/utils/clickhouse/datasets.server.ts
  ui/app/utils/clickhouse/datasets.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

formatted python
  clients/python/tensorzero/types.py
  clients/python/tests/test_list_inferences.py
  clients/python/tests/test_rendering.py
Due: none

Tiny: clean up whitespace formatting
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Apply suggestion from @Copilot
  internal/tensorzero-auth/src/postgres/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Tiny: clean up whitespace formatting (#4262)
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed issue with toolcallconfig
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/tool.rs
  ui/fixtures/docker-compose.yml
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed the handling of Optional types
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

made DynamicDemonstrationInfo take an optional ToolCallConfig
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Regenerate ModelInferenceCache fixtures
  ui/fixtures/model_inference_cache_e2e.jsonl
Due: none

added documentation
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

added additional unit tests
  tensorzero-core/src/function.rs
  tensorzero-core/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

cleanup
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

cleanup
  ui/fixtures/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

cleanup
  tensorzero-core/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Revert "Temporarily switch to Namespace for ARM runners (#4251)"
  .github/workflows/docker-hub-publish.yml
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

fixed import issue
  tensorzero-core/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use process_flaky_tests.py
  ci/process_flaky_tests.py
  ci/publish-allure-report.sh
Due: none

Fix ui tests
  internal/tensorzero-node/lib/bindings/AuthConfig.ts
  ui/app/components/feedback/FeedbackTable.stories.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.stories.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix script
  ci/publish-allure-report.sh
Due: none

Set batch-tests job timeout to 60 minutes
  .github/workflows/batch-test.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix path
  ci/publish-allure-report.sh
Due: none

Simplify deserializers for legacy InputMessage formats (#4249)
  tensorzero-core/src/inference/types/input_message.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Cancel general.yml workflow in the merge queue if anything fails
  .github/workflows/cancel-on-status-failure.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Revert "Temporarily switch to Namespace for ARM runners (#4251)" (#4265)
  .github/workflows/docker-hub-publish.yml
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Resolve path before cd to script directory
  ci/publish-allure-report.sh
Due: none

Set batch-tests job timeout to 60 minutes (#4266)
  .github/workflows/batch-test.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add query cache
  internal/tensorzero-auth/.sqlx/query-2a66fd16584b35af52f878e40ca3cd181a13338ca2a2c65254f427e0e8d12790.json
  internal/tensorzero-auth/.sqlx/query-5def5c8a9f90e220b2b17f94e892c4a3444ec72a46aba95bed3ea68ebfe242e5.json
  internal/tensorzero-auth/.sqlx/query-84e285d921de232b86b8b2dfa67eacca430cac8e8fbace55b3204e84b9327fcb.json
  internal/tensorzero-auth/.sqlx/query-b7c30843116d709cab52330fa9e266ecf7e8bdcff1d4971319e1fa13ac8f9d7f.json
  internal/tensorzero-auth/.sqlx/query-f8899dd12ce459ee73b9247fc1575ac06d8e415bc09e930f060608bd89f59d49.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make tensorzero-auth centered around public_id
  .sqlx/query-1975ecaf2913207959a4951af399535d3c8846a3cfa39f7d16724a9bd81f0f0e.json
  .sqlx/query-1e73eafe2dcbc67bd0af0c670b9cbd33178e524c97ad4e693293443bb3b79c68.json
  .sqlx/query-517ba464982dbb0568a648e49c9d0f8736955599e16b1c1b75430877dbd73c65.json
  .sqlx/query-a4d2aa2e85389d921b4c1581321838689d73b9496a26b3116bafd0584e500016.json
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/postgres/migrations/20251020144538_api_key.sql
  internal/tensorzero-auth/src/postgres/mod.rs
  internal/tensorzero-auth/tests/e2e/db/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
