Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

added eval name tag to feedback to fix test
  evals/src/evaluators/mod.rs
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add missing 'json_mode' field to e2e tensorzero.toml
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

added assertions back
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

simplified metricTable by passing metric names as prop
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$eval_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

forced rows to be rendered in the order of the url eval_run_ids
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

implemented parsing in clickhouse for evals results
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added components that handle input and output as parsed data
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

removed little i circles
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

visual fixes
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$eval_name/VariantSelector.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

switched badges for circles
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

header is in and old is removed
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$eval_name/route.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

moved text to top of table header
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

cleaned up
  ui/app/routes/evaluations/$eval_name/EvaluationTable.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added breadcrumbs for evals
  ui/app/components/layout/SubNavBreadcrumbs.tsx
  ui/app/routes/evaluations/$eval_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Align new layouts (#1456)
  ui/app/components/layout/ContentLayout.tsx
  ui/app/components/layout/PageLayout.tsx
  ui/app/components/ui/Chip.tsx
  ui/app/components/ui/CodeSnippet.tsx
  ui/app/components/utils/TagsTable.tsx
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/routes/datasets/$dataset_name/route.tsx
  ui/app/routes/datasets/builder/route.tsx
  ui/app/routes/datasets/route.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/episodes/route.tsx
  ui/app/routes/observability/functions/$function_name/FunctionBasicInfo.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/routes/observability/functions/$function_name/variants/route.tsx
  ui/app/routes/observability/functions/route.tsx
  ui/app/routes/observability/inferences/$inference_id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/InferenceBasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/app/routes/observability/inferences/route.tsx
  ui/app/routes/optimization/supervised-fine-tuning/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Add missing 'json_mode' field to e2e tensorzero.toml (#1454)
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Warn on unknown fields in openai-compatible request (#1441)
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/tests/e2e/openai_compatible.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix formatting issue in evals README.md (#1451)
  evals/README.md
Due: prettier: ui, prettier: openai-node

Add MIPRO recipe to README (#1447)
  README.md
Due: prettier: ui, prettier: openai-node

Run a subset of e2e tests against different ClickHouse versions (#1450)
  .cargo/config.toml
  .github/workflows/general.yml
  tensorzero-internal/tests/e2e/docker-compose.yml
  tensorzero-internal/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

removed wrapper div
  ui/app/routes/evaluations/$eval_name/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Handle deprecation #1170 properly with custom types for Python PyO3 client
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
Due: none

Update
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
Due: none

Update
  clients/python-pyo3/tensorzero/types.py
Due: none

Handle deprecation #1170 properly with custom types for Python PyO3 client (#1460)
  clients/python-pyo3/tensorzero/types.py
  clients/python-pyo3/tests/test_client.py
Due: none

Update
  clients/python-pyo3/tests/test_client.py
Due: none

Update
  ui/package.json
  ui/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node

Update
  ui/app/utils/supervised_fine_tuning/openAITokenCounter.test.ts
  ui/vitest.config.js
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Update
  README.md
  examples/readme/openai_client.py
  examples/readme/tensorzero_async_client.py
  examples/readme/tensorzero_sync_client.py
Due: prettier: ui, prettier: openai-node

Update
  README.md
  examples/readme/tensorzero_async_client.py
  examples/readme/tensorzero_sync_client.py
Due: prettier: ui, prettier: openai-node

Update
  README.md
Due: prettier: ui, prettier: openai-node

Update
  clients/openai-python/tests/test_openai_compatibility.py
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/tensorzero/tensorzero.pyi
  clients/python-pyo3/tests/test_client.py
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update (#1467)
  clients/openai-python/tests/test_openai_compatibility.py
  clients/python-pyo3/src/lib.rs
  clients/python-pyo3/tensorzero/tensorzero.pyi
  clients/python-pyo3/tests/test_client.py
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed query
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0020.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/migration_0021.rs
  tensorzero-internal/src/clickhouse/migration_manager/migrations/mod.rs
  tensorzero-internal/src/clickhouse/migration_manager/mod.rs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/src/endpoints/feedback.rs
  tensorzero-internal/tests/e2e/clickhouse.rs
  ui/app/utils/clickhouse/inference.ts
  ui/fixtures/docker-compose.yml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added better prompt
  ui/fixtures/config/functions/write_haiku/better_prompt/system_template.minijinja
  ui/fixtures/config/functions/write_haiku/better_prompt/user_template.minijinja
  ui/fixtures/config/tensorzero.toml
Due: none

added a couple datapoints that exercise ragged data handling
  ui/fixtures/chat_inference_dataset_examples.csv
Due: none
