Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$

added e2e tests for dynamic demonstrations
  tensorzero-internal/src/endpoints/feedback.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add '[gateway.enable_template_filesystem_access]' (#1353)
  tensorzero-internal/fixtures/config/functions/basic_test/prompt/system_template.minijinja
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/gateway_util.rs
  tensorzero-internal/src/minijinja_util.rs
  tensorzero-internal/tests/e2e/extra_templates/foo.minijinja
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Clean up basic info formatting
  ui/app/routes/observability/inferences/$inference_id/BasicInfo.tsx
  ui/app/utils/date.ts
Due: prettier, eslint, tsc

Update
  ui/app/utils/date.ts
  ui/fixtures/config/tools/unleash_kraken.json
Due: prettier, eslint, tsc

Update
  ui/app/routes/datasets/$dataset_name/datapoint/$id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInput.tsx
  ui/app/tailwind.css
Due: prettier, eslint, tsc

Update (#1359)
  ui/app/routes/datasets/$dataset_name/datapoint/$id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/BasicInfo.tsx
  ui/app/routes/observability/inferences/$inference_id/ModelInput.tsx
  ui/app/tailwind.css
Due: prettier, eslint, tsc

removed stray print
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Check security advisories with 'cargo deny' in CI (#1355)
  .github/workflows/general.yml
  .pre-commit-config.yaml
  deny.toml
Due: prettier

removed assertion over exact match value
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added handling for dynamic validation of demonstrations and feedbacks
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/src/endpoints/feedback.rs
  tensorzero-internal/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added e2e tests for dynamic demonstrations
  tensorzero-internal/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added handling and tests of datasets with dynamic tools / json
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/tests/e2e/datasets.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

removed assertion over exact match value (#1362)
  evals/tests/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Bump axum to 0.8 (#1333)
  Cargo.lock
  Cargo.toml
  gateway/src/main.rs
  tensorzero-internal/src/gateway_util.rs
  tensorzero-internal/tests/mock-inference-provider/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update
  clients/openai-node/tests/openai-compatibility.test.ts
  clients/openai-python/tests/test_openai_compatibility.py
  clients/python-pyo3/tests/test_client.py
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

fixed tests for pyo3 client
  clients/python-pyo3/tests/test_client.py
Due: none

Update
  clients/python-pyo3/.cargo/config.toml
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: none

Update
  clients/openai-node/tests/openai-compatibility.test.ts
  clients/openai-python/tests/test_openai_compatibility.py
  clients/python-pyo3/tests/test_client.py
  tensorzero-internal/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

Update
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/tests/e2e/dicl.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/reasoning.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix OpenAI content block encoding for multi-turn tool use + parallel tool use (#1363)
  clients/openai-node/tests/openai-compatibility.test.ts
  clients/openai-python/tests/test_openai_compatibility.py
  clients/python-pyo3/.cargo/config.toml
  clients/python-pyo3/tests/test_client.py
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/tests/e2e/dicl.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/reasoning.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

wip
  evals/src/stats.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.03.1
  Cargo.lock
  clients/python-pyo3/Cargo.toml
  tensorzero-internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix test
  clients/openai-python/tests/test_openai_compatibility.py
Due: none

Move tests to pyo3 tests and add comments
  clients/openai-python/tests/test_openai_compatibility.py
  clients/python-pyo3/tensorzero/__init__.py
  clients/python-pyo3/tests/test_client.py
  tensorzero-internal/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Refactor to use future
  clients/python-pyo3/src/lib.rs
  tensorzero-internal/src/gateway_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

bumped version to 2025.03.1 (#1367)
  Cargo.lock
  clients/python-pyo3/Cargo.toml
  tensorzero-internal/src/endpoints/status.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix test errors
  clients/python-pyo3/tests/test_client.py
Due: none

Add issue references
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove double layer of `PyErr` in `convert_error`
  clients/python-pyo3/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Re-add python-pyo3/.cargo/config.toml
  clients/python-pyo3/.cargo/config.toml
Due: none

Fix merge issues
  evals/src/evaluators/llm_judge.rs
  evals/src/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Re-add python-pyo3/.cargo/config.toml (#1372)
  clients/python-pyo3/.cargo/config.toml
Due: none

added tests for error handling
  evals/src/lib.rs
  evals/src/stats.rs
  evals/tests/tests.rs
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
