Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Cache mock-provider-api in Docker
  crates/tensorzero-core/tests/mock-provider-api/Dockerfile
Due: none

Add visit_standalone_task_tool to ToolVisitor (#6742)
  crates/autopilot-tools/src/visitor.rs
  crates/autopilot-worker/src/worker.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Don't render UserQuestionsAnswersContent when AutoevalExampleLabelingCard is rendered; remove multi-select for multiple choice questions
  crates/autopilot-client/src/types.rs
  crates/tensorzero-node/lib/bindings/AutoevalLabelQuestion.ts
  ui/app/components/autopilot/AutoevalExampleLabeling.stories.tsx
  ui/app/components/autopilot/EventStream.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cache mock-provider-api in Docker
  ci/check-rust-version-consistency.sh
Due: none

Add note about ui/.env variable expansion
  ui/.env.example
Due: none

Make form state sync from answers
  ui/app/components/autopilot/AutoevalExampleLabeling.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add get run metadata route (#6822)
  crates/gateway/src/routes/internal.rs
  crates/tensorzero-core/src/endpoints/internal/evaluations/get_run_metadata.rs
  crates/tensorzero-core/src/endpoints/internal/evaluations/mod.rs
  crates/tensorzero-core/tests/e2e/endpoints/internal/evaluations/get_run_metadata.rs
  crates/tensorzero-core/tests/e2e/endpoints/internal/evaluations/mod.rs
  crates/tensorzero-node/lib/bindings/EvaluationRunMetadata.ts
  crates/tensorzero-node/lib/bindings/GetEvaluationRunMetadataResponse.ts
  crates/tensorzero-node/lib/bindings/RunMetricMetadata.ts
  crates/tensorzero-node/lib/bindings/index.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add backticks in comments
  ui/app/components/autopilot/AutoevalExampleLabeling.tsx
  ui/app/components/autopilot/EventStream.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Test browser-auth e2e by CI auth mode matrix
  .github/workflows/ui-tests-e2e.yml
  ui/e2e_tests/browser-auth.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Run all three auth modes in both PR and merge queue CI
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Bump more pnpm deps
  .github/dependabot.yml
  crates/tensorzero-node/package.json
  docs/pnpm-lock.yaml
  pnpm-lock.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Add note about ui/.env variable expansion (#6854)
  ui/.env.example
Due: none

Allow entering gateway API key in auth error dialog (#6649)
  .github/workflows/ui-tests-e2e.yml
  ui/app/components/ui/error/ErrorContent.tsx
  ui/app/components/ui/error/ErrorDialog.stories.tsx
  ui/app/root.tsx
  ui/app/routes.ts
  ui/app/routes/api/auth/set_gateway_key.route.ts
  ui/app/routes/api/autopilot/sessions/$session_id/events/stream.route.ts
  ui/app/utils/api-key-override.server.test.ts
  ui/app/utils/api-key-override.server.ts
  ui/app/utils/get-autopilot-client.server.ts
  ui/app/utils/get-tensorzero-client.server.ts
  ui/app/utils/read-only.server.ts
  ui/app/utils/tensorzero/errors.ts
  ui/e2e_tests/browser-auth.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Query the Github api when detecting failed/skipped jobs (#6836)
  .github/workflows/general.yml
  ci/check-all-general-jobs-passed.sh
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Update
  docs/quickstart.mdx
  examples/docs/guides/quickstart/README.md
  examples/docs/guides/quickstart/after.py
  examples/docs/guides/quickstart/after.sh
  examples/docs/guides/quickstart/after.ts
  examples/docs/guides/quickstart/before.py
  examples/docs/guides/quickstart/before.sh
  examples/docs/guides/quickstart/before.ts
  examples/docs/guides/quickstart/config/tensorzero.toml
  examples/docs/guides/quickstart/docker-compose.yml
  examples/docs/guides/quickstart/package.json
  examples/docs/guides/quickstart/pyproject.toml
  examples/docs/guides/quickstart/uv.lock
  examples/pnpm-lock.yaml
  examples/quickstart/before.py
  examples/quickstart/package.json
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Use OpenAI SDK for inference requests in adaptive A/B test example (#6741)
  docs/experimentation/run-adaptive-ab-tests.mdx
  examples/docs/guides/experimentation/run-adaptive-ab-tests/main.py
  examples/docs/guides/experimentation/run-adaptive-ab-tests/uv.lock
Due: none

Remove stale comment about auto-expand behavior
  ui/e2e_tests/autopilot/topk-visualization.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cache mock-provider-api in Docker (#6853)
  ci/check-rust-version-consistency.sh
  crates/tensorzero-core/tests/mock-provider-api/Dockerfile
Due: none

Update
  examples/workflow_evaluations/simple-agentic-rag/agent.py
  examples/workflow_evaluations/simple-agentic-rag/uv.lock
Due: none

Update episodes guide to use OpenAI SDK instead of TensorZero SDK (#6728)
  docs/gateway/guides/episodes.mdx
  examples/guides/episodes/main.py
  examples/guides/episodes/openai_sdk.py
  examples/guides/episodes/pyproject.toml
  examples/guides/episodes/uv.lock
Due: none

Reduce peak memory usage when streaming autopilot events
  crates/autopilot-client/src/client.rs
  crates/tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add /evaluation-runs frontend route with TS client updates
  ui/app/routes.ts
  ui/app/routes/evaluation-runs/route.tsx
  ui/app/routes/evaluations/EvaluationRunsTable.tsx
  ui/app/utils/clickhouse/evaluations.server.ts
  ui/app/utils/clickhouse/evaluations.test.ts
  ui/app/utils/tensorzero/tensorzero.ts
  ui/app/utils/urls.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Resolve evaluator metric names from evaluation-runs page
  ui/app/routes/evaluation-runs/route.tsx
  ui/app/routes/evaluations/$evaluation_name/EvaluationTable.tsx
  ui/app/routes/evaluations/$evaluation_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Make names redirect to evaluation runs in evaluation runs table
  ui/app/components/tags/TagsTable.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/EvaluationDatapointBasicInfo.tsx
  ui/app/routes/evaluations/$evaluation_name/$datapoint_id/route.tsx
  ui/app/routes/evaluations/EvaluationRunsTable.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/utils/urls.test.ts
  ui/app/utils/urls.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Address review feedback: rename, eval resolution, e2e fixtures
  ui/app/utils/config/index.server.ts
  ui/app/utils/evaluations.server.ts
  ui/e2e_tests/snapshot-hash.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support running evaluations with new config from gateway (#6747)
  crates/Cargo.lock
  crates/durable-tools/src/run_evaluation.rs
  crates/evaluations/Cargo.toml
  crates/evaluations/src/evaluators/mod.rs
  crates/evaluations/src/lib.rs
  crates/evaluations/src/types.rs
  crates/evaluations/tests/common/mod.rs
  crates/evaluations/tests/e2e/common/mod.rs
  crates/evaluations/tests/e2e/test_top_level_evaluator.rs
  crates/evaluations/tests/e2e/tests.rs
  crates/gateway/src/routes/evaluations.rs
  crates/tensorzero-core/src/evaluations/mod.rs
  crates/tensorzero-node/lib/bindings/EvaluationIdentifier.ts
  crates/tensorzero-node/lib/bindings/RunEvaluationRequest.ts
  crates/tensorzero-node/lib/bindings/index.ts
  crates/tensorzero-optimizers/src/gepa/evaluate.rs
  crates/tensorzero-python/src/evaluation_handlers.rs
  crates/tensorzero-python/src/lib.rs
  crates/tensorzero-python/tests/test_evaluation.py
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Reduce peak memory usage when streaming autopilot events (#6856)
  crates/autopilot-client/src/client.rs
  crates/tensorzero-core/src/endpoints/internal/autopilot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add variant_performances visualization type for autopilot (#6631)
  ui/app/components/autopilot/EventStream.tsx
  ui/app/components/autopilot/EventVisualization.test.ts
  ui/app/components/autopilot/EventVisualization.tsx
  ui/app/components/autopilot/FeedbackByVariantChart.test.ts
  ui/app/components/autopilot/FeedbackByVariantChart.tsx
  ui/app/components/function/variant/VariantPerformance.test.ts
  ui/app/components/function/variant/VariantPerformance.tsx
  ui/app/components/function/variant/VariantPerformanceChart.tsx
  ui/app/utils/chart.ts
  ui/e2e_tests/autopilot/helpers/session.ts
  ui/e2e_tests/autopilot/topk-visualization.spec.ts
  ui/e2e_tests/autopilot/user-questions.spec.ts
  ui/e2e_tests/autopilot/variant-performance-visualization.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

change 2
  ui/app/routes/evaluations/$datapoint_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

change 1
  ui/app/routes/evaluations/$datapoint_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove UI changes
  ui/.storybook/preview.tsx
  ui/app/components/autopilot/AutoevalExampleLabeling.stories.tsx
  ui/app/components/autopilot/AutoevalExampleLabeling.tsx
  ui/app/components/autopilot/EventStream.tsx
  ui/app/context/entity-sheet.tsx
  ui/app/hooks/useAutopilotEventStream.ts
  ui/app/routes/autopilot/sessions/$session_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Support --function-name/--evaluator-names as alternative to --evaluation-name in evaluations CLI
  crates/evaluations/src/cli.rs
  crates/evaluations/src/lib.rs
  crates/evaluations/src/main.rs
  crates/evaluations/src/types.rs
  crates/evaluations/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add e2e test
  crates/evaluations/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Require eval_source group at CLI parse time
  crates/evaluations/src/cli.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Update
  docs/gateway/guides/inference-caching.mdx
Due: none

Fix
  docs/pnpm-lock.yaml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Explore reusing EventPayloadUserQuestion for autoeval labeling types
  crates/autopilot-client/src/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Change Autoeval to AutoEval (camel case)
  crates/autopilot-client/src/types.rs
  crates/tensorzero-node/lib/bindings/AutoevalContentBlock.ts
  crates/tensorzero-node/lib/bindings/AutoevalExplanationQuestion.ts
  crates/tensorzero-node/lib/bindings/AutoevalLabelQuestion.ts
  crates/tensorzero-node/lib/bindings/AutoevalLabelingExample.ts
  crates/tensorzero-node/lib/bindings/EventPayload.ts
  crates/tensorzero-node/lib/bindings/EventPayloadAutoevalExampleLabeling.ts
  crates/tensorzero-node/lib/bindings/GatewayEventPayload.ts
  crates/tensorzero-node/lib/bindings/index.ts
  ui/app/components/autopilot/EventStream.tsx
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node
