Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Cleanup
  ui/app/components/querybuilder/InferenceQueryBuilder.tsx
  ui/app/components/ui/button.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cast feedback count to number for type consistency
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cleanup
  ui/app/components/querybuilder/InferenceQueryBuilder.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

updated GCP provider and fixed failing tests
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/best_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed test that accidentally broke
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use pre-existing utility function to format chart ticks
  ui/app/components/function/variant/FeedbackSamplesTimeseries.tsx
  ui/app/components/function/variant/VariantThroughput.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Print current 'state' every 5 seconds during gateway shutdown
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/main.rs
  gateway/src/routes.rs
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clippy
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove duplicate call
  tensorzero-core/tests/e2e/otel_export.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix typo
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

use system content blocks for anthropic integration (#4130)
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/best_of_n.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add another enter_fake_http_request_otel
  tensorzero-core/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Factor out date/time functionality out into new util functions
  ui/app/utils/date.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Remove unneeded exports, add docstrings, clean up sorting behavior
  ui/app/components/function/variant/FeedbackSamplesTimeseries.tsx
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cleanup
  ui/app/components/querybuilder/InferenceQueryBuilder.stories.tsx
  ui/app/components/querybuilder/InferenceQueryBuilder.tsx
  ui/app/components/querybuilder/MetricNameWithTooltip.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add description of shutdown process
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add another comment
  tensorzero-core/src/observability/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Run fmt
  tensorzero-core/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove default export and unnecessary error, clean up feedbackTimeSeriesPromise
  ui/app/routes/observability/functions/$function_name/FunctionExperimentation.tsx
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename variable to something more informative
  ui/app/routes/observability/functions/$function_name/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Factor out optimal probability computation into separate utility function
  ui/app/routes/observability/functions/$function_name/route.tsx
  ui/app/utils/experimentation.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Pin ci-bot to pre-miniswe-agent version
  .github/workflows/tensorzero-ci-bot-failure-diagnosis.yml
  .github/workflows/tensorzero-ci-bot-provide-feedback.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Implement batch get and batch query API
  gateway/src/routes.rs
  internal/tensorzero-node/lib/bindings/DatapointFilter.ts
  internal/tensorzero-node/lib/bindings/GetDatapointParams.ts
  internal/tensorzero-node/lib/bindings/GetDatapointsRequest.ts
  internal/tensorzero-node/lib/bindings/GetDatapointsResponse.ts
  internal/tensorzero-node/lib/bindings/ListDatapointsRequest.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/datapoint_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/db/clickhouse/query_builder/parameters.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/endpoints/datasets/v1/get_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/mod.rs
  tensorzero-core/src/endpoints/datasets/v1/types.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/tests/e2e/datasets.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Pin ci-bot to pre-miniswe-agent version (#4138)
  .github/workflows/tensorzero-ci-bot-failure-diagnosis.yml
  .github/workflows/tensorzero-ci-bot-provide-feedback.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Cleanup
  ui/app/components/querybuilder/InferenceQueryBuilder.stories.tsx
  ui/app/components/querybuilder/InferenceQueryBuilder.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

updated provider proxy with a skip user agent no amazon flag
  provider-proxy/src/lib.rs
  provider-proxy/tests/e2e/tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Cleanup
  ui/app/components/querybuilder/AddButton.tsx
  ui/app/components/querybuilder/DeleteButton.tsx
  ui/app/components/querybuilder/FilterRows.tsx
  ui/app/components/querybuilder/FunctionFormField.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/querybuilder/inference-filter-schema.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cleanup
  ui/app/components/querybuilder/FilterRows.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/querybuilder/InferenceQueryBuilder.tsx
  ui/app/components/querybuilder/MetricNameWithTooltip.tsx
  ui/app/components/querybuilder/inference-filter-schema.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cleanup
  ui/app/components/querybuilder/DeleteButton.tsx
  ui/app/components/querybuilder/FilterRows.tsx
  ui/app/components/querybuilder/InferenceFilterBuilder.tsx
  ui/app/components/querybuilder/inference-filter-schema.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cleanup
  ui/app/components/querybuilder/AddButton.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Cleanup
  ui/app/components/querybuilder/InferenceQueryBuilder.stories.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix typo in docstring
  ui/app/components/function/variant/FeedbackSamplesTimeseries.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Improve handling of file URLs (#4127)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  provider-proxy/src/lib.rs
  provider-proxy/tests/e2e/tests.rs
  tensorzero-core/src/config/gateway.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/error.rs
  tensorzero-core/src/http.rs
  tensorzero-core/src/inference/types/file.rs
  tensorzero-core/tests/e2e/image_url.rs
  tensorzero-core/tests/e2e/providers/common.rs
  ui/fixtures/model_inference_cache_e2e.jsonl
  ui/package.json
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node
