Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

Fix clippy
  tensorzero-internal/tests/e2e/template.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'TENSORZERO_SKIP_BUILD_INFO' to speed up local development
  tensorzero-internal/build.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

increased timeout for clickhouse healthcheck to 180s (#2351)
  tensorzero-internal/src/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add template files
  tensorzero-internal/fixtures/config/functions/basic_test_template_no_schema/prompt/assistant_template_2.minijinja
  tensorzero-internal/fixtures/config/functions/basic_test_template_no_schema/prompt/system_template_2.minijinja
  tensorzero-internal/fixtures/config/functions/basic_test_template_no_schema/prompt/user_template_2.minijinja
Due: none

implemented python client methods
  clients/python/src/lib.rs
  tensorzero-internal/src/clickhouse/types.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add dedicated Groq model provider (#1893)
  .github/workflows/batch-test.yml
  .github/workflows/merge-queue.yml
  README.md
  ci/dummy-env-file.env
  tensorzero-internal/src/inference/providers/groq.rs
  tensorzero-internal/src/inference/providers/mod.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/providers/groq.rs
  tensorzero-internal/tests/e2e/providers/mod.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  ui/app/components/model/ModelBadge.tsx
  ui/app/components/model/ModelBadges.tsx
  ui/app/utils/config/models.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix groq
  tensorzero-internal/src/inference/providers/groq.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add 'TENSORZERO_SKIP_BUILD_INFO' to speed up local development (#2353)
  tensorzero-internal/build.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

stubtests are passing
  clients/python/src/lib.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tensorzero/types.py
  tensorzero-internal/src/clickhouse/query_builder/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

small typing fix
  clients/python/tensorzero/types.py
Due: none

Update README.md
  README.md
Due: prettier: ui, prettier: openai-node

Allow arbitrary mime-types for 'file' input (#2325)
  Cargo.lock
  Cargo.toml
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  clients/rust/Cargo.toml
  clients/rust/src/input_handling.rs
  clients/rust/tests/tests.rs
  evaluations/src/evaluators/llm_judge/mod.rs
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/endpoints/openai_compatible.rs
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/groq.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/openrouter.rs
  tensorzero-internal/src/inference/types/file.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/inference/types/resolved_input.rs
  tensorzero-internal/src/inference/types/storage.rs
  tensorzero-internal/src/variant/dicl.rs
  tensorzero-internal/tests/e2e/inference.rs
  tensorzero-internal/tests/e2e/providers/common.rs
  tensorzero-internal/tests/e2e/render_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

added the max w constraint per feedback
  ui/app/components/layout/SnippetContent.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add recipe for torchtune fine-tuning
  recipes/supervised_fine_tuning/metrics/torchtune/.devcontainer/devcontainer.json
  recipes/supervised_fine_tuning/metrics/torchtune/README.md
  recipes/supervised_fine_tuning/metrics/torchtune/pyproject.toml
  recipes/supervised_fine_tuning/metrics/torchtune/requirements.txt
  recipes/supervised_fine_tuning/metrics/torchtune/torchtune.ipynb
  recipes/supervised_fine_tuning/metrics/torchtune/torchtune_nb.py
  recipes/supervised_fine_tuning/metrics/torchtune/utils.py
  recipes/supervised_fine_tuning/metrics/torchtune/uv.lock
  ui/.storybook/main.ts
  ui/playwright.config.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

wip
  clients/python/tests/test_rendering.py
Due: none

wip
  clients/python/tests/fixtures.py
  clients/python/tests/test_list_inferences.py
Due: none

Update README.md (#2356)
  README.md
Due: prettier: ui, prettier: openai-node

Use helper methods for applying extra_body/extra_headers
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/azure.rs
  tensorzero-internal/src/inference/providers/deepseek.rs
  tensorzero-internal/src/inference/providers/fireworks.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_anthropic.rs
  tensorzero-internal/src/inference/providers/gcp_vertex_gemini.rs
  tensorzero-internal/src/inference/providers/google_ai_studio_gemini.rs
  tensorzero-internal/src/inference/providers/groq.rs
  tensorzero-internal/src/inference/providers/helpers.rs
  tensorzero-internal/src/inference/providers/hyperbolic.rs
  tensorzero-internal/src/inference/providers/mistral.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/openrouter.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/together.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed serde macros for Datapoint classes
  clients/python/tests/test_client.py
  tensorzero-internal/src/endpoints/datasets.rs
  tensorzero-internal/src/serde_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Remove extra content-type headers
  tensorzero-internal/src/inference/providers/anthropic.rs
  tensorzero-internal/src/inference/providers/groq.rs
  tensorzero-internal/src/inference/providers/openai.rs
  tensorzero-internal/src/inference/providers/openrouter.rs
  tensorzero-internal/src/inference/providers/sglang.rs
  tensorzero-internal/src/inference/providers/tgi.rs
  tensorzero-internal/src/inference/providers/vllm.rs
  tensorzero-internal/src/inference/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix azure body
  tensorzero-internal/src/inference/providers/azure.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed wrapping tool call message issue plus minor clean up
  ui/app/components/inference/InputSnippet.stories.tsx
  ui/app/components/inference/InputSnippet.tsx
  ui/app/components/layout/SnippetContent.tsx
  ui/app/components/layout/SnippetLayout.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added unit tests for serde macros
  tensorzero-internal/src/serde_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

snippet styles clean up
  ui/app/components/inference/InputSnippet.tsx
  ui/app/components/inference/NewOutput.tsx
  ui/app/components/layout/SnippetContent.tsx
  ui/app/components/layout/SnippetLayout.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

styles clean up, replaced multiple TextMessages with a single TextMessage with otional structured style
  ui/app/components/inference/InputSnippet.tsx
  ui/app/components/layout/SnippetContent.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

add support for qwen and gemma
  recipes/supervised_fine_tuning/metrics/torchtune/README.md
  recipes/supervised_fine_tuning/metrics/torchtune/pyproject.toml
  recipes/supervised_fine_tuning/metrics/torchtune/requirements.txt
  recipes/supervised_fine_tuning/metrics/torchtune/torchtune.ipynb
  recipes/supervised_fine_tuning/metrics/torchtune/torchtune_nb.py
  recipes/supervised_fine_tuning/metrics/torchtune/utils.py
  recipes/supervised_fine_tuning/metrics/torchtune/uv.lock
Due: prettier: ui, prettier: openai-node

feat: fetch model from redis
  tensorzero-internal/Cargo.toml
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/endpoints/batch_inference.rs
  tensorzero-internal/src/endpoints/inference.rs
  tensorzero-internal/src/gateway_util.rs
  tensorzero-internal/src/lib.rs
  tensorzero-internal/src/redis_client.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

compile script
  recipes/supervised_fine_tuning/metrics/google-vertex/google_vertex_nb.py
Due: none

Address review comments
  tensorzero-internal/src/minijinja_util.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/tests/e2e/render_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

implemented getters for StoredInference method
  clients/python/src/lib.rs
  clients/python/tests/test_list_inferences.py
  clients/rust/src/stored_inference.rs
  tensorzero-internal/src/clickhouse/query_builder/mod.rs
  tensorzero-internal/src/clickhouse/types.rs
  tensorzero-internal/src/error.rs
  tensorzero-internal/src/inference/types/file.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/inference/types/resolved_input.rs
  tensorzero-internal/src/inference/types/storage.rs
  tensorzero-internal/src/tool.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

simple filter tests implemented
  clients/python/tests/test_list_inferences.py
  tensorzero-internal/src/clickhouse/types.rs
  ui/fixtures/Dockerfile
  ui/fixtures/check-fixtures.sh
  ui/fixtures/load_fixtures.sh
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add `[timeouts]` section to model provider config
  tensorzero-internal/src/config_parser.rs
  tensorzero-internal/src/error.rs
  tensorzero-internal/src/inference/providers/dummy.rs
  tensorzero-internal/src/model.rs
  tensorzero-internal/src/variant/best_of_n_sampling.rs
  tensorzero-internal/src/variant/chat_completion.rs
  tensorzero-internal/src/variant/mixture_of_n.rs
  tensorzero-internal/src/variant/mod.rs
  tensorzero-internal/tests/e2e/tensorzero.toml
  tensorzero-internal/tests/e2e/tests.rs
  tensorzero-internal/tests/e2e/timeouts.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add pyproject.toml and uv.lock for fixtures and pin pandas==2.2.3
  ui/fixtures/.python-version
  ui/fixtures/Dockerfile
  ui/fixtures/load_fixtures.sh
  ui/fixtures/pyproject.toml
  ui/fixtures/uv.lock
Due: none

Check that we build the expected number of Python wheels
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node

Adjust ls command
  .github/workflows/python-client-build.yml
Due: prettier: ui, prettier: openai-node

Use 'uv run parquet-tools'
  ui/fixtures/check-fixtures.sh
Due: none

changed internal data type for renderedstoredinference outputs
  clients/python/tests/test_list_inferences.py
  clients/rust/src/stored_inference.rs
  tensorzero-internal/src/clickhouse/types.rs
  tensorzero-internal/src/inference/types/mod.rs
  tensorzero-internal/src/inference/types/pyo3_helpers.rs
  tensorzero-internal/tests/e2e/render_inferences.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed issue with fixture location
  clients/python/tests/conftest.py
  clients/python/tests/test_rendering.py
Due: none

implemented initial test for natively handling StoredInference objects
  clients/python/src/lib.rs
  clients/python/tests/test_list_inferences.py
  tensorzero-internal/src/inference/types/pyo3_helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
