Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

prettier: ui:
  name: 'prettier: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: openai-node:
  name: 'prettier: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

prettier: tensorzero-node:
  name: 'prettier: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run format'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - prettier
  - prettier-plugin-tailwindcss
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint: ui:
  name: 'eslint: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: openai-node:
  name: 'eslint: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

eslint: tensorzero-node:
  name: 'eslint: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run lint'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  pass_filenames: false

tsc: ui:
  name: 'tsc: ui'
  entry: bash -c 'pnpm --filter=tensorzero-ui run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: openai-node:
  name: 'tsc: openai-node'
  entry: bash -c 'pnpm --filter=openai-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

tsc: tensorzero-node:
  name: 'tsc: tensorzero-node'
  entry: bash -c 'pnpm --filter=tensorzero-node run typecheck'
  language: node
  language_version: 22.9.0
  additional_dependencies:
  - typescript
  pass_filenames: false

compile-check-notebooks:
  name: compile-check-notebooks
  entry: ci/compile-check-notebooks.sh all
  language: system

fixed failing python client tests
  clients/python/tests/test_client.py
  clients/python/tests/test_openai_compatibility.py
Due: none

update stub file
  clients/python/tensorzero/tensorzero.pyi
Due: none

Make max_datapoints nontrivial in tests
  clients/python/tests/test_evaluation.py
Due: none

Add adaptive stopping evals args to node and ui
  internal/tensorzero-node/lib/bindings/OptimizerOutput.ts
  internal/tensorzero-node/lib/index.ts
  internal/tensorzero-node/src/lib.rs
  ui/app/routes/evaluations/AdvancedParametersAccordion.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/routes/evaluations/route.tsx
  ui/app/utils/evaluations.server.ts
  ui/app/utils/tensorzero/native_client.server.ts
  ui/e2e_tests/evaluations.spec.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

fixed pyright
  clients/python/tests/test_client.py
Due: none

tests pass
  Cargo.lock
  internal/minijinja-utils/Cargo.toml
  internal/minijinja-utils/src/lib.rs
  internal/minijinja-utils/src/loading.rs
  internal/minijinja-utils/src/tests.rs
  tensorzero-core/src/minijinja_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed clippies
  tensorzero-core/src/minijinja_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  ui/app/routes/datasets/$dataset_name/datapoint/$id/formDataUtils.ts
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/e2e_tests/datasets.dataset_name.datapoint.datapoint_id/editing.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rebuild typescript bindings
  internal/tensorzero-node/lib/bindings/OptimizerOutput.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename precisionLimits to precisionTargets
  internal/tensorzero-node/lib/index.ts
  ui/app/routes/evaluations/AdvancedParametersAccordion.tsx
  ui/app/routes/evaluations/LaunchEvaluationModal.tsx
  ui/app/utils/evaluations.server.ts
  ui/app/utils/tensorzero/native_client.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  ui/app/routes/datasets/$dataset_name/datapoint/$id/route.tsx
  ui/app/utils/resolve.server.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Rename CLI arg to --adaptive-stopping-precision
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Expand user-facing docstrings, change 'threshold' to 'precision_target'
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/generated_types.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tensorzero/types.py
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_headers.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/tests/e2e/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  clients/python/tensorzero/tensorzero.pyi
Due: none

Fix
  clients/python/tensorzero/__init__.py
Due: none

Put precision inside an adaptive_stopping dict
  clients/python/src/lib.rs
  clients/python/tests/test_evaluation.py
Due: cargo-deny, cargo-fmt, cargo-clippy

fixed clippies
  internal/minijinja-utils/src/lib.rs
  internal/minijinja-utils/src/loading.rs
  internal/minijinja-utils/src/tests.rs
  tensorzero-core/src/minijinja_util.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

removed dependencies on OpenAI's tool calling code
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/chat_completions.rs
  tensorzero-core/src/providers/deepseek.rs
  tensorzero-core/src/providers/groq.rs
  tensorzero-core/src/providers/mod.rs
  tensorzero-core/src/providers/openrouter.rs
  tensorzero-core/src/providers/tgi.rs
  tensorzero-core/src/providers/together.rs
  tensorzero-core/src/providers/xai.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove existing StoredInference PyO3 type
  clients/python/src/lib.rs
  clients/python/src/python_helpers.rs
  clients/python/tensorzero/__init__.py
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/conftest.py
  clients/python/tests/test_list_inferences.py
  clients/python/tests/test_rendering.py
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/stored_inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

add handeling for multifetch; refactor code
  ui/app/hooks/use-inference-hover.ts
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

address comments
  ui/app/hooks/use-inference-hover.ts
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Experimental text query for inferences
  clients/python/tensorzero/generated_types.py
  clients/python/tests/test_stored_inferences_v1.py
  clients/rust/tests/test_stored_inferences.rs
  internal/tensorzero-node/lib/bindings/ListInferencesRequest.ts
  internal/tensorzero-node/lib/bindings/OrderBy.ts
  internal/tensorzero-node/lib/bindings/OrderByTerm.ts
  tensorzero-core/src/db/clickhouse/inference_queries.rs
  tensorzero-core/src/db/clickhouse/query_builder/mod.rs
  tensorzero-core/src/db/inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/get_inferences.rs
  tensorzero-core/src/endpoints/stored_inferences/v1/types.rs
  tensorzero-core/tests/e2e/endpoints/stored_inferences/get_inferences.rs
  tensorzero-optimizers/src/endpoints.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Update .pyi file
  clients/python/tensorzero/tensorzero.pyi
Due: none

Change 'Precision Targets' to 'Adaptive Stopping Precision'
  ui/app/routes/evaluations/AdvancedParametersAccordion.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

improved error messages
  internal/minijinja-utils/src/loading.rs
  tensorzero-core/src/error/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  clients/python/tensorzero/generated_types.py
  internal/tensorzero-node/lib/bindings/InferenceExtraHeader.ts
  internal/tensorzero-node/lib/bindings/index.ts
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_headers.rs
  tensorzero-core/src/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

added handling for ToolChoice::None
  tensorzero-core/src/providers/chat_completions.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

[STACKED] Generate Python types for extra body & header
  clients/python/tensorzero/generated_types.py
  clients/python/tensorzero/types.py
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_headers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  clients/python/tensorzero/generated_types.py
  tensorzero-core/src/config/tests.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/inference/types/extra_body.rs
  tensorzero-core/src/inference/types/extra_headers.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/providers/helpers.rs
  tensorzero-core/tests/e2e/providers/helpers.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Wait for ClickHouse to be ready in minikube test
  .github/workflows/minikube.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Pin jsonwebtoken to 10.1.0 to avoid cargo-deny bug
  tensorzero-core/Cargo.toml
Due: none

Wait for operator
  .github/workflows/minikube.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Mark dynamic_variant_config as internal
  clients/python/src/lib.rs
  clients/python/tensorzero/tensorzero.pyi
  clients/python/tests/test_evaluation.py
  evaluations/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$
