Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$

Parse 'reasoning_content' field in VLLM responses (#3018)
  .github/workflows/merge-queue.yml
  tensorzero-core/fixtures/deployment/vllm-modal-gpt-oss/README.md
  tensorzero-core/fixtures/deployment/vllm-modal-gpt-oss/vllm_gpt_oss.py
  tensorzero-core/src/providers/azure.rs
  tensorzero-core/src/providers/hyperbolic.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/sglang.rs
  tensorzero-core/src/providers/vllm.rs
  tensorzero-core/src/providers/xai.rs
  tensorzero-core/tests/e2e/providers/fireworks.rs
  tensorzero-core/tests/e2e/providers/helpers.rs
  tensorzero-core/tests/e2e/providers/reasoning.rs
  tensorzero-core/tests/e2e/providers/vllm.rs
  tensorzero-core/tests/e2e/tensorzero.toml
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node

added logging
  .github/workflows/helm-publish.yml
Due: prettier: ui, prettier: openai-node

removed ssh debugging
  .github/workflows/helm-publish.yml
Due: prettier: ui, prettier: openai-node

try on release
  .github/workflows/helm-publish.yml
Due: prettier: ui, prettier: openai-node

bumped version to 2025.8.1 (#3049)
  Cargo.lock
  Cargo.toml
  examples/production-deployment-k8s-helm/Chart.yaml
  ui/package.json
Due: prettier: ui, prettier: openai-node

feat(mock-inference-provider): add support for Together and GCP Vertex Gemini
  tensorzero-core/tests/mock-inference-provider/src/gcp_vertex_gemini.rs
  tensorzero-core/tests/mock-inference-provider/src/main.rs
  tensorzero-core/tests/mock-inference-provider/src/together.rs
  tensorzero-core/tests/optimization/mock_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

run on push
  .github/workflows/helm-publish.yml
Due: prettier: ui, prettier: openai-node

Remove ssh debugging
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

replaced simple cases of FINAL with LIMIT 1
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  ui/app/utils/clickhouse/inference.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

chagned tests timeouts to avoid type cast
  ui/app/routes/optimization/supervised-fine-tuning/FineTuningStatus.stories.tsx
  ui/app/utils/config/models.test.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Fix test
  tensorzero-core/tests/e2e/cache.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Allow dead code in optimizations tests
  tensorzero-core/tests/optimization/common/gcp_vertex_gemini_sft.rs
  tensorzero-core/tests/optimization/common/together_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add in a sleep before read
  tensorzero-core/tests/e2e/timeouts.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Log batch write configuration
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Adjust some sleeps
  tensorzero-core/tests/e2e/dynamic_evaluations.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

replaced simple cases of FINAL with LIMIT 1 (#3053)
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/tests/e2e/clickhouse.rs
  ui/app/utils/clickhouse/inference.server.ts
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Decrease flush interval in e2e tests
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

fixed model config dumping
  ui/app/utils/config/models.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Allow dead code in optimizations tests (#3054)
  tensorzero-core/tests/optimization/common/gcp_vertex_gemini_sft.rs
  tensorzero-core/tests/optimization/common/together_sft.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Another sleep
  tensorzero-core/tests/e2e/inference.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Add some missing sleeps
  tensorzero-core/tests/e2e/dynamic_evaluations.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Another sleep
  tensorzero-core/tests/e2e/human_feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

fixed existing playwright tests
  ui/e2e_tests/playground.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Insert another sleep
  tensorzero-core/tests/e2e/template.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Lower batch threshold and disable fail-fast
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node

removed some malformed datapoint fixtures
  ui/fixtures/chat_inference_datapoint_examples.jsonl
Due: none

fixed handling of long variant names in playground
  ui/app/routes/playground/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

Allow specifying clickhouse url without user credentials
  ui/entrypoint.sh
Due: none

keep track of what templates were initially present
  ui/app/components/function/variant/VariantEditor.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added key for useRef logic
  ui/app/routes/playground/route.tsx
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added e2e test for edting
  .github/workflows/ui-tests-e2e.yml
  ui/e2e_tests/playground.spec.ts
Due: prettier: ui, prettier: openai-node, eslint: ui, eslint: openai-node, tsc: ui, tsc: openai-node

added separate workflow for e2e tests that require credentials
  .github/workflows/ui-tests-e2e.yml
Due: prettier: ui, prettier: openai-node

add core oenai rft functionality
  tensorzero-core/src/config_parser/path.rs
  tensorzero-core/src/endpoints/openai_compatible.rs
  tensorzero-core/src/optimization/mod.rs
  tensorzero-core/src/optimization/openai_rft/mod.rs
  tensorzero-core/src/providers/openai/mod.rs
  tensorzero-core/src/providers/openai/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

test conversion to RFTRow
  tensorzero-core/src/providers/openai/optimization.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix dropping client from Python
  clients/python/pyproject.toml
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Also enter runtime when dropping LocalHttpGateway
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Fix clippy
  clients/python/src/lib.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Resolve e2e test error test_dynamic_tool_use_inference_request_embedded_gateway
  tensorzero-core/src/providers/llama.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

add live and mock rft tests
  tensorzero-core/tests/optimization/common/mod.rs
  tensorzero-core/tests/optimization/common/openai_rft.rs
  tensorzero-core/tests/optimization/live_tests.rs
  tensorzero-core/tests/optimization/mock_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Update nvidia_nim.rs
  tensorzero-core/src/providers/nvidia_nim.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit
