Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit, prettier, eslint, tsc

cargo-deny:
  name: cargo deny
  entry: cargo deny check bans
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test-unit:
  name: cargo test-unit
  entry: cargo test-unit
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npx prettier
  language: node
  args:
  - --write
  - --list-different
  additional_dependencies:
  - prettier
  - '@prettier/plugin-xml'
  pass_filenames: false

eslint:
  name: eslint
  entry: npx eslint
  language: node
  additional_dependencies:
  - eslint
  - '@typescript-eslint/parser'
  - '@typescript-eslint/eslint-plugin'
  working_directory: dashboard
  pass_filenames: false

tsc:
  name: typescript
  entry: tsc
  language: node
  additional_dependencies:
  - typescript
  working_directory: dashboard
  pass_filenames: false

added error handling during job polling
  dashboard/app/routes/optimization/supervised-fine-tuning/ProgressIndicator.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/route.tsx
  dashboard/app/utils/supervised_fine_tuning/fireworks.ts
  dashboard/app/utils/supervised_fine_tuning/openai.ts
Due: prettier, eslint, tsc

Clean up error message
  gateway/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

feat: update home page ui
  dashboard/app/routes/index.tsx
Due: prettier, eslint, tsc

Center the homepage
  dashboard/app/routes/index.tsx
Due: prettier, eslint, tsc

Minor changes
  dashboard/app/routes/index.tsx
Due: prettier, eslint, tsc

Issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier

Issue template (#692)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier

Expand the issue template (#693)
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier

Clean up error message (#690)
  gateway/src/inference/types/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

feat: allow user to enter arbitrary model names
  dashboard/app/components/ui/command.tsx
  dashboard/app/components/ui/popover.tsx
  dashboard/app/components/ui/sidebar/app.sidebar.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  dashboard/package-lock.json
  dashboard/package.json
Due: prettier, eslint, tsc

refactor: simplify model display name logic
  dashboard/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
Due: prettier, eslint, tsc

Add simple home page (#616)
  dashboard/app/components/ui/card.tsx
  dashboard/app/routes.ts
  dashboard/app/routes/index.tsx
Due: prettier, eslint, tsc

wip
  dashboard/app/utils/clickhouse.test.ts
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

removed ids from fixtures so that they get generated at load time
  dashboard/app/utils/clickhouse.ts
  dashboard/fixtures/boolean_metric_feedback_examples.csv
  dashboard/fixtures/chat_inference_examples.csv
  dashboard/fixtures/demonstration_feedback_examples.csv
  dashboard/fixtures/float_metric_feedback_examples.csv
  dashboard/fixtures/json_inference_examples.csv
  dashboard/fixtures/load_fixtures.sh
Due: prettier, eslint, tsc

updated fixtures to new ids
  dashboard/fixtures/Dockerfile
  dashboard/fixtures/chat_inference_examples.csv
  dashboard/fixtures/docker-compose.yml
  dashboard/fixtures/load_fixtures.py
  dashboard/fixtures/load_fixtures.sh
Due: prettier

updated fixtures to new ids (#697)
  dashboard/fixtures/Dockerfile
  dashboard/fixtures/chat_inference_examples.csv
  dashboard/fixtures/docker-compose.yml
  dashboard/fixtures/load_fixtures.py
  dashboard/fixtures/load_fixtures.sh
Due: prettier

Validate episode id for feedback API.
  clients/python/tests/test_client.py
  gateway/src/endpoints/feedback.rs
  gateway/tests/e2e/feedback.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

chore: set up prettier and lint with npm commands
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .pre-commit-config.yaml
  dashboard/.prettierrc.json
  dashboard/app/components/ui/accordion.tsx
  dashboard/app/components/ui/card.tsx
  dashboard/app/components/ui/dialog.tsx
  dashboard/app/components/ui/sheet.tsx
  dashboard/app/components/ui/sidebar.tsx
  dashboard/app/hooks/use-mobile.tsx
  dashboard/app/root.tsx
  dashboard/app/routes/index.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/AdvancedParametersAccordion.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/FunctionSelector.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/MetricSelector.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/TemplateDetailsDialog.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/route.tsx
  dashboard/package-lock.json
  dashboard/package.json
  package-lock.json
Due: prettier, eslint, tsc

fix: remove list-different option from format script
  dashboard/package.json
Due: prettier

chore: set up prettier and lint with npm commands (#699)
  .github/workflows/general.yml
  .github/workflows/merge-queue.yml
  .pre-commit-config.yaml
  dashboard/.prettierrc.json
  dashboard/app/components/ui/accordion.tsx
  dashboard/app/components/ui/card.tsx
  dashboard/app/components/ui/dialog.tsx
  dashboard/app/components/ui/sheet.tsx
  dashboard/app/components/ui/sidebar.tsx
  dashboard/app/hooks/use-mobile.tsx
  dashboard/app/root.tsx
  dashboard/app/routes/index.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/AdvancedParametersAccordion.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/FunctionSelector.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/MetricSelector.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/ModelSelector.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/TemplateDetailsDialog.tsx
  dashboard/app/routes/optimization/supervised-fine-tuning/route.tsx
  dashboard/package-lock.json
  dashboard/package.json
  package-lock.json
Due: prettier, eslint, tsc

added a few simple tests for clickhouse;
  dashboard/.prettierignore
  dashboard/app/utils/clickhouse.test.ts
  dashboard/package.json
Due: prettier, eslint, tsc

fix: replace deprecated ElementRef with ComponentRef
  dashboard/app/components/ui/accordion.tsx
  dashboard/app/components/ui/dialog.tsx
  dashboard/app/components/ui/form.tsx
  dashboard/app/components/ui/label.tsx
  dashboard/app/components/ui/select.tsx
  dashboard/app/components/ui/separator.tsx
  dashboard/app/components/ui/sheet.tsx
  dashboard/app/components/ui/sidebar.tsx
  dashboard/app/components/ui/tooltip.tsx
Due: prettier, eslint, tsc

fix: replace deprecated ElementRef with ComponentRef (#701)
  dashboard/app/components/ui/accordion.tsx
  dashboard/app/components/ui/dialog.tsx
  dashboard/app/components/ui/form.tsx
  dashboard/app/components/ui/label.tsx
  dashboard/app/components/ui/select.tsx
  dashboard/app/components/ui/separator.tsx
  dashboard/app/components/ui/sheet.tsx
  dashboard/app/components/ui/sidebar.tsx
  dashboard/app/components/ui/tooltip.tsx
Due: prettier, eslint, tsc

Clean up and deal with cmdk
  .gitignore
  dashboard/package-lock.json
  dashboard/package.json
Due: prettier

Clean up and deal with cmdk
  dashboard/app/routes/index.tsx
Due: prettier, eslint, tsc

changed paging to by uuid
  dashboard/app/utils/clickhouse.test.ts
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

wired up inferences table; no back button yet or links
  dashboard/app/routes.ts
Due: prettier, eslint, tsc

inference table works
  dashboard/.gitignore
  dashboard/app/components/ui/table.tsx
  dashboard/app/routes/observability/inferences/InferencesTable.tsx
  dashboard/app/routes/observability/inferences/route.tsx
  dashboard/app/utils/clickhouse.test.ts
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

added link to table to sidebar and home page
  dashboard/app/components/ui/sidebar/app.sidebar.tsx
  dashboard/app/routes/index.tsx
Due: prettier, eslint, tsc

add a comment that the search block isnt ready
  dashboard/app/routes/observability/inferences/InferencesTable.tsx
Due: prettier, eslint, tsc

added error handling for page size and also disabled buttons when on either end
  dashboard/app/routes/observability/inferences/InferencesTable.tsx
  dashboard/app/routes/observability/inferences/route.tsx
Due: prettier, eslint, tsc

added error handling for clickhouse table queries
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

Update SFT header to match
  dashboard/app/routes/optimization/supervised-fine-tuning/route.tsx
Due: prettier, eslint, tsc

Micro change to CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

generalized error handling to a boundary
  dashboard/app/routes/observability/inferences/route.tsx
  dashboard/app/utils/clickhouse.test.ts
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

removed console logs
  dashboard/app/routes/observability/inferences/route.tsx
  dashboard/app/utils/clickhouse.ts
Due: prettier, eslint, tsc

Micro change to CONTRIBUTING.md (#703)
  CONTRIBUTING.md
Due: prettier

made it so there is no cutover for migrations that were run with a clean start
  gateway/src/clickhouse_migration_manager/migrations/migration_0001.rs
  gateway/src/clickhouse_migration_manager/migrations/migration_0007.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, cargo-test-unit

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test-unit: any of: \.rs$
  prettier: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: any of: \.(ts|mts|cts)$, \.tsx$
