Repository tensorzero/tensorzero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node, compile-check-notebooks

Path conditions:
  cargo-deny: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  prettier: ui: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: openai-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  prettier: tensorzero-node: any of: \.css$, \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.json$, \.jsx$, \.(md|markdown|mdown)$, \.scss$, \.(ts|mts|cts)$, \.tsx$, \.(yaml|yml)$, but not: .*\.ipynb$
  eslint: ui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: openai-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  eslint: tensorzero-node: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsc: ui: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: openai-node: any of: \.(ts|mts|cts)$, \.tsx$
  tsc: tensorzero-node: any of: \.(ts|mts|cts)$, \.tsx$
  compile-check-notebooks: any of: ^recipes/.*(\.ipynb|_nb\.py)$

Use Namespace cache volume for large clickhouse fixtures (#4951)
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/components/dataset/DatasetSelector.tsx
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/inference/InferenceDetailSheet.tsx
  ui/app/components/inference/InferencePreviewSheet.tsx
  ui/app/hooks/use-inference-click.ts
  ui/app/routes.ts
  ui/app/routes/api/datapoints/route.ts
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/observability/episodes/$episode_id/EpisodeInferenceTable.tsx
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add built-in functions to snapshot serialization
  tensorzero-core/src/config/built_in.rs
  tensorzero-core/src/config/mod.rs
  tensorzero-core/src/config/snapshot.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/inference/InferencePreviewSheet.tsx
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/e2e_tests/observability.episodes.inference-preview-sheet.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

add a test that built-in functions are serialized
  tensorzero-core/tests/e2e/config.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  .github/workflows/build-gateway-container.yml
  .github/workflows/build-mock-inference-container.yml
  ui/app/components/inference/InferenceDetailContent.tsx
  ui/app/components/inference/InferencePreviewSheet.tsx
  ui/app/routes.ts
  ui/app/routes/api/feedback/route.ts
  ui/app/routes/api/inference/$inference_id/route.ts
  ui/app/routes/observability/episodes/$episode_id/route.tsx
  ui/app/routes/observability/inferences/$inference_id/route.tsx
  ui/e2e_tests/observability.inferences.inference_id.spec.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

remove comment and tracing subscribers
  tensorzero-optimizers/src/gepa/analyze.rs
  tensorzero-optimizers/tests/common/gepa.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix
  ui/app/components/dataset/AddToDatasetButton.tsx
  ui/app/routes.ts
  ui/app/routes/api/datasets/datapoints/from-inference/route.ts
  ui/app/routes/observability/episodes/$episode_id/route.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  ui/app/routes/observability/episodes/$episode_id/EpisodeInferenceTable.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Fix
  ui/app/components/inference/InferencePreviewSheet.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Re-create 'ClickHouseConnectionInfo' in ClientBuilderMode::FromComponents
  tensorzero-core/src/client/mod.rs
  tensorzero-core/src/db/clickhouse/clickhouse_client/disabled_clickhouse_client.rs
  tensorzero-core/src/db/clickhouse/clickhouse_client/fake_clickhouse_client.rs
  tensorzero-core/src/db/clickhouse/clickhouse_client/mod.rs
  tensorzero-core/src/db/clickhouse/clickhouse_client/production_clickhouse_client.rs
  tensorzero-core/src/db/clickhouse/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Fix clippy
  tensorzero-core/tests/e2e/experimentation/track_and_stop.rs
  tensorzero-core/tests/e2e/rate_limiting.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Debug ClickHouse LTS timeout issue in UI tests
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make /check-fork command push to correct repo
  .github/workflows/slash-command-check-fork.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix remote url
  .github/workflows/slash-command-check-fork.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix artifact download for standalone workflow runs
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix
  ui/app/components/input_output/ChatOutputContentBlockElement.tsx
  ui/app/components/input_output/ChatOutputMessageElement.tsx
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

remove ConfigLoadInfo
  tensorzero-optimizers/tests/common/gepa.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

fix test assertion
  tensorzero-optimizers/tests/common/gepa.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Use published images instead of building locally
  .github/workflows/ui-tests.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Unify StoredDatapoint and DatapointInsert types
  clients/rust/src/lib.rs
  evaluations/tests/common/mod.rs
  tensorzero-core/src/db/clickhouse/dataset_queries.rs
  tensorzero-core/src/db/clickhouse/mock_clickhouse_connection_info.rs
  tensorzero-core/src/db/clickhouse/test_helpers.rs
  tensorzero-core/src/db/datasets.rs
  tensorzero-core/src/db/mod.rs
  tensorzero-core/src/db/stored_datapoint.rs
  tensorzero-core/src/endpoints/datasets/legacy.rs
  tensorzero-core/src/endpoints/datasets/v1/conversion_utils.rs
  tensorzero-core/src/endpoints/datasets/v1/create_datapoints.rs
  tensorzero-core/src/endpoints/datasets/v1/create_from_inferences.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/inference/types/pyo3_helpers.rs
  tensorzero-core/src/stored_inference.rs
  tensorzero-core/tests/e2e/datasets/mod.rs
  tensorzero-core/tests/e2e/datasets/tool_params.rs
  tensorzero-core/tests/e2e/db/dataset_queries.rs
  tensorzero-core/tests/e2e/endpoints/datasets/delete_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/delete_dataset.rs
  tensorzero-core/tests/e2e/endpoints/datasets/get_datapoints.rs
  tensorzero-core/tests/e2e/endpoints/datasets/list_datasets.rs
  tensorzero-core/tests/e2e/endpoints/datasets/update_datapoints.rs
  tensorzero-core/tests/e2e/render_inferences.rs
  tensorzero-optimizers/src/gepa/analyze.rs
  tensorzero-optimizers/tests/e2e/gepa/analyze.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Remove assistant/user message adjustment logic in Anthropic
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

set up end of file fixing
  .github/workflows/general.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Fix unit tests
  tensorzero-core/src/providers/anthropic.rs
  tensorzero-core/src/providers/gcp_vertex_anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump listInferencesWithPagination test timeout for now
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Bump listInferencesWithPagination test timeout for now (#4960)
  ui/app/utils/clickhouse/inference.test.ts
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Switch client-tests job back to free Github runner (#4953)
  .github/workflows/merge-queue.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make mime_type optional in base64 file input (#4938)
  clients/python/tensorzero/types.py
  clients/python/tests/test_client.py
  tensorzero-core/src/client/input_handling.rs
  tensorzero-core/src/endpoints/datasets/v1/update_datapoints.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/openai_compatible/types/input_files.rs
  tensorzero-core/src/inference/types/file.rs
  tensorzero-core/src/inference/types/mod.rs
  tensorzero-core/src/inference/types/resolved_input.rs
  tensorzero-core/tests/e2e/image_url.rs
  tensorzero-core/tests/e2e/inference/mod.rs
  tensorzero-core/tests/e2e/providers/common.rs
  tensorzero-core/tests/e2e/providers/commonv2/input_audio.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add documentation on Azure + Responses API (#4950)
  docs/gateway/call-the-openai-responses-api.mdx
  docs/integrations/model-providers/azure.mdx
  examples/docs/guides/gateway/call-the-openai-responses-api/config/tensorzero.toml
  examples/docs/guides/gateway/call-the-openai-responses-api/docker-compose.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Make /check-fork command push to correct repo (#4958)
  .github/workflows/slash-command-check-fork.yml
Due: prettier: ui, prettier: openai-node, prettier: tensorzero-node

Compute stream TTFT based on first (possibly empty) chunk
  tensorzero-core/src/inference/types/streams.rs
  tensorzero-core/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Avoid using std::process::exit
  clients/rust/examples/inference_demo/main.rs
  clippy.toml
  gateway/src/main.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Bump clickhouse sleep in mock_batch test
  tensorzero-core/tests/e2e/providers/mock_batch.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Move auth middleware to tensorzero-auth crate (#4945)
  Cargo.lock
  Cargo.toml
  gateway/src/router.rs
  gateway/tests/auth.rs
  internal/tensorzero-auth/Cargo.toml
  internal/tensorzero-auth/bindings/KeyInfo.ts
  internal/tensorzero-auth/src/key.rs
  internal/tensorzero-auth/src/lib.rs
  internal/tensorzero-auth/src/middleware.rs
  tensorzero-core/Cargo.toml
  tensorzero-core/src/endpoints/batch_inference.rs
  tensorzero-core/src/endpoints/embeddings.rs
  tensorzero-core/src/endpoints/feedback/mod.rs
  tensorzero-core/src/endpoints/inference.rs
  tensorzero-core/src/endpoints/mod.rs
  tensorzero-core/src/endpoints/openai_compatible/chat_completions.rs
  tensorzero-core/src/endpoints/openai_compatible/embeddings.rs
  tensorzero-core/src/observability/mod.rs
  tensorzero-core/src/rate_limiting/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy, prettier: ui, prettier: openai-node, prettier: tensorzero-node, eslint: ui, eslint: openai-node, eslint: tensorzero-node, tsc: ui, tsc: openai-node, tsc: tensorzero-node

Add more user messages
  tensorzero-core/tests/e2e/providers/anthropic.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Ignore more providers in prefill test
  tensorzero-core/tests/e2e/providers/common.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Add live tests for GEPA optimization (#4908)
  tensorzero-core/fixtures/config/evaluations/test_gepa_pinocchio/answer_aligns_with_persona/system_instructions.txt
  tensorzero-core/fixtures/config/evaluations/test_gepa_pinocchio/validate_nose_growth/system_instructions.txt
  tensorzero-core/tests/e2e/config/tensorzero.evaluations.toml
  tensorzero-optimizers/src/gepa/analyze.rs
  tensorzero-optimizers/src/gepa/mod.rs
  tensorzero-optimizers/src/gepa/mutate.rs
  tensorzero-optimizers/tests/common/gepa.rs
  tensorzero-optimizers/tests/common/mod.rs
  tensorzero-optimizers/tests/live_tests.rs
Due: cargo-deny, cargo-fmt, cargo-clippy

Give otel tests even more time
  .config/nextest.toml
Due: none

fixed issues with snapshot hash tests from merge
  tensorzero-core/src/endpoints/workflow_evaluation_run.rs
  tensorzero-core/tests/e2e/datasets/mod.rs
Due: cargo-deny, cargo-fmt, cargo-clippy
